{% extends 'shared_franchise/base_view.html' %}
{% load staticfiles i18n shared_foundation_tags humanize %}

{% block title %}
{% trans 'Franchises | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
    /**
     *  Function will take the `root` users API key and attach it to the
     *  URL of the tenant. We are doing this so this API key can be passed
     */
    function click_and_redirect(url) {
        var private_api_key = localStorage.getItem("private_api_key");
        var private_api_key_orig_iat = localStorage.getItem("private_api_key_orig_iat");
        console.log(private_api_key);
        console.log(private_api_key_orig_iat);
        console.log(url);
        window.location = url+"?api_key="+private_api_key+"&orig_iat="+private_api_key_orig_iat;
    }
</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item active" aria-current="page">{% trans 'Franchises' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <h1>{% trans 'Franchises' %}</h1>
    <section class="row text-center placeholders">
        <div class="col-sm-4 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-pink">
                <a href="{% url 'workery_shared_franchise_create_1_of_3' %}" class="d-block link-ndecor" title="Add Partner">
                    <h1 class="r-circle"><i class="fas fa-plus fa-3x"></i></h1>
                </a>
            </div>
            <h4>Add</h4>
            <div class="text-muted">Add Franchise</div>
        </div>
    </section>

    <h2>List</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Alternate Name' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for franchise in franchise_list %}
                <tr>
                    <td>{{ franchise.name }}</td>
                    <td>{{ franchise.alternate_name }}</td>
                    <td>
                        <button id="id_submit_btn"
                             class="btn btn-success btn-sm"
                              type="button"
                           onclick="click_and_redirect('{% tenant_url franchise.schema_name 'workery_tenant_dashboard_master' %}');">
                            View <i class="fas fa-arrow-circle-right"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% comment %}
    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
        </span>
    </div>
    {% endcomment %}

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
