{% extends 'shared_foundation/shared_base.html' %}
{% load staticfiles i18n %}

{% block title %}
{% trans 'Homepage | Over 55' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}


<p>This works!</p>
<p>
    <a href="{% url 'o55_login_master' %}">Login</a>
</p>
{% if request.user.is_authenticated %}
<p>
    <a onclick="perform_sign_off();">Logout</a>
</p>
{% endif %}
<p>
    <a href="{% url 'o55_send_reset_password_email_master' %}">Reset</a>
</p>
</body>
</html>


{% endblock content %}
