{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n shared_foundation_tags humanize tz %}

{% block title %}
{% trans 'Tasks | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
	    	<li class="breadcrumb-item active" aria-current="page">{% trans 'Unassigned Tasks' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_closed == 'True' %}
    <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
        Task was <strong>successfully</strong> closed.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <h1>{% trans 'Unassigned Tasks' %}</h1>

    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    <div class="row">
        <div class="step-navigation">
            <div id="step-1" class="st-grey active">
                <i class="fas fa-question-circle"></i>
                <span class="">Unassigned Tasks ({{ unassigned_count|intcomma }})</span>
            </div>
            <div id="step-2" class="st-grey">
                <a href="{% url 'workery_tenant_task_list' %}">
                    <i class="fas fa-clock"></i>
                    <span class="">Pending Tasks ({{ pending_count|intcomma }})</span>
                </a>
            </div>
            <div id="step-3" class="st-grey">
                <a href="{% url 'workery_tenant_closed_task_list' %}">
                    <i class="fas fa-check-circle"></i>
                    <span class="">Closed Tasks ({{ closed_count|intcomma }})</span>
                </a>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans 'Due Date' %}</th>
                    <th>{% trans 'Client' %}&nbsp;<i class="fas fa-external-link-alt"></i></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for task_item in task_list %}
                <tr>
                    <td>
                        {% if task_item.ongoing_job %}
                            {% if task_item.ongoing_job.customer.type_of == tenant_constants.RESIDENTIAL_CUSTOMER_TYPE_OF_ID %}
                                <i class="fa fa-home fa-lg"></i>
                            {% elif task_item.ongoing_job.customer.type_of == tenant_constants.COMMERCIAL_CUSTOMER_TYPE_OF_ID %}
                                <i class="fa fa-briefcase fa-lg"></i>
                            {% else %}
                                <i class="fa fa-question fa-lg"></i>
                            {% endif %}
                            <i class="fa fa-redo fa-lg"></i>
                        {% elif task_item.job %}
                            {% if task_item.job.customer.type_of == tenant_constants.RESIDENTIAL_CUSTOMER_TYPE_OF_ID %}
                                <i class="fa fa-home fa-lg"></i>
                            {% elif task_item.job.customer.type_of == tenant_constants.COMMERCIAL_CUSTOMER_TYPE_OF_ID %}
                                <i class="fa fa-briefcase fa-lg"></i>
                            {% else %}
                                <i class="fa fa-question fa-lg"></i>
                            {% endif %}
                            {% if task_item.job.is_ongoing %}<i class="fa fa-redo fa-lg"></i>{% endif %}
                        {% endif %}
                    </td>
                    <td>{{ task_item.due_date }}</td>
                    <td>
                        {% if task_item.ongoing_job %}
                            {% if task_item.ongoing_job.customer %}
                                <a href="{% url 'workery_tenant_customer_lite_retrieve' 'summary' task_item.ongoing_job.customer.id %}" target="_blank">{{ task_item.ongoing_job.customer }}</a>
                            {% else %}
                                {% trans 'Unassigned' %}
                            {% endif %}
                        {% elif task_item.job %}
                            {% if task_item.job.customer %}
                                <a href="{% url 'workery_tenant_customer_lite_retrieve' 'summary' task_item.job.customer.id %}" target="_blank">{{ task_item.job.customer }}</a>
                            {% else %}
                                {% trans 'Unassigned' %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'workery_tenant_pending_task_retrieve' task_item.id %}?page={{ page_obj.number }}">{% trans 'View' %}&nbsp;<i class="fas fa-chevron-right"></i></a>
                    </td>
                </tr>
                {% empty %}
                    No tasks yet.
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        </span>
    </div>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
