{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize shared_foundation_tags %}

{% block title %}
{% trans 'Member Update | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}


<!-- API JAVASCRIPT -->
<!----------------------------------------------------------------------------->
{% include 'tenant_api/members_api_js.html' %}
<!----------------------------------------------------------------------------->
<!-- end API JAVASCRIPT -->


<!-- CUSTOM JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<script>
    $(document).ready(function () {
	//---------------------------------//
        // COUNTRY/PROVINCE INITIALIZATION //
        //---------------------------------//

        // THIS IS WHERE YOU CAN ADD YOUR COUNTRY/PROVINCE DROPDOWN JS CODE....
        $(function(){
            $('#address_country').change(function(){
                loadState($(this).find(':selected').val())
            });
            loadState('{{ associate.address_country }}');
        });

    	const state = "{% url 'workery_get_provinces_api_endpoint' %}?format=json";
        const country = "{% url 'workery_get_countries_api_endpoint' %}?format=json";
    	console.log(state);
        console.log(country);
	    
	let c_dropdown = $('#address_country');
    	c_dropdown.empty();
    	c_dropdown.append('<option disabled>Choose Country</option>');
											 
        // Populate dropdown with list of countries
    	$.getJSON(country, function (data) {
            $.each(data, function (key, entry) {
    	        c_dropdown.append($('<option></option>').attr('value', entry.code).text(entry.country));
    	    })
    	});
	
	{% if associate.address_country %}
            //c_dropdown.val("{{ associate.address_country }}");
		$('select[name="address_country"]').find('option[value="{{ associate.address_country }}"]').attr("selected",true);
	    
        {% else %}
            c_dropdown.prop('selectedIndex', 1);
        {% endif %}
											 
    	function loadState(countryId){
    		let p_dropdown = $('#address_region');
    		p_dropdown.empty();
    		p_dropdown.append('<option selected="true" disabled>Choose State/Province</option>');
    		p_dropdown.prop('selectedIndex', 0);
    		// Populate dropdown with list of provinces
    		$.getJSON(state, function (data) {
    		  $.each(data, function (key, entry) {
    		    if(entry.country == countryId){
    		    	p_dropdown.append($('<option></option>').attr('value', entry.short).text(entry.name));
    		    }
    		  })
    		});

    		p_dropdown.val('{{ associate.address_region }}')
        }
    });
	
    /**
     *  Function will unlock the submit button.
     */
    function disable_btn() {
        $('#id_submit_btn').val("{% trans 'Please Wait...' %}");
        $('#id_submit_btn').prop("disabled", true);
    }

    /**
     *  Function will lock the submit button.
     */
    function enable_btn() {
        $('#id_submit_btn').prop("disabled", false);
        $('#id_submit_btn').val("{% trans 'Update' %}");
    }

    function get_selected_radio_value(radiofields_name) {
        var radios = document.getElementsByName(radiofields_name);
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                // only one radio can be logically checked, don't check the rest
                return radios[i].value;
            }
        }
        return null;
    }

    function get_boolean_from_selected_radio_value(radiofields_name) {
        var value = get_selected_radio_value(radiofields_name);
        if (value == 'yes') {
            return true;
        } else {
            return false;
        }
    }

    function valid_textfield_value(textfield_id, is_required, min_length) {
        var textfield = document.getElementById(textfield_id);
        var textfield_error = document.getElementById(textfield_id+'-error');
        var value = textfield.value;

        // CASE 1: BLANK FIELD.
        if (is_required) {
            if (value == '' || value == null || value == undefined || value.length == 0) {
                $('#'+textfield_id).addClass('border-primary').removeClass('border-success');
                textfield_error.innerHTML = "Field should not be blank.";
                console.log(textfield_id, "IS BLANK FIELD.");
                return true; // This means that an error occured in validation.
            }
        }

        // CASE 2: MINIMUM LENGTH NOT MET.
        if (value.length > 0) {              // If user entered something...
            if (value.length < min_length) { // Validate that the minium was entered...
                $('#'+textfield_id).addClass('border-primary').removeClass('border-success');
                textfield_error.innerHTML = "Field requires a minimum of "+min_length+" characters.";
                console.log(textfield_id, "IS MINIMUM LENGTH NOT MET.");
                return true;
            }
        }

        // Update the GUI to indicate this field has been updated.
        $('#'+textfield_id).addClass('border-success').removeClass('border-primary');

        // Return "false" which means no errors occured.
        return false;
    }

    function valid_radiofields_seleciton(radiofields_name, is_required) {
        var value = get_selected_radio_value(radiofields_name);
	    var radiofield_error = document.getElementById(radiofields_name+'-error');

        if (is_required) {
            if (value == undefined || value === null || value.length == 0) {
                radiofield_error.innerHTML = "Please select option.";
                console.log(radiofields_name, "IS BLANK FIELD.");
                return true;
            }
        }

        // Return "false" which means no errors occured.
        return false;
    }

       /**
	*  Function to make text readable removing underscore and capitalizing
	*/
	function humanize(str) {
		var frags = str.split('_');
		for (i=0; i<frags.length; i++) {
			frags[i] = frags[i].charAt(0).toUpperCase() + frags[i].slice(1);
		}
		return frags.join(' ');
	}

    /**
     *  Function will attempt to submit the form to the API server. This
     *  funciton will:
     *  (1) Lock / Unlock the submit button.
     *  (2)
     */
    function ajax_post_form_submission() {

        //----------------------------------------//
        // EXTRACT THE DATA FROM THE FORM FIELDS. //
        //----------------------------------------//

        // EXTRACT OUR FIELD VALUES.
        var given_name = $('#given_name').val();
        var last_name = $('#last_name').val();
        var date_of_birth = $('#birthdate').val();
        if (date_of_birth !== undefined && date_of_birth != null && date_of_birth.length > 0) {
            var mydate = new Date(date_of_birth); // Convert "MM DD, YYYY" to JS DATE
            date_of_birth = mydate.toISOString().substring(0, 10); // Convert JS DATE to "YYYY-MM-DD"
        } else {
            date_of_birth = '';
        }

        var join_date = $('#join_date').val();
        if (join_date !== undefined && join_date != null && join_date.length > 0) {
            var mydate = new Date(join_date); // Convert "MM DD, YYYY" to JS DATE
            join_date = mydate.toISOString().substring(0, 10); // Convert JS DATE to "YYYY-MM-DD"
        } else {
            join_date = '';
        }

        var gender = $('#gender').val();
        if (gender == undefined || gender == null || gender.length == 0) {
            gender = '';
        }
        var ok_to_email = get_boolean_from_selected_radio_value('is_ok_to_email');
        var ok_to_text = get_boolean_from_selected_radio_value('is_ok_to_text');
        var street_address = $('#street_address').val();
        var street_address_extra = $('#street_address_extra').val();
        var address_region = $('#address_region').val();
        //if (address_region === null) {
          //  address_region = "ON";
        //}
        var address_locality = $('#address_locality').val();
        var address_country = $('#address_country').val();
        //if (address_country === null) {
          //  address_country = "CA";
        //}
        var postal_code = $('#postal_code').val();
        var post_office_box_number = $('#post_office_box_number').val();
        var email = $('#email').val();
        // var area_served = $('#id_area_served').val();
        var telephone = $('#telephone').val();
        // var telephone_extension = $('#id_telephone_extension').val();
        var other_telephone = $('#other_telephone').val();
        // var fax_number = $('#id_fax_number').val();
        var password = $('#password').val();
        var password_repeat = $('#password_repeat').val();
        var person_tags = $('#tags').val();
        var skill_sets = $('#skill_sets').val();
        var vehicle_types = $('#vehicle_types').val();
        var description = $('#description').val();

        var is_active = get_boolean_from_selected_radio_value('is_active');
        var hourly_salary_desired = $('#hourly_salary_desired').val();
        hourly_salary_desired = parseFloat(hourly_salary_desired);
        var limit_special = $('#limit_special').val();
        var dues_date = $('#dues_date').val();
        var commercial_insurance_expiry_date = $('#commercial_insurance_expiry_date').val();
        var auto_insurance_expiry_date = $('#auto_insurance_expiry_date').val();
        var wsib_number = $('#wsib_number').val();
        var wsib_insurance_date = $('#wsib_insurance_date').val();
        var police_check = $('#police_check').val();
        var drivers_license_class = $('#drivers_license_class').val();
        var has_car = get_boolean_from_selected_radio_value('has_car');
        var has_van = get_boolean_from_selected_radio_value('has_van');
        var has_truck = get_boolean_from_selected_radio_value('has_truck');
        var how_hear = $('#how_hear').val();
        var how_hear_other = $('#how_hear_other').val();
        var tax_id = $('#tax_id').val();
        var insurance_requirements = $('#insurance_requirements').val();

        // LOCK OUT THE "SUBMIT" BUTTON SO THE USER DOES NOT MAKE MULTI-CALLS.
        disable_btn();

        //--------------------------------------------------------------------//
        // SUBMIT THE FORM DATA TO THE API-WEB SERVICE TO BE (1) VALIDATED    //
        // AND (2) IF SUCCESSFULL THEN UPDATE THE DATA ELSE (3) TAKE THE      //
        // RETURNED VALUES AND GENERATE THE APPROPRIATE ERROR MESSAGE.        //
        //--------------------------------------------------------------------//

        // MAKE OUR API CALL TO THE BACKEND TO "CREATE" THE MEMBER USER.
        update_member_api(
            {{ associate.id }}, // Staff PK
            {
                'id': {{ associate.id }},
                'given_name': given_name,
                'middle_name': null,
                'last_name': last_name,
                'birthdate': date_of_birth,
                'gender': gender,
                'description': description,
                'tags': person_tags,
                'skill_sets': skill_sets,
                'vehicle_types': vehicle_types,
                'nationality': null,
                'is_ok_to_email': ok_to_email,
                'is_ok_to_text': ok_to_text,
                'address_country': address_country,
                'address_locality': address_locality,
                'address_region': address_region,
                // 'extra_comment': null,
                'street_address': street_address,
                'street_address_extra': street_address_extra,
                'postal_code': postal_code,
                'post_office_box_number': post_office_box_number,
                'email': email,
                'area_served': null,
                'fax_number': null,
                'telephone': telephone,
                'telephone_type_of': {{ shared_constants.TELEPHONE_CONTACT_POINT_TYPE_OF_ID }},
                'telephone_extension': null,
                'other_telephone': other_telephone,
                'other_telephone_extension': {{ shared_constants.MOBILE_CONTACT_POINT_TYPE_OF_ID }},
                'fax_number': null,
                'tax_id': tax_id,
                'insurance_requirements': insurance_requirements,

                // --- Accoount ---
                'password': password,
                'password_repeat': password_repeat,
                'is_active': is_active,

                // --- Associate Details ---
                'join_date': join_date,
                'hourly_salary_desired': hourly_salary_desired,
                'limit_special': limit_special,
                'dues_date': dues_date,
                'commercial_insurance_expiry_date': commercial_insurance_expiry_date,
                'auto_insurance_expiry_date': auto_insurance_expiry_date,
                'wsib_number': wsib_number,
                'wsib_insurance_date': wsib_insurance_date,
                'police_check': police_check,
                'drivers_license_class': drivers_license_class,
                'has_car': has_car,
                'has_van': has_van,
                'has_truck': has_truck,
                'how_hear': how_hear,
                'how_hear_other': how_hear_other
            },
            function(result_dict) { // Success
                console.log(result_dict);
                window.location = "{% url 'workery_tenant_member_full_retrieve' template associate.pk %}?was_modified=True";
            },
            function(xhr,status,error) { // Error
                // UNLOCK THE "SUBMIT" BUTTON TO BE AVAILABLE FOR USAGE.
                enable_btn();

                // STEP 1: Convert to JSON.
                var err = JSON.parse(xhr.responseText);

                // For debugging purposes only.
                console.log(err);

                // STEP 2: CLEAR EXISTING TEXT.
                $('#all_error_result').html("");
		        $('#all_error_result').removeClass('error-block');
                // STEP 3: PRINT OUR ERROR IN THE TOP ERROR PANEL.
                for(var prop in err) {
                    if(err.hasOwnProperty(prop)) {
			            var val = err[prop];
			            var fdname = humanize(prop);
			            // Errors box code
                        $('#all_error_result').append("<div class='form-error'><b>"+fdname+":</b> "+val+" </div>");
			            $('#all_error_result').addClass('error-block');

			            // Inline fields errors code
			            $('#'+prop+'-error').html("<ul><li>"+val+"</li></ul>");
			            $('#update-associate-form').addClass('was-validated');
                    }
                }

                // STEP 4: FOCUS TO WHERE THE ERROR IS OCCURING.
                $('html, body').animate({ scrollTop: $('#id_page_title').offset().top }, 'slow');

                // STEP 5: ADD ERROR MESSAGES TO THE FIELDS.
                for(var prop in err) {
                    if(err.hasOwnProperty(prop)) {
                        var val = err[prop];
                        console.log("KEY", prop);
                        console.log("VALUE", val);

                        //TODO: IMPLEMENT - Attach the message to the field.
                    }
                }

            },
            function() { // Finally
                // Do nothing.
            }
        );
    }

</script>
<!----------------------------------------------------------------------------->
<!-- end CUSTOM JAVASCRIPT -->


<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if template == 'search' %}

            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_member_summary' %}">{% trans 'Members' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_member_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active">{% trans 'Search Results' %}</li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_member_lite_retrieve' template associate.id %}">{% trans 'Member #' %}{{ associate.id|intcomma }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit' %}</li>

            {% elif template == 'list' %}

            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_member_summary' %}">{% trans 'Members' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_member_list' %}">{% trans 'List' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_member_lite_retrieve' template associate.id %}">{% trans 'Member #' %}{{ associate.id|intcomma }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit' %}</li>

            {% else %}

	    <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_member_summary' %}">{% trans 'Members' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_member_lite_retrieve' template associate.id %}">{% trans 'Member #' %}{{ associate.id|intcomma }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit' %}</li>

            {% endif %}
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <h1 id="id_page_title">{% trans 'Edit Associate Member' %}</h1>

    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <div class="col-sm-6 mx-auto mt-2">
        <!-- Residential form -->
        <div class="col-sm-12 fade show active" id="client-form" aria-labelledby="residential">
            <p><span class="text-secondary font-italic"><sup>*</sup>&nbsp;-&nbsp;Indicates required field to fill out.</span></p>
            <!-- Error Output -->
            <div id="all_error_result" name="all_error_result" class="alert alert-error fade show" role="alert">
	    </div>
	    <!-- end Error Output -->

            <form id="update-associate-form" method="post" class="needs-validation" action="" novalidate>
            <!-- ############ PERSON ############ -->
            <p class="border-bottom mb-3 pb-1 text-secondary">Personal Information</p>
            <div class="form-row">
                <div class="form-group col-md-12 mb-4">
                    <label for="given_name">First name <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="given_name" name="given_name" placeholder="First name" minlength="2" maxlength="30" required value="{% if associate.given_name %}{{ associate.given_name }}{% endif %}" autofocus>
                    <div id="given_name-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="last_name">Last name <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="last_name" name="last_name" placeholder="Last name" minlength="2" maxlength="150" required value="{% if associate.last_name %}{{ associate.last_name }}{% endif %}">
                    <div id="last_name-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="birthdate">Date of Birth</label>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control form-control-lg border border-success" id="birthdate" name="birthdate" placeholder="yyyy-mm-dd" required value="{% if associate.birthdate %}{{ associate.birthdate|date:"Y-m-d" }}{% endif %}">
                        <div class="input-group-append">
                            <span class="input-group-text dob-icon bg-success border-success"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <div id="birthdate-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="gender">Gender</label>
                    <select class="custom-select form-control-lg border-success" id="gender" name="gender" required>
                        <option value="" {% if associate.gender == None %}selected{% endif %}>Gender...</option>
                        <option value="male" {% if associate.gender == 'male' %}selected{% endif %}>Male</option>
                        <option value="female" {% if associate.gender == 'female' %}selected{% endif %}>Female</option>
                        <option value="prefer not to say" {% if associate.gender == 'prefer not to say' %}selected{% endif %}>Prefer not to say</option>
                    </select>
                    <div id="gender-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
      		        <label for="description" class="font-b6">Describe the associate:</label>
      		        <textarea class="form-control form-control-lg border border-success" id="description" name="description" placeholder="Describe here..." rows="4" minlength="10" required>{% if associate.description %}{{ associate.description }}{% endif %}</textarea>
      		        <div id="description-error" class="invalid-feedback"></div>
                    <small class="form-text text-muted">Maximum 1,000 characters.</small>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="tags">Tags</label>
                    <select id="tags" name="tags" class="form-control form-control-lg border border-success" name="states[]" multiple="multiple">
                    {% for tag in tags %}
                        <option value="{{ tag.id }}" id="person_tag_option_id_{{ tag.id }}">{{ tag }}</option>
                    {% endfor %}
                    </select>
                    <div id="tags-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="skill_sets">Skill sets</label>
                    <select id="skill_sets" name="skill_sets" class="form-control form-control-lg border border-success" name="states[]" multiple="multiple">
                    {% for skill_set in skill_sets %}
                        <option value="{{ skill_set.id }}" id="skill_set_option_id_{{ skill_set.id }}">{{ skill_set.sub_category }}</option>
                    {% endfor %}
                    </select>
                    <div id="skill_sets-error" class="invalid-feedback"></div>
                </div>
            </div>
            <!-- ############ end PERSON ############ -->
            <!-- ############ CONTACT POINT ############ -->
            <p class="border-bottom mb-3 pb-1 text-secondary">Contact Point</p>
            <div class="form-row">
                <div class="form-group col-md-7 mb-4">
                    <label for="telephone">Primary Phone <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="telephone" name="telephone" placeholder="(xxx) xxx-xxxx" minlength="10" maxlength="31" required value="{% if associate.telephone %}{{ associate.telephone }}{% endif %}">
                    <div id="telephone-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="other_telephone">Secondary Phone</label>
                    <input type="text" class="form-control form-control-lg border border-success" id="other_telephone" name="other_telephone" placeholder="(xxx) xxx-xxxx" minlength="10" maxlength="31" value="{% if associate.other_telephone %}{{ associate.other_telephone }}{% endif %}">
                    <div id="other_telephone-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="email">E-Mail <sup>*</sup></label>
                    <input type="email" class="form-control form-control-lg border border-primary" id="email" name="email" placeholder="Email Address" maxlength="254" value="{% if associate.email %}{{ associate.email }}{% endif %}" required>
                    <div id="email-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <p class="mb-1">Ok to E-Mail? <sup>*</sup></p>
                    <div class="form-radio custom-control custom-radio mb-2">
                        <input type="radio" id="is_ok_to_email" name="is_ok_to_email" value="yes" class="custom-control-input form-check-input" required>
                        <label class="custom-control-label form-check-label" for="is_ok_to_email">Yes</label>
                    </div>
                    <div class="form-radio custom-control custom-radio">
                        <input type="radio" id="is_ok_to_email2" name="is_ok_to_email" value="no" class="custom-control-input form-check-input" required>
                        <label class="custom-control-label form-check-label" for="is_ok_to_email2">No</label>
			            <div id="is_ok_to_email-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <p class="mb-1">Ok to Text? <sup>*</sup></p>
                    <div class="form-radio custom-control custom-radio mb-2">
                        <input type="radio" id="is_ok_to_text" name="is_ok_to_text" value="yes" class="custom-control-input form-check-input" required>
                        <label class="custom-control-label form-check-label" for="is_ok_to_text">Yes</label>
                    </div>
                    <div class="form-radio custom-control custom-radio">
                        <input type="radio" id="is_ok_to_text2" name="is_ok_to_text" value="no" class="custom-control-input form-check-input" required>
                        <label class="custom-control-label form-check-label" for="is_ok_to_text2">No</label>
			            <div id="is_ok_to_text-error" class="invalid-feedback"></div>
                    </div>
                </div>
            </div>
            <!-- ############ end CONTACT POINT ############ -->
            <!-- ############ LOCATION ############ -->
            <p class="border-bottom mb-3 pb-1 text-secondary">Postal Address</p>
            <div class="form-row">
                <div class="form-group col-md-12 mb-4">
                    <label for="street_address">Street Address <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="street_address" name="street_address" placeholder="Street Address" minlength="3" maxlength="255" required value="{% if associate.street_address %}{{ associate.street_address }}{% endif %}">
                    <div id="street_address-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="street_address_extra">Street Address (Extra)</label>
                    <input type="text" class="form-control form-control-lg border border-success" id="street_address_extra" name="street_address_extra" placeholder="Street Address (Extra)" minlength="3" maxlength="255" value="{% if associate.street_address_extra %}{{ associate.street_address_extra }}{% endif %}">
                    <div id="street_address_extra-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="address_locality">City <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="address_locality" name="address_locality" placeholder="City" minlength="3" maxlength="127" required value="{% if associate.address_locality %}{{ associate.address_locality }}{% endif %}">
                    <div id="address_locality-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="address_region">Province <sup>*</sup></label>
                    <select class="custom-select form-control-lg border-primary" id="address_region" name="address_region" required>
		            </select>
                    <div id="address_region-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="address_country">Country <sup>*</sup></label>
                    <select class="custom-select form-control-lg border-primary" id="address_country" name="address_country" required>
		            </select>
                    <div id="address_country-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="postal_code">Postal Code <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="postal_code" name="postal_code" placeholder="Postal Address" minlength="6" maxlength="6" required value="{% if associate.postal_code %}{{ associate.postal_code }}{% endif %}">
                    <div id="postal_code-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="post_office_box_number">Post Office Box # </label>
                    <input type="text" class="form-control form-control-lg border border-success" id="post_office_box_number" name="post_office_box_number" placeholder="Post Office Box #" minlength="3" maxlength="255" value="{% if associate.post_office_box_number %}{{ associate.post_office_box_number }}{% endif %}">
                    <div id="post_office_box_number-error" class="invalid-feedback"></div>
                </div>
            </div>
            <!-- ############ end LOCATION ############ -->


            <!-- ############ DETAILS ############ -->
            <p class="border-bottom mb-3 pb-1 text-secondary">Associate Details</p>
            <div class="form-row">
                <div class="form-group col-md-7 mb-4">
                    <label for="join_date">Join date&nbsp;<sup>*</sup></label>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control form-control-lg border border-primary box-date" id="join_date" name="join_date" readonly="true" placeholder="yyyy-mm-dd" required value="{% if associate.join_date %}{{ associate.join_date|date:"Y-m-d" }}{% endif %}">
                        <div class="input-group-append">
                            <span class="input-group-text dob-icon bg-success border-primary"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <div id="join_date-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="insurance_requirements">Insurance Requirement(s)</label>
                    <select id="insurance_requirements" name="insurance_requirements" class="form-control form-control-lg border border-success" name="states[]" multiple="multiple">
                    {% for insurance_requirement in insurance_requirements %}
                        <option value="{{ insurance_requirement.id }}" id="insurance_requirement_option_id_{{ insurance_requirement.id }}">{{ insurance_requirement }}</option>
                    {% endfor %}
                    </select>
                    <div id="insurance_requirements-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="hourly_salary_desired">Hourly Rate</label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="hourly_salary_desired" name="hourly_salary_desired" placeholder="Hourly Rate" minlength="3" maxlength="255" value="{% if associate.hourly_salary_desired %}{{ associate.hourly_salary_desired }}{% endif %}">
                    <div id="hourly_salary_desired-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="limit_special">Limitation or special consideration</label>
                    <input type="text" class="form-control form-control-lg border border-success" id="limit_special" name="limit_special" placeholder="Explain" minlength="3" maxlength="255" value="{% if associate.limit_special %}{{ associate.limit_special }}{% endif %}">
                    <div id="limit_special-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="dues_date">Member Dues Expiry</label>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control form-control-lg border border-success date-box" id="dues_date" name="dues_date" placeholder="yyyy-mm-dd" readonly="true" value="{% if associate.dues_date %}{{ associate.dues_date|date:"Y-m-d" }}{% endif %}" required>
                        <div class="input-group-append">
                            <span class="input-group-text c-icon-white bg-success border-success"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <div id="dues_date-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="commercial_insurance_expiry_date">Commercial Insurance Expiry Date</label>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control form-control-lg border border-success date-box" id="commercial_insurance_expiry_date" name="commercial_insurance_expiry_date" placeholder="yyyy-mm-dd" value="{% if associate.commercial_insurance_expiry_date %}{{ associate.commercial_insurance_expiry_date|date:"Y-m-d" }}{% endif %}" readonly="true" required>
                        <div class="input-group-append">
                            <span class="input-group-text c-icon-white bg-success border-success"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <div id="commercial_insurance_expiry_date-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="auto_insurance_expiry_date">Auto Insurance Expiry Date</label>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control form-control-lg border border-success date-box" id="auto_insurance_expiry_date" name="auto_insurance_expiry_date" placeholder="yyyy-mm-dd" value="{% if associate.auto_insurance_expiry_date %}{{ associate.auto_insurance_expiry_date|date:"Y-m-d" }}{% endif %}" readonly="true" required>
                        <div class="input-group-append">
                            <span class="input-group-text c-icon-white bg-success border-success"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <div id="auto_insurance_expiry_date-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="wsib_number">WSIB #</label>
                    <input type="text" class="form-control form-control-lg border border-success" id="wsib_number" name="wsib_number" placeholder="Please write WSIB #" minlength="3" maxlength="255" value="{% if associate.wsib_number %}{{ associate.wsib_number }}{% endif %}">
                    <div id="wsib_number-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="wsib_insurance_date">WSIB Insurance Date</label>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control form-control-lg border border-success date-box" id="wsib_insurance_date" name="wsib_insurance_date" placeholder="yyyy-mm-dd" value="{% if associate.wsib_insurance_date %}{{ associate.wsib_insurance_date|date:"Y-m-d" }}{% endif %}" readonly="true" required>
                        <div class="input-group-append">
                            <span class="input-group-text c-icon-white bg-success border-success"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <div id="wsib_insurance_date-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="police_check">Police Check</label>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control form-control-lg border border-success date-box" id="police_check" name="police_check" placeholder="yyyy-mm-dd" value="{% if associate.police_check  %}{{ associate.police_check|date:"Y-m-d" }}{% endif %}" readonly="true" >
                        <div class="input-group-append">
                            <span class="input-group-text c-icon-white bg-success border-success"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <div id="police_check-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="tax_id">HST #</label>
                    <input type="text" class="form-control form-control-lg border border-success" id="tax_id" name="tax_id" placeholder="HST #" minlength="2" maxlength="30" required value="{% if associate.tax_id %}{{ associate.tax_id }}{% endif %}" autofocus>
                    <div id="tax_id-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="drivers_license_class">Drivers license class(es)</label>
                    <input type="text" class="form-control form-control-lg border border-success" id="drivers_license_class" name="drivers_license_class" placeholder="Drivers license class(es)" minlength="3" maxlength="255" value="{% if associate.drivers_license_class %}{{ associate.drivers_license_class }}{% endif %}">
                    <div id="drivers_license_class-error" class="invalid-feedback"></div>
                    <small id="drivers_license_class_help" class="form-text text-muted ft-indent">
                        <i class="fas fa-angle-right"></i> Write all the driver licenses earned by this associate.
                    </small>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="vehicle_types">Vehicle(s)</label>
                    <select id="vehicle_types" name="vehicle_types" class="form-control form-control-lg border border-success" name="states[]" multiple="multiple">
                    {% for vehicle_type in vehicle_types %}
                        <option value="{{ vehicle_type.id }}" id="vehicle_type_option_id_{{ vehicle_type.id }}">{{ vehicle_type }}</option>
                    {% endfor %}
                    </select>
                    <div id="vehicle_types-error" class="invalid-feedback"></div>
			---
		{% for vehicle_type in vehicle_types %}
                        <p>{{ vehicle_type.text }}</p>
                    {% endfor %}
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="how_hear">How did they hear about us?</label>
                    <select class="custom-select form-control-lg border-success" id="how_hear" name="how_hear" required>
                        <option value="">Please select...</option>
                        <option value="2" {% if associate.how_hear == 2 %}selected{% endif %}>An existing member</option>
                        <option value="3" {% if associate.how_hear == 3 %}selected{% endif %}>Print Ad</option>
                        <option value="4" {% if associate.how_hear == 4 %}selected{% endif %}>Online Ad</option>
                        <option value="5" {% if associate.how_hear == 5 %}selected{% endif %}>Google</option>
                        <option value="6" {% if associate.how_hear == 6 %}selected{% endif %}>Tradeshow/Event</option>
                        <option value="7" {% if associate.how_hear == 7 %}selected{% endif %}>Agency</option>
                        <option value="8" {% if associate.how_hear == 8 %}selected{% endif %}>Prefer not to say / I don't know</option>
                        <option value="1" {% if associate.how_hear == 1 %}selected{% endif %}>Other</option>
                    </select>
                    <div id="how_hear-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4" id="how_hear_other_div">
      		        <label for="how_hear_other" class="font-b6">Describe how associate hear about us:</label>
      		        <textarea class="form-control form-control-lg border border-success" id="how_hear_other" name="how_hear_other" placeholder="How here..." rows="4" minlength="10" required></textarea>
      		        <div id="how_hear_other-error" class="invalid-feedback"></div>
                    <small class="form-text text-muted">Maximum 1,000 characters.</small>
                </div>
            </div>
            <!-- ############ end DETAILS ############ -->



            <!-- ############ SECURITY ############ -->
            <p class="border-bottom mb-3 pb-1 text-secondary">Account Settings</p>
            <div class="form-row">
                <div class="form-group col-md-12 mb-4">
                    <label for="password">Password</label>
                    <input id="password"
                         name="password"
                  placeholder="{% trans 'Password' %}"
                        class="form-control form-control-lg border border-success"
                         type="password"
               autocapitalize="off"
                    minlength="2"
                    maxlength="30" />
                    <div id="password-error" class="invalid-feedback"></div>
                    	 <small id="s_uppercase" class="pass_check form-text ft-indent">
			     Please enter a single upper case character.
			 </small>
			 <small id="s_lowercase" class="pass_check form-text ft-indent">
			     Please enter a single lower case character.
			 </small>
			 <small id="s_special" class="pass_check form-text ft-indent">
			     Please enter a single special character like !, @, #, %, ^, etc.
			 </small>
			 <small id="min_char" class="pass_check form-text ft-indent">
			     Password must contain atleast 8 characters.
			 </small>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="password_repeat">Repeat Password</label>
                    <input id="password_repeat"
                         name="password_repeat"
                  placeholder="{% trans 'Repeat Password' %}"
                        class="form-control form-control-lg border border-success"
                         type="password"
               autocapitalize="off"
                    minlength="2"
                    maxlength="30" />
                    <div id="password_repeat-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <p class="mb-1">Is active? <sup>*</sup></p>
                    <div class="form-radio custom-control custom-radio mb-2">
                        <input type="radio" id="is_active" name="is_active" value="yes" class="custom-control-input form-check-input" required>
                        <label class="custom-control-label form-check-label" for="is_active">Yes</label>
                    </div>
                    <div class="form-radio custom-control custom-radio">
                        <input type="radio" id="is_active2" name="is_active" value="no" class="custom-control-input form-check-input" required>
                        <label class="custom-control-label form-check-label" for="is_active2">No</label>
                        <div id="is_active-error" class="invalid-feedback"></div>
                    </div>
                </div>
            </div>
            <!-- ############ end SECURITY ############ -->
            <!-- end SUBMIT BUTTON -->
            <div class="form-group col-md-12 mb-3 mx-auto text-center">
                <button  id="id_submit_btn"
                      class="btn btn-primary btn-lg btn-fxw mt-4"
                    onclick="ajax_post_form_submission();"
                      type="button">
                <i class="fas fa-check"></i>&nbsp;{% trans 'Update Member' %}
                </button>
            </div>
            <!-- end SUBMIT BUTTON -->
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM -->

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>

<script type="text/javascript">
    /**
     *  When page loads, the following code will be run first.
     */
    $(document).ready(function () {
        //---------------------------//
        // DATEPICKER INITIALIZATION //
        //---------------------------//

        // Initialize our datepicker jQuery code with our HTML view.
        $( "#birthdate" ).datepicker({
            dateFormat: 'yy-mm-dd',
	     changeMonth: true,
             changeYear: true,
	     yearRange: "c-90:c+150",
	     maxDate: 'today'
        });
        $( "#join_date" ).datepicker({
            dateFormat: 'yy-mm-dd',
	     changeMonth: true,
             changeYear: true,
	     yearRange: "c-90:c+150",
	     maxDate: 'today'
        });
        $( "#dues_date" ).datepicker({
            dateFormat: 'yy-mm-dd',
	     changeMonth: true,
             changeYear: true,
	     yearRange: "c-90:c+150"
        });
        $( "#commercial_insurance_expiry_date" ).datepicker({
            dateFormat: 'yy-mm-dd',
	     changeMonth: true,
             changeYear: true,
	     yearRange: "c-90:c+150"
        });
        $( "#auto_insurance_expiry_date" ).datepicker({
            dateFormat: 'yy-mm-dd',
	     changeMonth: true,
             changeYear: true,
	     yearRange: "c-90:c+150"
        });
        $( "#wsib_insurance_date" ).datepicker({
            dateFormat: 'yy-mm-dd',
	     changeMonth: true,
             changeYear: true,
	     yearRange: "c-90:c+150"
        });
        $( "#police_check" ).datepicker({
           dateFormat: 'yy-mm-dd',
	     changeMonth: true,
             changeYear: true,
	     yearRange: "c-90:c+150"
        });

	    //------------------------//
        // SELECT2 INITIALIZATION //
        //------------------------//

        var insurance_requirement_ids = [];
        {% for insurance_requirement in associate.insurance_requirements.all %}
        insurance_requirement_ids.push({{ insurance_requirement.id }});
        {% endfor %}
        $('#insurance_requirements').val(insurance_requirement_ids);

        // // Populate our 'select2' chosen values.
        var tag_ids = [];
        {% for tag in associate.tags.all %}
        tag_ids.push({{ tag.id }});
        {% endfor %}
        $('#tags').val(tag_ids);

        var skill_set_ids = [];
        {% for skill_set in associate.skill_sets.all %}
        skill_set_ids.push({{ skill_set.id }});
        {% endfor %}
        $('#skill_sets').val(skill_set_ids);

        var vehicle_type_ids = [];
        {% for vehicle_type in associate.vehicle_types.all %}
        vehicle_type_ids.push({{ vehicle_type.id }});
        {% endfor %}
        $('#vehicle_types').val(vehicle_type_ids);

        // Initialize our 'select2' element.
        $('#insurance_requirements').select2();
        $('#tags').select2();
        $('#skill_sets').select2();
        $("#vehicle_types").select2();

        //----------------------------------------//
        // TEXTFIELD / SELECTFIELD INITIALIZATION //
        //----------------------------------------//

        // Set the gender.
        $('#gender').val('{% if associate.gender %}{{ associate.gender }}{% endif %}');

        //----------------------//
        // RADIO INITIALIZATION //
        //----------------------//

        {% if associate.is_ok_to_email == True %}$("#is_ok_to_email").prop("checked", true);{% else %}$("#is_ok_to_email2").prop("checked", true);{% endif %}
        {% if associate.is_ok_to_text == True %}$("#is_ok_to_text").prop("checked", true);{% else %}$("#is_ok_to_text2").prop("checked", true);{% endif %}
        {% if associate.owner.is_active == True %}$("#is_active").prop("checked", true);{% else %}$("#is_active2").prop("checked", true);{% endif %}
        //{% if associate.has_car == True %}$("#has_car").prop("checked", true);{% else %}$("#has_car2").prop("checked", true);{% endif %}
        //{% if associate.has_van == True %}$("#has_van").prop("checked", true);{% else %}$("#has_van2").prop("checked", true);{% endif %}
        //{% if associate.has_truck == True %}$("#has_truck").prop("checked", true);{% else %}$("#has_truck2").prop("checked", true);{% endif %}

        //-----------------------------//
        // MISC / OTHER INITIALIZATION //
        //-----------------------------//

        // --- How hear ---
        var how_hear = {{ associate.how_hear }};
        if (how_hear == 1) {
            $("#how_hear_other_div").show();
        } else {
            $("#how_hear_other_div").hide();
        }

        // --- How hear (other) ---
        var how_hear_other = "{{ associate.how_hear_other }}";
        if (how_hear == 1) {
            $("#how_hear_other").val(how_hear_other);
        }

        //------------------------------//
        // EVENT HANDLER INITIALIZATION //
        //------------------------------//

        // --- How hear ---
        $('#how_hear').on('change',function(){
            if( $(this).val()==="1" || $(this).val()===1){
                $("#how_hear_other_div").show();
            }
            else{
                $("#how_hear_other_div").hide();
            }
        });

        // --- Email ---
        // The following code continously checks to see if the current user
        // is assigned to the email.
        $('#email').keypress(debounce(function (event) {
            // do the Ajax request
            var email = $('#email').val();
            console.log(email);
        }, 250));

        
    	/**
    	 *  Password Strength Check Validation.
    	 */
    	var checkPassword = document.getElementById("password");
    	var s_letter = document.getElementById("s_lowercase");
    	var s_capital = document.getElementById("s_uppercase");
    	var s_character = document.getElementById("s_special");
    	var s_length = document.getElementById("min_char");
    	// When the user starts to type something inside the password field
    	checkPassword.onkeyup = function() {
      		// Validate lowercase letters
      		var lowerCaseLetters = /[a-z]/g;
    		  if(checkPassword.value.match(lowerCaseLetters)) {
    		    s_letter.classList.remove("pass_check");
    		    s_letter.classList.add("pass_valid");
    		  } else {
    		    s_letter.classList.remove("pass_valid");
    		    s_letter.classList.add("pass_check");
    		  }

      		// Validate capital letters
      		var upperCaseLetters = /[A-Z]/g;
    		  if(checkPassword.value.match(upperCaseLetters)) {
    		    s_capital.classList.remove("pass_check");
    		    s_capital.classList.add("pass_valid");
    		  } else {
    		    s_capital.classList.remove("pass_valid");
    		    s_capital.classList.add("pass_check");
    		  }
      		// Validate numbers
      		var specialChar = /[!@#\$%\^&\*]/g;
    		  if(checkPassword.value.match(specialChar)) {
    		    s_character.classList.remove("pass_check");
    		    s_character.classList.add("pass_valid");
    		  } else {
    		    s_character.classList.remove("pass_valid");
    		    s_character.classList.add("pass_check");
    		  }

      		// Validate length
    		  if(checkPassword.value.length >= 8) {
    		    s_length.classList.remove("pass_check");
    		    s_length.classList.add("pass_valid");
    		  } else {
    		    s_length.classList.remove("pass_valid");
    		    s_length.classList.add("pass_check");
    		  }
    	}

	//$('#address_country').val({{ associate.address_country }});
	
	$('select[name="address_country"]').find('option[value="{{ associate.address_country }}"]').attr("selected",true);
	    										 
    }); // end Ready

    //------------------------//
    // SELECT2 INITIALIZATION //
    //------------------------//

    var insurance_requirement_ids = [];
    {% for insurance_requirement in associate.insurance_requirements.all %}
    insurance_requirement_ids.push({{ insurance_requirement.id }});
    {% endfor %}
    $('#insurance_requirements').val(insurance_requirement_ids);

    // // Populate our 'select2' chosen values.
    var tag_ids = [];
    {% for tag in associate.tags.all %}
    tag_ids.push({{ tag.id }});
    {% endfor %}
    $('#tags').val(tag_ids);

    var skill_set_ids = [];
    {% for skill_set in associate.skill_sets.all %}
    skill_set_ids.push({{ skill_set.id }});
    {% endfor %}
    $('#skill_sets').val(skill_set_ids);

    var vehicle_type_ids = [];
    {% for vehicle_type in associate.vehicle_types.all %}
    vehicle_type_ids.push({{ vehicle_type.id }});
    {% endfor %}
    $('#vehicle_types').val(vehicle_type_ids);

    // Initialize our 'select2' element.
    $('#insurance_requirements').select2();
    $('#tags').select2();
    $('#skill_sets').select2();
    $("#vehicle_types").select2();
</script>

{% endblock content %}
