{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n shared_foundation_tags humanize %}

{% block title %}
{% trans 'Clients List | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
    function ajax_get_customers() {
        var criteria = [];

        tenant_get_customers(
            criteria,
            function(json_results) {
                console.log(json_results)
            },
            function(error) {
                console.debug(error);
                // alert(error);
            }
        );
    }
</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    {% if filter_parameters %}
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_dashboard_master' %}"><i class="fas fa-tachometer-alt"></i>&nbsp;{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_customer_summary' %}"><i class="fas fa-id-card"></i>&nbsp;{% trans 'Clients' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_customer_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Search Results' %}</li>
	  	</ol>
	</nav>
    {% else %}
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    		<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}"><i class="fas fa-tachometer-alt"></i>&nbsp;{% trans 'Dashboard' %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'workery_tenant_customer_summary' %}"><i class="fas fa-id-card"></i>&nbsp;{% trans 'Clients' %}</a></li>
	    		<li class="breadcrumb-item active" aria-current="page">{% trans 'List' %}</li>
	  	</ol>
	</nav>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <h1>{% trans 'Clients' %}</h1>

    <h2>Active Client List</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans '#' %}</th>
                    <th>{% trans 'First Name' %}</th>
                    <th>{% trans 'Last Name' %}</th>
                    <th>{% trans 'Phone' %}</th>
                    <th>{% trans 'E-Mail' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customer_list %}
                <tr>
                    <td>
                        {% if customer.state == CUSTOMER_STATE.INACTIVE %}
                            <i class="fa fa-frown fa-lg"></i>
                        {% else %}
                            {% if customer.type_of == tenant_constants.RESIDENTIAL_CUSTOMER_TYPE_OF_ID %}
                                <i class="fa fa-home fa-lg"></i>
                            {% elif customer.type_of == tenant_constants.COMMERCIAL_CUSTOMER_TYPE_OF_ID %}
                                <i class="fa fa-briefcase fa-lg"></i>
                            {% else %}
                                <i class="fa fa-question fa-lg"></i>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ customer.id|intcomma }}</td>
                    <td>{% if customer.given_name %}{{ customer.given_name }}{% else %}-{% endif %}</td>
                    <td>{% if customer.last_name %}{{ customer.last_name }}{% else %}-{% endif %}</td>
                    <td>
                        {% if customer.telephone %}<a href="tel:{{ customer.telephone }}">{{ customer.telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}
                    </td>
                    <td>{% if customer.owner.email %}<a href="mailto:{{ customer.owner.email }}">{{ customer.owner.email }}</a>{% else %}-{% endif %}</td>
                    <td>
                        <a href="{% url 'workery_tenant_customer_lite_retrieve' 'list' customer.id %}?page={{ page_obj.number }}">{% trans 'View' %}&nbsp;<i class="fas fa-chevron-right"></i></a>
                    </td>
                </tr>
                {% empty %}
                No customers yet.
                {% endfor %}
            </tbody>
        </table>
    </div>

<nav aria-label="Page navigation">
  <ul class="pagination pagination-lg">
    <li class="page-item">
    	<button type="button" class="btn btn-link btn-lg" data-container="body" data-toggle="popover" title="Jump to page" data-placement="bottom" data-html="true" data-content="<form action method='get'><div class='input-group mb-3'><input type='text' name='page' class='form-control form-control-lg' placeholder='page' aria-label='page' aria-describedby='button-addon2'>
	  <div class='input-group-append'>
	    <button class='btn btn-info btn-lg' type='submit' id='button-addon2'>Go</button>
	  </div></div></form>" >
		  Page {{ page_obj.number }} of {{ paginator.num_pages }} <i class="fas fa-sort-down"></i>
	</button>
    </li>
    <li class="page-item">
	 {% if page_obj.has_previous %}
            <a class="page-link rounded-left" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
	    	<span aria-hidden="true">&laquo;</span>
        	<span class="sr-only">Previous</span>
	    </a>
        {% endif %}
    </li>
    <li class="page-item">
	{% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
	    	<span aria-hidden="true">&raquo;</span>
        	<span class="sr-only">Next</span>
	    </a>
        {% endif %}
    </li>
  </ul>
</nav>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
