{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n shared_foundation_tags humanize %}

{% block title %}
{% trans 'Financials | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}"><i class="fas fa-tachometer-alt"></i>&nbsp;{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item" aria-current="page"><i class="fas fa-credit-card"></i>&nbsp;{% trans 'Financials' %}</li>
	  	    <li class="breadcrumb-item active" aria-current="page">{% trans 'Unpaid Jobs' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <h1>{% trans 'Unpaid Jobs' %}</h1>

    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    <div class="row">
        <div class="step-navigation">
            <div id="step-1" class="st-grey active">
                <i class="fas fa-clock"></i>
                <span class="">Unpaid Jobs ({{ unpaid_count|intcomma }})</span>
            </div>
            <div id="step-2" class="st-grey">
                <a href="{% url 'workery_tenant_paid_jobs_list' %}">
                    <i class="fas fa-check-circle"></i>
                    <span class="">Paid Jobs ({{ paid_count|intcomma }})</span>
                </a>
            </div>
            <div id="step-2" class="st-grey">
                <a href="{% url 'workery_tenant_all_jobs_list' %}">
                    <i class="fas fa-list"></i>
                    <span class="">All Jobs ({{ all_count|intcomma }})</span>
                </a>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_modified == 'True' %}
        <div class="alert bg-success text-white alert-dismissible fade show" role="alert" autoclose>
		    Job <strong>Successfully</strong> modified.
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		        <span aria-hidden="true">×</span>
		    </button>
		</div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <!-- OPTIONS -->
    <!------------------------------------------------------------------------->
    <section class="row text-center placeholders">
        <div class="col-sm-4 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-pink">
                <a href="{% url 'workery_tenant_job_search_or_add_create' %}" class="d-block link-ndecor" title="Add Job">
                    <h1 class="r-circle"><i class="fas fa-plus fa-3x"></i></h1>
                </a>
            </div>
            <h4>Add</h4>
            <div class="text-muted">Add Job</div>
        </div>
        <div class="col-sm-4 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-dgreen">
                <a href="{% url 'workery_tenant_financlial_job_search' 'unpaid-jobs' %}" class="d-block link-ndecor" title="Search Clients">
                    <h1 class="r-circle"><i class="fas fa-search fa-3x"></i></h1>
                </a>
            </div>
            <h4>Search</h4>
            <span class="text-muted">Search Unpaid</span>
        </div>
    </section>
    <!------------------------------------------------------------------------->
    <!-- end OPTIONS -->

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans 'Job #' %}&nbsp;<i class="fas fa-external-link-alt"></i></th>
                    <th>{% trans 'Client' %}&nbsp;<i class="fas fa-external-link-alt"></i></th>
                    <th>{% trans 'Associate' %}&nbsp;<i class="fas fa-external-link-alt"></i></th>
                    {% if user_is_management_or_executive_staff %}
                    <th></th>
                    <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for job_item in job_list %}
                <tr>
                    <td>
                        {% if job_item.customer.state == CUSTOMER_STATE.INACTIVE %}
                            <i class="fa fa-frown fa-lg"></i>
                        {% else %}
                            {% if job_item.customer.type_of == tenant_constants.RESIDENTIAL_CUSTOMER_TYPE_OF_ID %}
                                <i class="fa fa-home fa-lg"></i>
                            {% elif job_item.customer.type_of == tenant_constants.COMMERCIAL_CUSTOMER_TYPE_OF_ID %}
                                <i class="fa fa-briefcase fa-lg"></i>
                            {% else %}
                                <i class="fa fa-question fa-lg"></i>
                            {% endif %}
                        {% endif %}
                        {% if job_item.is_ongoing %}<i class="fa fa-redo fa-lg"></i>{% endif %}
                    </td>
                    <td id="selected_order_id">
                        <a href="{% url 'workery_tenant_job_retrieve' 'summary' job_item.id %}" target="_blank">{{ job_item.id|intcomma }}</a>
                    </td>
                    <td>
                        {% if job_item.customer %}
                            <a href="{% url 'workery_tenant_customer_lite_retrieve' 'summary' job_item.customer.id %}" target="_blank">{{ job_item.customer }}</a>
                        {% else %}
                            {% trans 'Unassigned' %}
                        {% endif %}
                    </td>
                    <td>
                        {% if job_item.associate %}
                            <a href="{% url 'workery_tenant_member_lite_retrieve' 'summary' job_item.associate.id %}" target="_blank">{{ job_item.associate }}</a>
                        {% else %}
                            {% trans 'Unassigned' %}
                        {% endif %}
                    </td>

                    {% if user_is_management_or_executive_staff %}
                        <td>
                            <a href="{% url 'workery_tenant_job_retrieve' 'list' job_item.id %}?page={{ page_obj.number }}"><i class="fa fa-id-card"></i></a>
                        </td>
                        <td>
                            <a href="{% url 'workery_tenant_financlial_job_retrieve' 'unpaid-jobs' job_item.id %}?page={{ page_obj.number }}"><i class="fa fa-dollar-sign"></i></a>
                        </td>
                    {% else %}
                        <td>
                            <a href="{% url 'workery_tenant_job_retrieve' 'list' job_item.id %}?page={{ page_obj.number }}" target="_blank">{% trans 'View' %}&nbsp;<i class="fas fa-chevron-right"></i></a>
                        </td>
                    {% endif %}

                </tr>
                {% empty %}
                    No jobs yet.
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        </span>
    </div>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
