{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize foundation_tags %}

{% block title %}
{% trans 'Member Details | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
    $(document).ready(function () {
        var $star_rating = $('.star-rating .fa-star');
        var $star_rating_value = $('.star-rating');
        var SetRatingStar = function() {
          return $star_rating.each(function() {
            if (parseInt($star_rating_value.data('rating')) >= parseInt($(this).data('rating'))) {
              return $(this).removeClass('far').addClass('fas');
            } else if(Math.round($star_rating_value.data('rating')) == parseInt($(this).data('rating'))) {
              return $(this).removeClass('fa-star').addClass('fas fa-star-half');
            } else {
              return $(this).removeClass('fas').addClass('far');
            }
          });
        };
        SetRatingStar();
    });
</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if template == 'search' %}

            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_member_summary' %}">{% trans 'Members' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_member_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Search Results' %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Member #' %}{{ object.id }}</li>

            {% elif template == 'list' %}

            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_member_summary' %}">{% trans 'Members' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_member_list' %}">{% trans 'List' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Member #' %}{{ object.id|intcomma }}</li>

            {% else %}

	    	<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_member_summary' %}">{% trans 'Members' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Member #' %}{{ object.id|intcomma }}</li>

            {% endif %}
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_modified == 'True' %}
    <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
        Associate Member <strong>Successfully</strong> updated.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% if template == 'search' %}{% url 'workery_tenant_member_search' %}{% elif template == 'list' %}{% url 'workery_tenant_member_list' %}{% else %}{% url 'workery_tenant_member_summary' %}{% endif %}" role="button">
                 <i class="fas fa-arrow-left"></i> &nbsp;{% if template == 'search' %}{% trans 'Back to Search' %}{% elif template == 'list' %}{% trans 'Back to Member\'s List' %}{% else %}{% trans 'Back to Member\'s Home' %}{% endif %}</a>
		</div>
	</div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1>{% trans 'View Associate Member' %}</h1>

    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    <div class="row">
        <div class="step-navigation">
            <div class="st-grey">
                <a href="{% url 'workery_tenant_member_lite_retrieve' template associate.id %}">
                    <i class="fa fa-id-badge"></i>&nbsp;<span class="">Summary</span>
                </a>
            </div>
            <div class="st-grey active">
                <i class="fa fa-id-card"></i>&nbsp;<span class="">Details</span>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_member_retrieve_for_activity_sheet_list' template associate.id %}">
                    <i class="fa fa-address-book"></i>&nbsp;<span class="">Activity Sheet</span>
                </a>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_member_retrieve_for_jobs_list' template associate.id %}">
                    <i class="fa fa-wrench"></i>&nbsp;<span class="">Jobs</span>
                </a>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_member_retrieve_for_comment_list' template associate.id %}">
                    <i class="fa fa-comments"></i>&nbsp;<span class="">Comments</span>
                </a>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->

    <div class="row py-2">

        <!-- DETAIL FORM -->
        <!------------------------------------------------------------------------->
        <div class="col-sm-5 mx-auto" id="id_detail_form">
            <!-- Residential form -->
            <h3 class="pt-4 pb-2 text-center">Associate Member Details</h3>
            <!-- ############ PERSON ############ -->
            <table class="table table-bordered custom-cell-w">
            <tbody>
                <tr class="table-info">
                    <th scope="row" colspan="2">Personal Information</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">First Name</th>
                    <td id="given_name">
                        {% if associate.given_name %}{{ associate.given_name }}{% else %}-{% endif %}
                    </td>
                </tr>
		<tr>
                    <th scope="row" class="bg-light">Last Name</th>
                    <td id="last_name">
                        {% if associate.last_name %}{{ associate.last_name }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Date of Birth</th>
                    <td id="dob">
                        {% if associate.birthdate %}{{ associate.birthdate }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Gender</th>
                    <td id="gender">
                        {% if associate.gender %}{{ associate.gender }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Description</th>
                    <td id="description">
                        {% if associate.description %}{{ associate.description }}{% else %}-{% endif %}
                    </td>
                </tr>
		<tr>
                    <th scope="row" class="bg-light">Tags</th>
                    <td id="tags">
                        {% for tag in associate.tags.all %}
                                <span class="badge badge-info badge-lg" id="tag_id_{{ tag.id }}">{{ tag }}</span>
                            {% empty %}-
                            {% endfor %}
                    </td>
                </tr>
		<tr>
                    <th scope="row" class="bg-light">Skill Sets</th>
                    <td id="skill_sets">
                        {% for skill_set in associate.skill_sets.all %}
                                <span class="badge badge-info badge-lg">{{ skill_set.sub_category }}</span>
                            {% empty %}
                                -
                            {% endfor %}
                    </td>
                </tr>
                <!-- ############ end PERSON ############ -->
                <!-- ############ CONTACT POINT ############ -->
                <tr class="table-info">
                    <th scope="row" colspan="2">Contact Point</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Phone</th>
                    <td id="phonenumber">
                        {% if associate.telephone %}<a href="tel:{{ associate.telephone }}">{{ associate.telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Mobile</th>
                    <td id="mobile">
                        {% if associate.other_telephone %}<a href="tel:{{ associate.other_telephone }}">{{ associate.other_telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">E-Mail</th>
                    <td id="email">
                        {% if associate.owner.email %}<a href="mailto:{{ associate.owner.email }}">{{ associate.owner.email }}</a>{% else %}-{% endif %}
                    </td>
                </tr>
		<tr>
                    <th scope="row" class="bg-light">Ok to E-Mail?</th>
                    <td id="ok_to_email">
                        {% if associate.is_ok_to_email == True %}Yes{% else %}No{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Ok to Text?</th>
                    <td id="ok_to_text">
                        {% if associate.is_ok_to_text == True %}Yes{% else %}No{% endif %}
                    </td>
                </tr>
                <!-- ############ end CONTACT POINT ############ -->
                <!-- ############ LOCATION ############ -->
                <tr class="table-info">
                    <th scope="row" colspan="2">Postal Address</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Street Address</th>
                    <td id="street_address">
                        {% if associate.street_address %}{{ associate.street_address }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Street Address (Extra)</th>
                    <td id="street_address_extra">
                        {% if associate.street_address_extra %}{{ associate.street_address_extra }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">City</th>
                    <td id="city">
                        {% if associate.address_locality %}{{ associate.address_locality }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Province</th>
                    <td id="region">
                        {% if associate.address_region %}{{ associate.address_region }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Country</th>
                    <td id="country">
                        {% if associate.address_country %}{{ associate.address_country }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Postal Code</th>
                    <td id="postal_code">
                        {% if associate.postal_code %}{{ associate.postal_code }}{% else %}-{% endif %}
                    </td>
                </tr>
		<tr>
                    <th scope="row" class="bg-light">Post Office Box #</th>
                    <td id="post_office_box_number">
                        {% if associate.post_office_box_number %}{{ associate.post_office_box_number }}{% else %}-{% endif %}
                    </td>
                </tr>
		<!-- ############ end LOCATION ############ -->
                <!-- ############ DETAILS ############ -->
		<tr class="table-info">
                    <th scope="row" colspan="2">Details</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Insurance Requirement(s)</th>
                    <td id="insurance_requirements">
                        {% for insurance_requirement in associate.insurance_requirements.all %}
                                <span class="badge badge-info badge-lg">{{ insurance_requirement }}</span>
                            {% empty %}
                                -
                            {% endfor %}
                    </td>
                </tr>
		<tr>
                    <th scope="row" class="bg-light">Hourly salary desired</th>
                    <td id="hourly_salary_desired">
                        {% if associate.hourly_salary_desired %}{{ associate.hourly_salary_desired }}{% else %}-{% endif %}
                    </td>
                </tr>
		<tr>
                    <th scope="row" class="bg-light">Limit special</th>
                    <td id="limit_special">
                        {% if associate.limit_special %}{{ associate.limit_special }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Dues date</th>
                    <td id="dues_date">
                        {% if associate.dues_date %}{{ associate.dues_date }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Commercial insurance expiry date</th>
                    <td id="commercial_insurance">
                        {% if associate.commercial_insurance_expiry_date %}{{ associate.commercial_insurance_expiry_date }}{% else %}-{% endif %}
                    </td>
                </tr>
		<tr>
                    <th scope="row" class="bg-light">Police check date</th>
                    <td">
                        {% if associate.police_check %}{{ associate.police_check }}{% else %}-{% endif %}
                    </td>
                </tr>
		<tr>
                    <th scope="row" class="bg-light">HST #</th>
                    <td id="tax_id">
                        {% if associate.tax_id %}{{ associate.tax_id }}{% else %}-{% endif %}
                    </td>
                </tr>
		<tr>
                    <th scope="row" class="bg-light">Drivers license class(es)</th>
                    <td>
                        {% if associate.drivers_license_class %}{{ associate.drivers_license_class }}{% else %}-{% endif %}
                    </td>
                </tr>
		<tr>
                    <th scope="row" class="bg-light">Vehicle(s)</th>
                    <td>
                         {% for vehicle_type in associate.vehicle_types.all %}
                                <span class="badge badge-info badge-lg">{{ vehicle_type.text }}</span>
                            {% empty %}
                                -
                            {% endfor %}
                    </td>
                </tr>
		<tr>
                    <th scope="row" class="bg-light">How did this associate hear about us?</th>
                    <td>
                        {% if associate.how_hear == 1 %}
                                {{ associate.how_hear_other }}
                            {% elif associate.how_hear == 2 %}
                                An existing member
                            {% elif associate.how_hear == 3 %}
                                Print Ad
                            {% elif associate.how_hear == 4 %}
                                Online Ad
                            {% elif associate.how_hear == 5 %}
                                Google
                            {% elif associate.how_hear == 6 %}
                                Tradeshow/Event
                            {% elif associate.how_hear == 7 %}
                                Agency
                            {% elif associate.how_hear == 8 %}
                                Prefer not to say / I don't know
                            {% else %}
                                -
                            {% endif %}
                    </td>
                </tr>
                <!-- ############ end DETAILS ############ -->
                <!-- ############ ACCOUNT ############ -->
		<tr class="table-info">
                    <th scope="row" colspan="2">Account</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Is active</th>
                    <td id="is_active">
                        {% if associate.owner %}
                                {% if associate.owner.is_active == True %}Yes{% else %}No{% endif %}
                            {% else %}
                                No - No account exists because email not set.
                            {% endif %}
                    </td>
                </tr>
                <!-- ############ end ACCOUNT ############ -->
	    </tbody>
        </table>
            
        </div>

        <!------------------------------------------------------------------------->
        <!-- end DETAIL FORM -->

        <!-- UPDATE BUTTON -->
        <!--------------------------------------------------------------------->
        <div class="form-group col-md-12 mb-3 mx-auto text-center">
            <a href="{% url 'workery_tenant_member_update' template object.id %}">
                <button  id="id_submit_btn"	class="btn btn-orange btn-lg btn-fxw mt-4" type="button">
                    <i class="fas fa-pencil-alt"></i>&nbsp;{% trans 'Edit Member' %}
                </button>
            </a>
        </div>
        <!--------------------------------------------------------------------->
        <!-- end UPDATE BUTTON -->

    </div>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->

</main>

{% endblock content %}
