{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize foundation_tags %}

{% block title %}
{% trans 'Member Details | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
    $(document).ready(function () {
        var $star_rating = $('.star-rating .fa-star');
        var $star_rating_value = $('.star-rating');
        var SetRatingStar = function() {
          return $star_rating.each(function() {
            if (parseInt($star_rating_value.data('rating')) >= parseInt($(this).data('rating'))) {
              return $(this).removeClass('far').addClass('fas');
            } else if(Math.round($star_rating_value.data('rating')) == parseInt($(this).data('rating'))) {
              return $(this).removeClass('fa-star').addClass('fas fa-star-half');
            } else {
              return $(this).removeClass('fas').addClass('far');
            }
          });
        };
        SetRatingStar();
    });
</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if template == 'search' %}

            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_member_summary' %}">{% trans 'Members' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_member_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Search Results' %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Member #' %}{{ object.id }}</li>

            {% elif template == 'list' %}

            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_member_summary' %}">{% trans 'Members' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_member_list' %}">{% trans 'List' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Member #' %}{{ object.id|intcomma }}</li>

            {% else %}

	    	<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_member_summary' %}">{% trans 'Members' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Member #' %}{{ object.id|intcomma }}</li>

            {% endif %}
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_modified == 'True' %}
    <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
        Associate Member <strong>Successfully</strong> updated.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% if template == 'search' %}{% url 'workery_tenant_member_search' %}{% elif template == 'list' %}{% url 'workery_tenant_member_list' %}{% else %}{% url 'workery_tenant_member_summary' %}{% endif %}" role="button">
                <i class="fas fa-arrow-left"></i> &nbsp;{% if template == 'search' %}{% trans 'Back to Search' %}{% elif template == 'list' %}{% trans 'Back to Member\'s List' %}{% else %}{% trans 'Back to Member\'s Home' %}{% endif %}</a>
		</div>
	</div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1>{% trans 'View Associate Member' %}</h1>

    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    <div class="row">
        <div class="step-navigation">
            <div class="st-grey active">
                <i class="far fa-id-badge"></i>&nbsp;<span class="">Summary</span>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_member_full_retrieve' template associate.id %}">
                    <i class="fa fa-id-card"></i>&nbsp;<span class="">Details</span>
                </a>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_member_retrieve_for_activity_sheet_list' template associate.id %}">
                    <i class="fa fa-address-book"></i>&nbsp;<span class="">Activity Sheet</span>
                </a>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_member_retrieve_for_jobs_list' template associate.id %}">
                    <i class="fa fa-wrench"></i>&nbsp;<span class="">Jobs</span>
                </a>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_member_retrieve_for_comment_list' template associate.id %}">
                    <i class="fa fa-comments"></i>&nbsp;<span class="">Comments</span>
                </a>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->

    <div class="row py-2">

        <!-- MASTER FORM -->
        <!--------------------------------------------------------------------->
        <div class="col-md-10 mx-auto rounded bg-light border p-2" id="id_master_form">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{% static 'img/placeholder.png' %}" class="img-fluid rounded" alt="Profile Picture">
                </div>
                <div class="col-sm-8 p-2">
                    <h3>{{ associate.given_name }}&nbsp;{{ associate.last_name }}</h3>
                    <p class="text-muted mb-2">{{ associate.address_locality }},&nbsp;{{ associate.address_region }},&nbsp;{{ associate.address_country }}&nbsp;<i class="fas fa-map-marker-alt"></i></p>
                    <p class="mb-2"><i class="fas fa-envelope"></i>&nbsp;{% if associate.owner.email %}<a href="mailto:{{ associate.owner.email }}">{{ associate.owner.email }}</a>{% else %}-{% endif %}</p>
                    <p class="mb-2"><i class="fas fa-phone-square"></i>&nbsp;{% if associate.telephone %}<a href="tel:{{ associate.telephone }}">{{ associate.telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}</p>
                    <p class="m-0"><strong>Skills:</strong></p>
                    <p class="mb-2">
                        {% for skill_set in associate.skill_sets.all %}
                            <span class="badge badge-info badge-lg">{{ skill_set.sub_category }}</span>
                        {% empty %}
                            -
                        {% endfor %}
                    </p>
                    <div class="col-sm-12 p-0">
                        <!-- Client or User Profile rating div starts here -->
                        <p class="m-0"><strong>Ratings:</strong></p>
                        <div class="star-rating" data-rating="4.5">
                            <!-- Give client rating ouptput value to this data-rating attribute -->
                            <span class="far fa-star" data-rating="1"></span>
                            <span class="far fa-star" data-rating="2"></span>
                            <span class="far fa-star" data-rating="3"></span>
                            <span class="far fa-star" data-rating="4"></span>
                            <span class="far fa-star" data-rating="5"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--------------------------------------------------------------------->
        <!-- end MASTER FORM -->

    </div>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->

</main>

{% endblock content %}
