{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n %}

{% block title %}
{% trans 'Member List | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if template == 'search' %}

            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_member_summary' %}">{% trans 'Members' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_member_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Search Results' %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Member #' %}{{ object.id }}</li>

            {% elif template == 'list' %}

            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_member_summary' %}">{% trans 'Members' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_member_list' %}">{% trans 'List' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Member #' %}{{ object.id }}</li>

            {% else %}

	    	<li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_member_summary' %}">{% trans 'Members' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Member #' %}{{ object.id }}</li>

            {% endif %}
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <a href="{% url 'o55_tenant_member_update' template object.id %}">Edt</a>

</main>

{% endblock content %}
