{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize shared_foundation_tags %}
{% block title %}
{% trans 'Tasks | Workery' %}
{% endblock title %}
{% block header_content %}
{% endblock header_content %}
{% block content %}
<script>
    function click_back_button() {
        window.location = "{% url 'workery_tenant_pending_task_retrieve' task_item.id %}";
    }

</script>
<main id="main" role="main">
    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_task_list' %}">{% trans 'Pending Tasks' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_pending_task_retrieve' task_item.id %}">{% trans 'Task #' %}{{ task_item.id|intcomma }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Activity Sheet' %}</li>
        </ol>
        </ol>
    </nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->
    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_modified == 'True' %}
    <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
        Activity sheet was <strong>successfully</strong> updated.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->
    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    <div class="row">
        <div class="step-navigation">
            <div id="step-1" class="st-grey">
                <a href="{% url 'workery_tenant_pending_task_retrieve' task_item.id %}">
                <span class="num">1.</span><span class="">Overview</span>
                </a>
            </div>
            <div id="step-2" class="st-grey active">
                <span class="num">2.</span><span class="">Activity Sheet</span>
            </div>
            <div id="step-3" class="st-grey">
                <span class="num">3.</span><span class="">Assignment</span>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->

    {% if task_item.type_of == 1 %}
    <div class="row py-2">
		<div class="col-md-10 mx-auto py-3">
			<!-- ######################## Task Summary Table ######################## -->
				<table class="table table-bordered custom-cell-w">
				    <tbody>
					<tr class="bg-primary text-white">
					    <th scope="row" colspan="2" id="Task">Assign Associate</th>
					</tr>
                    <tr>
					    <th scope="row" class="bg-light">Order No.</th>
					    <td id="order_no">
                            <a href="{% url 'workery_tenant_job_retrieve' 'summary' task_item.job.id %}" target="_blank">{{ task_item.job.id|intcomma }}&nbsp;<i class="fas fa-external-link-alt"></i></a>
					    </td>
					</tr>
					<tr>
					    <th scope="row" class="bg-light">Client Name</th>
					    <td id="customer">
                            {% if task_item.job.customer %}<a href="{% url 'workery_tenant_customer_lite_retrieve' 'summary' task_item.job.customer.id %}" target="_blank">{{ task_item.job.customer }}&nbsp;<i class="fas fa-external-link-alt"></i></a>{% else %}-{% endif %}
					    </td>
					</tr>
					<tr>
					    <th scope="row" class="bg-light">Client Phone</th>
					    <td id="telephone">
                            {% if task_item.job.customer.telephone %}<a href="tel:{{ task_item.job.customer.telephone }}">{{ task_item.job.customer.telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}

					    </td>
					</tr>
                    <tr>
                        <th scope="row" class="bg-light">Client Location</th>
                        <td id="street_address">
                            <a href="{{ task_item.job.customer.get_google_maps_url }}" target="_blank">
                                {{ task_item.job.customer.get_postal_address_without_postal_code }}&nbsp;<i class="fas fa-map-marker-alt"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
					    <th scope="row" class="bg-light">Job Description</th>
					    <td id="job_description">
						    {% if task_item.job.description %}{{ task_item.job.description }}{% else %}-{% endif %}
					    </td>
					</tr>
		            <tr>
					    <th scope="row" class="bg-light">Skill Set(s)</th>
					    <td id="skill_sets">
                            {% for skill_set in task_item.job.skill_sets.all %}
                                <span class="badge badge-info badge-lg">{{ skill_set.sub_category }}</span>
                            {% empty %}
                                -
                            {% endfor %}
					    </td>
					</tr>
                    <tr>
					    <th scope="row" class="bg-light">Job Comments</th>
					    <td id="job_comments">
						    <a href="{% url 'workery_tenant_job_comments_retrieve' 'summary' task_item.job.id  %}" target="_blank">{% trans 'View comments' %}&nbsp;<i class="fas fa-external-link-alt"></i></a>
					    </td>
					</tr>
				    </tbody>
			</table>
		</div>
    </div>
    {% endif %}

    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <h2>Available Associates</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Contacts (30 days)' %}</th>
                    <th>{% trans 'Phone Number' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for associate in available_associates_list %}
                <tr>
                    <td>
                        <a href="{% url 'workery_tenant_member_lite_retrieve' 'summary' associate.id %}" target="_blank">{{ associate }}&nbsp;<i class="fas fa-external-link-alt"></i></a>
                    </td>
                    <td>{{ associate.past_30_days_activity_sheet_count }}</td>
                    <td>
                        {{ associate.telephone|pretty_formatted_phonenumber }}
                    </td>
                    <td>
                        <a href="{% url 'workery_tenant_pending_task_retrieve_for_activity_sheet_retrieve_and_create' task_item.id %}?associate_id={{ associate.id }}">Assign</a>
                    </td>
                </tr>
                {% empty %}
                No jobs yet.
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM -->
    <br />
    <br />
    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <h2>Activity Sheet Items</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Status' %}</th>
                    <th>{% trans 'Comment' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in existing_activity_sheet.all %}
                <tr>
                    <td>
                        <a href="{% url 'workery_tenant_member_lite_retrieve' 'summary' item.associate.id %}" target="_blank">{{ item.associate }}&nbsp;<i class="fas fa-external-link-alt"></i></a>
                    </td>
                    <td>
                        {% if item.state == ACTIVITY_SHEET_ITEM_STATE.ACCEPTED %}
                            {% trans 'Accepted' %}
                        {% elif item.state == ACTIVITY_SHEET_ITEM_STATE.DECLINED %}
                            {% trans 'Declined' %}
                        {% else %}
                            {% trans 'Pending' %}
                        {% endif %}
                    </td>
                    <td>{{ item.comment }}</td>
                    <td>
                        <a href="{% url 'workery_tenant_pending_task_retrieve_for_activity_sheet_retrieve_and_create' task_item.id %}?associate_id={{ item.associate.id }}">Re-assign</a>
                    </td>
                </tr>
                {% empty %}
                No activity sheet items yet.
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM -->

    <!-- BOTTOM NAVIGATION -->
    <!------------------------------------------------------------------------->
    <div class="col-sm-5 mx-auto mt-2">
        <!-- Associate form -->
        <div class="col-sm-12 fade show active" id="member-form" aria-labelledby="associate">
            <button id="id_submit_btn"
                class="btn btn-primary btn-lg mt-4 float-left pl-4 pr-4"
                type="button"
                onclick="click_back_button();">
            <i class="fas fa-arrow-left"></i>&nbsp;Back</button>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end BOTTOM NAVIGATION -->

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
