{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n %}

{% block title %}
{% trans 'Associate Members | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
    function ajax_get_associates() {
        var criteria = [];

        tenant_get_associates(
            criteria,
            function(json_results) {
                console.log(json_results)
            },
            function(error) {
                console.debug(error);
                // alert(error);
            }
        );
    }
</script>

<main id="main" role="main">
    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    {% if filter_parameters %}
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    		<li class="breadcrumb-item">
                    <a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'o55_tenant_associate_list' %}">{% trans 'Associate Members' %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'o55_tenant_associate_search' %}">{% trans 'Search' %}</a>
                </li>
	    		<li class="breadcrumb-item active" aria-current="page">{% trans 'Search Results' %}</li>
	  	</ol>
	</nav>

    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% url 'o55_tenant_associate_list' %}" role="button">
                <svg class="svg-inline--fa fa-arrow-left fa-w-14" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z">
                    </path>
                </svg><!-- <i class="fas fa-arrow-left"></i> -->&nbsp;Back to Members Home</a>
		</div>
	</div>
    {% else %}
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    		<li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
	    		<li class="breadcrumb-item active" aria-current="page">{% trans 'Associate Members' %}</li>
	  	</ol>
	</nav>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <h1>{% trans 'Associates Members' %}</h1>
    <section class="row text-center placeholders">
        <div class="col-sm-3 placeholder">

            <a href="{% url 'o55_tenant_associate_create' %}">

            <div class="rounded-circle mx-auto mt-4 mb-4" style="height: 200px;width: 200px;background-color: #f4424e">
                <h1 class="r-circle"><i class="fas fa-plus fa-3x"></i></h1>
            </div>
            <h4>Add</h4>
            <div class="text-muted">Add New Member</div>

            </a>

        </div>
        <div class="col-sm-3 placeholder">

            <a href="{% url 'o55_tenant_associate_search' %}">

            <div class="rounded-circle mx-auto mt-4 mb-4" style="height: 200px;width: 200px;background-color: #008000">
                <h1 class="r-circle"><i class="fas fa-search fa-3x"></i></h1>
            </div>
            <h4>Search</h4>
            <span class="text-muted">Search for a Member</span>

            </a>

        </div>

        {% comment %}
        <div class="col-sm-3 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4" style="height: 200px;width: 200px;background-color: #0275D8">
                <h1 class="r-circle"><i class="fas fa-pencil-alt fa-3x"></i></h1>
            </div>
            <h4>Edit</h4>
            <span class="text-muted">Edit Client Profile</span>
        </div>
        <div class="col-sm-3 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4" style="height: 200px;width: 200px;background-color: #F26523">
                <h1 style="border: 0;color: #ffffff;line-height: 4.75;">120</h1>
            </div>
            <h4>Active Clients</h4>
            <span class="text-muted">View all active clients</span>
        </div>
        {% endcomment %}
    </section>

    <h2>Associate Member List</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans '#' %}</th>
                    <th>{% trans 'First Name' %}</th>
                    <th>{% trans 'Last Name' %}</th>
                    <th>{% trans 'Phone' %}</th>
                    <th>{% trans 'E-Mail' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for associate in associate_list %}
                <tr>
                    <td>{{ associate.id }}</td>
                    <td>{{ associate.given_name }}</td>
                    <td>{{ associate.last_name }}</td>
                    <td>{{ associate.telephone }}</td>
                    <td>{{ associate.owner.email }}</td>
                    <td>
                        <a href="{% url 'o55_tenant_associate_detail' associate.id %}">{% trans 'View' %}</a>
                    </td>
                </tr>
                {% empty %}
                No associates yet.
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{{ filter_parameters }}">previous</a>
        {% endif %}
        <span class="current">
        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{{ filter_parameters }}">next</a>
        {% endif %}
        </span>
    </div>
</main>
{% endblock content %}
