{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n %}

{% block title %}
{% trans 'Associates | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
    function ajax_get_associates() {
        var criteria = [];

        tenant_get_associates(
            criteria,
            function(json_results) {
                console.log(json_results)
            },
            function(error) {
                console.debug(error);
                // alert(error);
            }
        );
    }
</script>

<p>
    Associates
</p>
<p>
    <a onclick="ajax_get_associates();">List</a>
</p>


<p>
    <a href="{% url 'o55_tenant_dashboard_master' %}">Dashboard</a>
</p>
{% endblock content %}
