{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n shared_foundation_tags humanize tz %}

{% block title %}
{% trans 'Tasks | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
	    	<li class="breadcrumb-item active" aria-current="page">{% trans 'Pending Tasks' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_closed == 'True' %}
        <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
            Job was <strong>successfully</strong> closed.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% elif parameters.was_unassigned == 'True' %}
        <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
            Job was <strong>successfully</strong> unassigned.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% elif parameters.was_postponed == 'True' %}
        <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
            Job was <strong>successfully</strong> postponed.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <h1>{% trans 'Pending Tasks' %}</h1>

    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    <div class="row">
        <div class="step-navigation">
	    <div id="step-1" class="st-grey">
            <a href="{% url 'workery_tenant_unassigned_task_list' %}">
                <i class="fas fa-question-circle"></i>
                <span class="">Unassigned Tasks ({{ unassigned_count|intcomma }})</span>
            </a>
            </div>
            <div id="step-2" class="st-grey active">
                <i class="fas fa-clock"></i>
                <span class="">Pending Tasks ({{ pending_count|intcomma }})</span>
            </div>
            <div id="step-3" class="st-grey">
                <a href="{% url 'workery_tenant_closed_task_list' %}">
                    <i class="fas fa-check-circle"></i>
                    <span class="">Closed Tasks ({{ closed_count|intcomma }})</span>
                </a>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->

    <!-- OPTIONS -->
    <!------------------------------------------------------------------------->
    <section class="row text-center placeholders">
        <div class="col-sm-4 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-dgreen">
                <a href="{% url 'workery_tenant_task_search' 'pending' %}" class="d-block link-ndecor" title="Search Clients">
                    <h1 class="r-circle"><i class="fas fa-search fa-3x"></i></h1>
                </a>
            </div>
            <h4>Search</h4>
            <span class="text-muted">Search Pending Tasks</span>
        </div>
    </section>
    <!------------------------------------------------------------------------->
    <!-- end OPTIONS -->


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans 'Due Date' %}</th>
                    <th>{% trans 'Task' %}</th>
                    <th>{% trans 'Client' %}&nbsp;<i class="fas fa-external-link-alt"></i></th>
                    <th>{% trans 'Associate' %}&nbsp;<i class="fas fa-external-link-alt"></i></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for task_item in task_list %}
                <tr>
                    <td>
                        {% if task_item.ongoing_job %}
                            {% if task_item.ongoing_job.customer.type_of == tenant_constants.RESIDENTIAL_CUSTOMER_TYPE_OF_ID %}
                                <i class="fa fa-home fa-lg"></i>
                            {% elif task_item.ongoing_job.customer.type_of == tenant_constants.COMMERCIAL_CUSTOMER_TYPE_OF_ID %}
                                <i class="fa fa-briefcase fa-lg"></i>
                            {% else %}
                                <i class="fa fa-question fa-lg"></i>
                            {% endif %}
                            <i class="fa fa-redo fa-lg"></i>
                        {% else %}
                            {% if task_item.job.customer.type_of == tenant_constants.RESIDENTIAL_CUSTOMER_TYPE_OF_ID %}
                                <i class="fa fa-home fa-lg"></i>
                            {% elif task_item.job.customer.type_of == tenant_constants.COMMERCIAL_CUSTOMER_TYPE_OF_ID %}
                                <i class="fa fa-briefcase fa-lg"></i>
                            {% else %}
                                <i class="fa fa-question fa-lg"></i>
                            {% endif %}
                            {% if task_item.job.is_ongoing %}<i class="fa fa-redo fa-lg"></i>{% endif %}
                        {% endif %}
                    </td>
                    <td>{{ task_item.due_date }}</td>
                    <td>
                        {% if task_item.ongoing_job %}
                            <strong>{{ task_item.title }}</strong>
                        {% else %}
                            {{ task_item.title }}
                        {% endif %}
                    </td>
                    <td>
                        {% if task_item.ongoing_job %}
                            {% if task_item.ongoing_job.customer %}
                                <a href="{% url 'workery_tenant_customer_lite_retrieve' 'summary' task_item.ongoing_job.customer.id %}" target="_blank">{{ task_item.ongoing_job.customer }}</a>
                            {% else %}
                                {% trans 'Unassigned' %}
                            {% endif %}
                        {% else %}
                            {% if task_item.job.customer %}
                                <a href="{% url 'workery_tenant_customer_lite_retrieve' 'summary' task_item.job.customer.id %}" target="_blank">{{ task_item.job.customer }}</a>
                            {% else %}
                                {% trans 'Unassigned' %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if task_item.ongoing_job %}
                            {% if task_item.ongoing_job.associate %}
                                <a href="{% url 'workery_tenant_member_lite_retrieve' 'summary' task_item.ongoing_job.associate.id %}" target="_blank">{{ task_item.ongoing_job.associate }}&nbsp;{% if task_item.ongoing_job.state == WORK_ORDER_STATE.PENDING %}(Pending){% endif %}</a>
                            {% else %}
                                {% trans 'Unassigned' %}
                            {% endif %}
                        {% else %}
                            {% if task_item.job.associate %}
                                <a href="{% url 'workery_tenant_member_lite_retrieve' 'summary' task_item.job.associate.id %}" target="_blank">{{ task_item.job.associate }}&nbsp;{% if task_item.job.state == WORK_ORDER_STATE.PENDING %}(Pending){% endif %}</a>
                            {% else %}
                                {% trans 'Unassigned' %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'workery_tenant_pending_task_retrieve' task_item.id %}?page={{ page_obj.number }}">{% trans 'View' %}&nbsp;<i class="fas fa-chevron-right"></i></a>
                    </td>
                </tr>
                {% empty %}
                    No tasks yet.
                {% endfor %}
            </tbody>
        </table>
    </div>

<nav aria-label="Page navigation">
  <ul class="pagination pagination-lg">
    <li class="page-item">
    	<button type="button" class="btn btn-link btn-lg" data-container="body" data-toggle="popover" title="Jump to page" data-placement="bottom" data-html="true" data-content="<form action method='get'><div class='input-group mb-3'><input type='text' name='page' class='form-control form-control-lg' placeholder='page' aria-label='page' aria-describedby='button-addon2'>
	  <div class='input-group-append'>
	    <button class='btn btn-info btn-lg' type='submit' id='button-addon2'>Go</button>
	  </div></div></form>" >
		  Page {{ page_obj.number }} of {{ paginator.num_pages }} <i class="fas fa-sort-down"></i>
	</button>
    </li>
    <li class="page-item">
	 {% if page_obj.has_previous %}
            <a class="page-link rounded-left" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
	    	<span aria-hidden="true">&laquo;</span>
        	<span class="sr-only">Previous</span>
	    </a>
        {% endif %}
    </li>
    <li class="page-item">
	{% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
	    	<span aria-hidden="true">&raquo;</span>
        	<span class="sr-only">Next</span>
	    </a>
        {% endif %}
    </li>
  </ul>
</nav>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
