{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n shared_foundation_tags humanize tz %}
{% block title %}
{% trans 'Task #' %}{{ task_item.id|intcomma }} {% trans '| Workery' %}
{% endblock title %}
{% block header_content %}
{% endblock header_content %}
{% block content %}
<main id="main" role="main">
    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_task_list' %}">{% trans 'Pending Tasks' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Task #' %}{{ task_item.id|intcomma }}</li>
        </ol>
    </nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_created == 'True' %}
        <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
		    Job <strong>Successfully</strong> created.
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		        <span aria-hidden="true">×</span>
		    </button>
		</div>
    {% endif %}
    {% if parameters.was_modified == 'True' %}
        <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
		    Job <strong>Successfully</strong> modified.
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		        <span aria-hidden="true">×</span>
		    </button>
		</div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    {% if task_item.type_of != 3 %}
    <div class="row">
        <div class="step-navigation">
            <div id="step-1" class="st-grey active">
                <span class="num">1.</span><span class="">Overview</span>
            </div>
            {% if task_item.type_of == 1 %}
            <div id="step-2" class="st-grey">
                <span class="num">2.</span><span class="">Activity Sheet</span>
            </div>
            <div id="step-3" class="st-grey">
                <span class="num">3.</span><span class="">Assignment</span>
            </div>
            {% elif task_item.type_of == 2 %}
            <div id="step-2" class="st-grey">
                <span class="num">2.</span><span class="">Complete Task</span>
            </div>
            {% elif task_item.type_of == 4 %}
            <div id="step-2" class="st-grey">
                <span class="num">2.</span><span class="">Follow Up</span>
            </div>
            {% elif task_item.type_of == 5 %}
            <div id="step-2" class="st-grey">
                <span class="num">2.</span><span class="">Ongoing Update</span>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->
    <!-- -->
    <div class="col-md-10 mx-auto mb-4 py-2">
        <!-- <h3 class="py-2 text-center mb-4" id="id_page_title">Job Summary Details</h3> -->
        <table class="table table-bordered custom-cell-w">
            <tbody>
                <tr class="bg-dark">
                    <th scope="row" colspan="2" class="text-light">Task Details {% if task_item.type_of == 3 or task_item.type_of == 2 or task_item.type_of == 1 %}- {{ task_item.title }} {% endif %}</th>
                </tr>
                {% if task_item.type_of != 3 and task_item.type_of != 2 and task_item.type_of != 1 %}
                <tr>
                    <th scope="row" class="bg-light">Task</th>
                    <td>
                        {{ task_item.title }}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th scope="row" class="bg-light">Description</th>
                    <td>
                        {{ task_item.description }}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">{% if task_item.ongoing_job %}Ongoing{% endif %} Job #</th>
                    <td id="selected_skillsets_id">
                        {% if task_item.job %}
                            <a href="{% url 'workery_tenant_job_retrieve' 'summary' task_item.job.id %}" target="_blank">
                                {{ task_item.job.id|intcomma }}&nbsp;<i class="fas fa-external-link-alt"></i>
                            </a>
                        {% elif task_item.ongoing_job %}
                            <a href="{% url 'workery_tenant_ongoing_job_lite_retrieve' 'summary' task_item.ongoing_job.id %}" target="_blank">
                                {{ task_item.ongoing_job.id|intcomma }}&nbsp;<i class="fas fa-external-link-alt"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Created At</th>
                    <td id="selected_job_type_id">
                        {{ task_item.created_at|timezone:request.tenant.timezone_name }}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Created by</th>
                    <td id="selected_home_support_id">
                        {% if task_item.created_by %}
                            <a href="{% url 'workery_tenant_team_retrieve_from_user_id_redirect' 'summary' task_item.created_by.id %}" target="_blank">
                                {{ task_item.created_by.get_full_name }}&nbsp;<i class="fas fa-external-link-alt"></i>
                            </a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                {% if task_item.type_of != 3 and task_item.type_of != 2 and task_item.type_of != 1 %}
                <tr>
                    <th scope="row" class="bg-light">Last Modified At</th>
                    <td id="selected_description_id">
                        {{ task_item.last_modified_at }}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Last Modified By</th>
                    <td id="selected_comment_id" target="_blank">
                        {% if task_item.last_modified_by %}
                            <a href="{% url 'workery_tenant_team_retrieve_from_user_id_redirect' 'summary' task_item.last_modified_by.id %}">
                                {{ task_item.last_modified_by.get_full_name }}&nbsp;<i class="fas fa-external-link-alt"></i>
                            </a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% if task_item.type_of == 3 or task_item.type_of == 2 or task_item.type_of == 1 %}
                <tr>
                    <th scope="row" class="bg-light">Client Name</th>
                    <td id="client_name">
                        {% if task_item.job %}
                            <a href="{% url 'workery_tenant_customer_lite_retrieve' 'summary' task_item.job.customer.id %}" target="_blank">
                                {{ task_item.job.customer }}&nbsp;<i class="fas fa-external-link-alt"></i>
                            </a>
                        {% elif task_item.ongoing_job %}
                            <a href="{% url 'workery_tenant_customer_lite_retrieve' 'summary' task_item.ongoing_job.customer.id %}" target="_blank">
                                {{ task_item.ongoing_job.customer }}&nbsp;<i class="fas fa-external-link-alt"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Client Phone Number</th>
                    <td id="client_phone_number">
                        {% if task_item.job %}
                            {% if task_item.job.customer.telephone %}<a href="tel:{{ task_item.job.customer.telephone }}">{{ task_item.job.customer.telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}
                        {% elif task_item.ongoing_job %}
                            {% if task_item.ongoing_job.customer.telephone %}<a href="tel:{{ task_item.ongoing_job.customer.telephone }}">{{ task_item.ongoing_job.customer.telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% if task_item.type_of != 1 %}
                <tr>
                    <th scope="row" class="bg-light">Associate Name</th>
                    <td id="associate_name">
                        {% if task_item.job %}
                            {% if task_item.job.associate %}
                                <a href="{% url 'workery_tenant_member_lite_retrieve' 'summary' task_item.job.associate.id %}" target="_blank">
                                    {{ task_item.job.associate }}&nbsp;<i class="fas fa-external-link-alt"></i>
                                </a>
                            {% else %}
                                {% trans 'Unassigned' %}
                            {% endif %}
                        {% elif task_item.ongoing_job %}
                            {% if task_item.ongoing_job.associate %}
                                <a href="{% url 'workery_tenant_member_lite_retrieve' 'summary' task_item.ongoing_job.associate.id %}" target="_blank">
                                    {{ task_item.ongoing_job.associate }}&nbsp;<i class="fas fa-external-link-alt"></i>
                                </a>
                            {% else %}
                                {% trans 'Unassigned' %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endif %}
                <tr>
                    <th scope="row" class="bg-light">Job Description</th>
                    <td>
                        {% if task_item.job %}
                            {% if task_item.job.description %}
                                {{ task_item.job.description }}
                            {% else %}
                                -
                            {% endif %}
                        {% elif task_item.ongoing_job %}
                            {% if task_item.ongoing_job.description %}
                                {{ task_item.ongoing_job.description }}
                            {% else %}
                                -
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Skill Set(s)</th>
                    <td id="skill_sets">
                        {% if task_item.job %}
                            {% for skill_set in task_item.job.skill_sets.all %}
                                <span class="badge badge-info badge-lg">{{ skill_set.sub_category }}</span>
                            {% empty %}
                                -
                            {% endfor %}
                        {% elif task_item.ongoing_job %}
                            {% for skill_set in task_item.ongoing_job.skill_sets.all %}
                                <span class="badge badge-info badge-lg">{{ skill_set.sub_category }}</span>
                            {% empty %}
                                -
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Comment(s)</th>
                    <td id="comments">
                        {% if task_item.job %}
                            <a href="{% url 'workery_tenant_job_comments_retrieve' 'summary' task_item.job.id  %}" target="_blank">{% trans 'View comments' %}&nbsp;({{ task_item.job.comments.count }})&nbsp;<i class="fas fa-external-link-alt"></i></a>
                        {% elif task_item.ongoing_job %}
                            TODO
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Required Action</th>
                    <td id="selected_comment_id">
                        {% if task_item.ongoing_job %}

                            {% if task_item.type_of == 1 %}
                                <a href="{% url 'workery_tenant_pending_task_retrieve_for_activity_sheet_retrieve' task_item.id %}">
                                    <button  id="id_submit_btn"
                                        class="btn btn-success btn-lg btn-fxw mt-4"
                                        type="button">
                                        <i class="fas fa-arrow-right"></i>&nbsp;{% trans 'Begin' %}
                                    </button>
                                </a>
                            {% elif task_item.type_of == 5 %}
                                <a href="{% url 'workery_tenant_pending_task_retrieve_and_ongoing_update_create' task_item.id %}">
                                    <button  id="id_submit_btn"
                                        class="btn btn-success btn-lg btn-fxw mt-4"
                                        type="button">
                                        <i class="fas fa-arrow-right"></i>&nbsp;{% trans 'Begin' %}
                                    </button>
                                </a>
                            {% endif %}

                        {% elif task_item.job %}

                            {% if task_item.type_of == 1 %}
                            <div class="col-sm-4">
                                <a href="{% url 'workery_tenant_pending_task_retrieve_for_activity_sheet_retrieve' task_item.id %}">
                                <button  id="id_submit_btn"
                                    class="btn btn-success btn-lg btn-fxw mt-4"
                                    type="button">
                                <i class="fas fa-arrow-right"></i>&nbsp;{% trans 'Begin' %}
                                </button>
                                </a>
                            </div>
                            {% elif task_item.type_of == 2 %}
                            <div class="col-sm-4">
                                <a href="{% url 'workery_tenant_pending_task_retrieve_and_complete_create' task_item.id %}">
                                <button  id="id_submit_btn"
                                    class="btn btn-success btn-lg btn-fxw mt-4"
                                    type="button">
                                <i class="fas fa-arrow-right"></i>&nbsp;{% trans 'Begin' %}
                                </button>
                                </a>
                            </div>
                            {% elif task_item.type_of == 3 %}
                            <div class="col-sm-4">

                                <a href="{% url 'workery_tenant_job_retrieve_for_close_create' 'task' task_item.job.id %}?task_id={{ task_item.id }}">
                                <button  id="id_submit_btn"
                                    class="btn btn-success btn-lg btn-fxw mt-4"
                                    type="button">
                                <i class="fas fa-arrow-right"></i>&nbsp;{% trans 'Begin' %}
                                </button>
                                </a>

                            </div>
                            {% elif task_item.type_of == 4 %}
                            <div class="col-sm-4">
                                <a href="{% url 'workery_tenant_pending_task_retrieve_for_activity_sheet_follow_up_with_associate_retrieve' task_item.id %}">
                                <button  id="id_submit_btn"
                                    class="btn btn-success btn-lg btn-fxw mt-4"
                                    type="button">
                                <i class="fas fa-arrow-right"></i>&nbsp;{% trans 'Begin' %}
                                </button>
                                </a>
                            </div>
                            {% endif %}

                        {% endif %}

                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group col-md-10 mb-3 mx-auto text-center">
        {% if task_item.ongoing_job %}

            <p>TODO: Unassign Associate</p>
            <p>TODO: Close Job</p>
            <p>TODO: Postpone Job</p>

            {% comment %}
            <p>TODO</p>
            <div class="row">
                <!-- UNASSIGN BUTTON -->
                {% if task_item.type_of != 1 %}
                <div class="col-sm-4">
                    <a href="{% url 'workery_tenant_job_retrieve_for_unassign_create' 'task' task_item.ongoing_job.id %}?task_id={{ task_item.id }}">
                    <button  id="id_submit_btn"
                        class="btn btn-warning btn-lg btn-fxw mt-4"
                        type="button">
                    <i class="fas fa-window-close"></i>&nbsp;{% trans 'Unassign Associate from Job' %}
                    </button>
                    </a>
                </div>
                {% endif %}
                <!-- end UNASSIGN BUTTON -->
                <!-- CLOSE JOB BUTTON -->
                {% if task_item.type_of != 3 %}
                <div class="col-sm-4">
                    <a href="{% url 'workery_tenant_job_retrieve_for_close_create' 'task' task_item.ongoing_job.id %}?task_id={{ task_item.id }}&task_type={{ task_item.type_of }}">
                    <button  id="id_submit_btn"
                        class="btn btn-danger btn-lg btn-fxw mt-4"
                        type="button">
                    <i class="far fa-minus-square"></i>&nbsp;{% trans 'Close Job' %}
                    </button>
                    </a>
                </div>
                {% endif %}
                <!-- end CLOSE JOB BUTTON -->
                <!-- end POSTPONE BUTTON -->
                <div class="col-sm-4">
                    <a href="{% url 'workery_tenant_job_retrieve_for_postpone_create' 'task' task_item.job.id %}?task_id={{ task_item.id }}">
                    <button  id="id_submit_btn"
                        class="btn btn-orange btn-lg btn-fxw mt-4"
                        type="button">
                    <i class="fas fa-clock"></i>&nbsp;{% trans 'Postpone Job' %}
                    </button>
                    </a>
                </div>
                <!-- end POSTPONE BUTTON -->
            </div>
            {% endcomment %}

        {% elif task_item.job %}

            <div class="row">
                <!-- UNASSIGN BUTTON -->
                {% if task_item.type_of != 1 %}
                <div class="col-sm-4">
                    <a href="{% url 'workery_tenant_job_retrieve_for_unassign_create' 'task' task_item.job.id %}?task_id={{ task_item.id }}">
                    <button  id="id_submit_btn"
                        class="btn btn-warning btn-lg btn-fxw mt-4"
                        type="button">
                    <i class="fas fa-window-close"></i>&nbsp;{% trans 'Unassign Associate from Job' %}
                    </button>
                    </a>
                </div>
                {% endif %}
                <!-- end UNASSIGN BUTTON -->
                <!-- CLOSE JOB BUTTON -->
                {% if task_item.type_of != 3 %}
                <div class="col-sm-4">
                    <a href="{% url 'workery_tenant_job_retrieve_for_close_create' 'task' task_item.job.id %}?task_id={{ task_item.id }}&task_type={{ task_item.type_of }}">
                    <button  id="id_submit_btn"
                        class="btn btn-danger btn-lg btn-fxw mt-4"
                        type="button">
                    <i class="far fa-minus-square"></i>&nbsp;{% trans 'Close Job' %}
                    </button>
                    </a>
                </div>
                {% endif %}
                <!-- end CLOSE JOB BUTTON -->
                <!-- end POSTPONE BUTTON -->
                <div class="col-sm-4">
                    <a href="{% url 'workery_tenant_job_retrieve_for_postpone_create' 'task' task_item.job.id %}?task_id={{ task_item.id }}">
                    <button  id="id_submit_btn"
                        class="btn btn-orange btn-lg btn-fxw mt-4"
                        type="button">
                    <i class="fas fa-clock"></i>&nbsp;{% trans 'Postpone Job' %}
                    </button>
                    </a>
                </div>
                <!-- end POSTPONE BUTTON -->
            </div>

        {% endif %}

    </div>
    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
