{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n shared_foundation_tags humanize djmoney %}

{% block title %}
{% trans 'Update Job | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}


<!-- CUSTOM JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<script type="text/javascript">
    /**
     *  When page loads, the following code will be run first.
     */
    $(document).ready(function () {
        // Do nothing.
    }); // end Ready

    function ajax_post_form_submission() {
        var state = $('#state').val();
        console.log("State:", state);

        // Attach "customer".
        {% if job.customer %}
        var customer_id = {{ job.customer.id }};
        {% else %}
        var customer_id = null;
        {% endif %}

        // Attach "associate".
        {% if job.associate %}
        var associate_id = {{ job.associate.id }};
        {% else %}
        var associate_id = null;
        {% endif %}

        var data_dict = {
            'customer': customer_id,
            'associate': associate_id,
            'state': state,
            'open_order': {{ job.open_order.id }}
        };

        update_ongoing_job_api(
            {{ job.id }},
            data_dict,
            function(json_results) {
                console.log(json_results);
                window.location = "{% url 'workery_tenant_ongoing_job_full_retrieve' template job.id %}?was_modified=True";
            },
	        function(xhr,status,error) { // Error
                // STEP 1: Convert to JSON.
                var err = JSON.parse(xhr.responseText);
                // For debugging purposes only.
                console.log(err);
                // STEP 2: CLEAR EXISTING TEXT.
                $('#all_error_result').html("");
		        $('#all_error_result').removeClass('error-block');
                // STEP 3: PRINT OUR ERROR.
                for(var prop in err) {
                    if(err.hasOwnProperty(prop)) {
                        var val = err[prop];
                        console.log(val);
                        var fdname = humanize(prop);
			// Errors box code
                        $('#all_error_result').append("<div class='form-error'><b>"+fdname+":</b> "+val+" </div>");
			$('#all_error_result').addClass('error-block');
			// Inline fields errors code
			$('#'+prop+'-error').html("<ul><li>"+val+"</li></ul>");
			$('#update-job-form').addClass('was-validated');
                    }
                }
                // STEP 4: FOCUS TO WHERE THE ERROR IS OCCURING.
                $('html, body').animate({ scrollTop: $('#id_page_title').offset().top }, 'slow');
            },
            function(error_json) {
                console.log(error_json);
            },
            function(completed, hr){

            }
        );
    }
</script>
<!----------------------------------------------------------------------------->
<!-- end CUSTOM JAVASCRIPT -->

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if template == 'search' %}

            TODO

            {% elif template == 'list' %}

            TODO

            {% else %}

	        <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_ongoing_job_list' %}">{% trans 'Ongoing Jobs' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_ongoing_job_full_retrieve' template job.id %}">{% trans 'Ongoing Job #' %}{{ job.id|intcomma }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit' %}</li>

            {% endif %}
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% url 'workery_tenant_ongoing_job_full_retrieve' template job.id %}" role="button">
               <i class="fas fa-arrow-left"></i> &nbsp;{% trans 'Back to Ongoing Job Detail' %}
            </a>
		</div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1 id="id_page_title">{% trans 'Edit Ongoing Job' %}</h1>

    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <div class="col-sm-5 mx-auto mt-2">
        <!-- Residential form -->
        <div class="col-sm-12 fade show active" id="client-form" aria-labelledby="residential">
            <p>
                <span class="text-secondary font-italic">
                    <sup>*</sup>&nbsp;-&nbsp;Indicates required field to fill out.
                </span>
            </p>
            <!-- Error Output -->
            <div id="all_error_result" name="all_error_result" class="alert alert-error fade show" role="alert">
	    </div>
	    <!-- end Error Output -->

            <form id="update-job-form" method="post" class="needs-validation" action="" novalidate>

                <div class="form-group col-md-7 mb-4 p-0">
                    <label for="state">Status&nbsp;<sup>*</sup></label>
                    <select class="custom-select form-control-lg border-primary" id="state" name="state" required>
                        <option value="">Status...</option>
                        <option value="{{ ONGOING_WORK_ORDER_STATE.IDLE }}" {% if job.state == ONGOING_WORK_ORDER_STATE.IDLE %}selected="true"{% endif %}>{% trans 'Idle' %}</option>
                        <option value="{{ ONGOING_WORK_ORDER_STATE.RUNNING }}" {% if job.state == ONGOING_WORK_ORDER_STATE.RUNNING %}selected="true"{% endif %}>{% trans 'Running' %}</option>
                        <option value="{{ ONGOING_WORK_ORDER_STATE.TERMINATED }}" {% if job.state == ONGOING_WORK_ORDER_STATE.TERMINATED %}selected="true"{% endif %}>{% trans 'Terminate' %}</option>
                    </select>
                    <div id="state-error" class="invalid-feedback"></div>
                </div>

                <!-- end SUBMIT BUTTON -->
                <div class="form-group col-md-12 mb-3 mx-auto text-center">
                    <button id="id_submit_btn"
                         class="btn btn-primary btn-lg btn-fxw mt-4"
                       onclick="ajax_post_form_submission();"
                          type="button">
                        <i class="fas fa-check"></i>&nbsp;{% trans 'Update Ongoing Job' %}
                    </button>
                </div>
                <!-- end SUBMIT BUTTON -->
            </form>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM -->


    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
