{% extends 'shared_foundation/shared_base.html' %}
{% load staticfiles i18n foundation_tags %}
{% block title %}{% trans 'Rest Password | Workery' %}{% endblock title %}
{% block content %}
<!-- JAVASCRIPT -->
<script>
    /**
     * Function will take the EMAIL and PASSWORD, submit the information to the
     * server and have either an error returned or an API KEY which
     */
    function ajax_send_reset_password_email()
    {
        var email_or_username = $('#id_email_or_username').val().toLowerCase();
        var tele = $('#id_telephone_or_mobile').val();
        api_send_password_reset_email(
            email_or_username,
            tele,
            function(was_successful) {
                if (was_successful) {
                    // Load up our dashboard.
                    window.location = "{% get_app_domain %}{% url 'workery_send_reset_password_email_submitted' %}";
                } else {
                    alert("Failed logging in, did not receive token.");
                }
            },
            function(xhr, status, error) {
                alert("Wrong email and or telephone.");
                // Convert the error json into string.
                // var string = JSON.stringify( error );
                // console.log(string);
            }
        ); // End Login
    }
</script>
<!-- end JAVASCRIPT -->


<div class="container">
   <div class="row">
      <div class="col-sm-12 text-center">
          <img class="img-fluid" src="{% static 'img/workery-logo.jpeg' %}" alt="Logo" width="180px" />
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6 mx-auto p-3 signin-box rounded">
         <h3 class="text-center"><i class="fa fa-lock fa-2x"></i></h3>
         <h2 class="text-center mb-2">{% trans 'Forgot Password?' %}</h2>
         <p class="text-center lead">{% trans 'You have successfully submitted.' %}</p>
         <p class="m-0 text-center">
             <a href="{% get_app_domain %}{% url 'workery_login_master' %}" class="btn btn-lg btn-info btn-fxw px-5">{% trans 'Login' %}</a>
         </p>
      </div>
   </div>
</div>
<!-- /container -->
{% endblock content %}
