{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n shared_foundation_tags humanize %}

{% block title %}
{% trans 'Staff List | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
    function ajax_get_staffs() {
        var criteria = [];

        tenant_get_staffs(
            criteria,
            function(json_results) {
                console.log(json_results)
            },
            function(error) {
                console.debug(error);
                // alert(error);
            }
        );
    }
</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}"><i class="fas fa-tachometer-alt"></i>&nbsp;{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_team_summary' %}"><i class="fas fa-user-tie"></i>&nbsp;{% trans 'Staff' %}</a></li>
	    	<li class="breadcrumb-item active" aria-current="page">{% trans 'List' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <h2>{% trans 'Staff List' %}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        {% if parameters.o == "id" %}
                            <a href="?o=-id{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'ID #' %}&nbsp;<i class="fas fa-caret-up"></i></a>
                        {% elif parameters.o == "-id" %}
                            <a href="?o={% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'ID #' %}&nbsp;<i class="fas fa-caret-down"></i></a>
                        {% else %}
                            <a href="?o=id{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'ID #' %}</a>
                        {% endif %}
                    </th>
                    <th>
                        {% if parameters.o == "given_name" %}
                            <a href="?o=-given_name{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'First Name' %}&nbsp;<i class="fas fa-caret-up"></i></a>
                        {% elif parameters.o == "-given_name" %}
                            <a href="?o={% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'First Name' %}&nbsp;<i class="fas fa-caret-down"></i></a>
                        {% else %}
                            <a href="?o=given_name{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'First Name' %}</a>
                        {% endif %}
                    </th>
                    <th>
                        {% if parameters.o == "last_name" %}
                            <a href="?o=-last_name{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'Last Name' %}&nbsp;<i class="fas fa-caret-up"></i></a>
                        {% elif parameters.o == "-last_name" %}
                            <a href="?o={% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'Last Name' %}&nbsp;<i class="fas fa-caret-down"></i></a>
                        {% else %}
                            <a href="?o=last_name{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'Last Name' %}</a>
                        {% endif %}
                    </th>
                    <th>
                        {% if parameters.o == "telephone" %}
                            <a href="?o=-telephone{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'Phone' %}&nbsp;<i class="fas fa-caret-up"></i></a>
                        {% elif parameters.o == "-telephone" %}
                            <a href="?o={% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'Phone' %}&nbsp;<i class="fas fa-caret-down"></i></a>
                        {% else %}
                            <a href="?o=telephone{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'Phone' %}</a>
                        {% endif %}
                    </th>
                    <th>
                        {% if parameters.o == "email" %}
                            <a href="?o=-email{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'E-Mail' %}&nbsp;<i class="fas fa-caret-up"></i></a>
                        {% elif parameters.o == "-email" %}
                            <a href="?o={% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'E-Mail' %}&nbsp;<i class="fas fa-caret-down"></i></a>
                        {% else %}
                            <a href="?o=email{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'E-Mail' %}</a>
                        {% endif %}
                    </th>
                    <th>{% trans 'Role' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for staff in staff_list %}
                <tr>
                    <td>{{ staff.id|intcomma }}</td>
                    <td>{% if staff.given_name %}{{ staff.given_name }}{% else %}-{% endif %}</td>
                    <td>{% if staff.last_name %}{{ staff.last_name }}{% else %}-{% endif %}</td>
                    <td>
                        {% if staff.telephone %}<a href="tel:{{ staff.telephone }}">{{ staff.telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}
                    </td>
                    <td>{% if staff.email %}<a href="mailto:{{ staff.email }}">{{ staff.email }}</a>{% else %}-{% endif %}</td>
                    <td>
                        {% if staff.owner %}
                            {% for group in staff.owner.groups.all %}
                                {{ group }}
                            {% endfor %}
                        {% else %}-{% endif %}
                    </td>
                    <td>
                        <a href="{% url 'workery_tenant_team_lite_retrieve' 'list' staff.id %}?page={{ page_obj.number }}">{% trans 'View' %}&nbsp;<i class="fas fa-chevron-right"></i></a>
                    </td>
                </tr>
                {% empty %}
                No staff yet.
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1{% if parameters.o %}&o={{ parameters.o }}{% endif %}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if parameters.o %}&o={{ parameters.o }}{% endif %}">previous</a>
        {% endif %}
        <span class="current">
        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if parameters.o %}&o={{ parameters.o }}{% endif %}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if parameters.o %}&o={{ parameters.o }}{% endif %}">last &raquo;</a>
        {% endif %}
        </span>
    </div>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
