{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n shared_foundation_tags humanize %}

{% block title %}
{% trans 'Skill Set | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
    /**
     *  When page loads, the following code will be run first.
     */
    $(document).ready(function () {
        //------------------------//
        // SELECT2 INITIALIZATION //
        //------------------------//
        $('#insurance_requirements').select2();
    });

    /**
     *  Function to make text readable removing underscore and capitalizing
     */
    function humanize(str) {
    	var frags = str.split('_');
    	for (i=0; i<frags.length; i++) {
      		frags[i] = frags[i].charAt(0).toUpperCase() + frags[i].slice(1);
    	}
    	return frags.join(' ');
    }
	
    function click_cancel_button() {
        window.location = "{% url 'workery_tenant_settings_skill_set_list' %}";
    }

    function click_submit_button() {
        update_skill_set_api(
            {{ skill_set.pk }},
            {
                'category': $('#category').val(),
                'sub_category': $('#sub_category').val(),
                'description': $('#description').val(),
                'insurance_requirements': $('#insurance_requirements').val()
            },
            function(skill_set) {
                console.log(skill_set);
                window.location = "{% url 'workery_tenant_settings_skill_set_list' %}?was_modified=True";
            },
	    function(xhr,status,error) { // Error
                // STEP 1: Convert to JSON.
                var err = JSON.parse(xhr.responseText);
                // For debugging purposes only.
                console.log(err);
                // STEP 2: CLEAR EXISTING TEXT.
                $('#all_error_result').html("");
		$('#all_error_result').removeClass('error-block');
		
                // STEP 3: PRINT OUR ERROR IN THE TOP ERROR PANEL.
                for(var prop in err) {
                    if(err.hasOwnProperty(prop)) {
                        var val = err[prop];
			var fdname = humanize(prop);
			// Errors box code    
                        $('#all_error_result').append("<div class='form-error'><b>"+fdname+":</b> "+val+" </div>");
			$('#all_error_result').addClass('error-block');
			
			// Inline fields errors code
			$('#'+prop+'-error').html("<ul><li>"+val+"</li></ul>");
			$('#add-client-form').addClass('was-validated');
                    }
                }
                // STEP 4: FOCUS TO WHERE THE ERROR IS OCCURING.
                $('html, body').animate({ scrollTop: $('#id_page_title').offset().top }, 'slow');
                // STEP 5: ADD ERROR MESSAGES TO THE FIELDS.
                for(var prop in err) {
                    if(err.hasOwnProperty(prop)) {
                        var val = err[prop];
                        console.log("KEY", prop);
                        console.log("VALUE", val);
                        //TODO: IMPLEMENT - Attach the message to the field.
                    }
                }
            },
            function(json_result) {

            },
            function(x, y) {

            }
        );
    }

</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}"><i class="fas fa-tachometer-alt"></i>&nbsp;{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_settings_launchpad' %}"><i class="fas fa-cog"></i>&nbsp;{% trans 'Settings' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_settings_skill_set_list' %}">{% trans 'Skill Sets' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Skill Set' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <h1 id="id_page_title">Skill Set</h1>

    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <div class="col-sm-5 mx-auto mt-2">
        <!-- Residential form -->
        <div class="col-sm-12 fade show active" id="client-form" aria-labelledby="commercial">
            <p><span class="text-secondary font-italic"><sup>*</sup>&nbsp;-&nbsp;Indicates required field to fill out.</span></p>
            <!-- Error Output -->
            <div id="all_error_result" name="all_error_result" class="alert alert-error fade show" role="alert">
	    </div>
            <form id="add-client-form" method="post" class="needs-validation" action="" novalidate>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-4">
                        <label for="category">Category</label>
                        <input type="text" class="form-control form-control-lg border border-primary" id="category" name="category" placeholder="Text" minlength="3" required="" autofocus value="{{ skill_set.category }}">
                        <div id="category-error" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group col-md-12 mb-4">
                        <label for="sub_category">Sub-Category</label>
                        <input type="text" class="form-control form-control-lg border border-primary" id="sub_category" name="sub_category" placeholder="Text" minlength="3" required="" value="{{ skill_set.sub_category }}">
                        <div id="sub_category-error" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group col-md-12 mb-4">
                        <label for="insurance_requirements">Insurance Requirement(s)</label>
                        <select id="insurance_requirements" name="insurance_requirements" class="form-control form-control-lg border border-success" name="states[]" required="" multiple="multiple">
                        {% for insurance_requirement in insurance_requirements %}
                            <option value="{{ insurance_requirement.id }}" id="insurance_requirement_option_id_{{ insurance_requirement.id }}" {% if insurance_requirement in skill_set.insurance_requirements.all %}selected{% endif %}>{{ insurance_requirement }}</option>
                        {% endfor %}
                        </select>
                        <div id="insurance_requirements-error" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group col-md-12 mb-4">
                        <label for="description">Description</label>
                        <input type="text" class="form-control form-control-lg border border-primary" id="description" name="description" placeholder="Description" minlength="3" required="" value="{{ skill_set.description }}">
                        <div id="description-error" class="invalid-feedback"></div>
                    </div>
                </div>
            </form>

            <!-- end SUBMIT BUTTON -->
            <div class="form-group col-md-12 mb-3 p-0 mx-auto text-center">
                <button id="id_submit_btn"
                     class="btn btn-primary btn-lg mt-4 float-right pl-4 pr-4"
                      type="button"
                   onclick="click_submit_button();">
                    <i class="fas fa-check"></i> Update</button>
                <button id="id_cancel_btn"
                     class="btn btn-orange btn-lg mt-4 float-left pl-4 pr-4"
                      type="button"
                   onclick="click_cancel_button();">
                    <i class="fas fa-times"></i>&nbsp;Cancel
                </button>
            </div>
            <!-- end SUBMIT BUTTON -->

        </div>
    </div>


    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
