{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize foundation_tags %}

{% block title %}
{% trans 'Client List | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
/**
 *  Function will attempt to submit the form to the API server. This
 *  funciton will:
 *  (1) Lock / Unlock the submit button.
 *  (2)
 */
function click_add_button() {
    //
    create_job_comment_api(
        {
            'about': {{ job.id }},
            'extra_text': $('#comment').val(),
        },
        function(result_dict) { // Success
            // FOR DEBUGGING PURPOSES ONLY.
            console.log(result_dict);

            // REDIRECT TO SUCCESS PAGE.
            location.reload(true);
        },
        function(xhr,status,error) { // Error
            // STEP 1: Convert to JSON.
            var err = JSON.parse(xhr.responseText);

            // For debugging purposes only.
            console.log(err);

            // // STEP 2: CLEAR EXISTING TEXT.
            // $('#all_error_result').html();
            //
            // // STEP 3: PRINT OUR ERROR.
            // for(var prop in err) {
            //     if(err.hasOwnProperty(prop)) {
            //         var val = err[prop];
            //         console.log(val);
            //         $('#all_error_result').append("<p><b>"+prop+"</b>"+val+"</p><br />");
            //     }
            // }
            //
            // // STEP 4: FOCUS TO WHERE THE ERROR IS OCCURING.
            // $('html, body').animate({ scrollTop: $('#id_page_title').offset().top }, 'slow');
        },
        function() { // Finally
            // UNLOCK THE "SUBMIT" BUTTON TO BE AVAILABLE FOR USAGE.
            // enable_btn();
        }
    );
}
</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if template == 'search' %}

            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_job_summary' %}">{% trans 'Jobs' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_job_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active">{% trans 'Search Results' %}</li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_retrieve' template job.id %}">{% trans 'Job #' %}{{ job.id|intcomma }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Job Activity Sheet' %}</li>

            {% elif template == 'list' %}

            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_summary' %}">{% trans 'Jobs' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_list' %}">{% trans 'List' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_retrieve' template job.id %}">{% trans 'Job #' %}{{ job.id|intcomma }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Job Activity Sheet' %}</li>

            {% else %}

	    	<li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_summary' %}">{% trans 'Jobs' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_retrieve' template job.id %}">{% trans 'Job #' %}{{ job.id|intcomma }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Job Activity Sheet' %}</li>

            {% endif %}
	  	</ol>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_modified == 'True' %}
    <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
        Client <strong>Successfully</strong> updated.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% url 'o55_tenant_job_retrieve' template job.id %}" role="button">
                <svg class="svg-inline--fa fa-arrow-left fa-w-14" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
            </svg><!-- <i class="fas fa-arrow-left"></i> -->&nbsp;{% trans 'Back to Job Details' %}</a>
		</div>
	</div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1>{% trans 'Job Activity Sheet' %}</h1>

    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <h2>Available Associates</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans 'Associate ID #' %}</th>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Total Contact Count' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for associate in available_associates_list %}
                <tr>
                    <td>{{ associate.id|intcomma }}</td>
                    <td>{{ associate }}</td>
                    <td>{{ associate.activity_sheet.count }}</td>
                    <td>
                        <a href="{% url 'o55_tenant_job_activity_sheet_retrieve_and_create' template job.id %}?associate_id={{ associate.id }}">Assign</a>
                    </td>
                </tr>
                {% empty %}
                No jobs yet.
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM -->

    <br />
    <br />


    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <h2>Activity Sheet Items</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans 'ID #' %}</th>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Has Accepted?' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in existing_activity_sheet.all %}
                <tr>
                    <td>{{ item.id|intcomma }}</td>
                    <td>{{ item.associate }}</td>
                    <td>{{ item.has_accepted_job }}</td>
                    <td></td>
                </tr>
                {% empty %}
                No activity sheet items yet.
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM -->



    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->

</main>

{% endblock content %}
