{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize foundation_tags %}

{% block title %}
{% trans 'Job List | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<!-- API JAVASCRIPT -->
<!----------------------------------------------------------------------------->
{% include 'tenant_api/skillset_api_js.html' %}
<!----------------------------------------------------------------------------->
<!-- end API JAVASCRIPT -->

<!-- CUSTOM JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<script>
    // // STEP 1 - Fetch the values we've saved in localStorage.
    // var tmp_job_type = localStorage.getItem("tmp_job_type");
    // var tmp_home_support = localStorage.getItem("tmp_home_support");
    // console.log(tmp_job_type);
    // console.log(tmp_home_support);
    //
    // // STEP 2 - Update the GUI with our saved values.
    // $("input[name=job-type][value=" + tmp_job_type + "]").prop('checked', true);
    // $("input[name=home-support][value=" + tmp_home_support + "]").prop('checked', true);

    // Pre-populate the field with previous data.
    $(document).ready(function() {
        // // Populate our 'select2' chosen values.
        // var tmp_skillsets = localStorage.getObj("tmp_skillsets");
        // $('#skillsets').val(tmp_skillsets);

        // Initialize our 'select2' element.
        $('.js-example-basic-multiple').select2();
    });
</script>
<!----------------------------------------------------------------------------->
<!-- end CUSTOM JAVASCRIPT -->

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if template == 'search' %}

            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_job_summary' %}">{% trans 'Jobs' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_job_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Search Results' %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Job #' %}{{ object.id|intcomma }}</li>

            {% elif template == 'list' %}

            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_summary' %}">{% trans 'Jobs' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_list' %}">{% trans 'List' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Job #' %}{{ object.id|intcomma }}</li>

            {% else %}

	    	<li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_summary' %}">{% trans 'Jobs' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Job #' %}{{ object.id|intcomma }}</li>

            {% endif %}
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_modified == 'True' %}
    <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
        Job <strong>Successfully</strong> updated.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% if template == 'search' %}{% url 'o55_tenant_job_search' %}{% elif template == 'list' %}{% url 'o55_tenant_job_list' %}{% else %}{% url 'o55_tenant_job_summary' %}{% endif %}" role="button">
                <svg class="svg-inline--fa fa-arrow-left fa-w-14" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
            </svg><!-- <i class="fas fa-arrow-left"></i> -->&nbsp;{% trans 'Back to Job Home' %}</a>
		</div>
	</div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1>{% trans 'View Job' %}</h1>

    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <div class="row">
	<!-- Residential form -->
        <div class="col-md-12 fade show active" aria-labelledby="residential">
        <h3 class="pt-4 pb-2 text-center">Job Details</h3>
        <form id="add-customer-form" method="post" class="needs-validation" action="" novalidate>
	<div class="col-sm-5 mx-auto mt-2">
                <!-- ################################################################## -->
                <!-- ######################## JOB DETAILS ######################## -->
                <!-- ################################################################## -->
                <p class="border-bottom mb-3 pb-1 text-secondary">Job Details</p>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-4">
                        <label for="customer">Customer</label>
                        <p>{% if job.customer %}<a href="{% url 'o55_tenant_customer_retrieve' template job.customer.id %}" target="_blank">{{ job.customer }}&nbsp;<i class="fas fa-link"></i></a>{% else %}-{% endif %}</p>
                        <div id="customer-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-4">
                        <label for="description">Description</label>
                        <p>{% if job.description %}{{ job.description }}{% else %}-{% endif %}</p>
                        <div id="description-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-4">
                        <label for="skill_sets">Skill Sets</label>
                        <p>
                            {% for skill_set in job.skill_sets.all %}
                                <span class="badge badge-info badge-lg">{{ skill_set.sub_category }}</span>
                            {% empty %}
                                -
                            {% endfor %}
                        </p>
                        <div id="skill_sets-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-4">
                        <label for="associate">Assigned Associate</label>
                        <p>{% if job.associate %}<a href="{% url 'o55_tenant_member_retrieve' template job.associate.id %}" target="_blank">{{ job.associate }}&nbsp;<i class="fas fa-link"></i></a>{% else %}-{% endif %}</p>
                        <div id="associate-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-4">
                        <label for="assignment_date">Assignment Date</label>
                        <p>{% if job.assignment_date %}{{ job.assignment_date }}{% else %}-{% endif %}</p>
                        <div id="assignment_date-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-4">
                        <label for="is_home_support_service">Is Home Support Service</label>
                        <p>{{ job.is_home_support_service }}</p>
                        <div id="is_home_support_service-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-4">
                        <label for="is_ongoing">Is ongoing?</label>
                        <p>{{ job.is_ongoing }}</p>
                        <div id="is_ongoing-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-4">
                        <label for="is_cancelled">Is Cancelled?</label>
                        <p>{{ job.is_cancelled }}</p>
                        <div id="is_cancelled-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-4">
                        <label for="completion_date">Completion date</label>
                        <p>{% if job.completion_date %}{{ job.completion_date }}{% endif %}</p>
                        <div id="completion_date-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-4">
                        <label for="hours">Hours</label>
                        <p>{{ job.hours }}</p>
                        <div id="hours-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-4">
                        <label for="service_fee">Service fee</label>
                        <p>{{ job.service_fee }}</p>
                        <div id="service_fee-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-4">
                        <label for="payment_date">Payment Date</label>
                        <p>{% if job.payment_date %}{{ job.payment_date }}{% else %}-{% endif %}</p>
                        <div id="payment_date-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <!-- ################################################################## -->
                <!-- ######################## end JOB DETAILS ######################## -->
                <!-- ################################################################## -->

                <!-- ACTIVITY SHEET -->
                <!------------------------------------------------------------->
                <h2>Activity Sheet</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{% trans 'ID #' %}</th>
                                <th>{% trans 'Order ID' %}</th>
                                <th>{% trans 'Has Accepted?' %}</th>
                                <th>{% trans 'Created At' %}</th>
                                <th>{% trans 'Reason' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for activity_sheet_item in activity_sheet_items.all %}
                            <tr>
                                <td>{{ activity_sheet_item.id|intcomma }}</td>
                                <td>
                                    <a href="{% url 'o55_tenant_job_retrieve' template activity_sheet_item.job.id %}">
                                        {{ activity_sheet_item.job.id|intcomma }}
                                    </a>
                                </td>
                                <td>{{ activity_sheet_item.has_accepted_job }}</td>
                                <td>{{ activity_sheet_item.created_at }}</td>
                                <td>{{ activity_sheet_item.comment }}</td>
                            </tr>
                            {% empty %}
                            No jobs yet.
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!------------------------------------------------------------->
                <!-- end ACTIVITY SHEET -->
	</div>
	<div class="form-group col-md-10 mb-3 mx-auto text-center">
	    <div class="row">


                <!-- COMMENTS BUTTON -->
                <div class="col-sm-4">
                    <a href="{% url 'o55_tenant_job_comments_retrieve' template object.id %}">
                    <button  id="id_submit_btn"
                        class="btn btn-success btn-lg btn-fxw mt-4"
                        type="button">
                    <i class="far fa-comments"></i>&nbsp;{% trans 'View Comments' %}
                    </button>
                    </a>
                </div>
                <!-- end COMMENTS BUTTON -->
                <!-- end SUBMIT BUTTON -->
                <div class="col-sm-4">
                    <a href="{% url 'o55_tenant_job_update' template object.id %}">
                    <button  id="id_submit_btn"
                        class="btn btn-orange btn-lg btn-fxw mt-4"
                        type="button">
                    <i class="fas fa-pencil-alt"></i>&nbsp;{% trans 'Edit Job' %}
                    </button>
                    </a>
                </div>
                <!-- end SUBMIT BUTTON -->
	    </div>
	</div>
        </form>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM -->


    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->

</main>

{% endblock content %}
