{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n foundation_tags humanize djmoney %}

{% block title %}
{% trans 'Add New Client | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<!-- API JAVASCRIPT -->
<!----------------------------------------------------------------------------->
{% include 'tenant_api/customers_api_js.html' %}
{% include 'tenant_api/jobs_api_js.html' %}
<!----------------------------------------------------------------------------->
<!-- end API JAVASCRIPT -->


<!-- CUSTOM JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<script>
    /**
     *  When page loads, the following code will be run first.
     */
    $(document).ready(function () {
        // Initialize our datepicker jQuery code with our HTML view.
        $( "#assignment_date" ).datepicker({
            dateFormat: 'yy-mm-dd'  // https://stackoverflow.com/a/7500097
        });
        $( "#completion_date" ).datepicker({
            dateFormat: 'yy-mm-dd'  // https://stackoverflow.com/a/7500097
        });
        $( "#payment_date" ).datepicker({
            dateFormat: 'yy-mm-dd'  // https://stackoverflow.com/a/7500097
        });

        // Initialize our datepicker jQuery code with our HTML view.
        $('#skill_sets').select2();

        /*
         * DOCUMENTATION
         * https://select2.org/
         */
        $('#customer').select2({
            // SETUP OUR STARTUP GUI.
            placeholder: 'Select an option',
            allowClear: true,

            // OVERRIDE OUR GUI TO GET OUR DATA FROM REMOTE API WEB-SERVICE.
            ajax: {
                // THE URL OF OUR API WEB-SERVICE.
                url: "{% url 'o55_customer_list_create_api_endpoint' %}",

                // THE AUTH-CREDENTIALS OF OUR API WEB-SERVICE WHICH WE WILL
                // ATTACH WITH THIS CALL.
                headers: {
                    "Authorization" : rest_api_token,
                    "Content-Type" : "application/json",
                },
                dataType: 'json',

                // OVERRIDE OUR QUERY TO WORK WITH OUR API WEB-SERVICE.
                data: function (params) {
                    var query = {
                        search: params.term,
                    }
                    // Query parameters will be ?search=[term]
                    return query;
                },

                // OVERRIDE HOW WE TAKE THE API WEB-SERVICE RESULTS AND FORMAT
                // FOR THIS LIBRARY.
                processResults: function (data) {
                    // Tranforms the top-level key of the response object from 'items' to 'results'
                    return {
                        results: data['results']
                    };
                },
            }, // end AJAX

            // THE IS WHERE WE FORMAT OUR OUTPUT TO GUI.
            templateResult: function formatState (state) {
                /**
                 *  Function used to take our JSON API results and create our own custom
                 *  GUI elements per each returned customer.
                 */
                // if (!state.id) {
                //     return  state.given_name + " " + state.last_name;
                // }
                var $state = $(
                    '<span id="' + state.id + '">' + state.given_name + " " + state.last_name + '</span>'
                );
                return $state;
            },

            templateSelection: function (data) {
                // if (data.id === '') { // adjust for custom placeholder values
                //     return 'Custom styled placeholder text';
                // }
                return data.given_name + " " + data.last_name;
            }
        }); // end SELECT2



        /*
         * DOCUMENTATION
         * https://select2.org/
         */
        $('#associate').select2({
            // SETUP OUR STARTUP GUI.
            placeholder: 'Select an option',
            allowClear: true,

            // OVERRIDE OUR GUI TO GET OUR DATA FROM REMOTE API WEB-SERVICE.
            ajax: {
                // THE URL OF OUR API WEB-SERVICE.
                url: "{% url 'o55_associate_list_create_api_endpoint' %}",

                // THE AUTH-CREDENTIALS OF OUR API WEB-SERVICE WHICH WE WILL
                // ATTACH WITH THIS CALL.
                headers: {
                    "Authorization" : rest_api_token,
                    "Content-Type" : "application/json",
                },
                dataType: 'json',

                // OVERRIDE OUR QUERY TO WORK WITH OUR API WEB-SERVICE.
                data: function (params) {
                    var query = {
                        search: params.term,
                    }
                    // Query parameters will be ?search=[term]
                    return query;
                },

                // OVERRIDE HOW WE TAKE THE API WEB-SERVICE RESULTS AND FORMAT
                // FOR THIS LIBRARY.
                processResults: function (data) {
                    // Tranforms the top-level key of the response object from 'items' to 'results'
                    return {
                        results: data['results']
                    };
                },
            }, // end AJAX

            // THE IS WHERE WE FORMAT OUR OUTPUT TO GUI.
            templateResult: function formatState (state) {
                /**
                 *  Function used to take our JSON API results and create our own custom
                 *  GUI elements per each returned customer.
                 */
                // if (!state.id) {
                //     return  state.given_name + " " + state.last_name;
                // }
                var $state = $(
                    '<span id="' + state.id + '">' + state.given_name + " " + state.last_name + '</span>'
                );
                return $state;
            },

            templateSelection: function (data) {
                // if (data.id === '') { // adjust for custom placeholder values
                //     return 'Custom styled placeholder text';
                // }
                return data.given_name + " " + data.last_name;
            }
        }); // end SELECT2


    }); // end Ready

    function ajax_post_form_submission() {
        // When we fetch from the `select2` field, we are extracting the unique
        // ID that we rendered because our API web-service requires knowing the
        // customers `ID` value.
        var customer_id = $('#customer').val();
        console.log("customer_id:",customer_id); // For debugging purposes only.
        var associate_id = $('#associate').val();
        console.log("associate_id:",associate_id); // For debugging purposes only.

        var description = $('#describe').val();
        console.log("Description:", description);

        var skill_sets = $('#skill_sets').val();
        console.log("skill_sets:", skill_sets);

        var assignment_date = $('#assignment_date').val();
        console.log("assignment_date:", assignment_date);

        var is_ongoing = $('input[name=is_ongoing]:checked').val();
        is_ongoing = (is_ongoing == "true") ? true : false;
        console.log(is_ongoing);

        var home_support = $('input[name=is_home_support_service]:checked').val();
        home_support = (home_support == 'true') ? true : false;
        console.log(home_support);

        var is_cancelled = $('input[name=is_cancelled]:checked').val();
        is_cancelled = (is_cancelled == 'true') ? true : false;
        console.log(is_cancelled);

        var completion_date = $('#completion_date').val();
        console.log("completion_date:", completion_date);

        var hours = $('#hours').val();
        console.log("hours:", hours);

        var service_fee = $('#service_fee').val();
        console.log("service_fee:", service_fee);

        var payment_date = $('#payment_date').val();
        console.log("payment_date:", completion_date);

        var data_dict = {
            'customer': customer_id,
            'associate': associate_id,
            'description': description,
            'skill_sets': skill_sets,
            'assignment_date': assignment_date,
            'is_ongoing': is_ongoing,
            'is_home_support_service': home_support,
            'is_cancelled': is_cancelled,
            'completion_date': completion_date,
            'hours': hours,
            'service_fee': service_fee,
            'payment_date': payment_date
        };

        update_job_api(
            {{ job.id }},
            data_dict,
            function(json_results) {
                console.log(json_results);
                window.location = "{% url 'o55_tenant_job_retrieve' template job.id %}?was_modified=True";
            },
            function(error_json) {
                console.log(error_json);
            },
            function(completed, hr){

            }
        );
    }


</script>
<!----------------------------------------------------------------------------->
<!-- end CUSTOM JAVASCRIPT -->

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if template == 'search' %}

            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_job_summary' %}">{% trans 'Jobs' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_job_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active">{% trans 'Search Results' %}</li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_retrieve' template job.id %}">{% trans 'Job #' %}{{ job.id|intcomma }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit' %}</li>

            {% elif template == 'list' %}

            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_summary' %}">{% trans 'Jobs' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_list' %}">{% trans 'List' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_retrieve' template job.id %}">{% trans 'Job #' %}{{ job.id|intcomma }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit' %}</li>

            {% else %}

	    	<li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_summary' %}">{% trans 'Jobs' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_retrieve' template job.id %}">{% trans 'Job #' %}{{ job.id|intcomma }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit' %}</li>

            {% endif %}
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% url 'o55_tenant_job_retrieve' template job.id %}" role="button">
                <svg class="svg-inline--fa fa-arrow-left fa-w-14" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
            </svg><!-- <i class="fas fa-arrow-left"></i> -->&nbsp;{% trans 'Back to Job Detail' %}</a>
		</div>
	</div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1>{% trans 'Edit Job' %}</h1>

    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <div class="col-sm-5 mx-auto mt-2">
        <!-- Residential form -->
        <div class="col-sm-12 fade show active" id="client-form" aria-labelledby="residential">
            <h3 class="pt-4 pb-2 text-center">Edit Job Form</h3>
            <p>Use this form to fill out the client information.</p>
            <p><span class="text-secondary font-italic"><sup>*</sup>&nbsp;-&nbsp;Indicates required field to fill out.</span></p>
            <!-- Error Output -->
            <div id="all_error_result" name="all_error_result"></div>
            <!-- end Error Output -->
            <p>&nbsp;</p>
            <form id="add-client-form" method="post" class="needs-validation" action="" novalidate>
            <!-- ############ CUSTOMER (REMOTE DATA) ############ -->
            <p class="border-bottom mb-3 pb-1 text-secondary">Customer Information</p>
            <div class="form-row">
                <div class="form-group col-md-12 mb-4">
                    <select id="customer" name="customer">
                        <option selected="selected" value="{{ job.customer.id }}"><span id="{{ job.customer.id }}">{{ job.customer }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                    </select>
                </div>
            </div>
            <!-- ############ end CUSTOMER (REMOTE DATA) ############ -->

            <p class="border-bottom mb-3 pb-1 text-secondary">Describe the Job:</p>
            <div class="form-row">
                <div class="form-group col-md-12 mb-4">
                    <label for="describe" class="font-b6"></label>
                        <textarea class="form-control form-control-lg border border-primary" id="describe" name="describe" placeholder="Describe here..." rows="4" minlength="10" required>{{ job.description }}</textarea>
                    <div id="describe-error" class="invalid-feedback"></div>
                </div>
            </div>

            <p class="border-bottom mb-3 pb-1 text-secondary">Please select required job skill(s):</p>
            <div class="form-row">
                <div class="form-group col-md-12 mb-4">
                    <label for="describe" class="font-b6"></label>
                    <select id="skill_sets" name="states[]" multiple="multiple">
                        {% for skillset in skillsets %}
                            <option value="{{ skillset.id }}" id="option_id_{{ skillset.id }}" {% if skillset in job.skill_sets.all %}selected="selected"{% endif %}>{{ skillset }}</option>
                        {% endfor %}
                    </select>
                    <div id="describe-error" class="invalid-feedback"></div>
                </div>
            </div>

            <!-- ############ ASSOCIATE (REMOTE DATA) ############ -->
            <p class="border-bottom mb-3 pb-1 text-secondary">Associate Member Information</p>
            <div class="form-row">
                <div class="form-group col-md-12 mb-4">
                    <select id="associate" name="associate">
                        {% if job.associate %}
                            <option selected="selected" value="{{ job.associate.id }}"><span id="{{ job.associate.id }}">{{ job.associate }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                        {% else %}
                            <option selected="selected" value="{{ job.associate.id }}"><span id="{{ job.associate.id }}">{{ job.associate }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <!-- ############ end ASSOCIATE (REMOTE DATA) ############ -->

            <div class="form-group p-0 col-md-7 mb-4">
                <label for="assignment_date">Assignment Date</label>
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control form-control-lg border border-success" id="assignment_date" name="assignment_date" placeholder="yyyy-mm-dd" value="{% if job.assignment_date %}{{ job.assignment_date|date:"Y-m-d" }}{% endif %}" required>
                    <div class="input-group-append">
                        <span class="input-group-text assignment_date-icon bg-success border-success"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <div id="assignment_date-error" class="invalid-feedback"></div>
                </div>
            </div>

            <div class="form-group my-3 py-2">
            <p class="mb-1 font-b6">Is this job one time or ongoing?</p>
            <div class="form-radio custom-control custom-radio custom-control-inline">
               <input type="radio" id="is_ongoing" name="is_ongoing" value="false" class="custom-control-input form-check-input" required {% if job.is_ongoing == False %}checked="checked"{% endif %}>
               <label class="custom-control-label form-check-label" for="is_ongoing">One time</label>
            </div>
            <div class="form-radio custom-control custom-radio custom-control-inline">
               <input type="radio" id="is_ongoing2" name="is_ongoing" value="true" class="custom-control-input form-check-input" required {% if job.is_ongoing == True %}checked="checked"{% endif %}>
               <label class="custom-control-label form-check-label" for="is_ongoing2">Ongoing</label>
               <div id="is_ongoing-error" class="invalid-feedback ml-2"></div>
            </div>
        </div>


        <div class="form-group my-3 pt-2">
            <p class="mb-1 font-b6">Is this job a home support service?</p>
            <div class="form-radio custom-control custom-radio custom-control-inline">
               <input type="radio" id="is_home_support_service" name="is_home_support_service" value="true" class="custom-control-input form-check-input" required {% if job.is_home_support_service == True %}checked="checked"{% endif %}>
               <label class="custom-control-label form-check-label" for="is_home_support_service">Yes</label>
            </div>
            <div class="form-radio custom-control custom-radio custom-control-inline">
               <input type="radio" id="is_home_support_service2" name="is_home_support_service" value="false" class="custom-control-input form-check-input" required {% if job.is_home_support_service == False %}checked="checked"{% endif %}>
               <label class="custom-control-label form-check-label" for="is_home_support_service2">No</label>
               <div id="is_home_support_service-error" class="invalid-feedback ml-2"></div>
            </div>
        </div>


        <div class="form-group my-3 pt-2">
            <p class="mb-1 font-b6">Is cancelled?</p>
            <div class="form-radio custom-control custom-radio custom-control-inline">
               <input type="radio" id="is_cancelled" name="is_cancelled" value="true" class="custom-control-input form-check-input" required {% if job.is_cancelled == True %}checked="checked"{% endif %}>
               <label class="custom-control-label form-check-label" for="is_cancelled">Yes</label>
            </div>
            <div class="form-radio custom-control custom-radio custom-control-inline">
               <input type="radio" id="is_cancelled2" name="is_cancelled" value="false" class="custom-control-input form-check-input" required {% if job.is_cancelled == False %}checked="checked"{% endif %}>
               <label class="custom-control-label form-check-label" for="is_cancelled2">No</label>
               <div id="is_cancelled-error" class="invalid-feedback ml-2"></div>
            </div>
        </div>


        <div class="form-group p-0 col-md-7 mb-4">
            <label for="completion_date">Completion Date</label>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control form-control-lg border border-success" id="completion_date" name="completion_date" placeholder="yyyy-mm-dd" value="{% if job.completion_date %}{{ job.completion_date|date:"Y-m-d" }}{% endif %}" required>
                <div class="input-group-append">
                    <span class="input-group-text completion_date-icon bg-success border-success"><i class="far fa-calendar-alt"></i></span>
                </div>
                <div id="completion_date-error" class="invalid-feedback"></div>
            </div>
        </div>


        <div class="form-group p-0 col-md-7 mb-4">
            <label for="hours">Hours</label>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control form-control-lg border border-success" id="hours" name="hours" placeholder="Hours" minlength="3" maxlength="127" required value="{{ job.hours }}">
                <div id="hours-error" class="invalid-feedback"></div>
            </div>
        </div>


        <div class="form-group p-0 col-md-7 mb-4">
            <label for="service_fee">Service Fee:</label>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control form-control-lg border border-success" id="service_fee" name="service_fee" placeholder="service_fee" minlength="3" maxlength="127" required value="{% if job.service_fee %}{{ job.service_fee.amount }}{% endif %}">
                <div id="service_fee-error" class="invalid-feedback"></div>
            </div>
        </div>


        <div class="form-group p-0 col-md-7 mb-4">
            <label for="payment_date">Payment Date</label>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control form-control-lg border border-success" id="payment_date" name="payment_date" placeholder="yyyy-mm-dd" value="{% if job.payment_date %}{{ job.payment_date|date:"Y-m-d" }}{% endif %}" required>
                <div class="input-group-append">
                    <span class="input-group-text payment_date-icon bg-success border-success"><i class="far fa-calendar-alt"></i></span>
                </div>
                <div id="payment_date-error" class="invalid-feedback"></div>
            </div>
        </div>

            <!-- end SUBMIT BUTTON -->
            <div class="form-group col-md-12 mb-3 mx-auto text-center">
                <button  id="id_submit_btn"
                    class="btn btn-primary btn-lg btn-fxw mt-4"
                    onclick="ajax_post_form_submission();"
                    type="button">
                <i class="fas fa-check"></i>&nbsp;{% trans 'Update Job' %}
                </button>
            </div>
            <!-- end SUBMIT BUTTON -->
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM -->


    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>

{% endblock content %}
