{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize %}

{% block title %}
{% trans 'Job List | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}


<!-- API JAVASCRIPT -->
<!----------------------------------------------------------------------------->
{% include 'tenant_api/customers_api_js.html' %}
{% include 'tenant_api/skillset_api_js.html' %}
<!----------------------------------------------------------------------------->
<!-- end API JAVASCRIPT -->


<!-- CUSTOM JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<script>
    /**
     *  When page loads, the following code will be run first.
     */
    $(document).ready(function () {
    //     // Whenever a key is entered, look up the users.
    //     $('#firstname').keypress(debounce(function (event) {
    //         // do the Ajax request
    //         console.log("Running");
    //         get_customers(
    //            {
    //                'search': $('#firstname').val()
    //            },
    //            function(json){
    //                console.log(json);
    //            },
    //            function(error_json){
    //                console.log(error_json);
    //            }
    //         );
    //     }, 250));
    // }); // end Ready

    /*
     * DOCUMENTATION
     * https://select2.org/
     */
    $('.js-data-example-ajax').select2({
        // SETUP OUR STARTUP GUI.
        placeholder: 'Select an option',
        allowClear: true,

        // OVERRIDE OUR GUI TO GET OUR DATA FROM REMOTE API WEB-SERVICE.
        ajax: {
            url: 'http://london.overfiftyfive.com/api/customers',
            headers: {
                "Authorization" : rest_api_token,
                "Content-Type" : "application/json",
            },
            dataType: 'json',
            data: function (params) {
                var query = {
                    search: params.term,
                }
                // Query parameters will be ?search=[term]
                return query;
            },
            processResults: function (data) {
                // Tranforms the top-level key of the response object from 'items' to 'results'
                return {
                    results: data['results']
                };
            },
        }, // end AJAX

        // THE IS WHERE WE FORMAT OUR OUTPUT TO GUI.
        templateResult: formatState,

        templateSelection: function (data) {
            if (data.id === '') { // adjust for custom placeholder values
                return 'Custom styled placeholder text';
            }
            return data.given_name + " " + data.last_name;
        }
    });
    });

    /**
     *  Function used to take our JSON API results and create our own custom
     *  GUI elements per each returned customer.
     */
    function formatState (state) {
        if (!state.id) {
            return  state.given_name + " " + state.last_name;
        }

        return  state.given_name + " " + state.last_name;
    };
</script>
<!----------------------------------------------------------------------------->
<!-- end CUSTOM JAVASCRIPT -->


<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if template == 'search' %}

            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_job_summary' %}">{% trans 'Jobs' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_job_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active">{% trans 'Search Results' %}</li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_retrieve' template object.id %}">{% trans 'Job #' %}{{ object.id|intcomma }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit' %}</li>

            {% elif template == 'list' %}

            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_summary' %}">{% trans 'Jobs' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_list' %}">{% trans 'List' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_retrieve' template object.id %}">{% trans 'Job #' %}{{ object.id }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit' %}</li>

            {% else %}

	    	<li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_summary' %}">{% trans 'Jobs' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_retrieve' template object.id %}">{% trans 'Job #' %}{{ object.id }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit' %}</li>

            {% endif %}
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% url 'o55_tenant_job_retrieve' template object.id %}" role="button">
                <svg class="svg-inline--fa fa-arrow-left fa-w-14" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
            </svg><!-- <i class="fas fa-arrow-left"></i> -->&nbsp;{% trans 'Back to Job Detail' %}</a>
		</div>
	</div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1>{% trans 'Edit Job' %}</h1>

    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <div class="col-md-5 mx-auto mt-2">
		<h3 class="pt-4 pb-2 text-center">Edit Job</h3>



        <!-- FORM -->
        <!------------------------------------------------------------------------->
        <div class="col-sm-5 mx-auto mt-2">
            <!-- Residential form -->
            <div class="col-sm-12 fade show active" id="client-form" aria-labelledby="residential">
                <h3 class="pt-4 pb-2 text-center">Add Client Form</h3>
                <p>Use this form to fill out the client information.</p>
                <p><span class="text-secondary font-italic"><sup>*</sup>&nbsp;-&nbsp;Indicates required field to fill out.</span></p>
                <!-- Error Output -->
                <div id="all_error_result" name="all_error_result"></div>
                <!-- end Error Output -->
                <p>&nbsp;</p>
                <form id="add-client-form" method="post" class="needs-validation" action="" novalidate>
                <!-- ############ PERSON ############ -->
                <p class="border-bottom mb-3 pb-1 text-secondary">Personal Information</p>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-4">
                        <select class="js-data-example-ajax" name="state">
                            <option>-----------------------------------------</option>
                        </select>

                    </div>
                </div>
            </div>


		</form>
	</div>
    <!------------------------------------------------------------------------->
    <!-- end FORM -->

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->

</main>

{% endblock content %}
