{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize foundation_tags %}

{% block title %}
{% trans 'Client List | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
/**
 *  Function will attempt to submit the form to the API server. This
 *  funciton will:
 *  (1) Lock / Unlock the submit button.
 *  (2)
 */
function click_add_button() {
    //
    create_team_comment_api(
        {
            'about': {{ staff.id }},
            'extra_text': $('#comment').val(),
        },
        function(result_dict) { // Success
            // FOR DEBUGGING PURPOSES ONLY.
            console.log(result_dict);

            // REDIRECT TO SUCCESS PAGE.
            location.reload(true);
        },
        function(xhr,status,error) { // Error
            // STEP 1: Convert to JSON.
            var err = JSON.parse(xhr.responseText);

            // For debugging purposes only.
            console.log(err);

            // // STEP 2: CLEAR EXISTING TEXT.
            // $('#all_error_result').html();
            //
            // // STEP 3: PRINT OUR ERROR.
            // for(var prop in err) {
            //     if(err.hasOwnProperty(prop)) {
            //         var val = err[prop];
            //         console.log(val);
            //         $('#all_error_result').append("<p><b>"+prop+"</b>"+val+"</p><br />");
            //     }
            // }
            //
            // // STEP 4: FOCUS TO WHERE THE ERROR IS OCCURING.
            // $('html, body').animate({ scrollTop: $('#id_page_title').offset().top }, 'slow');
        },
        function() { // Finally
            // UNLOCK THE "SUBMIT" BUTTON TO BE AVAILABLE FOR USAGE.
            // enable_btn();
        }
    );
}
</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if template == 'search' %}

            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_team_summary' %}">{% trans 'Staff' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_team_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Search Results' %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Staff Member #' %}{{ object.id }}</li>

            {% elif template == 'list' %}

            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_team_summary' %}">{% trans 'Staff' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_team_list' %}">{% trans 'List' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Staff Member #' %}{{ object.id }}</li>

            {% else %}

	    	<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_team_summary' %}">{% trans 'Staff' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Staff Member #' %}{{ object.id }}</li>

            {% endif %}
	  	</ol>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_modified == 'True' %}
    <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
        Client <strong>Successfully</strong> updated.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% if template == 'search' %}{% url 'workery_tenant_team_search' %}{% elif template == 'list' %}{% url 'workery_tenant_team_list' %}{% else %}{% url 'workery_tenant_team_summary' %}{% endif %}" role="button">
                <svg class="svg-inline--fa fa-arrow-left fa-w-14" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
            </svg><!-- <i class="fas fa-arrow-left"></i> -->&nbsp;{% if template == 'search' %}{% trans 'Back to Search' %}{% elif template == 'list' %}{% trans 'Back to Staff Member\'s List' %}{% else %}{% trans 'Back to Staff Member\'s Home' %}{% endif %}</a>
		</div>
	</div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1>{% trans 'View Staff Member' %}</h1>

    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    <div class="row">
        <div class="step-navigation">
            <div class="st-grey">
                <a href="{% url 'workery_tenant_team_lite_retrieve' template staff.id %}">
                    <i class="fa fa-id-badge"></i>&nbsp;<span class="">Summary</span>
                </a>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_team_full_retrieve' template staff.id %}">
                    <i class="fa fa-id-card"></i>&nbsp;<span class="">Details</span>
                </a>
            </div>
            <div class="st-grey active">
                <i class="fa fa-comments"></i>&nbsp;<span class="">Comments</span>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->

    <div class="container">
        <div class="row align-items-start">
            <!-- <h1>Comments/Notes Screen</h1> -->
            <div class="col-lg-12">
                <h3 class="py-2 text-center mb-4" id="id_page_title">Customer Comments</h3>

                <!-- FORM -->
                <!------------------------------------------------------------------------->
                {% for comment in staff.comments.all %}
                    <!-- Item -->
                    <div class="media mt-4">
                        <img class="mr-3 img-head" src="{% static 'img/placeholder.png' %}" alt="Image">
                        <div class="media-body">
                            <div class="row">
                                <h5 class="mt-0 col-sm-10">
                                    <strong>
                                        {% if comment.created_by %}
                                            {{ comment.created_by.first_name }} {{ comment.created_by.last_name }}
                                        {% else %}
                                            {% trans 'Legacy' %}
                                        {% endif %}
                                    </strong>
                                </h5>
                                <h6 class="col-sm-2 text-secondary text-right">
                                    {% if comment.created_by %}
                                        {{ comment.created_at|date:"N j, Y"}} <br> {{ comment.created_at|date:"P"}}
                                    {% else %}
                                        {% trans '-' %}
                                    {% endif %}
                                </h6>
                            </div>
                            <p>{{ comment.text }}</p>
                        </div>
                    </div>
                    <!-- end Item -->
                {% endfor %}

                <hr class="my-4">
                <!-- Add note form -->
                <form>
                    <div class="form-group">
                        <label for="comment">Add Comment/Note: </label>
                        <textarea class="form-control form-control-lg border border-primary" id="comment" name="comment" placeholder="Write a note here..." rows="4" required></textarea>
                        <small id="comment-error" class="form-text text-muted">Maximum 1,000 characters.</small>
                    </div>
                    <button id="id_submit_btn"
                         class="btn btn-lg float-right pl-4 pr-4 btn-primary"
                          type="button"
                       onclick="click_add_button();">
                        Add Note <i class="fas fa-arrow-right"></i></button>
                </form>

                <!------------------------------------------------------------------------->
                <!-- end FORM -->

            </div>
        </div>
    </div>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->

</main>

{% endblock content %}
