{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize tz shared_foundation_tags %}

{% block title %}
{% trans 'Dashboard | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}


<script>
   //
   // THE FOLLOWING CODE IS TO BE USED BY THE `ROOT` USERS WHICH WILL BE
   // FORWARDED FROM THE `FRANCHISE LIST` PAGE VIEW WITH THE API KEY IN THE URL
   // PARAMETERS.
   //
   {% if parameters.api_key and parameters.orig_iat %}

   // STEP 1 OF 2: Extract the parameters from the URL.
   var private_api_key = "{{ parameters.api_key }}";
   var private_api_key_orig_iat = "{{ parameters.orig_iat }}";

   // STEP 2 OF 2: Save the api key in the browser.
   localStorage.setItem("private_api_key", private_api_key);
   localStorage.setItem("private_api_key_orig_iat", private_api_key_orig_iat);

   {% endif %}

   function ajax_delete(obj_id) {
        delete_away_log_api(
            parseInt(obj_id),
            function(away_log) {
                console.log(away_log);
                window.location = "{% url 'workery_tenant_dashboard_master' %}?was_deleted=True";
            },
            function(json_results) {
                console.log(json_results);
            },
            function(xhr, status) {
                console.log(xhr, status);
            }
        );
    }

</script>


<main id="main" role="main">
    <h1>Dashboard</h1>
    <section class="row text-center placeholders">


        <div class="col-sm-3 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-pink">
                <a href="{% url 'workery_tenant_customer_summary' %}" class="d-block link-ndecor" title="Clients">
                    <h1 class="circle-title">{{ customers_count|intcomma }}</h1>
                </a>
            </div>
            <h4>Clients</h4>
            <div class="text-muted">View your client list</div>
        </div>


        <div class="col-sm-3 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-dgreen">
                <a href="{% url 'workery_tenant_job_summary' %}" class="d-block link-ndecor" title="Jobs">
                    <h1 class="circle-title">{{ jobs_count|intcomma }}</h1>
                </a>
            </div>
            <h4>Jobs</h4>
            <span class="text-muted">View your job history</span>
        </div>


        <div class="col-sm-3 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-dblue">
                <a href="{% url 'workery_tenant_member_summary' %}" class="d-block link-ndecor" title="Members">
                    <h1 class="circle-title">{{ associates_count|intcomma }}</h1>
                </a>
            </div>
            <h4>Active Members</h4>
            <span class="text-muted">View Member Data</span>
        </div>

        <div class="col-sm-3 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-orange">
                <a href="{% url 'workery_tenant_task_list' %}" class="d-block link-ndecor" title="Tasks">
                    <h1 class="circle-title">{{ tasks_count|intcomma }}</h1>
                </a>
            </div>
            <h4>Tasks</h4>
            <span class="text-muted">View your tasks</span>
        </div>

    </section>

    <!-- LATEST ORDERS BY YOU -->
    <h1>{% trans 'Job History' %}</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Job #</th>
                    <th>Client Name</th>
                    <th>Associate Name</th>
                    <th>Last Modified</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for last_modified_job in last_modified_jobs_by_user %}
                <tr>
                    <td>
                        <a href="{% url 'workery_tenant_job_retrieve' 'summary' last_modified_job.id %}">{{ last_modified_job.id|intcomma }}</a>
                    </td>
                    <td>
                        {% if last_modified_job.customer %}
                            {{ last_modified_job.customer }}
                        {% endif %}
                    </td>
                    <td>
                        {% if last_modified_job.associate %}
                            {{ last_modified_job.associate }}
                        {% endif %}
                    </td>
                    <td>
                        {{ last_modified_job.last_modified|timezone:request.tenant.timezone_name|date:"N j, Y - g:i A"}}
                    </td>
                    <td>
                        <a href="{% url 'workery_tenant_job_retrieve' 'summary' last_modified_job.id %}">
                            {% trans 'View' %}&nbsp;<i class="fas fa-chevron-right"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- end LATEST ORDERS BY YOU -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_deleted == 'True' %}
        <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
            Announcement <strong>Successfully</strong> deleted.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <!-- AWAY LOGS -->
    <div class="jumbotron">
        <h1 class="display-4">News Items</h1>
        <div class="table-responsive-sm my-3">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Associate</th>
                  <th scope="col">Reason</th>
                  <th scope="col">Away until</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for awaylog in awaylogs.all %}
                <tr>
                  <td>{{ awaylog.associate }}</td>
                  <td>
                      {% if awaylog.reason == 1 %}
                        {{ awaylog.reason_other }}
                      {% elif awaylog.reason == 2 %}
                        Going on vacation
                      {% elif awaylog.reason == 3 %}
                        Personal reasons
                      {% endif %}
                  </td>
                  <td>
                    {% if awaylog.until_further_notice == False %}
                     {{ awaylog.until_date }}
                    {% else %}
                     Further notice.
                    {% endif %}
                  </td>
                  <td>
                     <button id="id_delete_btn"
                             class="text-danger close"
                             type="button"
                           onclick="ajax_delete({{ awaylog.id }});">
                         <i class="fas fa-times"></i>
                     </button>
                  </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">
                        <p>No items.</p>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">
                        <p class="lead">
                            <a class="btn btn-primary btn-lg px-4" href="{% url 'workery_tenant_settings_away_log_create' %}" role="button"><i class="fas fa-plus"></i> Add</a>
                        </p>
                    </td>
                </tr>
              </tbody>
          </table>
        </div>

        <!-- <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p> -->
    </div>
    <!-- end AWAY LOGS -->
   
    <!-- LATEST ORDERS BY TEAM -->
    <h1 class="mt-2">{% trans 'Team Job History' %}</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Job #</th>
                    <th>Client Name</th>
                    <th>Associate Name</th>
                    <th>Last Modified</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for last_modified_job in last_modified_jobs_by_team %}
                <tr>
                    <td>
                        <a href="{% url 'workery_tenant_job_retrieve' 'summary' last_modified_job.id %}">{{ last_modified_job.id|intcomma }}</a>
                    </td>
                    <td>
                        {% if last_modified_job.customer %}
                            {{ last_modified_job.customer }}
                        {% endif %}
                    </td>
                    <td>
                        {% if last_modified_job.associate %}
                            {{ last_modified_job.associate }}
                        {% endif %}
                    </td>
                    <td>
                        {{ last_modified_job.last_modified|timezone:request.tenant.timezone_name|date:"N j, Y - g:i A"}}
                    </td>
                    <td>
                        <a href="{% url 'workery_tenant_job_retrieve' 'summary' last_modified_job.id %}">
                            {% trans 'View' %}&nbsp;<i class="fas fa-chevron-right"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- end LATEST ORDERS BY TEAM -->

    <!-- ORDER COMMENTS -->
    <h1>{% trans 'Past 5 day comments' %}</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Job #</th>
                    <th>Comment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for order_comment in past_few_day_comments %}
                <tr>
                    <td>
                        <a href="{% url 'workery_tenant_job_retrieve' 'summary' order_comment.about.id %}">{{ order_comment.about.id|intcomma }}</a>
                    </td>
                    <td>
                        {{ order_comment.comment.text|truncatechars:150 }}{% if order_comment.comment.text|length > 150 %}...{% endif %}
                    </td>
                    <td>
                        <a href="{% url 'workery_tenant_job_comments_retrieve' 'summary' order_comment.about.id %}">
                            {% trans 'View' %}&nbsp;<i class="fas fa-chevron-right"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- end ORDER COMMENTS -->
    <a href="{% url 'workery_tenant_job_comments_list' %}" class="mb-4">See more comments&nbsp;<i class="fas fa-chevron-right"></i></a>

    
    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>

{% endblock content %}
