{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize shared_foundation_tags %}

{% block title %}
{% trans 'Client List | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>

</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if template == 'search' %}

            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_customer_summary' %}">{% trans 'Clients' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_customer_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Search Results' %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Client #' %}{{ object.id }}</li>

            {% elif template == 'list' %}

            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_customer_summary' %}">{% trans 'Clients' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_customer_list' %}">{% trans 'List' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Client #' %}{{ object.id|intcomma }}</li>

            {% else %}

	    	<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_customer_summary' %}">{% trans 'Clients' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Client #' %}{{ object.id|intcomma }}</li>

            {% endif %}
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_modified == 'True' %}
    <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
        Associate Client <strong>Successfully</strong> updated.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% if template == 'search' %}{% url 'workery_tenant_customer_search' %}{% elif template == 'list' %}{% url 'workery_tenant_customer_list' %}{% else %}{% url 'workery_tenant_customer_summary' %}{% endif %}" role="button">
               <i class="fas fa-arrow-left"></i>&nbsp;{% if template == 'search' %}{% trans 'Back to Search' %}{% elif template == 'list' %}{% trans 'Back to Client\'s List' %}{% else %}{% trans 'Back to Client\'s Home' %}{% endif %}
            </a>
		</div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1>{% trans 'View Client' %}</h1>

    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    <div class="row">
        <div class="step-navigation">
            <div class="st-grey">
                <a href="{% url 'workery_tenant_customer_lite_retrieve' template customer.id %}">
                    <i class="fa fa-id-badge"></i>&nbsp;<span class="">Summary</span>
                </a>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_customer_full_retrieve' template customer.id %}">
                    <i class="fa fa-id-card"></i>&nbsp;<span class="">Details</span>
                </a>
            </div>
            <div class="st-grey active">
                <i class="fa fa-wrench"></i>&nbsp;<span class="">Jobs</span>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_customer_retrieve_for_comment_list_and_create' template customer.id %}">
                    <i class="fa fa-comments"></i>&nbsp;<span class="">Comments</span>
                </a>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->

    <div class="row mt-4 pt-3 mb-4 pb-2">

        <!-- Residential form -->
        <div class="col-sm-12 fade show active" aria-labelledby="residential">
            <h3 class="pt-4 pb-2 text-center">Jobs List</h3>

            <!-- JOBS -->
            <!------------------------------------------------------------->
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th>{% trans '#' %}</th>
                            <th>{% trans 'Associate' %}</th>
                            <th>{% trans 'Assigned Date' %}</th>
                            <th>{% trans 'Completion Date' %}</th>
                            <th>{% trans 'Status' %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs.all %}
                        <tr>
                            <td>{{ job.id|intcomma }}</td>
                            <td>
                                {% if job.associate %}
                                    <a href="{% url 'workery_tenant_member_lite_retrieve' template job.associate.id %}" target="_blank">{{ job.associate }}&nbsp;<i class="fas fa-external-link-alt"></i></a>
                                {% else %}-{% endif %}
                            </td>
                            <td>{% if job.assignment_date %}{{ job.assignment_date }}{% else %}-{% endif %}</td>
                            <td>{% if job.completion_date %}{{ job.completion_date }}{% else %}-{% endif %}</td>
                            <td>
                                {% if job.is_cancelled %}
                                    {% trans 'Cancelled' %}
                                {% else %}
                                    {% if job.completion_date or job.invoice_service_fee_payment_date %}
                                        {% trans 'Completed' %}
                                    {% else %}
                                        {% trans 'Pending' %}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'workery_tenant_job_retrieve' 'list' job.id %}?page={{ page_obj.number }}" target="_blank">{% trans 'View' %}&nbsp;<i class="fas fa-external-link-alt"></i></a>
                            </td>
                        </tr>
                        {% empty %}
                        No jobs yet.
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!------------------------------------------------------------->
            <!-- end JOBS -->

        </div>

    </div>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->

</main>

{% endblock content %}
