{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n foundation_tags humanize %}

{% block title %}
{% trans 'Skill Sets List | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
    function ajax_delete(skill_set_id) {
        delete_skill_set_api(
            parseInt(skill_set_id),
            function(skill_set) {
                window.location = "{% url 'o55_tenant_settings_skill_set_list' %}?was_deleted=True";
            },
            function(json_results) {
                console.log(json_results);
            },
            function(xhr, status) {
                console.log(xhr, status);
            }
        );
    }
</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_settings_launchpad' %}">{% trans 'Settings' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Skill Sets' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_created == 'True' %}
        <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
		    Skill Set <strong>Successfully</strong> created.
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		        <span aria-hidden="true">×</span>
		    </button>
		</div>
    {% endif %}
    {% if parameters.was_modified == 'True' %}
        <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
		    Skill Set <strong>Successfully</strong> updated.
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		        <span aria-hidden="true">×</span>
		    </button>
		</div>
    {% endif %}
    {% if parameters.was_deleted == 'True' %}
        <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
		    Skill Set <strong>Successfully</strong> deleted.
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		        <span aria-hidden="true">×</span>
		    </button>
		</div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <h1>Skill Sets</h1>
    <section class="row text-center placeholders">
        <div class="col-sm-3 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-pink">
                <a href="{% url 'o55_tenant_settings_skill_set_create' %}" class="d-block link-ndecor" title="Add Client">
                    <h1 class="r-circle"><i class="fas fa-plus fa-3x"></i></h1>
                </a>
            </div>
            <h4>Add</h4>
            <div class="text-muted">Add Skill Set</div>
        </div>
    </section>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans 'Category' %}</th>
                    <th>{% trans 'Sub-Category' %}</th>
                    <th>{% trans 'Insurance Requirement' %}</th>
                    <th>{% trans 'Description' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for skill_set in skill_set_list %}
                <tr>
                    <td>
                        {{ skill_set.category }}
                    </td>
                    <td>
                        {{ skill_set.sub_category }}
                    </td>
                    <td>
                        {{ skill_set.insurance_requirement }}
                    </td>
                    <td>
                        {{ skill_set.description }}
                    </td>
                    <td>

                        <button id="id_delete_btn"
                             class="btn btn-danger btn-lg mt-4 float-right pl-4 pr-4"
                              type="button"
                           onclick="ajax_delete({{ skill_set.id }});">
                         <i class="fas fa-trash"></i>
                         {% trans 'Delete' %}
                        </button>

                        <a href="{% url 'o55_tenant_settings_skill_set_update' skill_set.id %}">
                        <button id="id_delete_btn"
                             class="btn btn-warning btn-lg mt-4 float-right pl-4 pr-4"
                              type="button">
                         <i class="fas fa-arrow-right"></i>
                         {% trans 'Edit' %}
                        </button>
                        </a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{{ filter_parameters }}">previous</a>
        {% endif %}
        <span class="current">
        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{{ filter_parameters }}">next</a>
        {% endif %}
        </span>
    </div>



    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
