{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize shared_foundation_tags %}

{% block title %}
{% trans 'Members List | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
    function ajax_get_members() {
        var criteria = [];

        tenant_get_members(
            criteria,
            function(json_results) {
                console.log(json_results)
            },
            function(error) {
                console.debug(error);
                // alert(error);
            }
        );
    }
</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    {% if filter_parameters %}
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    		<li class="breadcrumb-item">
                    <a href="{% url 'workery_tenant_dashboard_master' %}"><i class="fas fa-tachometer-alt"></i>&nbsp;{% trans 'Dashboard' %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'workery_tenant_member_summary' %}"><i class="fas fa-id-card"></i>&nbsp;{% trans 'Members' %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'workery_tenant_member_search' %}">{% trans 'Search' %}</a>
                </li>
	    		<li class="breadcrumb-item active" aria-current="page">{% trans 'Search Results' %}</li>
	  	</ol>
	</nav>
    {% else %}
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    		<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}"><i class="fas fa-tachometer-alt"></i>&nbsp;{% trans 'Dashboard' %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'workery_tenant_member_summary' %}"><i class="fas fa-id-card"></i>&nbsp;{% trans 'Members' %}</a></li>
	    		<li class="breadcrumb-item active" aria-current="page">{% trans 'List' %}</li>
	  	</ol>
	</nav>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <h2>Member List</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        {% if parameters.o == "id" %}
                            <a href="?o=-id{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'ID #' %}&nbsp;<i class="fas fa-caret-up"></i></a>
                        {% elif parameters.o == "-id" %}
                            <a href="?o={% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'ID #' %}&nbsp;<i class="fas fa-caret-down"></i></a>
                        {% else %}
                            <a href="?o=id{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'ID #' %}</a>
                        {% endif %}
                    </th>
                    <th>
                        {% if parameters.o == "given_name" %}
                            <a href="?o=-given_name{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'First Name' %}&nbsp;<i class="fas fa-caret-up"></i></a>
                        {% elif parameters.o == "-given_name" %}
                            <a href="?o={% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'First Name' %}&nbsp;<i class="fas fa-caret-down"></i></a>
                        {% else %}
                            <a href="?o=given_name{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'First Name' %}</a>
                        {% endif %}
                    </th>
                    <th>
                        {% if parameters.o == "last_name" %}
                            <a href="?o=-last_name{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'Last Name' %}&nbsp;<i class="fas fa-caret-up"></i></a>
                        {% elif parameters.o == "-last_name" %}
                            <a href="?o={% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'Last Name' %}&nbsp;<i class="fas fa-caret-down"></i></a>
                        {% else %}
                            <a href="?o=last_name{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'Last Name' %}</a>
                        {% endif %}
                    </th>
                    <th>
                        {% if parameters.o == "telephone" %}
                            <a href="?o=-telephone{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'Phone' %}&nbsp;<i class="fas fa-caret-up"></i></a>
                        {% elif parameters.o == "-telephone" %}
                            <a href="?o={% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'Phone' %}&nbsp;<i class="fas fa-caret-down"></i></a>
                        {% else %}
                            <a href="?o=telephone{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'Phone' %}</a>
                        {% endif %}
                    </th>
                    <th>
                        {% if parameters.o == "email" %}
                            <a href="?o=-email">{% trans 'E-Mail' %}&nbsp;<i class="fas fa-caret-up"></i></a>
                        {% elif parameters.o == "-email" %}
                            <a href="?o=">{% trans 'E-Mail' %}&nbsp;<i class="fas fa-caret-down"></i></a>
                        {% else %}
                            <a href="?o=email">{% trans 'E-Mail' %}</a>
                        {% endif %}
                    </th>
                    <th>
                        {% if parameters.o == "join_date" %}
                            <a href="?o=-join_date{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'Joined' %}&nbsp;<i class="fas fa-caret-up"></i></a>
                        {% elif parameters.o == "-join_date" %}
                            <a href="?o={% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'Joined' %}&nbsp;<i class="fas fa-caret-down"></i></a>
                        {% else %}
                            <a href="?o=join_date{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}">{% trans 'Joined' %}</a>
                        {% endif %}
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for member in associate_list %}
                <tr>
                    <td>{{ member.id|intcomma }}</td>
                    <td>{% if member.given_name %}{{ member.given_name }}{% else %}-{% endif %}</td>
                    <td>{% if member.last_name %}{{ member.last_name }}{% else %}-{% endif %}</td>
                    <td>
                        {% if member.telephone %}<a href="tel:{{ member.telephone }}">{{ member.telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}
                    </td>
                    <td>{% if member.owner.email %}<a href="mailto:{{ member.owner.email }}">{{ member.owner.email }}</a>{% else %}-{% endif %}</td>
                    <td>{% if member.join_date %}{{ member.join_date }}{% else %}-{% endif %}</td>
                    <td>
                        <a href="{% url 'workery_tenant_member_lite_retrieve' 'list' member.id %}?page={{ page_obj.number }}">{% trans 'View' %}&nbsp;<i class="fas fa-chevron-right"></i></a>
                    </td>
                </tr>
                {% empty %}
                No members yet.
                {% endfor %}
            </tbody>
        </table>
    </div>

<nav aria-label="Page navigation">
  <ul class="pagination pagination-lg">
    <li class="page-item">
    	<button type="button" class="btn btn-link btn-lg" data-container="body" data-toggle="popover" title="Jump to page" data-placement="bottom" data-html="true" data-content="<form action method='get'><div class='input-group mb-3'><input type='text' name='page' class='form-control form-control-lg' placeholder='page' aria-label='page' aria-describedby='button-addon2'>
	  <div class='input-group-append'>
	    <button class='btn btn-info btn-lg' type='submit' id='button-addon2'>Go</button>
	  </div></div></form>" >
		  Page {{ page_obj.number }} of {{ paginator.num_pages }} <i class="fas fa-sort-down"></i>
	</button>
    </li>
    <li class="page-item">
	 {% if page_obj.has_previous %}
            <a class="page-link rounded-left" href="?page={{ page_obj.previous_page_number }}{% if parameters.o %}&o={{ parameters.o }}{% endif %}" aria-label="Previous">
	    	<span aria-hidden="true">&laquo;</span>
        	<span class="sr-only">Previous</span>
	    </a>
        {% endif %}
    </li>
    <li class="page-item">
	{% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if parameters.o %}&o={{ parameters.o }}{% endif %}" aria-label="Next">
	    	<span aria-hidden="true">&raquo;</span>
        	<span class="sr-only">Next</span>
	    </a>
        {% endif %}
    </li>
  </ul>
</nav>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
