{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n %}

{% block title %}
{% trans 'Customers | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
    function ajax_get_customers() {
        var criteria = [];

        tenant_get_customers(
            criteria,
            function(json_results) {
                console.log(json_results)
            },
            function(error) {
                console.debug(error);
                // alert(error);
            }
        );
    }
</script>


<h2>Customers</h2>

<p><a href="{% url 'o55_tenant_customer_create' %}">{% trans 'Create' %}</a></p>
<br/>

<table>
  <tr>
    <th>Customer ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>birthdate</th>
    <th>join_date</th>
    <th>is_senior</th>
    <th>is_support</th>
    <th>User ID</th>
    <th>Full name</th>
    <th>email</th>
    <th>-</th>
  </tr>
  {% for customer in customer_list %}
  <tr>
    <td>{{ customer.id }}</td>
    <td>{{ customer.given_name }}</td>
    <td>{{ customer.last_name }}</td>
    <td>{{ customer.birthdate }}</td>
    <td>{{ customer.join_date }}</td>
    <td>{{ customer.is_senior }}</td>
    <td>{{ customer.is_support }}</td>
    <td>{{ customer.owner.id }}</td>
    <td>{{ customer.owner.get_full_name }}</td>
    <td>{{ customer.owner.email }}</td>
    <td>
        <a href="{% url 'o55_tenant_customer_detail' customer.id %}">View</a>
    </td>
  </tr>
  {% empty %}
      No customers yet.
  {% endfor %}
</table>

    <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>



<br /><br />


<p>
    <a href="{% url 'o55_tenant_dashboard_master' %}">Dashboard</a>
</p>
{% endblock content %}
