{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n %}

{% block title %}
{% trans 'Clients Search | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<main id="main" role="main">
    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_associate_list' %}">{% trans 'Clients' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Search' %}</li>
        </ol>
    </nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->
    <h1>{% trans 'Clients Search' %}</h1>
    <div id="m-search" class="col-sm-6 mx-auto mt-4 pt-4">
        <form class="needs-validation" novalidate>
            <div class="input-group mb-2">
                <input type="text" class="form-control form-control-lg border border-primary" placeholder="Search" required>
                <div class="input-group-append">
                    <button class="btn btn-primary btn-lg" type="submit"><i class="fas fa-search"></i></button>
                </div>
                <div class="invalid-feedback">
                    Fill in at least 3 characters.
                </div>
            </div>
        </form>
        <div class="col-md-12 text-center">
            <h3 class="p-2">- or -</h3>
            <button id="advance_search_btn" class="btn btn-primary btn-lg" type="button">Advanced Search</button>
            <button id="advance_search_btn_x" class="btn btn-dark btn-lg" type="button"><i class="fas fa-times"></i> Advanced Search</button>
        </div>
    </div>
    <div id="adv-search" class="col-sm-6 mx-auto border-top mt-4">
        <p class="mb-4 mt-4"><strong>Please fill in atleast one field and hit search</strong></p>
        <form class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="validationCustom01">First name</label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="validationCustom01" placeholder="First name" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="validationCustom02">Last name</label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="validationCustom02" placeholder="Last name" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="validationCustom03">Phone</label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="validationCustom03" placeholder="Phone" required>
                    <div class="invalid-feedback">
                        Please provide a valid phone number.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="exampleFormControlSelect1">Skills</label>
                    <select class="custom-select form-control-lg border-success" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="exampleFormControlSelect2">Skill 2</label>
                    <select class="custom-select form-control-lg border-success" id="exampleFormControlSelect2">
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="exampleFormControlSelect3">Skill 3</label>
                    <select class="custom-select form-control-lg border-success" id="exampleFormControlSelect3">
                        <option>Example select</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="form-group mt-2 mb-4">
                <div class="form-check custom-control custom-checkbox">
                    <input class="form-check-input custom-control-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label custom-control-label" for="invalidCheck">
                    Has WSIB?
                    </label>
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3 mx-auto pl-4 pr-4">
                <button class="btn btn-success btn-lg" type="submit"><i class="fas fa-search"></i> Search</button>
            </div>
        </form>
    </div>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
    </script>
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
</main>

{% endblock content %}
