{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n %}

{% block title %}
{% trans 'Add New Partner | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<!-- CUSTOM JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<script>
    /**
     *  DEVELOPERS NOTE:
     *  THE FOLLOWING JAVASCRIPT FUNCTIONS MUST BE DECLARED IF YOU WANT TO CALL
     *  THE "create_confirm_form.html" FORM TEMPLATE.
     */
    function click_previous_button() {
        window.location = "{% url 'workery_tenant_partner_create' %}";
    }

    function click_submit_button() {
        ajax_post_form_submission("{% url 'workery_tenant_partner_summary' %}?was_created=True");
    }
</script>
<!----------------------------------------------------------------------------->
<!-- end CUSTOM JAVASCRIPT -->


<!-- FORM JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<script>
    /**
     *  When page loads, the following code will be run first.
     */
    $(document).ready(function () {
        $('#selected_companyname').append(localStorage.getItem("tmp_partner_company_name"));
        $('#selected_companytype').append(localStorage.getItem("tmp_partner_company_type_value"));
        $('#selected_firstname').append(localStorage.getItem("tmp_partner_given_name"));
        $('#selected_lastname').append(localStorage.getItem("tmp_partner_last_name"));
        $('#selected_phonenumber').append(localStorage.getItem("tmp_partner_telephone"));
        $('#selected_other_phonenumber').append(localStorage.getItem("tmp_partner_other_telephone"));
        $('#selected_dob').append(localStorage.getItem("tmp_partner_date_of_birth"));
        $('#selected_gender').append(localStorage.getItem("tmp_partner_gender"));
        $("#selected_ok_to_email").append(localStorage.getItem("tmp_partner_ok_to_email"));
        $("#selected_ok_to_text").append(localStorage.getItem("tmp_partner_ok_to_text"));
        $('#selected_street_address').append(localStorage.getItem("tmp_partner_street_address"));
        $('#selected_street_address_extra').append(localStorage.getItem("tmp_partner_street_address_extra"));
        $('#selected_neighbourhood').append(localStorage.getItem("tmp_partner_neighbourhood"));
        $('#selected_address_locality').append(localStorage.getItem("tmp_partner_address_locality"));
        $('#selected_address_region').append(localStorage.getItem("tmp_partner_address_region"));
        $('#selected_address_country').append(localStorage.getItem("tmp_partner_address_country"));
        $('#selected_postal_code').append(localStorage.getItem("tmp_partner_postal_code"));
        $('#selected_post_office_box_number').append(localStorage.getItem("tmp_partner_post_office_box_number"));
        $('#selected_email').append(localStorage.getItem("tmp_partner_email"));
        $('#selected_telephone').append(localStorage.getItem("tmp_partner_telephone"));
        $('#selected_description').append(localStorage.getItem("tmp_partner_description"));
        $('#selected_comment').append(localStorage.getItem("tmp_partner_comment"));

        // Set our `person_tag` field.
        var tmp_person_tag_values = localStorage.getObj("tmp_partner_person_tag_values");
        for (var i = 0; i < tmp_person_tag_values.length; i++) {
            // Extract our value.
            var tag_value = tmp_person_tag_values[i];

            // Generate our HTML element.
            var htmlElement = '<span class="badge badge-info badge-lg">'+tag_value+'</span>';

            // Append our HTML element to the GUI.
            $('#selected_person_tag_values').append(htmlElement)
        } // end FOR

        // Set our `person_tag` field.
        var tmp_company_tag_values = localStorage.getObj("tmp_partner_company_tag_values");
        for (var i = 0; i < tmp_company_tag_values.length; i++) {
            // Extract our value.
            var tag_value = tmp_company_tag_values[i];

            // Generate our HTML element.
            var htmlElement = '<span class="badge badge-info badge-lg">'+tag_value+'</span>';

            // Append our HTML element to the GUI.
            $('#selected_company_tag_values').append(htmlElement)
        } // end FOR
    }); // end Ready

    /**
     *  Function will unlock the submit button.
     */
    function disable_btn() {
        $('#id_submit_btn').val("{% trans 'Please Wait...' %}");
        $('#id_submit_btn').prop("disabled", true);
    }

    /**
     *  Function will lock the submit button.
     */
    function enable_btn() {
        $('#id_submit_btn').prop("disabled", false);
        $('#id_submit_btn').val("{% trans 'Update' %}");
    }

    function ajax_previous() {
        window.location = "{% url 'workery_tenant_partner_create' %}";
    }

    /**
     *  Function will attempt to submit the form to the API server. This
     *  funciton will:
     *  (1) Lock / Unlock the submit button.
     *  (2)
     */
    function ajax_post_form_submission(redirect_url) {
        // LOCK OUT THE "SUBMIT" BUTTON SO THE USER DOES NOT MAKE MULTI-CALLS.
        disable_btn();

        // Generate random password and apply it automatically to the
        // password fields if no password was selected.
        password = localStorage.getItem("tmp_partner_password")
        password_repeat = localStorage.getItem("tmp_partner_password_repeat")
        if (password === undefined || password === null || password === '' || password.length == 0) {
            var randomString = Math.random().toString(34).slice(-10);
            randomString += "A";
            randomString += "!";
            password = randomString;
            password_repeat = randomString;
            localStorage.setItem("tmp_partner_password", password)
            localStorage.setItem("tmp_partner_password_repeat", password_repeat)
        }

        // MAKE OUR API CALL TO THE BACKEND TO "CREATE" THE CUSTOMER USER.
        create_partner_api(
            {
                // --- PERSON ---
                'given_name': localStorage.getItem("tmp_partner_given_name"),
                'middle_name': null,
                'last_name': localStorage.getItem("tmp_partner_last_name"),
                'birthdate': localStorage.getItem("tmp_partner_date_of_birth"),
                'gender': localStorage.getItem("tmp_partner_gender"),
                'nationality': null,
                'is_ok_to_email': localStorage.getItem("tmp_partner_ok_to_email"),
                'is_ok_to_text': localStorage.getItem("tmp_partner_ok_to_text"),
                'address_country': localStorage.getItem("tmp_partner_address_country"),
                'address_locality': localStorage.getItem("tmp_partner_address_locality"),
                'address_region': localStorage.getItem("tmp_partner_address_region"),
                'extra_comment': null,
                'street_address': localStorage.getItem("tmp_partner_street_address"),
                'street_address_extra': localStorage.getItem("tmp_partner_street_address_extra"),
                'area_served': localStorage.getItem("tmp_partner_neighbourhood"),
                'postal_code': localStorage.getItem("tmp_partner_postal_code"),
                'post_office_box_number': localStorage.getItem("tmp_partner_post_office_box_number"),
                'email': localStorage.getItem("tmp_partner_email"),
                'fax_number': null,
                'telephone': localStorage.getItem("tmp_partner_telephone"),
                'telephone_type_of': localStorage.getItem("tmp_partner_telephone_type_of"),
                // 'telephone_extension': telephone_extension,
                'other_telephone': localStorage.getItem("tmp_partner_other_telephone"),
                'other_telephone_type_of': localStorage.getItem("tmp_partner_other_telephone_type_of"),
                // 'fax_number': fax_number
                'password': password,
                'password_repeat': password_repeat,
                'type_of': {{ tenant_constants.COMMERCIAL_CUSTOMER_TYPE_OF_ID }},
                'is_active': localStorage.getItem("tmp_partner_is_active"),
                'tags': localStorage.getObj("tmp_partner_person_tag_ids"),
                'description': localStorage.getItem("tmp_partner_description"),
                'extra_comment': localStorage.getItem("tmp_partner_comment"),

                // --- ORGANIZATION ---
                'organization_name': localStorage.getItem("tmp_partner_company_name"),
                'organization_type_of': localStorage.getItem("tmp_partner_company_type"),
                'organization_address_country': localStorage.getItem("tmp_partner_address_country"),
                'organization_address_locality': localStorage.getItem("tmp_partner_address_locality"),
                'organization_address_region': localStorage.getItem("tmp_partner_address_region"),
                'organization_street_address': localStorage.getItem("tmp_partner_street_address"),
                'organization_street_address_extra': localStorage.getItem("tmp_partner_street_address_extra"),
                'organization_postal_code': localStorage.getItem("tmp_partner_postal_code"),
                'organization_post_office_box_number': localStorage.getItem("tmp_partner_post_office_box_number"),
                'organization_tags': localStorage.getObj("tmp_partner_company_tag_ids"),
            },
            function(result_dict) { // Success
                // FOR DEBUGGING PURPOSES ONLY.
                console.log(result_dict);

                // RESET OUR STORED VALUES.
                localStorage.removeItem("tmp_partner_company_name");
                localStorage.removeItem("tmp_partner_company_type");
                localStorage.removeItem("tmp_partner_company_type_value");
                localStorage.removeItem("tmp_partner_neighbourhood");
                localStorage.removeItem("tmp_partner_given_name");
                localStorage.removeItem("tmp_partner_last_name");
                localStorage.removeItem("tmp_partner_date_of_birth");
                localStorage.removeItem("tmp_partner_gender");
                localStorage.removeItem("tmp_partner_ok_to_email");
                localStorage.removeItem("tmp_partner_ok_to_text");
                localStorage.removeItem("tmp_partner_street_address");
                localStorage.removeItem("tmp_partner_street_address_extra");
                localStorage.removeItem("tmp_partner_address_region");
                localStorage.removeItem("tmp_partner_address_locality");
                localStorage.removeItem("tmp_partner_address_country");
                localStorage.removeItem("tmp_partner_postal_code");
                localStorage.removeItem("tmp_partner_post_office_box_number");
                localStorage.removeItem("tmp_partner_email");
                localStorage.removeItem("tmp_partner_telephone");
                localStorage.removeItem("tmp_partner_telephone_type_of");
                localStorage.removeItem("tmp_partner_other_telephone");
                localStorage.removeItem("tmp_partner_other_telephone_type_of");
                localStorage.removeItem("tmp_partner_password");
                localStorage.removeItem("tmp_partner_password_repeat");
                localStorage.removeItem("tmp_partner_person_tag_ids");
                localStorage.removeItem("tmp_partner_person_tag_values");
                localStorage.removeItem("tmp_partner_company_tag_ids");
                localStorage.removeItem("tmp_partner_company_tag_values");
                localStorage.removeItem("tmp_partner_description")
                localStorage.removeItem("tmp_partner_comment")

                // REDIRECT TO SUCCESS PAGE.
                window.location = redirect_url;
            },
            function(xhr,status,error) { // Error
                // STEP 1: Convert to JSON.
                var err = JSON.parse(xhr.responseText);

                // For debugging purposes only.
                console.log(err);

                // STEP 2: CLEAR EXISTING TEXT.
                $('#all_error_result').html();

                // STEP 3: PRINT OUR ERROR.
                for(var prop in err) {
                    if(err.hasOwnProperty(prop)) {
                        var val = err[prop];
                        console.log(val);
                        $('#all_error_result').append("<p><b>"+prop+"</b>"+val+"</p><br />");
                    }
                }

                // STEP 4: FOCUS TO WHERE THE ERROR IS OCCURING.
                $('html, body').animate({ scrollTop: $('#id_page_title').offset().top }, 'slow');
            },
            function() { // Finally
                // UNLOCK THE "SUBMIT" BUTTON TO BE AVAILABLE FOR USAGE.
                enable_btn();
            }
        );
    }

</script>
<!----------------------------------------------------------------------------->
<!-- end FORM JAVASCRIPT -->


<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_partner_summary' %}">{% trans 'Partners' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_partner_create' %}">{% trans 'Add' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Partners' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% url 'workery_tenant_partner_summary' %}" role="button">
               <i class="fas fa-arrow-left"></i> &nbsp;{% trans 'Back to Partners Home' %}
            </a>
		</div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1 id="id_page_title">{% trans 'Add Partner' %}</h1>


    <!-- FORM HTML -->
    <!------------------------------------------------------------------------->
    <div class="col-md-10 mx-auto mb-4 py-2">
        <table class="table table-bordered custom-cell-w">
            <tbody>
                <tr class="bg-dark">
                    <th scope="row" colspan="2" class="text-light">Company Summary Details</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Full name</th>
                    <td id="selected_companyname" name="selected_companyname">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Company Type</th>
                    <td id="selected_companytype" name="selected_companytype">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Tag(s)</th>
                    <td id="selected_company_tag_values">
                        <!-- THIS IS WHERE THE TAGS GET LOADED -->
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 class="py-2 text-center mb-4">Commercial Client Details Review</h3>
        <table class="table table-bordered custom-cell-w">
            <tbody>
                <tr class="bg-dark">
                    <th scope="row" colspan="2" class="text-light">Person Summary Details</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">First name</th>
                    <td id="selected_firstname" name="selected_firstname">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Last name</th>
                    <td id="selected_lastname">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Email</th>
                    <td id="selected_email">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Phone Number #1</th>
                    <td id="selected_phonenumber">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Phone Number #2</th>
                    <td id="selected_other_phonenumber">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Date of Birth</th>
                    <td id="selected_dob">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Gender</th>
                    <td id="selected_gender">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Okay to Email?</th>
                    <td id="selected_ok_to_email">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Okay to Text?</th>
                    <td id="selected_ok_to_text">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Description</th>
                    <td id="selected_description">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Stree Address</th>
                    <td id="selected_street_address">
                        <!-- POPULATE street_address JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Street Address (Extra)</th>
                    <td id="selected_street_address_extra">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Neighbourhood</th>
                    <td id="selected_neighbourhood">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">City</th>
                    <td id="selected_address_locality">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Region</th>
                    <td id="selected_address_region">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Country</th>
                    <td id="selected_address_country">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Postal Code</th>
                    <td id="selected_postal_code">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Post Office Box Number</th>
                    <td id="selected_post_office_box_number">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Tag(s)</th>
                    <td id="selected_person_tag_values">
                        <!-- THIS IS WHERE THE TAGS GET LOADED -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Additional comment(s)</th>
                    <td id="selected_comment">
                        <!-- POPULATE THROUGH JS. -->
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-group col-md-12 mb-3 p-0 mx-auto text-center">
            <button id="id_create_btn" class="btn btn-success btn-lg mt-4 float-right pl-4 pr-4" type="button" onclick="click_submit_button();"><i class="fas fa-plus"></i> Add</button>
            <button class="btn btn-orange btn-lg mt-4 float-left pl-4 pr-4" type="button" onclick="click_previous_button();"><i class="fas fa-arrow-left"></i> Back</button>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM HTML -->


    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>

{% endblock content %}
