{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n shared_foundation_tags humanize %}

{% block title %}
{% trans 'Jobs List | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    		<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans 'Jobs' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_created == 'True' %}
        <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
		    Job <strong>Successfully</strong> created.
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		        <span aria-hidden="true">×</span>
		    </button>
		</div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <h1>{% trans 'Jobs' %}</h1>
    <section class="row text-center placeholders">
        <div class="col-sm-4 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-pink">
                <a href="{% url 'workery_tenant_job_search_or_add_create' %}" class="d-block link-ndecor" title="Add Job">
                    <h1 class="r-circle"><i class="fas fa-plus fa-3x"></i></h1>
                </a>
            </div>
            <h4>Add</h4>
            <div class="text-muted">Add Job</div>
        </div>
        <div class="col-sm-4 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-dgreen">
                <a href="{% url 'workery_tenant_job_search' %}" class="d-block link-ndecor" title="Search Jobs">
                    <h1 class="r-circle"><i class="fas fa-search fa-3x"></i></h1>
                </a>
            </div>
            <h4>Search</h4>
            <span class="text-muted">Search Jobs</span>
        </div>
        <div class="col-sm-4 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-primary">
                <a href="{% url 'workery_tenant_job_list' %}" class="d-block link-ndecor" title="View Jobs">
                    <h1 class="r-circle"><i class="fas fa-list-alt fa-3x"></i></h1>
                </a>
            </div>
            <h4>List</h4>
            <span class="text-muted">View All Jobs</span>
        </div>
    </section>

    <h2>Active Job List</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans 'Job #' %}</th>
                    <th>{% trans 'Ongoing Job #' %}&nbsp;<i class="fas fa-external-link-alt"></i></th>
                    <th>{% trans 'Client' %}&nbsp;<i class="fas fa-external-link-alt"></i></th>
                    <th>{% trans 'Associate' %}&nbsp;<i class="fas fa-external-link-alt"></i></th>
                    <th>{% trans 'Assignment Date' %}</th>
                    <th>{% trans 'Start Date' %}</th>
                    <th>{% trans 'Status' %}</th>
                    {% if user_is_management_or_executive_staff %}
                    <th></th>
                    <th></th>
                    {% else %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for job in job_list %}
                <tr>
                    <td>
                        {% if job.customer.is_blacklisted %}
                            <i class="fa fa-frown fa-lg"></i>
                        {% else %}
                            {% if job.customer.type_of == tenant_constants.RESIDENTIAL_CUSTOMER_TYPE_OF_ID %}
                                <i class="fa fa-home fa-lg"></i>
                            {% elif job.customer.type_of == tenant_constants.COMMERCIAL_CUSTOMER_TYPE_OF_ID %}
                                <i class="fa fa-briefcase fa-lg"></i>
                            {% else %}
                                <i class="fa fa-question fa-lg"></i>
                            {% endif %}
                        {% endif %}
                        {% if job.is_ongoing %}<i class="fa fa-redo fa-lg"></i>{% endif %}
                    </td>
                    <td>{{ job.id|intcomma }}</td>
                    <td>
                        {% if job.ongoing_work_order %}
                            <a href="{% url 'workery_tenant_ongoing_job_lite_retrieve' 'summary' job.ongoing_work_order.id %}" target="_blank">{{ job.ongoing_work_order }}</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if job.customer %}
                            <a href="{% url 'workery_tenant_customer_lite_retrieve' 'summary' job.customer.id %}" target="_blank">
                                {{ job.customer }}
                                {% if job.customer.is_blacklisted %}
                                    <strong>(Blacklisted)</strong>
                                {% endif %}
                            </a>
                        {% else %}-{% endif %}
                    </td>
                    <td>
                        {% if job.associate %}
                            <a href="{% url 'workery_tenant_member_lite_retrieve' 'summary' job.associate.id %}" target="_blank">{{ job.associate }}&nbsp;{% if task_item.job.state == WORK_ORDER_STATE.PENDING %}(Pending){% endif %}</a>
                        {% else %}-{% endif %}
                    </td>
                    <td>{% if job.assignment_date %}{{ job.assignment_date }}{% else %}-{% endif %}</td>
                    <td>{% if job.start_date %}{{ job.start_date }}{% else %}-{% endif %}</td>
                    <td>
                        {% if job.state == WORK_ORDER_STATE.PENDING %}
                            {% trans 'Pending' %}
                        {% elif job.state == WORK_ORDER_STATE.CANCELLED %}
                            {% trans 'Cancelled' %}
                        {% elif job.state == WORK_ORDER_STATE.ONGOING %}
                            {% trans 'Ongoing' %}
                        {% elif job.state == WORK_ORDER_STATE.IN_PROGRESS %}
                            {% trans 'In Progress' %}
                        {% elif job.state == WORK_ORDER_STATE.COMPLETED_BUT_UNPAID %}
                            {% trans 'Completed but unpaid' %}
                        {% elif job.state == WORK_ORDER_STATE.COMPLETED_AND_PAID %}
                            {% trans 'Completed and paid' %}
                        {% elif job.state == WORK_ORDER_STATE.ARCHIVED %}
                            {% trans 'Archived' %}
                        {% elif job.state == WORK_ORDER_STATE.DECLINED %}
                            {% trans 'Declined' %}
                        {% elif job.state == WORK_ORDER_STATE.NEW %}
                            {% trans 'New' %}
                        {% else %}
                            {{ job.state }}
                        {% endif %}
                    </td>
                    {% if user_is_management_or_executive_staff %}
                    <td>
                        <a href="{% url 'workery_tenant_job_retrieve' 'summary' job.id %}?page={{ page_obj.number }}"><i class="fa fa-id-card"></i></a>
                    </td>
                    <td>
                        <a href="{% url 'workery_tenant_financlial_job_retrieve' 'all-jobs' job.id %}?page={{ page_obj.number }}"><i class="fa fa-dollar-sign"></i></a>
                    </td>
                    {% else %}
                    <td>
                        <a href="{% url 'workery_tenant_job_retrieve' 'summary' job.id %}?page={{ page_obj.number }}">{% trans 'View' %}&nbsp;<i class="fas fa-chevron-right"></i></a>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                No jobs yet.
                {% endfor %}
            </tbody>
        </table>
    </div>

 <nav aria-label="Page navigation">
  <ul class="pagination pagination-lg">
    <li class="page-item">
    	<button type="button" class="btn btn-link btn-lg" data-container="body" data-toggle="popover" title="Jump to page" data-placement="bottom" data-html="true" data-content="<form action method='get'><div class='input-group mb-3'><input type='text' name='page' class='form-control form-control-lg' placeholder='page' aria-label='page' aria-describedby='button-addon2'>
	  <div class='input-group-append'>
	    <button class='btn btn-info btn-lg' type='submit' id='button-addon2'>Go</button>
	  </div></div></form>" >
		  Page {{ page_obj.number }} of {{ paginator.num_pages }} <i class="fas fa-sort-down"></i>
	</button>
    </li>
    <li class="page-item">
	 {% if page_obj.has_previous %}
            <a class="page-link rounded-left" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
	    	<span aria-hidden="true">&laquo;</span>
        	<span class="sr-only">Previous</span>
	    </a>
        {% endif %}
    </li>
    <li class="page-item">
	{% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
	    	<span aria-hidden="true">&raquo;</span>
        	<span class="sr-only">Next</span>
	    </a>
        {% endif %}
    </li>
  </ul>
</nav>

    <a href="{% url 'workery_tenant_job_archive_list' %}" class="mt-4">View Archived Jobs</a>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
