{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n foundation_tags humanize %}

{% block title %}
{% trans 'Settings List | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
    function ajax_get_staffs() {
        var criteria = [];

        tenant_get_staffs(
            criteria,
            function(json_results) {
                console.log(json_results)
            },
            function(error) {
                console.debug(error);
                // alert(error);
            }
        );
    }
</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    		<li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans 'Settings' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <h1>Settings</h1>
    <div class="album py-5">
        <div class="container">
            <div class="row">
                {% comment %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-custom-top">
                            <i class="fas fa-graduation-cap fa-4x"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Skill sets</h5>
                            <p class="card-text">Modify the skill sets.</p>
                            <div class="text-center">
                                <a href="#" class="btn btn-success btn-lg" type="button">View <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endcomment %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-custom-top">
                            <i class="fas fa-tags fa-4x"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Tags</h5>
                            <p class="card-text">Modify the tags.</p>
                            <div class="text-center">
                                <a href="{% url 'o55_tenant_settings_tags_list' %}" class="btn btn-success btn-lg" type="button">View <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-custom-top">
                            <i class="fas fa-balance-scale fa-4x"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Insurance Coverage</h5>
                            <p class="card-text">Modify the insurance coverage supported by this organization.</p>
                            <div class="text-center">
                                <a href="#" class="btn btn-success btn-lg" type="button">View <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-custom-top">
                            <i class="fas fa-bullhorn fa-4x"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Announcement Board</h5>
                            <p class="card-text">Modify the announcements on the news board.</p>
                            <div class="text-center">
                                <a href="#" class="btn btn-success btn-lg" type="button">View <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-custom-top">
                            <i class="fas fa-question-circle fa-4x"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Help</h5>
                            <p class="card-text">Modify the help resources.</p>
                            <div class="text-center">
                                <a href="#" class="btn btn-success btn-lg" type="button">View <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-custom-top">
                            <i class="fas fa-file-alt fa-4x"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Resources</h5>
                            <p class="card-text">Modify the resources.</p>
                            <div class="text-center">
                                <a href="#" class="btn btn-success btn-lg" type="button">View <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endcomment %}
            </div>
        </div>
    </div>


    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
