{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize tz shared_foundation_tags %}
{% block title %}
{% trans 'Job Details | Workery' %}
{% endblock title %}
{% block header_content %}
{% endblock header_content %}
{% block content %}
<!-- API JAVASCRIPT -->
<!----------------------------------------------------------------------------->
{% include 'tenant_api/skillset_api_js.html' %}
<!----------------------------------------------------------------------------->
<!-- end API JAVASCRIPT -->
<!-- CUSTOM JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<script>
    function ajax_previous() {
        {% if template == 'search' %}
        window.location = "{% url 'workery_tenant_job_search' %}";
        {% elif template == 'task' %}
        alert("TODO");
        //window.location = "{% url 'workery_tenant_pending_task_retrieve' parameters.task_id %}";
        {% elif template == 'list' %}
        window.location = "{% url 'workery_tenant_job_list' %}";
        {% else %}
        window.location = "{% url 'workery_tenant_job_summary' %}";
        {% endif %}
    }
</script>
<!----------------------------------------------------------------------------->
<!-- end CUSTOM JAVASCRIPT -->
<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% if template == 'search' %}
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_job_summary' %}">{% trans 'Jobs' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_job_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Search Results' %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Job #' %}{{ ongoing_job.id|intcomma }}</li>
            {% elif template == 'list' %}
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_job_summary' %}">{% trans 'Jobs' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_job_list' %}">{% trans 'List' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Job #' %}{{ ongoing_job.id|intcomma }}</li>
            {% else %}
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_ongoing_job_list' %}">{% trans 'Ongoing Jobs' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Ongoing Job #' %}{{ ongoing_job.id|intcomma }}</li>
            {% endif %}
        </ol>
    </nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_modified == 'True' %}
    <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
        Job <strong>Successfully</strong> updated.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <h1>{% trans 'View Job' %}</h1>

    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    <div class="row">
        <div class="step-navigation">
            <div class="st-grey">
                <a href="{% url 'workery_tenant_ongoing_job_lite_retrieve' template ongoing_job.id %}">
                    <i class="far fa-id-badge"></i>&nbsp;<span class="">Summary</span>
                </a>
            </div>
            <div class="st-grey active">
                <i class="far fa-id-card"></i>&nbsp;<span class="">Details</span>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_ongoing_job_retrieve_for_comments' template ongoing_job.id %}">
                    <i class="far fa-comments"></i>&nbsp;<span class="">Comments</span>
                </a>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->

    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <div class="col-md-10 mx-auto mb-4 py-2">
        <h3 class="py-2 text-center mb-4" id="id_page_title">Ongoing Job Details</h3>

        <!-- Error Output -->
        <div id="all_error_result" name="all_error_result"></div>
        <!-- end Error Output -->

        <!-- CURRENT TABLE -->
        <!--------------------------------------------------------------------->
        <table class="table table-bordered custom-cell-w">
    <tbody>
    <tr class="bg-dark text-white">

        <tr class="bg-dark">
            <th scope="row" colspan="2" class="text-light">Job Details</th>
        </tr>
        <tr>
            <th scope="row" class="bg-light">Ongoing Job #</th>
            <td id="selected_order_id">
                {{ ongoing_job.id|intcomma }}
            </td>
        </tr>
        <tr>
            <th scope="row" class="bg-light">Client Name</th>
            <td id="selected_customer_name">
                {% if ongoing_job.customer %}
                    <a href="{% url 'workery_tenant_customer_lite_retrieve' template ongoing_job.customer.id %}" target="_blank">
                        {{ ongoing_job.customer }}&nbsp;<i class="fas fa-external-link-alt"></i>
                    </a>
                {% else %}-{% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row" class="bg-light">Associate Name</th>
            <td id="selected_associate_name">
                {% if ongoing_job.associate %}<a href="{% url 'workery_tenant_member_lite_retrieve' template ongoing_job.associate.id %}" target="_blank">{{ ongoing_job.associate }}&nbsp;<i class="fas fa-external-link-alt"></i></a>{% else %}-{% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row" class="bg-light">Job Type</th>
            <td id="selected_job_type_id">
                {% if ongoing_job.customer.type_of == tenant_constants.RESIDENTIAL_CUSTOMER_TYPE_OF_ID %}
                    {% trans 'Residential Job' %}
                {% elif ongoing_job.customer.type_of == tenant_constants.COMMERCIAL_CUSTOMER_TYPE_OF_ID %}
                    {% trans 'Commercial Job' %}
                {% else %}
                    {% trans 'Unassigned Job' %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row" class="bg-light">Status</th>
            <td id="selected_status">
                {% if ongoing_job.state == ONGOING_WORK_ORDER_STATE.IDLE %}
                    {% trans 'Idle' %}
                {% elif ongoing_job.state == ONGOING_WORK_ORDER_STATE.RUNNING %}
                    {% trans 'Running' %}
                {% elif ongoing_job.state == ONGOING_WORK_ORDER_STATE.TERMINATED %}
                    {% trans 'Terminated' %}
                {% else %}
                    {{ ongoing_job.state }}
                {% endif %}
            </td>
        </tr>
        {% if ongoing_job.frequency %}
        <tr>
            <th scope="row" class="bg-light">Frequency</th>
            <td id="frequency">
                {% if ongoing_job.frequency == 'daily' %}
                    Daily
                {% elif ongoing_job.frequency == 'weekly' %}
                    Weekly
                {% elif ongoing_job.frequency == 'bi_weekly' %}
                    Bi-weekly
                {% elif ongoing_job.frequency == 'monthly' %}
                    Monthly
                {% elif ongoing_job.frequency == 'quarterly' %}
                    Quarterly
                {% elif ongoing_job.frequency == 'annually' %}
                    Annually
                {% endif %}
            </td>
        </tr>
        {% endif %}



    <!-- ######################## end JOB DETAILS ######################### -->

                <!-- ############ SYSTEM ############ -->
                <tr class="bg-dark text-white">
                    <th scope="row" colspan="2">System</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Created at</th>
                    <td>
                        {% if ongoing_job.created_at %}{{ ongoing_job.created_at|timezone:request.tenant.timezone_name }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Created by</th>
                    <td>
                        {% if ongoing_job.created_by %}{{ ongoing_job.created_by }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Created from</th>
                    <td>
                        {% if ongoing_job.created_from %}
                            <a href="https://whatismyipaddress.com/ip/{{ ongoing_job.created_from }}" target="_blank">{{ ongoing_job.created_from }}&nbsp;<i class="fas fa-external-link-alt"></i></a>
                        {% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Modified at</th>
                    <td>
                        {% if ongoing_job.last_modified_at %}{{ ongoing_job.last_modified_at|timezone:request.tenant.timezone_name }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Modified by</th>
                    <td>
                        {% if ongoing_job.last_modified_by %}{{ ongoing_job.last_modified_by }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Modified from</th>
                    <td>
                        {% if ongoing_job.last_modified_from %}
                            <a href="https://whatismyipaddress.com/ip/{{ ongoing_job.last_modified_from }}" target="_blank">{{ ongoing_job.last_modified_from }}&nbsp;<i class="fas fa-external-link-alt"></i></a>
                        {% else %}-{% endif %}
                    </td>
                </tr>
                <!-- ############ end SYSTEM ############ -->
        </tbody>
    </table>
        <!--------------------------------------------------------------------->
        <!-- end CURRENT TABLE -->

        <br />
        <h3 class="py-2 text-center mb-4" id="id_page_title">Jobs History</h3>

        <!-- JOBS TABLE -->
        <!--------------------------------------------------------------------->
        <table class="table table-striped">

            <thead>
                <tr>
                    <th></th>
                    <th>{% trans 'ID #' %}</th>
                    <th>{% trans 'Start Date' %}</th>
                    <th>{% trans 'Completion Date' %}</th>
                    <th>{% trans 'Status' %}</th>
                    <th><i class="fas fa-external-link-alt"></i></th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs.all %}
                <tr>
                    <td>
                        {% if job.customer.type_of == tenant_constants.RESIDENTIAL_CUSTOMER_TYPE_OF_ID %}
                            <i class="fa fa-home fa-lg"></i>
                        {% elif job.customer.type_of == tenant_constants.COMMERCIAL_CUSTOMER_TYPE_OF_ID %}
                            <i class="fa fa-briefcase fa-lg"></i>
                        {% else %}
                            <i class="fa fa-question fa-lg"></i>
                        {% endif %}
                    </td>
                    <td>{{ job.id|intcomma }}</td>
                    <td>{% if job.start_date %}{{ job.start_date }}{% else %}-{% endif %}</td>
                    <td>{% if job.completion_date %}{{ job.completion_date }}{% else %}-{% endif %}</td>
                    <td>{{ job.get_pretty_status }}</td>
                    <td>
                        <a href="{% url 'workery_tenant_job_retrieve' 'summary' job.id %}" target="_blank">{% trans 'View' %}&nbsp;<i class="fas fa-chevron-right"></i></a>
                    </td>
                </tr>
                {% empty %}
                No jobs yet.
                {% endfor %}
            </tbody>
        </table>
        <!--------------------------------------------------------------------->
        <!-- end JOBS TABLE -->

    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM -->


    <!-- FORM -->
    <!------------------------------------------------------------------------->
    {% if ongoing_job.state != ONGOING_WORK_ORDER_STATE.TERMINATED %}
        <div class="form-group col-md-12 mb-3 mx-auto text-center">
            <a href="{% url 'workery_tenant_ongoing_job_update' template ongoing_job.id %}">
                <button  id="id_submit_btn"	class="btn btn-warning btn-lg btn-fxw mt-4" type="button">
                    <i class="fas fa-edit"></i>&nbsp;{% trans 'Edit Job' %}
                </button>
            </a>
        </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end FORM -->


    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
