{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n foundation_tags humanize %}

{% block title %}
{% trans 'Clients List | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
	    	<li class="breadcrumb-item active" aria-current="page">{% trans 'Closed Tasks' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <h1>{% trans 'Closed Tasks' %}</h1>

    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    <div class="row">
        <div class="step-navigation">
            <div id="step-1" class="st-grey">
                <a href="{% url 'o55_tenant_task_list' %}">
                    <i class="fas fa-clock"></i>
                    <span class="">Pending Tasks ({{ pending_count|intcomma }})</span>
                </a>
            </div>
            <div id="step-2" class="st-grey active">
                <i class="fas fa-check-circle"></i>
                <span class="">Closed Tasks ({{ closed_count|intcomma }})</span>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans 'Due Date' %}</th>
                    <th>{% trans 'Task' %}</th>
                    <th>{% trans 'Client Name' %}</th>
                    <th>{% trans 'Associate Name' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for task_item in task_list %}
                <tr>
                    <td>{{ task_item.due_date }}</td>
                    <td>{{ task_item.title }}</td>
                    <td>
                        {% if task_item.job.customer %}
                            <a href="{% url 'o55_tenant_customer_retrieve' 'summary' task_item.job.customer.id %}">{{ task_item.job.customer }}</a>
                        {% else %}
                            {% trans 'Unassigned' %}
                        {% endif %}
                    </td>
                    <td>
                        {% if task_item.job.associate %}
                            <a href="{% url 'o55_tenant_member_retrieve' 'summary' task_item.job.associate.id %}">{{ task_item.job.associate }}</a>
                        {% else %}
                            {% trans 'Unassigned' %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="">{% trans 'View' %}</a>
                    </td>
                </tr>
                {% empty %}
                No tasks yet.
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{{ filter_parameters }}">previous</a>
        {% endif %}
        <span class="current">
        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{{ filter_parameters }}">next</a>
        {% endif %}
        </span>
    </div>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
