{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n shared_foundation_tags humanize %}

{% block title %}
{% trans 'Clients List | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>

    $(document).ready(function() {

        // STEP 1 - Fetch the values we've saved in localStorage.
        var tmp_job_type = localStorage.getItem("tmp_job_type");
        var tmp_home_support = localStorage.getItem("tmp_home_support");
        var tmp_follow_up_days_number = localStorage.getItem("tmp_follow_up_days_number");
        console.log(tmp_job_type);
        console.log(tmp_home_support);
        console.log(tmp_follow_up_days_number);

        // STEP 2 - Update the GUI with our saved values.
        $("input[name=job-type][value=" + tmp_job_type + "]").prop('checked', true);
        $("input[name=home-support][value=" + tmp_home_support + "]").prop('checked', true);

        // STEP 3 - Show or hide the follow up days depending on previous seleciton
        //          made by the user.
        if (tmp_job_type == 'Ongoing') {
            $('#id_follow_up_div').show();
            $('#start_date').val(tmp_follow_up_days_number);
        } else {
            $('#id_follow_up_div').hide();
        }

        // STEP 4 - Attach event handlers to update the GUI on whether an
        //          an option was selected or not.
        $('#job-type').change(function () {
            var job_type = $('input[id=job-type]:checked').val();
            console.log(job_type);
            $('#id_follow_up_div').hide();
            $('#start_date').val('');
        });
        $('#job-type2').change(function () {
            var job_type = $('input[id=job-type2]:checked').val();
            console.log(job_type);
            $('#id_follow_up_div').show();
        });

        // STEP 5 - Initialize our datepicker jQuery code with our HTML view.
        $( "#start_date" ).datepicker({
            dateFormat: 'yy-mm-dd',
	        minDate: 'today'
        });

        // STEP 6 -
        $('#start_date').val(localStorage.getItem("tmp_start_date"));
        $('#follow_up_days_number').val(localStorage.getItem("tmp_follow_up_days_number"));


    }); // end START DOCUMENT

    function ajax_submit() {
        // Get user selections.
        var tmp_job_type = $('input[name=job-type]:checked').val();
        var tmp_home_support = $('input[name=home-support]:checked').val();
        var tmp_start_date = $('#start_date').val();
        var tmp_follow_up_days_number = $('#follow_up_days_number').val();

        // For debugging purposes only.
        console.log(tmp_job_type);
        console.log(tmp_home_support);
        console.log(tmp_start_date);
        console.log(tmp_follow_up_days_number);

        // Save to local storage.
        localStorage.setItem("tmp_job_type", tmp_job_type);
        localStorage.setItem("tmp_home_support", tmp_home_support);
        localStorage.setItem("tmp_start_date", tmp_start_date);
        localStorage.setItem("tmp_follow_up_days_number", tmp_follow_up_days_number);

	    // STEP 2: CLEAR EXISTING ERROR TEXT.
        $('#all_error_result').html("");
	    $('#all_error_result').removeClass('error-block');

        // Redirect to the next page in the form.
        if (tmp_job_type !== undefined && tmp_home_support !== undefined) {
	    if (tmp_job_type == 'Ongoing' && tmp_follow_up_days_number == undefined) {
        $('#all_error_result').append("<div class='form-error'><b>Follow Up: </b> This field may not be blank.</div>");
		$('#all_error_result').addClass('error-block');
		$('#follow_up_days_number-error').html("<ul><li>This field may not be blank.</li></ul>");
		$('#residential-job').addClass('was-validated');
           } else {
           	 window.location = "{% url 'workery_tenant_job_step_3_create' %}";
           }
        } else {
		if (tmp_job_type == undefined) {
			// Errors box code
			$('#all_error_result').append("<div class='form-error'><b>Job Type:</b> Please pick one choice. </div>");
			$('#all_error_result').addClass('error-block');
			// Inline fields errors code
			$('#job-type-error').html("<ul><li>Please pick one choice.</li></ul>");
			$('#residential-job').addClass('was-validated');
		}
		if (tmp_home_support == undefined) {
			// Errors box code
			$('#all_error_result').append("<div class='form-error'><b>Is Home Support:</b> Please pick either 'Yes' or 'No' choice. </div>");
			$('#all_error_result').addClass('error-block');
			// Inline fields errors code
			$('#home-support-error').html("<ul><li>Please pick either 'Yes' or 'No' choice.</li></ul>");
			$('#residential-job').addClass('was-validated');
		}
            // alert("Please select all the options!");
        }
    } // end FUNC.

    function ajax_previous() {
        var tmp_branch_previous_url = localStorage.getItem("tmp_branch_previous_url");
        console.log(tmp_branch_previous_url);
        window.location = tmp_branch_previous_url;
    } // end FUNC.

</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_job_summary' %}">{% trans 'Jobs' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Add' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% url 'workery_tenant_job_summary' %}" role="button">
               <i class="fas fa-arrow-left"></i> &nbsp;{% trans 'Back to Jobs Home' %}
            </a>
		</div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1>Add Job</h1>


    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    <div class="row">
	   <div class="step-navigation">
		<div id="step-1" class="st-grey">
            <a href="{% url 'workery_tenant_job_search_or_add_create' %}">
			    <span class="num">1.</span><span class="">Search or Add</span>
            </a>
		</div>
		<div id="step-2" class="st-grey active">
			<span class="num">2.</span><span class="">Job Type</span>
		</div>
        <div id="step-3" class="st-grey">
            <span class="num">3.</span><span class="">Describe Job</span>
		</div>
        <div id="step-4" class="st-grey">
			<span class="num">4.</span><span class="">Skills Required</span>
		</div>
        <div id="step-5" class="st-grey">
            <span class="num">5.</span><span class="">Comments</span>
		</div>
        <div id="step-6" class="st-grey">
			<span class="num">6.</span><span class="">Review</span>
		</div>
	   </div>
	</div>
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->


    <div class="col-md-5 mx-auto mt-2">
        <h3 class="pt-4 pb-2 text-center">Add Job</h3>
	<!-- Error Output -->
        <div id="all_error_result" name="all_error_result" class="alert alert-error fade show" role="alert">
	</div>
        <!-- end Error Output -->
        <form id="residential-job" method="post" class="needs-validation" action="" novalidate>
            <!-- JOB STARTING DATE -->
            <div class="form-group my-3 py-2" id="id_start_date">
                <p class="mb-1 font-b6">When should the job start?</p>
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control form-control-lg border border-success" id="start_date" name="start_date" placeholder="yyyy-mm-dd" required>
                    <div class="input-group-append">
                        <span class="input-group-text c-icon-white bg-success border-success"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <div id="start_date-error" class="invalid-feedback"></div>
                </div>
                <small id="id_notice" class="form-text text-muted ft-indent">
                    Leave blank if nothing was specified by client.
                </small>
            </div>
            <!-- end JOB STARTING DATE -->

            <!-- IS ONGOING OR NOT -->
            <div class="form-group my-3 py-2">
                <p class="mb-1 font-b6">Is this job one time or ongoing?</p>
                <div class="form-radio custom-control custom-radio mb-2">
                    <input type="radio" id="job-type" name="job-type" value="One-time" class="custom-control-input form-check-input" required>
                    <label class="custom-control-label form-check-label" for="job-type">One time</label>
                </div>
                <div class="form-radio custom-control custom-radio">
                    <input type="radio" id="job-type2" name="job-type" value="Ongoing" class="custom-control-input form-check-input" required>
                    <label class="custom-control-label form-check-label" for="job-type2">Ongoing</label>
                    <div id="job-type-error" class="invalid-feedback"></div>
                </div>
            </div>
            <!-- end IS ONGOING OR NOT -->

            <!-- FOLLOW UP -->
            <div class="form-group col-md-8 mb-4 p-0" id="id_follow_up_div">
                <label for="follow_up_days_number">Follow Up</label>
                <select class="custom-select form-control-lg border-success" id="follow_up_days_number" name="follow_up_days_number" required>
                    <option value="" selected>Follow up in...</option>
                    <option value="7">1 Week</option>
                    <option value="14">2 Weeks</option>
                    <option value="prefer not to say">3 Weeks</option>
                </select>
                <div id="follow_up_days_number-error" class="invalid-feedback"></div>
            </div>
            <!-- end FOLLOW UP -->

            <div class="form-group my-3 pt-2">
                <p class="mb-1 font-b6">Is this job a home support service?</p>
                <div class="form-radio custom-control custom-radio mb-2">
                    <input type="radio" id="home-support" name="home-support" value="Yes" class="custom-control-input form-check-input" required>
                    <label class="custom-control-label form-check-label" for="home-support">Yes</label>
                </div>
                <div class="form-radio custom-control custom-radio">
                    <input type="radio" id="home-support2" name="home-support" value="No" class="custom-control-input form-check-input" required>
                    <label class="custom-control-label form-check-label" for="home-support2">No</label>
                    <div id="home-support-error" class="invalid-feedback"></div>
                </div>
            </div>

            <div class="form-group col-md-12 mb-3 p-0 mx-auto text-center">
                <button class="btn btn-success btn-lg mt-4 float-right pl-4 pr-4" type="button" onclick="ajax_submit();">
                Next <i class="fas fa-arrow-right"></i>
                </button>
                <button class="btn btn-orange btn-lg mt-4 float-left pl-4 pr-4" type="button" onclick="ajax_previous();">
                <i class="fas fa-arrow-left"></i> Back
                </button>
            </div>

        </form>
    </div>


    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
