{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n shared_foundation_tags humanize %}

{% block title %}
{% trans 'Add New Job | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
    // Pre-populate the field with previous data.
    $(document).ready(function() {
        var tmp_comment = localStorage.getItem("tmp_comment");
        $('#comment').val(tmp_comment);
    });

    // Save this field.
    function ajax_submit() {
        var tmp_comment = $('#comment').val();
        localStorage.setItem("tmp_comment", tmp_comment);

        // Redirect to the next page in the form.
        window.location = "{% url 'workery_tenant_job_step_5_create' %}";
    }

    function ajax_previous() {
        window.location = "{% url 'workery_tenant_job_step_3_create' %}";
    }
</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_job_summary' %}">{% trans 'Jobs' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Add' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
   <br/>
	<!--
	<div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% url 'workery_tenant_job_summary' %}" role="button">
               <i class="fas fa-arrow-left"></i> &nbsp;{% trans 'Back to Jobs Home' %}
            </a>
		</div>
    </div>
-->
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1>Add Job</h1>


    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    
    <div class="row">
	   <div class="stepwizard pt-4 col-md-offset-3">
            <div class="stepwizard-row setup-panel">
              <div class="stepwizard-step step-complete">
                <a href="{% url 'workery_tenant_job_search_or_add_create' %}" type="button" class="btn btn-primary btn-lg btn-circle  text-white"><i class="fas fa-check"></i></a>
                <p>Search or Add</p>
              </div>
              <div class="stepwizard-step step-complete">
                <a href="{% url 'workery_tenant_job_step_2_create' %}" type="button" class="btn btn-primary btn-lg btn-circle text-white" disabled="disabled"><i class="fas fa-check"></i></a>
                <p>Job Type</p> 
              </div>
              <div class="stepwizard-step step-complete">
                <a href="{% url 'workery_tenant_job_step_3_create' %}"type="button" class="btn btn-primary btn-lg btn-circle text-white" disabled="disabled"><i class="fas fa-check"></i></a>
                <p>Skills and Description</p>
              </div>
              <div class="stepwizard-step step-active">
                <a type="button" class="btn btn-primary btn-lg btn-circle text-white step-btn-active" disabled="disabled"><i class="fas fa-check"></i></a>
                <p>Comments</p>
              </div>
              <div class="stepwizard-step stepwizard-step-last">
                <a type="button" class="btn btn-secondary btn-lg btn-circle text-white" disabled="disabled"><i class="fas fa-times"></i></a>
                <p>Review</p>
              </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->


    <div class="col-md-5 mx-auto mt-2">
		<h3 class="pt-4 pb-2 text-center">Add Job</h3>
		<form id="residential-job" class="needs-validation" action="" novalidate>
	    	  <div class="form-group my-3">
		      <label for="comment" class="font-b6">Additional comment(s):</label>
		      <textarea class="form-control form-control-lg border border-success" id="comment" name="comment" placeholder="Additional comments go here..." rows="4" minlength="10" required>
              </textarea>
		      <div id="comment-error" class="invalid-feedback"></div>
              <small class="form-text text-muted">Maximum 1,000 characters.</small>
		  </div>
		  <div class="form-group mb-3 mx-auto text-center p-0">
			<button class="btn btn-success btn-lg mt-4 float-right pl-4 pr-4" type="button" onclick="ajax_submit();">Next <i class="fas fa-arrow-right"></i></button>
			<button class="btn btn-orange btn-lg mt-4 float-left pl-4 pr-4" type="button" onclick="ajax_previous();"><i class="fas fa-arrow-left"></i> Back</button>
		  </div>
		</form>
	</div>


    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
