{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n foundation_tags %}

{% block title %}
{% trans 'Team List | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if template == 'search' %}

            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_team_summary' %}">{% trans 'Team' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_team_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Search Results' %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Team Member #' %}{{ object.id }}</li>

            {% elif template == 'list' %}

            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_team_summary' %}">{% trans 'Team' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_team_list' %}">{% trans 'List' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Team Member #' %}{{ object.id }}</li>

            {% else %}

	    	<li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_team_summary' %}">{% trans 'Team' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Team Member #' %}{{ object.id }}</li>

            {% endif %}
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_modified == 'True' %}
    <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
        Team Member <strong>Successfully</strong> updated.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% if template == 'search' %}{% url 'o55_tenant_team_search' %}{% elif template == 'list' %}{% url 'o55_tenant_team_list' %}{% else %}{% url 'o55_tenant_team_summary' %}{% endif %}" role="button">
                <svg class="svg-inline--fa fa-arrow-left fa-w-14" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
            </svg><!-- <i class="fas fa-arrow-left"></i> -->&nbsp;{% if template == 'search' %}{% trans 'Back to Search' %}{% elif template == 'list' %}{% trans 'Back to Team Member\'s List' %}{% else %}{% trans 'Back to Team Member\'s Home' %}{% endif %}</a>
		</div>
	</div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1>{% trans 'View Team Member' %}</h1>

    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <div class="col-sm-5 mx-auto mt-2">
        <!-- Residential form -->
        <div class="col-sm-12 fade show active" aria-labelledby="residential">
            <h3 class="pt-4 pb-2 text-center">Team Member Details</h3>
            <form id="add-staff-form" method="post" class="needs-validation" action="" novalidate>
            <!-- ############ PERSON ############ -->
            <p class="border-bottom mb-3 pb-1 text-secondary">Personal Information</p>
            <div class="form-row">
                <div class="form-group col-md-12 mb-4">
                    <label for="firstname">First name</label>
                    <p>{% if staff.given_name %}{{ staff.given_name }}{% else %}-{% endif %}</p>
                    <div id="firstname-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="middlename">Middle name</label>
                    <p>{% if staff.middle_name %}{{ staff.middle_name }}{% else %}-{% endif %}</p>
                    <div id="middlename-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="lastname">Last name</label>
                    <p>{% if staff.last_name %}{{ staff.last_name }}{% else %}-{% endif %}</p>
                    <div id="lastname-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group p-0 col-md-7 mb-4">
                    <label for="dob">Date of Birth</label>
                    <div class="input-group input-group-lg">
                        <p>{% if staff.birthdate %}{{ staff.birthdate }}{% else %}-{% endif %}</p>
                        <div id="dob-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group col-md-7 mb-4 p-0">
                    <label for="gender">Gender</label>
                    <p>{% if staff.gender %}{{ staff.gender }}{% else %}-{% endif %}</p>
                    <div id="gender-error" class="invalid-feedback"></div>
                </div>
            </div>
            <!-- ############ end PERSON ############ -->
            <!-- ############ CONTACT POINT ############ -->
            <p class="border-bottom mb-3 pb-1 text-secondary">Contact Point</p>
            <div class="form-row">
                <div class="form-group col-md-7 mb-4">
                    <label for="phonenumber">Phone</label>
                    <p>{% if staff.telephone %}<a href="tel:{{ staff.telephone }}">{{ staff.telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}</p>
                    <div id="phonenumber-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="mobilenumber">Mobile</label>
                    <p>{% if staff.mobile %}<a href="tel:{{ staff.mobile }}">{{ staff.mobile|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}</p>
                    <div id="mobilenumber-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="email">E-Mail</label>
                    <p>{% if staff.owner.email %}<a href="mailto:{{ staff.owner.email }}">{{ staff.owner.email }}</a>{% else %}-{% endif %}</p>
                    <div id="email-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group mt-2 mb-4">
                    <p class="mb-1">Ok to E-Mail?</p>

                </div>
                <div class="form-group mt-2 mb-4">
                    <p class="mb-1">Ok to Text?</p>

                </div>
            </div>
            <!-- ############ end CONTACT POINT ############ -->
            <!-- ############ LOCATION ############ -->
            <p class="border-bottom mb-3 pb-1 text-secondary">Postal Address</p>
            <div class="form-row">
                <div class="form-group col-md-12 mb-4">
                    <label for="street_address">Street Address</label>
                    <p>{% if staff.street_address %}{{ staff.street_address }}{% else %}-{% endif %}</p>
                    <div id="street_address-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="street_address_extra">Street Address (Extra)</label>
                    <p>{% if staff.street_address_extra %}{{ staff.street_address_extra }}{% else %}-{% endif %}</p>
                    <div id="street_address_extra-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="address_locality">City</label>
                    <p>{% if staff.address_locality %}{{ staff.address_locality }}{% else %}-{% endif %}</p>
                    <div id="address_locality-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="address_region">Province</label>
                    <p>{% if staff.address_region %}{{ staff.address_region }}{% else %}-{% endif %}</p>
                    <div id="address_region-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="address_country">Country</label>
                    <p>{% if staff.address_country %}{{ staff.address_country }}{% else %}-{% endif %}</p>
                    <div id="address_country-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="postal_code">Postal Code</label>
                    <p>{% if staff.postal_code %}{{ staff.postal_code }}{% else %}-{% endif %}</p>
                    <div id="postal_code-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="post_office_box_number">Post Office Box # </label>
                    <p>{% if staff.post_office_box_number %}{{ staff.post_office_box_number }}{% else %}-{% endif %}</p>
                    <div id="post_office_box_number-error" class="invalid-feedback"></div>
                </div>
            </div>
            <!-- ############ end LOCATION ############ -->
            <!-- end SUBMIT BUTTON -->
            <div class="form-group col-md-12 mb-3 mx-auto text-center">
                <a href="{% url 'o55_tenant_team_update' template object.id %}">
                <button  id="id_submit_btn"
                    class="btn btn-warning btn-lg btn-fxw mt-4"
                    type="button">
                <i class="fas fa-edit"></i>&nbsp;{% trans 'Edit Member' %}
                </button>
                </a>
            </div>
            <!-- end SUBMIT BUTTON -->
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM -->

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->

</main>

{% endblock content %}
