{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize shared_foundation_tags %}
{% block title %}
{% trans 'Financials | Workery' %}
{% endblock title %}
{% block header_content %}
{% endblock header_content %}
{% block content %}
<!-- API JAVASCRIPT -->
<!----------------------------------------------------------------------------->
{% include 'tenant_api/skillset_api_js.html' %}
<!----------------------------------------------------------------------------->
<!-- end API JAVASCRIPT -->

<!-- CUSTOM JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<script>
    // Do nothing.
</script>
<!----------------------------------------------------------------------------->
<!-- end CUSTOM JAVASCRIPT -->

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            {% if template == "unpaid-jobs" %}
               <li class="breadcrumb-item"><a href="{% url 'workery_tenant_unpaid_jobs_list' %}">{% trans 'Financials' %}</a></li>
               <li class="breadcrumb-item"><a href="{% url 'workery_tenant_unpaid_jobs_list' %}">{% trans 'Unpaid Jobs' %}</a></li>
            {% elif template == "paid-jobs" %}
                <li class="breadcrumb-item"><a href="{% url 'workery_tenant_paid_jobs_list' %}">{% trans 'Financials' %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'workery_tenant_paid_jobs_list' %}">{% trans 'Paid Jobs' %}</a></li>
             {% elif template == "all-jobs" %}
                <li class="breadcrumb-item"><a href="{% url 'workery_tenant_all_jobs_list' %}">{% trans 'Financials' %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'workery_tenant_all_jobs_list' %}">{% trans 'All Jobs' %}</a></li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Job #' %}{{ job_item.id|intcomma }}</li>
        </ol>
    </nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% if template == "unpaid-jobs" %}{% url 'workery_tenant_unpaid_jobs_list' %}{% elif template == "paid-jobs" %}{% url 'workery_tenant_paid_jobs_list' %}{% elif template == "all-jobs" %}{% url 'workery_tenant_all_jobs_list' %}{% endif %}" role="button">
               <i class="fas fa-arrow-left"></i> &nbsp;{% trans 'Back to Job Home' %}
            </a>
		</div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1>{% trans 'View Job Financials' %}</h1>

    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <div class="col-md-10 mx-auto mb-4 py-2">
        <h3 class="py-2 text-center mb-4" id="id_page_title">Job Financial Summary</h3>
        <!-- Error Output -->
        <div id="all_error_result" name="all_error_result"></div>
        <!-- end Error Output -->
        <table class="table table-bordered custom-cell-w">
            <tbody>
                <tr class="bg-dark">
                    <th scope="row" colspan="2" class="text-light">Summary Details</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Order #</th>
                    <td id="selected_order_id">
                        <a href="{% url 'workery_tenant_job_retrieve' 'summary' job_item.customer.id %}" target="_blank">{{ job_item.id }}&nbsp;<i class="fas fa-external-link-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Associate Name</th>
                    <td id="selected_associate_name">
                        {% if job_item.associate %}<a href="{% url 'workery_tenant_member_lite_retrieve' template job_item.associate.id %}" target="_blank">{{ job_item.associate }}&nbsp;<i class="fas fa-external-link-alt"></i></a>{% else %}-{% endif %}
                    </td>
                </tr>
                <!-- Financial -->
                <tr>
                    <th scope="row" class="bg-light">Invoice Date</th>
                    <td id="selected_invoice_date">
                        {{ job_item.invoice_date }}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Invoice ID #</th>
                    <td id="selected_invoice_id">
                        {{ job_item.invoice_id }}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Original Quote</th>
                    <td id="selected_invoice_quote_amount">
                        {{ job_item.invoice_quote_amount }}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Total Labour</th>
                    <td id="selected_invoice_labour_amount">
                        {{ job_item.invoice_labour_amount }}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Total Materials</th>
                    <td id="selected_invoice_material_amount">
                        {{ job_item.invoice_material_amount }}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Total Tax</th>
                    <td id="selected_invoice_tax_amount">
                        {{ job_item.invoice_tax_amount }}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Total</th>
                    <td id="selected_invoice_total_amount">
                        {{ job_item.invoice_total_amount }}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Service Fee</th>
                    <td id="selected_invoice_service_fee_amount">
                        {{ job_item.invoice_service_fee_amount }}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Service Fee Payment Date</th>
                    <td id="selected_invoice_service_fee_payment_date">
                        {% if job_item.invoice_service_fee_payment_date %}
                            {{ job_item.invoice_service_fee_payment_date }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                <!-- end Financial -->
            </tbody>
        </table>

        <!-- UPDATE BUTTON -->
        <!--------------------------------------------------------------------->
        <div class="form-group col-md-12 mb-3 mx-auto text-center">
            <a href="{% url 'workery_tenant_financlial_job_update' template job_item.id %}">
                <button  id="id_submit_btn"	class="btn btn-orange btn-lg btn-fxw mt-4" type="button">
                    <i class="fas fa-pencil-alt"></i>&nbsp;{% trans 'Edit Job' %}
                </button>
            </a>
        </div>
        <!--------------------------------------------------------------------->
        <!-- end UPDATE BUTTON -->

    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM -->

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
