{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n %}

{% block title %}
{% trans 'Add New Job | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<!-- API JAVASCRIPT -->
<!----------------------------------------------------------------------------->
{% include 'tenant_api/customers_api_js.html' %}
<!----------------------------------------------------------------------------->
<!-- end API JAVASCRIPT -->


<!-- CUSTOM JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<script>
    /**
     *  When page loads, the following code will be run first.
     */
    $(document).ready(function () {
        // Initialize our datepicker jQuery code with our HTML view.
        $( "#dob" ).datepicker({
            dateFormat: 'yy-mm-dd'  // https://stackoverflow.com/a/7500097
        });
    }); // end Ready

    /**
     *  Function will unlock the submit button.
     */
    function disable_btn() {
        $('#id_submit_btn').val("{% trans 'Please Wait...' %}");
        $('#id_submit_btn').prop("disabled", true);
    }

    /**
     *  Function will lock the submit button.
     */
    function enable_btn() {
        $('#id_submit_btn').prop("disabled", false);
        $('#id_submit_btn').val("{% trans 'Update' %}");
    }

    function get_selected_radio_value(radiofields_name) {
        var radios = document.getElementsByName('ok_to_email');
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                // only one radio can be logically checked, don't check the rest
                return radios[i].value;
            }
        }
        return null;
    }

    function valid_textfield_value(textfield_id, is_required, min_length) {
        var textfield = document.getElementById(textfield_id);
        var textfield_error = document.getElementById(textfield_id+'-error');
        var value = textfield.value;

        // CASE 1: BLANK FIELD.
        if (is_required) {
            if (value == '' || value == null || value == undefined || value.length == 0) {
                $('#'+textfield_id).addClass('border-primary').removeClass('border-success');
                textfield_error.innerHTML = "Field should not be blank.";
                return true; // This means that an error occured in validation.
            }
        }

        // CASE 2: MINIMUM LENGTH NOT MET.
        if (value.length > 0) {              // If user entered something...
            if (value.length < min_length) { // Validate that the minium was entered...
                $('#'+textfield_id).addClass('border-primary').removeClass('border-success');
                textfield_error.innerHTML = "Field requires a minimum of "+min_length+" characters.";
                return true;
            }
        }

        // Update the GUI to indicate this field has been updated.
        $('#'+textfield_id).addClass('border-success').removeClass('border-primary');

        // Return "false" which means no errors occured.
        return false;
    }

    function valid_radiofields_seleciton(radiofields_name, is_required) {
        var value = get_selected_radio_value(radiofields_name);

        if (is_required) {
            if (value == null) {
                //TODO: IMPLEMENT UPDATE GUI VALIDATION.
                // alert("Please select a radio button for "+radiofields_name+".");
                return false;
            }
        }

        // Return "false" which means no errors occured.
        return false;
    }

    /**
     *  Function will attempt to submit the form to the API server. This
     *  funciton will:
     *  (1) Lock / Unlock the submit button.
     *  (2)
     */
    function ajax_post_form_submission() {
        // GET OUR FORM.
        var form = document.getElementById('add-client-form');

        // VALIDATE ALL OUR FORM FIELDS.
        var has_error = false;
        has_error |= valid_textfield_value('firstname', true, 2);
        has_error |= valid_textfield_value('lastname', true, 2);
        has_error |= valid_textfield_value('phonenumber', true, 10);
        has_error |= valid_textfield_value('mobilenumber', false, 10);
        has_error |= valid_radiofields_seleciton('ok_to_email', true);
        has_error |= valid_radiofields_seleciton('ok_to_text', true);
        has_error |= valid_textfield_value('street_address', true, 3);
        has_error |= valid_textfield_value('street_address_extra', false, 3)
        has_error |= valid_textfield_value('address_locality', true, 3);
        has_error |= valid_textfield_value('address_region', true, 3);
        has_error |= valid_textfield_value('address_country', true, 3);
        has_error |= valid_textfield_value('postal_code', true, 3);
        has_error |= valid_textfield_value('post_office_box_number', false, 3);

        // INTERRUPT THE FORM SUBMISSION IF ANY ERRORS EXISTED AND UPDATE THE
        // GUI TO INDICATE THAT WE HAVE VALIDATED SOME FIELDS.
        form.classList.add('was-validated');
        if (has_error) {
            return; // STOP THIS FUNCTION FROM GOING FORWARD UNTIL ERRORS FIXED.
        }

        // EXTRACT OUR FIELD VALUES.
        var given_name = $('#firstname').val();
        var middle_name = $('#middlename').val();
        var last_name = $('#lastname').val();
        var date_of_birth = $('#dob').val();
        if (date_of_birth !== undefined && date_of_birth != null && date_of_birth.length > 0) {
            console.log(date_of_birth);
        } else {
            date_of_birth = null;
        }
        var gender = $('#gender').val();
        if (gender == undefined || gender == null || gender.length == 0) {
            gender = null;
        }
        var ok_to_email = get_selected_radio_value('ok_to_email');
        var ok_to_text = get_selected_radio_value('ok_to_text');
        var street_address = $('#street_address').val();
        var street_address_extra = $('#street_address_extra').val();
        var address_region = $('#address_region').val();
        var address_locality = $('#address_locality').val();
        var address_country = $('#address_country').val();
        var postal_code = $('#postal_code').val();
        var post_office_box_number = $('#post_office_box_number').val();
        var email = $('#email').val();
        // var area_served = $('#id_area_served').val();
        var telephone = $('#phonenumber').val();
        // var telephone_extension = $('#id_telephone_extension').val();
        var mobile = $('#mobilenumber').val();
        // var fax_number = $('#id_fax_number').val();

        // LOCK OUT THE "SUBMIT" BUTTON SO THE USER DOES NOT MAKE MULTI-CALLS.
        disable_btn();

        // MAKE OUR API CALL TO THE BACKEND TO "CREATE" THE CUSTOMER USER.
        create_customer_api(
            {
                'given_name': given_name,
                'middle_name': middle_name,
                'last_name': last_name,
                'birthdate': date_of_birth,
                'gender': gender,
                'nationality': null,
                'is_ok_to_email': ok_to_email,
                'is_ok_to_text': ok_to_text,
                'address_country': address_country,
                'address_locality': address_locality,
                'address_region': address_region,
                'extra_comment': null,
                'street_address': street_address,
                'street_address_extra': street_address_extra,
                'postal_code': postal_code,
                'post_office_box_number': post_office_box_number,
                'email': email,
                // 'area_served': area_served,
                'fax_number': null,
                'telephone': telephone,
                // 'telephone_extension': telephone_extension,
                'mobile': mobile,
                // 'fax_number': fax_number
            },
            function(result_dict) { // Success
                console.log(result_dict);
                window.location = "{% url 'o55_tenant_job_summary' %}?was_created=True";
            },
            function(xhr,status,error) { // Error
                var errorJSON = xhr.responseJSON;
                console.log(errorJSON); //TODO: IMPL.
                alert("Error with submission, see console.");
            },
            function() { // Finally
                // UNLOCK THE "SUBMIT" BUTTON TO BE AVAILABLE FOR USAGE.
                enable_btn();
            }
        );
    }
</script>
<!----------------------------------------------------------------------------->
<!-- end CUSTOM JAVASCRIPT -->

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_summary' %}">{% trans 'Jobs' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Add' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% url 'o55_tenant_job_summary' %}" role="button">
                <svg class="svg-inline--fa fa-arrow-left fa-w-14" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
            </svg><!-- <i class="fas fa-arrow-left"></i> -->&nbsp;{% trans 'Back to Jobs Home' %}</a>
		</div>
	</div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1>{% trans 'Add Job' %}</h1>

    <!-- FORM -->
    <!------------------------------------------------------------------------->

    <div class="col-sm-6 mx-auto mt-4 pt-2">
	<p><strong>Search for existing client:</strong></p>
	<form class="needs-validation" novalidate>
	  <div class="form-row">
	    <div class="col-md-12 mb-3">
	      <div class="form-group">
	        <label for="validationCustom01">First name</label>
	        <input type="text" class="form-control form-control-lg border border-primary" id="validationCustom01" placeholder="First name" required>
	        <div class="valid-feedback">
	          Looks good!
	        </div>
	      </div>
	      <div class="form-group">
	        <label for="validationCustom02">Last name</label>
	        <input type="text" class="form-control form-control-lg border border-primary" id="validationCustom02" placeholder="Last name" required>
	        <div class="valid-feedback">
	          Looks good!
	        </div>
	      </div>
	      <div class="form-group">
	        <label for="validationCustom03">Phone</label>
	        <input type="text" class="form-control form-control-lg border border-primary" id="validationCustom03" placeholder="Phone" required>
	        <div class="invalid-feedback">
	          Please provide a valid phone number.
	        </div>
	      </div>
	      <div class="form-group">
	        <label for="validationCustom04">E-mail</label>
	        <input type="text" class="form-control form-control-lg border border-primary" id="validationCustom04" placeholder="Email ID" required>
	        <div class="invalid-feedback">
	          Please provide a valid E-mail ID.
	        </div>
	      </div>
	    </div>

	    <div class="col-md-8 mb-3 mt-2 text-center mx-auto">
		<div class="align-self-center">
			<button class="btn btn-success btn-lg btn-block" type="submit"><i class="fas fa-search"></i> Search</button>
	        </div>
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="col-md-8 text-center mx-auto mb-3">
	    	<h3 class="p-2">- or -</h3>
	    	<a class="btn btn-primary btn-lg btn-block" href="{% url 'o55_tenant_job_add_customer_create' %}" role="button"><i class="fas fa-plus"></i> Add New</a>
	    </div>
	  </div>
	</form>
	</div>

    <!------------------------------------------------------------------------->
    <!-- end FORM -->


    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>

{% endblock content %}
