{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n foundation_tags humanize %}

{% block title %}
{% trans 'Clients List | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
    // DEPRECATED DEPRECATED DEPRECATED DEPRECATED DEPRECATED DEPRECATED DEPRECATED DEPRECATED
    // DEPRECATED DEPRECATED DEPRECATED DEPRECATED DEPRECATED DEPRECATED DEPRECATED DEPRECATED
    // DEPRECATED DEPRECATED DEPRECATED DEPRECATED DEPRECATED DEPRECATED DEPRECATED DEPRECATED

    // Pre-populate the field with previous data.
    $(document).ready(function() {
        ////////////////////////////////
        // GET FROM OUR LOCAL STORAGE //
        ////////////////////////////////
        var tmp_order_given_name = localStorage.getItem("tmp_order_given_name");
        var tmp_order_middle_name = localStorage.getItem("tmp_order_middle_name");
        var tmp_order_last_name = localStorage.getItem("tmp_order_last_name");
        var tmp_order_dob = localStorage.getItem("tmp_order_dob");
        var tmp_order_gender = localStorage.getItem("tmp_order_gender");
        var tmp_order_ok_to_email = localStorage.getItem("tmp_order_ok_to_email");
        var tmp_order_ok_to_text = localStorage.getItem("tmp_order_ok_to_text");
        var tmp_order_street_address = localStorage.getItem("tmp_order_street_address");
        var tmp_order_street_address_extra = localStorage.getItem("tmp_order_street_address_extra");
        var tmp_order_address_region = localStorage.getItem("tmp_order_address_region");
        var tmp_order_address_locality = localStorage.getItem("tmp_order_address_locality");
        var tmp_order_address_country = localStorage.getItem("tmp_order_address_country");
        var tmp_order_postal_code = localStorage.getItem("tmp_order_postal_code");
        var tmp_order_post_office_box_number = localStorage.getItem("tmp_order_post_office_box_number");
        var tmp_order_email = localStorage.getItem("tmp_order_email");
        var tmp_order_telephone = localStorage.getItem("tmp_order_telephone");
        var tmp_order_other_telephone = localStorage.getItem("tmp_order_other_telephone");
        var tmp_order_password = localStorage.getItem("tmp_order_password");
        var tmp_order_password_repeat = localStorage.getItem("tmp_order_password_repeat");

        ////////////////////
        // SET OUR VALUES //
        ////////////////////
        $('#selected_first_name').append(tmp_order_given_name);
        $('#selected_middle_name').append(tmp_order_middle_name);
        $('#selected_last_name').append(tmp_order_last_name);
        $('#selected_phonenumber').append(tmp_order_telephone);
        if (tmp_order_other_telephone !== undefined && tmp_order_other_telephone !== null && tmp_order_other_telephone.length > 0) {
            $('#selected_other_phonenumber').append(tmp_order_other_telephone);
        }
        if (tmp_order_email !== undefined && tmp_order_email !== null && tmp_order_email.length > 0) {
            $('#selected_email').append(tmp_order_email);
        }
        if (tmp_order_ok_to_email !== undefined && tmp_order_ok_to_email !== null && tmp_order_ok_to_email.length > 0) {
            tmp_order_ok_to_email = capitalizeFirstLetter(tmp_order_ok_to_email);
            $('#selected_ok_to_email').append(tmp_order_ok_to_email);
        }
        if (tmp_order_ok_to_text !== undefined && tmp_order_ok_to_text !== null && tmp_order_ok_to_text.length > 0) {
            tmp_order_ok_to_text = capitalizeFirstLetter(tmp_order_ok_to_text);
            $('#selected_ok_to_text').append(tmp_order_ok_to_text);
        }
        if (tmp_order_dob !== undefined && tmp_order_dob !== null && tmp_order_dob.length > 0) {
            $('#selected_dob').append(tmp_order_dob);
        }
        if (tmp_order_gender !== undefined && tmp_order_gender !== null && tmp_order_gender.length > 0) {
            tmp_order_gender = capitalizeFirstLetter(tmp_order_gender);
            $('#selected_gender').append(tmp_order_gender);
        }
        $('#selected_street_address').append(tmp_order_street_address);
        if (tmp_order_street_address_extra !== undefined && tmp_order_street_address_extra !== null && tmp_order_street_address_extra.length > 0) {
            $('#selected_street_address_extra').append(tmp_order_street_address_extra);
        }
        $('#selected_address_region').append(tmp_order_address_region);
        $('#selected_address_locality').append(tmp_order_address_locality);
        $('#selected_address_country').append(tmp_order_address_country);
        $('#selected_postal_code').append(tmp_order_postal_code);
        if (tmp_order_post_office_box_number !== undefined && tmp_order_post_office_box_number !== null && tmp_order_post_office_box_number.length > 0) {
            $('#selected_post_office_box_number').append(tmp_order_post_office_box_number);
        }
        // if (tmp_order_password !== undefined && tmp_order_password !== null && tmp_order_password.length > 0) {
        //     $('#password').val(tmp_order_password);
        // }
        // if (tmp_order_password_repeat !== undefined && tmp_order_password_repeat !== null && tmp_order_password_repeat.length > 0) {
        //     $('#password_repeat').val(tmp_order_password_repeat);
        // }
    });

    function ajax_submit() {
        // // STEP 1 OF 2:
        // var previous_url = window.location.href;
        // localStorage.setItem("tmp_branch_previous_url", previous_url);

        // STEP 2 OF 2:
        // Redirect to the next page in the form.
        window.location = "{% url 'o55_tenant_job_step_2_create' %}";
    }

    function ajax_previous() {
        // Redirect to the next page in the form.
        window.location = "{% url 'o55_tenant_job_add_customer_create' %}";
    }
</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_job_summary' %}">{% trans 'Jobs' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Add' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% url 'o55_tenant_job_summary' %}" role="button">
                <svg class="svg-inline--fa fa-arrow-left fa-w-14" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
            </svg><!-- <i class="fas fa-arrow-left"></i> -->&nbsp;{% trans 'Back to Jobs Home' %}</a>
		</div>
	</div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1>Add Client</h1>

    <div class="row mt-4 pt-3 mb-4 pb-2">
       <div class="col-md-10 mx-auto p-2">
        <p><strong>Please confirm these details before adding the residential client:</strong></p>
        <table class="table table-bordered custom-cell-w">
          <tbody>
            <tr class="bg-dark">
              <th scope="row" colspan="2" class="text-light">Personal details</th>
            </tr>
            <tr>
              <th scope="row" class="bg-light">First name</th>
              <td id="selected_first_name"><!-- PLACEHOLDER --></td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">Middle name name</th>
              <td id="selected_middle_name"><!-- PLACEHOLDER --></td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">Last name</th>
              <td id="selected_last_name"><!-- PLACEHOLDER --></td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">Phone</th>
              <td id="selected_phonenumber"><!-- PLACEHOLDER --></td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">Mobile</th>
              <td id="selected_other_phonenumber"><!-- PLACEHOLDER --></td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">E-Mail</th>
              <td id="selected_email"><!-- PLACEHOLDER --></td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">Ok to E-Mail?</th>
              <td id="selected_ok_to_email"><!-- PLACEHOLDER --></td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">Ok to Text?</th>
              <td id="selected_ok_to_text"><!-- PLACEHOLDER --></td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">Date of Birth</th>
              <td id="selected_dob"><!-- PLACEHOLDER --></td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">Gender</th>
              <td id="selected_gender"><!-- PLACEHOLDER --></td>
            </tr>
            <tr class="bg-dark">
              <th scope="row" colspan="2" class="text-light">Address</th>
            </tr>
            <tr>
              <th scope="row" class="bg-light">Street Address</th>
              <td id="selected_street_address"><!-- PLACEHOLDER --></td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">Street Address (Extra)</th>
              <td id="selected_street_address_extra"><!-- PLACEHOLDER --></td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">City</th>
              <td id="selected_address_locality"><!-- PLACEHOLDER --></td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">State/Province</th>
              <td id="selected_address_region"><!-- PLACEHOLDER --></td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">Postal code</th>
              <td id="selected_postal_code"><!-- PLACEHOLDER --></td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">Country</th>
              <td id="selected_address_country"><!-- PLACEHOLDER --></td>
            </tr>
            <tr>
              <th scope="row" class="bg-light">Post Office Box Number</th>
              <td id="selected_post_office_box_number"><!-- PLACEHOLDER --></td>
            </tr>
            {% comment %}
            <tr class="bg-dark">
              <th scope="row" colspan="2" class="text-light">Skills</th>
            </tr>
            <tr>
              <th scope="row" class="bg-light">Client&apos;s skills</th>
              <td><span class="badge badge-info badge-lg">Skill 1</span> <span class="badge badge-info badge-lg">Skill 2</span>
              <span class="badge badge-info badge-lg">HTML</span> <span class="badge badge-info badge-lg">PHP</span> <span class="badge badge-info badge-lg">Bootstrap</span> <span class="badge badge-info badge-lg">Django</span> <span class="badge badge-info badge-lg">Photoshop</span> <span class="badge badge-info badge-lg">Python</span> <span class="badge badge-info badge-lg">ASP.net</span> <span class="badge badge-info badge-lg">Android</span> <span class="badge badge-info badge-lg">jQuery</span>
              </td>
            </tr>
            {% endcomment %}
          </tbody>
        </table>
        <div class="form-group col-md-12 mb-3 p-0 mx-auto text-center">
            <button class="btn btn-success btn-lg mt-4 float-right pl-4 pr-4" type="button" onclick="ajax_submit();">Next <i class="fas fa-arrow-right"></i></button>
			<button class="btn btn-orange btn-lg mt-4 float-left pl-4 pr-4" type="button" onclick="ajax_previous();"><i class="fas fa-arrow-left"></i> Back</button>
        </div>
       </div>
    </div>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
