{% extends 'shared_foundation/shared_base.html' %}
{% load staticfiles i18n foundation_tags %}
{% block title %}{% trans 'Login | Over 55 Inc.' %}{% endblock title %}
{% block content %}
<!-- JAVASCRIPT -->
<script>
    $(document).ready(function () {
        // Detect "Enter" button clicked and then auto-click on our submit button.
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_login_btn").click();
            }
        });

        var token = "{{ request.token }}{% url 'o55_login_redirector' %}";
        if (token != "" && token != undefined) {
            // window.location = "{% get_app_domain %}";
        }

    }); // end Document Start

    /**
     * Function will take the EMAIL and PASSWORD, submit the information to the
     * server and have either an error returned or an API KEY which
     */
    function ajax_login()
    {
        api_post_login(
            $('#id_email').val().toLowerCase(),
            $('#id_password').val(),
            function(json_results) {

                // Store the API key for the authenticated user.
                var private_api_key = json_results['token'];

                // Store the "Franchise" subdomain that this user belongs to.
                var schema_name = json_results['schema_name'];

                // If an API key was returned then continue...
                if (private_api_key !== undefined) {
                    // Save the api key in the browser.
                    localStorage.setItem("private_api_key", private_api_key);

                    // Save the "Franchise" subdomain.
                    localStorage.setItem("schema_name", schema_name);

                    // Return with a success condition.
                    window.location = "{% get_app_domain %}{% url 'o55_login_redirector' %}";

                // Return with an error status.
                } else {
                    alert("Wrong login credentials.");
                }
            },
            function(xhr, status, error) {
                alert("Wrong login credentials.");
                // Convert the error json into string.
                // var string = JSON.stringify( error );
                // console.log(string);
            }
        ); // End Login
    }
</script>
<!-- end JAVASCRIPT -->


<div class="container">
   <div class="row">
      <div class="col-sm-12 text-center">
          <img class="img-fluid" src="{{ constants.O55_APP_HTTP_PROTOCOL }}{{ constants.O55_APP_HTTP_DOMAIN }}{% static 'img/over55-logo-600px.png' %}" alt="Logo" width="180px" />
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6 mx-auto">
         <form class="form-signin">
            <h2 class="form-signin-heading text-center mb-3">{% trans 'Sign In' %}</h2>
            <div class="form-group mb-0">
               <div class="input-group input-group-lg">
                  <div class="input-group-prepend">
                     <span class="input-group-text input-group-addon-e">
                         <i class="fa fa-envelope color-blue"></i>
                     </span>
                  </div>
                  <input id="id_email" name="email" placeholder="{% trans 'Email Address' %}" class="form-control form-control-lg" type="email" autofocus autocapitalize="off" />
               </div>
            </div>
            <div class="form-group mb-2">
               <div class="input-group input-group-lg">
                  <div class="input-group-prepend">
                     <span class="input-group-text input-group-addon-p">
                         <i class="fa fa-key color-blue"></i>
                     </span>
                  </div>
                  <input id="id_password" name="password" placeholder="{% trans 'Password' %}" class="form-control form-control-lg" type="password" value="" autocapitalize="off" />
               </div>
            </div>
            <div class="custom-control custom-checkbox mb-3 mt-3">
               <input type="checkbox" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">{% trans 'Remember me' %}</label>
            </div>
            <input type="button" value="{% trans 'Sign In' %}" class="btn btn-lg btn-primary btn-block" onclick="ajax_login();">
            <h5 class="text-center mt-3 mb-3">
            <a href="{% url 'o55_send_reset_password_email_master' %}" class="text-primary plain-link">{% trans 'Forgot Password?' %}</a></h2>
         </form>
      </div>
   </div>
</div>
<!-- /container -->

{% endblock content %}
