<script>
    function create_member_api(data_dict, func_callback, func_error_callback, complete_callback) {
        jQuery.ajax({
            url: "{% url 'o55_associate_list_create_api_endpoint' %}?format=json",
            headers: {
                Authorization: rest_api_token
            },
            data: data_dict,
            type: "POST",
            traditional: true, // Note: This allows many-to-many arrays for Django REST Framework
            success: function(result_dict){
                func_callback(result_dict); // Call back the function with the JSON results.
            },
            error: function(xhr,status,error) {
                func_error_callback(xhr,status,error);
            },
            complete: function(xhr,status) {
                // Convert JSON string into javascript associative array.
                var json = jQuery.parseJSON(xhr.responseText);
                complete_callback(json); // Return JSON
            }
        });
    }

    function update_member_api(pk, data_dict, func_callback, func_error_callback, complete_callback) {
        var url = "{% url 'o55_associate_retrieve_update_destroy_api_endpoint' 0 %}?format=json";
        url = url.replace("0", pk);
        jQuery.ajax({
            url: url,
            headers: {
                Authorization: rest_api_token
            },
            data: data_dict,
            type: "PUT",
            traditional: true, // Note: This allows many-to-many arrays for Django REST Framework
            success: function(result_dict){
                func_callback(result_dict); // Call back the function with the JSON results.
            },
            error: function(xhr,status,error) {
                func_error_callback(xhr,status,error);
            },
            complete: function(xhr,status) {
                // Convert JSON string into javascript associative array.
                var json = jQuery.parseJSON(xhr.responseText);
                complete_callback(json); // Return JSON
            }
        });
    }

    function retrieve_member_api(pk, func_callback, func_error_callback, complete_callback) {
        // Reverse the URL identifier to get the full URL and replace it with
        // the PK.
        var url = "{% url 'o55_associate_retrieve_update_destroy_api_endpoint' 0 %}?format=json";
        url = url.replace('0', pk);

        // Make a POST commit.
        jQuery.ajax({
            url: url,
            headers: {
                Authorization: rest_api_token
            },
            type: "GET",
            traditional: true, // Note: This allows many-to-many arrays for Django REST Framework
            success: function(result_dict){
                func_callback(result_dict); // Call back the function with the JSON results.
            },
            error: function(xhr,status,error) {
                func_error_callback(xhr,status,error);
            },
            complete: function(xhr,status) {
                // Convert JSON string into javascript associative array.
                var json = jQuery.parseJSON(xhr.responseText);
                complete_callback(json); // Return JSON
            }
        });
    }
</script>
