{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n shared_foundation_tags %}

{% block title %}
{% trans 'Staff Details | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
<script>
    $(document).ready(function () {
        // Do nothing.
    });

    function click_view_more_button() {
        $( "#id_master_form" ).hide();
        $( "#id_detail_form" ).show();
    }
</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if template == 'search' %}

            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_team_summary' %}">{% trans 'Staff' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_team_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Search Results' %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Staff Member #' %}{{ object.id }}</li>

            {% elif template == 'list' %}

            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_team_summary' %}">{% trans 'Staff' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_team_list' %}">{% trans 'List' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Staff Member #' %}{{ object.id }}</li>

            {% else %}

	    	<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_team_summary' %}">{% trans 'Staff' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Staff Member #' %}{{ object.id }}</li>

            {% endif %}
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_modified == 'True' %}
    <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
        Staff Member <strong>Successfully</strong> updated.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% if template == 'search' %}{% url 'workery_tenant_team_search' %}{% elif template == 'list' %}{% url 'workery_tenant_team_list' %}{% else %}{% url 'workery_tenant_team_summary' %}{% endif %}" role="button">
                	<i class="fas fa-arrow-left"></i> &nbsp;{% if template == 'search' %}{% trans 'Back to Search' %}{% elif template == 'list' %}{% trans 'Back to Staff Member\'s List' %}{% else %}{% trans 'Back to Staff Member\'s Home' %}{% endif %}</a>
		</div>
	</div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1>{% trans 'View Staff Member' %}</h1>

    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    <div class="row">
        <div class="step-navigation">
            <div class="st-grey">
                <a href="{% url 'workery_tenant_team_lite_retrieve' template staff.id %}">
                    <i class="fa fa-id-badge"></i>&nbsp;<span class="">Summary</span>
                </a>
            </div>
            <div class="st-grey active">
                <i class="fa fa-id-card"></i>&nbsp;<span class="">Details</span>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_team_retrieve_for_comment_list_and_create' template staff.id %}">
                    <i class="fa fa-comments"></i>&nbsp;<span class="">Comments</span>
                </a>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->

    <div class="row py-2">

        <!-- DETAIL FORM -->
        <!------------------------------------------------------------------------->
        <div class="col-md-10 mx-auto" id="id_detail_form">
            <!-- Residential form -->
            <h3 class="pt-4 pb-2 text-center">Staff Member's Detail</h3>
            <!-- ############ PERSON ############ -->
	    <table class="table table-bordered custom-cell-w">
            <tbody>
                <tr class="bg-primary text-white">
                    <th scope="row" colspan="2">Personal Information</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">First Name</th>
                    <td id="given_name">
                        {% if staff.given_name %}{{ staff.given_name }}{% else %}-{% endif %}
                    </td>
                </tr>
		<tr>
                    <th scope="row" class="bg-light">Last Name</th>
                    <td id="last_name">
                        {% if staff.last_name %}{{ staff.last_name }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Date of Birth</th>
                    <td id="dob">
                        {% if staff.birthdate %}{{ staff.birthdate }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Gender</th>
                    <td id="gender">
                        {% if staff.gender %}{{ staff.gender }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Description</th>
                    <td id="description">
                        {% if staff.description %}{{ staff.description }}{% else %}-{% endif %}
                    </td>
                </tr>
		<tr>
                    <th scope="row" class="bg-light">Tags</th>
                    <td id="tags">
                        {% for tag in staff.tags.all %}<span class="badge badge-info badge-lg" id="tag_id_{{ tag.id }}">{{ tag }}</span>{% empty %}-{% endfor %}
                    </td>
                </tr>
		<!-- ############ end PERSON ############ -->
                <!-- ############ CONTACT POINT ############ -->
                <tr class="bg-primary text-white">
                    <th scope="row" colspan="2">Contact Point</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Phone</th>
                    <td id="phonenumber">
                        {% if staff.telephone %}<a href="tel:{{ staff.telephone }}">{{ staff.telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Mobile</th>
                    <td id="mobile">
                        {% if staff.other_telephone %}<a href="tel:{{ staff.other_telephone }}">{{ staff.other_telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}
		    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">E-Mail</th>
                    <td id="email">
                        {% if staff.owner.email %}<a href="mailto:{{ staff.owner.email }}">{{ staff.owner.email }}</a>{% else %}-{% endif %}
                    </td>
                </tr>
		<tr>
                    <th scope="row" class="bg-light">Ok to E-Mail?</th>
                    <td id="ok_to_email">
                        {% if staff.is_ok_to_email == True %}Yes{% else %}No{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Ok to Text?</th>
                    <td id="ok_to_text">
                        {% if staff.is_ok_to_text == True %}Yes{% else %}No{% endif %}
                    </td>
                </tr>
                <!-- ############ end CONTACT POINT ############ -->
                <!-- ############ LOCATION ############ -->
                <tr class="bg-primary text-white">
                    <th scope="row" colspan="2">Postal Address</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Street Address</th>
                    <td id="street_address">
                        {% if staff.street_address %}{{ staff.street_address }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Street Address (Extra)</th>
                    <td id="street_address_extra">
                        {% if staff.street_address_extra %}{{ staff.street_address_extra }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">City</th>
                    <td id="city">
                        {% if staff.address_locality %}{{ staff.address_locality }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Province</th>
                    <td id="region">
                        {% if staff.address_region %}{{ staff.address_region }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Country</th>
                    <td id="country">
                        {% if staff.address_country %}{{ staff.address_country }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Postal Code</th>
                    <td id="postal_code">
                        {% if staff.postal_code %}{{ staff.postal_code }}{% else %}-{% endif %}
                    </td>
                </tr>
		<tr>
                    <th scope="row" class="bg-light">Post Office Box #</th>
                    <td id="post_office_box_number">
                        {% if staff.post_office_box_number %}{{ staff.post_office_box_number }}{% else %}-{% endif %}
                    </td>
                </tr>
		<!-- ############ end LOCATION ############ -->
	    </tbody>
        </table>
        
        </div>

        <!------------------------------------------------------------------------->
        <!-- end DETAIL FORM -->

        <!-- UPDATE BUTTON -->
        <!--------------------------------------------------------------------->
        <div class="form-group col-md-12 mb-3 mx-auto text-center">
            <a href="{% url 'workery_tenant_team_update' template object.id %}">
                <button  id="id_submit_btn"	class="btn btn-warning btn-lg btn-fxw mt-4" type="button">
                    <i class="fas fa-edit"></i>&nbsp;{% trans 'Edit Staff' %}
                </button>
            </a>
        </div>
        <!--------------------------------------------------------------------->
        <!-- end UPDATE BUTTON -->

    </div>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->

</main>

{% endblock content %}
