{% extends 'shared_foundation/shared_base.html' %}
{% load staticfiles i18n %}

{% block title %}
{% trans 'Reset Password | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}
<!-- JS -->
<script>
    $(document).ready(function () {
	/**
	 *  Password Strength Check Validation.
	 */
	var checkPassword = document.getElementById("id_password");
	var s_letter = document.getElementById("s_lowercase");
	var s_capital = document.getElementById("s_uppercase");
	var s_character = document.getElementById("s_special");
	var s_length = document.getElementById("min_char");
	// When the user starts to type something inside the password field
	checkPassword.onkeyup = function() {
  		// Validate lowercase letters
  		var lowerCaseLetters = /[a-z]/g;
		  if(checkPassword.value.match(lowerCaseLetters)) {
		    s_letter.classList.remove("pass_check");
		    s_letter.classList.add("pass_valid");
		  } else {
		    s_letter.classList.remove("pass_valid");
		    s_letter.classList.add("pass_check");
		  }
  		// Validate capital letters
  		var upperCaseLetters = /[A-Z]/g;
		  if(checkPassword.value.match(upperCaseLetters)) {
		    s_capital.classList.remove("pass_check");
		    s_capital.classList.add("pass_valid");
		  } else {
		    s_capital.classList.remove("pass_valid");
		    s_capital.classList.add("pass_check");
		  }
  		// Validate numbers
  		var specialChar = /[!@#\$%\^&\*]/g;
		  if(checkPassword.value.match(specialChar)) {
		    s_character.classList.remove("pass_check");
		    s_character.classList.add("pass_valid");
		  } else {
		    s_character.classList.remove("pass_valid");
		    s_character.classList.add("pass_check");
		  }
  		// Validate length
		  if(checkPassword.value.length >= 8) {
		    s_length.classList.remove("pass_check");
		    s_length.classList.add("pass_valid");
		  } else {
		    s_length.classList.remove("pass_valid");
		    s_length.classList.add("pass_check");
		  }
	}
        }); // end Ready

    function ajax_reset_password() {
	    var pass = $('#id_password').val();
            var pass_repeat = $('#id_password_repeat').val();
            if (pass != pass_repeat) {
                $('#all_error_result').append("<div class='form-error'>Inputted passwords fields do not match.</div>");
		$('#all_error_result').addClass('error-block');
            }else {
	        $('#all_error_result').html("");
		$('#all_error_result').removeClass('error-block');
	    }
	    
	    var data = {
		    'password': $('#id_password').val(),
			'password_repeat': $('#id_password_repeat').val(),
            'pr_access_code': '{{ pr_access_code }}'
		};

		post_reset_password(
		    data,
			function(json_results) {
			    console.log(json_results);
				window.location = "{% url 'workery_login_redirector' %}";
			},
			function(error_results) {
			    console.log(error_results);
			}
		);
	} // end FUNC
</script>
<!-- end JS -->
<!-- container -->
<div class="container">
   <div class="row">
      <div class="col-sm-12 text-center">
          <img class="img-fluid" src="{% static 'img/workery-logo.jpeg' %}" alt="Logo" width="180px" />
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6 mx-auto">
         <form>
            <h3 class="text-center"><i class="fa fa-key fa-2x"></i></h3>
            <h2 class="form-signin-heading text-center mb-1">{% trans 'Reset Password' %}</h2>
            <p class="text-center lead">Please enter your new password below to reset.</p>
            <div class="form-group mb-1">
               <div class="input-group input-group-lg">
                  <!-- <div class="input-group-prepend">
                     <span class="input-group-text input-group-addon-e">
                         <i class="fa fa-lock color-blue"></i>
                     </span>
                  </div> -->
                  <input id="id_password"
                       name="password"
                placeholder="{% trans 'Password' %}"
                      class="form-control form-control-lg"
                       type="password" autofocus
             autocapitalize="off" 
			 required />
               </div>
		<div id="password-error" class="invalid-feedback"></div>
                    	 <small id="s_uppercase" class="pass_check form-text ft-indent">
			     Please enter a single upper case character.
			 </small>
			 <small id="s_lowercase" class="pass_check form-text ft-indent">
			     Please enter a single lower case character.
			 </small>
			 <small id="s_special" class="pass_check form-text ft-indent">
			     Please enter a single special character like !, @, #, %, ^, etc.
			 </small>
			 <small id="min_char" class="pass_check form-text ft-indent">
			     Password must contain atleast 8 characters.
			 </small>
            </div>
            <div class="form-group mb-2">
               <div class="input-group input-group-lg">
                  <!-- <div class="input-group-prepend">
                     <span class="input-group-text input-group-addon-p">
                         <i class="fa fa-lock color-blue"></i>
                     </span>
                  </div> -->
                  <input id="id_password_repeat"
                       name="password_repeat"
                placeholder="{% trans 'Repeat Password' %}"
                      class="form-control form-control-lg"
                       type="password"
                      value=""
             autocapitalize="off"
			 required />
               </div>
            </div>
            <!-- Error Output -->
	    <div id="all_error_result" name="all_error_result" class="alert alert-error fade show my-2" role="alert">
	    </div>
            <!-- Error Output end -->
            <input type="button" value="{% trans 'Reset Password and Sign-In' %}" class="btn btn-lg btn-primary btn-block" onclick="ajax_reset_password();">
            <h5 class="text-center mt-2 mb-0">
            <a href="{% url 'workery_login_master' %}" class="text-primary plain-link">{% trans 'Cancel' %}</a></h2>
         </form>
      </div>
   </div>
</div>
<!-- /container -->
{% endblock content %}
