{% extends 'shared_foundation/shared_base.html' %}
{% load staticfiles i18n %}

{% block title %}
{% trans 'Reset Password | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}
<!-- JS -->
<script>
    /**
     *  Function to make text readable removing underscore and capitalizing
     */
    function humanize(str) {
	var frags = str.split('_');
	for (i=0; i<frags.length; i++) {
		frags[i] = frags[i].charAt(0).toUpperCase() + frags[i].slice(1);
	}
	return frags.join(' ');
    }
	
    function ajax_reset_password() {
	    var data = {
		    'password': $('#id_password').val(),
			'password_repeat': $('#id_password_repeat').val(),
            'pr_access_code': '{{ pr_access_code }}'
		};

		post_reset_password(
		    data,
			function(json_results) {
			    console.log(json_results);
				window.location = "{% url 'workery_login_redirector' %}";
			},
			function(xhr, status, error) {
				var err = JSON.parse(xhr.responseText);
				// For debugging purposes only.
				console.log(err);
				$('#all_error_result').html("");
				$('#all_error_result').removeClass('error-block');
				for(var prop in err) {
				    if(err.hasOwnProperty(prop)) {
					var val = err[prop];
					var fdname = humanize(prop);
					// Errors box code
					$('#all_error_result').append("<div class='form-error'><b>"+fdname+":</b> "+val+" </div>");
					$('#all_error_result').addClass('error-block');
				    }
				}
				// alert("Wrong login credentials.");
				// Convert the error json into string.
				// var string = JSON.stringify( error );
				// console.log(string);
			},
			function(error_results) {
			    console.log(error_results);
			}
		);
	} // end FUNC
</script>
<!-- end JS -->


<!-- container -->
<div class="container">
   <div class="row">
      <div class="col-sm-12 text-center">
          <img class="img-fluid" src="{% static 'img/workery-logo.jpeg' %}" alt="Logo" width="180px" />
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6 mx-auto">
         <form>
              <h3 class="text-center"><i class="fa fa-key fa-2x"></i></h3>
            <h2 class="form-signin-heading text-center mb-1">{% trans 'Reset Password' %}</h2>
             <p class="text-center lead">Please enter your new password below to reset.</p>
            <div class="form-group mb-1">
               <div class="input-group input-group-lg">
                  <!-- <div class="input-group-prepend">
                     <span class="input-group-text input-group-addon-e">
                         <i class="fa fa-lock color-blue"></i>
                     </span>
                  </div> -->
                  <input id="id_password"
                       name="password"
                placeholder="{% trans 'Password' %}"
                      class="form-control form-control-lg"
                       type="password" autofocus
             autocapitalize="off" 
			 required />
               </div>
            </div>
            <div class="form-group mb-2">
               <div class="input-group input-group-lg">
                  <!-- <div class="input-group-prepend">
                     <span class="input-group-text input-group-addon-p">
                         <i class="fa fa-lock color-blue"></i>
                     </span>
                  </div> -->
                  <input id="id_password_repeat"
                       name="password_repeat"
                placeholder="{% trans 'Repeat Password' %}"
                      class="form-control form-control-lg"
                       type="password"
                      value=""
             autocapitalize="off"
			 required />
               </div>
            </div>
            <!-- Error Output -->
	    <div id="all_error_result" name="all_error_result" class="alert alert-error fade show my-2" role="alert">
	    </div>
            <!-- Error Output end -->
            <input type="button" value="{% trans 'Reset Password and Sign-In' %}" class="btn btn-lg btn-primary btn-block" onclick="ajax_reset_password();">
            <h5 class="text-center mt-2 mb-0">
            <a href="{% url 'workery_login_master' %}" class="text-primary plain-link">{% trans 'Cancel' %}</a></h2>
         </form>
      </div>
   </div>
</div>
<!-- /container -->
{% endblock content %}
