{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize shared_foundation_tags %}

{% block title %}
{% trans 'Staff Update | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<!-- CUSTOM JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<script>
    /**
     *  When page loads, the following code will be run first.
     */
    $(document).ready(function () {

        // The following `django` code will automatically pick the staff
        // group membership.
        {% if staff.owner.is_management_staff %}
            $('#account_type').val({{ shared_constants.MANAGEMENT_GROUP_ID }});
        {% elif staff.owner.is_frontline_staff %}
            $('#account_type').val({{ shared_constants.FRONTLINE_GROUP_ID }});
        {% endif %}

        //----------------------------------------//
        // TEXTFIELD / SELECTFIELD INITIALIZATION //
        //----------------------------------------//

        // Set the gender.
        $('#gender').val('{% if staff.gender %}{{ staff.gender }}{% endif %}');

        //----------------------//
        // RADIO INITIALIZATION //
        //----------------------//

        // {% if staff.owner.is_active == True %}$("#is_active").prop("checked", true);{% else %}$("#is_active2").prop("checked", true);{% endif %}

        //---------------------------//
        // DATEPICKER INITIALIZATION //
        //---------------------------//

        // Initialize our datepicker jQuery code with our HTML view.
        $( "#birthdate" ).datepicker({
            dateFormat: 'yy-mm-dd',
	        maxDate: 'today'
        });

        //------------------------//
        // SELECT2 INITIALIZATION //
        //------------------------//

        // // Populate our 'select2' chosen values.
        var tag_ids = [];
        {% for tag in staff.tags.all %}
        tag_ids.push({{ tag.id }});
        {% endfor %}
        $('#tags').val(tag_ids);

        // Initialize our 'select2' element.
        $('#tags').select2();

        //------------------------------//
        // EVENT HANDLER INITIALIZATION //
        //------------------------------//

        // The following code continously checks to see if the current user
        // is assigned to the email.
        $('#email').keypress(debounce(function (event) {
            // do the Ajax request
            var email = $('#email').val();
            console.log(email);
        }, 250));

        {% if staff.owner.is_active == True %}$("#is_active").prop("checked", true);{% else %}$("#is_active2").prop("checked", true);{% endif %}

	// THIS IS WHERE YOU CAN ADD YOUR COUNTRY/PROVINCE DROPDOWN JS CODE....
	$(function(){
	  $('#address_country').change(function(){
	    loadState($(this).find(':selected').val())
	  });
	  {% if staff.address_country %}loadState('{{staff.address_country}}');{% else %}loadState('CA');{% endif %}
    	});
	let c_dropdown = $('#address_country');
	c_dropdown.empty();
	c_dropdown.append('<option selected="true" disabled>Choose Country</option>');
	{% if staff.address_country %}c_dropdown.val('{{staff.address_country}}');{% else %}c_dropdown.val('CA');{% endif %}
	const state = "{% url 'workery_get_provinces_api_endpoint' %}?format=json";
        const country = "{% url 'workery_get_countries_api_endpoint' %}?format=json";
	console.log(state);
        console.log(country); // KANWAR - PLEASE IMPLEMENT.
	// Populate dropdown with list of countries
	$.getJSON(country, function (data) {
	  $.each(data, function (key, entry) {
	    	c_dropdown.append($('<option></option>').attr('value', entry.code).text(entry.country));
	  })
	});
	function loadState(countryId){
		let p_dropdown = $('#address_region');
		p_dropdown.empty();
		p_dropdown.append('<option selected="true" disabled>Choose State/Province</option>');
		p_dropdown.prop('selectedIndex', 0);
		// Populate dropdown with list of provinces
		$.getJSON(state, function (data) {
		  $.each(data, function (key, entry) {
		    if(entry.country == countryId){
		    	p_dropdown.append($('<option></option>').attr('value', entry.short).text(entry.name));
		    }
		  })
		});
		{% if staff.address_region %}p_dropdown.val('{{staff.address_region}}');{% else %}p_dropdown.prop('selectedIndex', 1);{% endif %}

    	}

	/**
	 *  Password Strength Check Validation.
	 */
	var checkPassword = document.getElementById("password");
	var s_letter = document.getElementById("s_lowercase");
	var s_capital = document.getElementById("s_uppercase");
	var s_character = document.getElementById("s_special");
	var s_length = document.getElementById("min_char");
	// When the user starts to type something inside the password field
	checkPassword.onkeyup = function() {
  		// Validate lowercase letters
  		var lowerCaseLetters = /[a-z]/g;
		  if(checkPassword.value.match(lowerCaseLetters)) {
		    s_letter.classList.remove("pass_check");
		    s_letter.classList.add("pass_valid");
		  } else {
		    s_letter.classList.remove("pass_valid");
		    s_letter.classList.add("pass_check");
		  }

  		// Validate capital letters
  		var upperCaseLetters = /[A-Z]/g;
		  if(checkPassword.value.match(upperCaseLetters)) {
		    s_capital.classList.remove("pass_check");
		    s_capital.classList.add("pass_valid");
		  } else {
		    s_capital.classList.remove("pass_valid");
		    s_capital.classList.add("pass_check");
		  }
  		// Validate numbers
  		var specialChar = /[!@#\$%\^&\*]/g;
		  if(checkPassword.value.match(specialChar)) {
		    s_character.classList.remove("pass_check");
		    s_character.classList.add("pass_valid");
		  } else {
		    s_character.classList.remove("pass_valid");
		    s_character.classList.add("pass_check");
		  }

  		// Validate length
		  if(checkPassword.value.length >= 8) {
		    s_length.classList.remove("pass_check");
		    s_length.classList.add("pass_valid");
		  } else {
		    s_length.classList.remove("pass_valid");
		    s_length.classList.add("pass_check");
		  }
	}

    }); // end Ready

    /**
     *  Function will unlock the submit button.
     */
    function disable_btn() {
        $('#id_submit_btn').val("{% trans 'Please Wait...' %}");
        $('#id_submit_btn').prop("disabled", true);
    }

    /**
     *  Function will lock the submit button.
     */
    function enable_btn() {
        $('#id_submit_btn').prop("disabled", false);
        $('#id_submit_btn').val("{% trans 'Update' %}");
    }

    function get_selected_radio_value(radiofields_name) {
        var radios = document.getElementsByName(radiofields_name);
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                // only one radio can be logically checked, don't check the rest
                return radios[i].value;
            }
        }
        return null;
    }

    function get_boolean_from_selected_radio_value(radiofields_name) {
        var value = get_selected_radio_value(radiofields_name);
        if (value == 'yes') {
            return true;
        } else {
            return false;
        }
    }


    /**
     *  Function to make text readable removing underscore and capitalizing
     */
    function humanize(str) {
    	var frags = str.split('_');
    	for (i=0; i<frags.length; i++) {
    			frags[i] = frags[i].charAt(0).toUpperCase() + frags[i].slice(1);
    	}
    	return frags.join(' ');
    }

    /**
     *  Function will attempt to submit the form to the API server. This
     *  funciton will:
     *  (1) Lock / Unlock the submit button.
     *  (2)
     */
    function ajax_post_form_submission() {

        //----------------------------------------------------------------//
        //             EXTRACT THE DATA FROM THE FORM FIELDS.             //
        //----------------------------------------------------------------//

        // EXTRACT OUR FIELD VALUES.
        var given_name = $('#given_name').val();
        var last_name = $('#last_name').val();
        var date_of_birth = $('#birthdate').val();
        if (date_of_birth !== undefined && date_of_birth != null && date_of_birth.length > 0) {
            var mydate = new Date(date_of_birth); // Convert "MM DD, YYYY" to JS DATE
            date_of_birth = mydate.toISOString().substring(0, 10); // Convert JS DATE to "YYYY-MM-DD"
        } else {
            date_of_birth = '';
        }
        var gender = $('#gender').val();
        if (gender == undefined || gender == null || gender.length == 0) {
            gender = '';
        }
        var is_active = get_boolean_from_selected_radio_value('is_active');

        var street_address = $('#street_address').val();
        var street_address_extra = $('#street_address_extra').val();
        var address_region = $('#address_region').val();
        if (address_region == null) {
            address_region = "Ontario"
        }
        var address_locality = $('#address_locality').val();
        var address_country = $('#address_country').val();
        if (address_country == null) {
            address_country = "Canada";
        }
        var postal_code = $('#postal_code').val();
        var post_office_box_number = $('#post_office_box_number').val();
        var email = $('#email').val();
        // var area_served = $('#id_area_served').val();
        var telephone = $('#telephone').val();
        // var telephone_extension = $('#id_telephone_extension').val();
        var other_telephone = $('#other_telephone').val();
        // var fax_number = $('#id_fax_number').val();
        var password = $('#password').val();
        var password_repeat = $('#password_repeat').val();
        var person_tags = $('#tags').val();
        var description = $('#description').val();
        var account_type = $('#account_type').val();

        // LOCK OUT THE "SUBMIT" BUTTON SO THE USER DOES NOT MAKE MULTI-CALLS.
        disable_btn();

        //--------------------------------------------------------------------//
        // SUBMIT THE FORM DATA TO THE API-WEB SERVICE TO BE (1) VALIDATED    //
        // AND (2) IF SUCCESSFULL THEN UPDATE THE DATA ELSE (3) TAKE THE      //
        // RETURNED VALUES AND GENERATE THE APPROPRIATE ERROR MESSAGE.        //
        //--------------------------------------------------------------------//

        // MAKE OUR API CALL TO THE BACKEND TO "CREATE" THE MEMBER USER.
        update_staff_api(
            {{ staff.id }}, // Staff PK
            {
                'id': {{ staff.id }},
                'given_name': given_name,
                'middle_name': null,
                'last_name': last_name,
                'birthdate': date_of_birth,
                'gender': gender,
                'description': description,
                'tags': person_tags,
                'nationality': null,
                'address_country': address_country,
                'address_locality': address_locality,
                'address_region': address_region,
                'extra_comment': null,
                'street_address': street_address,
                'street_address_extra': street_address_extra,
                'postal_code': postal_code,
                'post_office_box_number': post_office_box_number,
                'email': email,
                // 'area_served': area_served,
                'fax_number': null,
                'telephone': telephone,
                'telephone_type_of': {{ shared_constants.TELEPHONE_CONTACT_POINT_TYPE_OF_ID }},
                // 'telephone_extension': telephone_extension,
                'other_telephone': other_telephone,
                'other_telephone_type_of': {{ shared_constants.MOBILE_CONTACT_POINT_TYPE_OF_ID }},
                // 'fax_number': fax_number
                'is_active': is_active,
                'password': password,
                'password_repeat': password_repeat,
                'account_type': parseInt(account_type),
            },
            function(result_dict) { // Success
                console.log(result_dict);
                window.location = "{% url 'workery_tenant_team_full_retrieve' template staff.pk %}?was_modified=True";
            },
            function(xhr,status,error) { // Error
                // STEP 1: Convert to JSON.
                var err = JSON.parse(xhr.responseText);

                // For debugging purposes only.
                console.log(err);

                // STEP 2: CLEAR EXISTING TEXT.
                $('#all_error_result').html("");
		$('#all_error_result').removeClass('error-block');

                // STEP 3: PRINT OUR ERROR.
                for(var prop in err) {
                    if(err.hasOwnProperty(prop)) {
                        var val = err[prop];
                        console.log(val);
                        var fdname = humanize(prop);
			// Errors box code
                        $('#all_error_result').append("<div class='form-error'><b>"+fdname+":</b> "+val+" </div>");
			$('#all_error_result').addClass('error-block');
			// Inline fields errors code
			$('#'+prop+'-error').html("<ul><li>"+val+"</li></ul>");
			$('#update-staff-form').addClass('was-validated');
                    }
                }

                // STEP 4: FOCUS TO WHERE THE ERROR IS OCCURING.
                $('html, body').animate({ scrollTop: $('#id_page_title').offset().top }, 'slow');
            },
            function() { // Finally
                // UNLOCK THE "SUBMIT" BUTTON TO BE AVAILABLE FOR USAGE.
                enable_btn();
            }
        );
    }

</script>
<!----------------------------------------------------------------------------->
<!-- end CUSTOM JAVASCRIPT -->


<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if template == 'search' %}

            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_team_summary' %}">{% trans 'Staff' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_team_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active">{% trans 'Search Results' %}</li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_team_lite_retrieve' template object.id %}">{% trans 'Staff Member #' %}{{ object.id|intcomma }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit' %}</li>

            {% elif template == 'list' %}

            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_team_summary' %}">{% trans 'Staff' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_team_list' %}">{% trans 'List' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_team_lite_retrieve' template object.id %}">{% trans 'Staff Member #' %}{{ object.id|intcomma }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit' %}</li>

            {% else %}

	    <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_team_summary' %}">{% trans 'Staff' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_team_lite_retrieve' template object.id %}">{% trans 'Staff Member #' %}{{ object.id|intcomma }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit' %}</li>

            {% endif %}
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <h1 id="id_page_title">{% trans 'Edit Staff Member' %}</h1>

    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <div class="col-sm-5 mx-auto mt-2">
        <!-- Residential form -->
        <div class="col-sm-12 fade show active" id="client-form" aria-labelledby="residential">
            <p><span class="text-secondary font-italic"><sup>*</sup>&nbsp;-&nbsp;Indicates required field to fill out.</span></p>
            <!-- Error Output -->
            <div id="all_error_result" name="all_error_result" class="alert alert-error fade show" role="alert">
	    </div>
	    <!-- end Error Output -->

            <form id="update-staff-form" method="post" class="needs-validation" action="" novalidate>
            <!-- ############ PERSON ############ -->
            <p class="border-bottom mb-3 pb-1 text-secondary">Personal Information</p>
            <div class="form-row">
                <div class="form-group col-md-12 mb-4">
                    <label for="given_name">First name <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="given_name" name="given_name" placeholder="First name" minlength="2" maxlength="30" required value="{% if staff.given_name %}{{ staff.given_name }}{% endif %}">
                    <div id="given_name-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="last_name">Last name <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="last_name" name="last_name" placeholder="Last name" minlength="2" maxlength="150" required value="{% if staff.last_name %}{{ staff.last_name }}{% endif %}">
                    <div id="last_name-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="birthdate">Date of Birth</label>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control form-control-lg border border-success" id="birthdate" name="birthdate" placeholder="yyyy-mm-dd" required value="{% if staff.birthdate %}{{ staff.birthdate|date:"Y-m-d" }}{% endif %}">
                        <div class="input-group-append">
                            <span class="input-group-text dob-icon bg-success border-success"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <div id="birthdate-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="gender">Gender</label>
                    <select class="custom-select form-control-lg border-success" id="gender" name="gender" required>
                        <option value="" {% if staff.gender == None %}selected{% endif %}>Gender...</option>
                        <option value="male" {% if staff.gender == 'Male' %}selected{% endif %}>Male</option>
                        <option value="female" {% if staff.gender == 'Female' %}selected{% endif %}>Female</option>
                        <option value="prefer not to say"  {% if staff.gender == 'prefer not to say' %}selected{% endif %}>Prefer not to say</option>
                    </select>
                    <div id="gender-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
      		        <label for="description" class="font-b6">Describe the staff:</label>
      		        <textarea class="form-control form-control-lg border border-success" id="description" name="description" placeholder="Describe here..." rows="4" minlength="10" required>{% if staff.description %}{{ staff.description }}{% endif %}</textarea>
      		        <div id="description-error" class="invalid-feedback"></div>
                    <small class="form-text text-muted">Maximum 1,000 characters.</small>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="tags">Tags</label>
                    <select id="tags" name="tags" class="form-control form-control-lg border border-success" name="states[]" multiple="multiple">
                    {% for tag in tags %}
                        <option value="{{ tag.id }}" id="person_tag_option_id_{{ tag.id }}">{{ tag }}</option>
                    {% endfor %}
                    </select>
                    <div id="tags-error" class="invalid-feedback"></div>
                </div>
            </div>
            <!-- ############ end PERSON ############ -->
            <!-- ############ CONTACT POINT ############ -->
            <p class="border-bottom mb-3 pb-1 text-secondary">Contact Point</p>
            <div class="form-row">
                <div class="form-group col-md-7 mb-4">
                    <label for="telephone">Phone <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="telephone" name="telephone" placeholder="(xxx) xxx-xxxx" minlength="10" maxlength="31" required value="{% if staff.telephone %}{{ staff.telephone }}{% endif %}">
                    <div id="telephone-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="other_telephone">Mobile</label>
                    <input type="text" class="form-control form-control-lg border border-success" id="other_telephone" name="other_phonenumber" placeholder="(xxx) xxx-xxxx" minlength="10" maxlength="31" value="{% if staff.other_telephone %}{{ staff.other_telephone }}{% endif %}">
                    <div id="other_telephone-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="email">E-Mail <sup>*</sup></label>
                    <input type="email" class="form-control form-control-lg border border-primary" id="email" name="email" placeholder="Email Address" maxlength="254" value="{% if staff.email %}{{ staff.email }}{% endif %}">
                    <div id="email-error" class="invalid-feedback"></div>
                </div>
            </div>
            <!-- ############ end CONTACT POINT ############ -->
            <!-- ############ LOCATION ############ -->
            <p class="border-bottom mb-3 pb-1 text-secondary">Postal Address</p>
            <div class="form-row">
                <div class="form-group col-md-12 mb-4">
                    <label for="street_address">Street Address <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="street_address" name="street_address" placeholder="Street Address" minlength="3" maxlength="255" required value="{% if staff.street_address %}{{ staff.street_address }}{% endif %}">
                    <div id="street_address-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="street_address_extra">Street Address (Extra)</label>
                    <input type="text" class="form-control form-control-lg border border-success" id="street_address_extra" name="street_address_extra" placeholder="Street Address (Extra)" minlength="3" maxlength="255" value="{% if staff.street_address_extra %}{{ staff.street_address_extra }}{% endif %}">
                    <div id="street_address_extra-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="address_locality">City <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="address_locality" name="address_locality" placeholder="City" minlength="3" maxlength="127" required value="{% if staff.address_locality %}{{ staff.address_locality }}{% endif %}">
                    <div id="address_locality-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="address_region">Province <sup>*</sup></label>
		    <select class="custom-select form-control-lg border-primary" id="address_region" name="address_region" required>
		    </select>
                    <div id="address_region-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="address_country">Country <sup>*</sup></label>
                    <select class="custom-select form-control-lg border-primary" id="address_country" name="address_country" required>
		    </select>
		    <div id="address_country-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="postal_code">Postal Code <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="postal_code" name="postal_code" placeholder="Postal Address" minlength="6" maxlength="6" required value="{% if staff.postal_code %}{{ staff.postal_code }}{% endif %}">
                    <div id="postal_code-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="post_office_box_number">Post Office Box # </label>
                    <input type="text" class="form-control form-control-lg border border-success" id="post_office_box_number" name="post_office_box_number" placeholder="Post Office Box #" minlength="3" maxlength="255" required value="{% if staff.post_office_box_number %}{{ staff.post_office_box_number }}{% endif %}">
                    <div id="post_office_box_number-error" class="invalid-feedback"></div>
                </div>
            </div>
            <!-- ############ end LOCATION ############ -->
            <!-- ############ SECURITY ############ -->
            <p class="border-bottom mb-3 pb-1 text-secondary">Account Security</p>
            <div class="form-row">

                <div class="form-group col-md-7 mb-4">
                    <label for="account_type">Account Type</label>
                    <select class="custom-select form-control-lg border-primary" id="account_type" name="account_type" required>
                        <option value="" selected>Select account type...</option>
                        <option value="{{ shared_constants.MANAGEMENT_GROUP_ID }}" id="at_id_{{ shared_constants.MANAGEMENT_GROUP_ID }}">Manager</option>
                        <option value="{{ shared_constants.FRONTLINE_GROUP_ID }}" id="at_id_{{ shared_constants.FRONTLINE_GROUP_ID }}">Frontline</option>
                    </select>
                    <div id="account_type-error" class="invalid-feedback"></div>
                </div>

                <div class="form-group col-md-12 mb-4">
                    <label for="password">Password</label>
                    <input id="password"
                         name="password"
                  placeholder="{% trans 'Password' %}"
                        class="form-control form-control-lg border border-success"
                         type="password"
               autocapitalize="off"
                    minlength="2"
                    maxlength="30" />
                    <div id="password-error" class="invalid-feedback"></div>
                         <small id="s_uppercase" class="pass_check form-text ft-indent">
			     Please enter a single upper case character.
			 </small>
			 <small id="s_lowercase" class="pass_check form-text ft-indent">
			     Please enter a single lower case character.
			 </small>
			 <small id="s_special" class="pass_check form-text ft-indent">
			     Please enter a single special character like !, @, #, %, ^, etc.
			 </small>
			 <small id="min_char" class="pass_check form-text ft-indent">
			     Password must contain atleast 8 characters.
			 </small>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="password_repeat">Repeat Password</label>
                    <input id="password_repeat"
                         name="password_repeat"
                  placeholder="{% trans 'Repeat Password' %}"
                        class="form-control form-control-lg border border-success"
                         type="password"
               autocapitalize="off"
                    minlength="2"
                    maxlength="30" />
                    <div id="password_repeat-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <p class="mb-1">Is active? <sup>*</sup></p>
                    <div class="form-radio custom-control custom-radio mb-2">
                        <input type="radio" id="is_active" name="is_active" value="yes" class="custom-control-input form-check-input" {% if staff.owner.is_active == True %}selected="True"{% endif %}>
                        <label class="custom-control-label form-check-label" for="is_active">Yes</label>
                    </div>
                    <div class="form-radio custom-control custom-radio">
                        <input type="radio" id="is_active2" name="is_active" value="no" class="custom-control-input form-check-input" {% if staff.owner.is_active == False %}selected="True"{% endif %}>
                        <label class="custom-control-label form-check-label" for="is_active2">No</label>
                        <div id="is_active-error" class="invalid-feedback"></div>
                    </div>
                </div>
            </div>
            <!-- ############ end SECURITY ############ -->
            <!-- end SUBMIT BUTTON -->
            <div class="form-group col-md-12 mb-3 mx-auto text-center">
                <button  id="id_submit_btn"
                      class="btn btn-primary btn-lg btn-fxw mt-4"
                    onclick="ajax_post_form_submission();"
                      type="button">
                <i class="fas fa-check"></i>&nbsp;{% trans 'Update Staff Member' %}
                </button>
            </div>
            <!-- end SUBMIT BUTTON -->
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM -->

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>

<script type="text/javascript">
// // Populate our 'select2' chosen values.
        var tag_ids = [];
        {% for tag in staff.tags.all %}
        tag_ids.push({{ tag.id }});
        {% endfor %}
        $('#tags').val(tag_ids);

        // Initialize our 'select2' element.
        $('#tags').select2();
</script>

{% endblock content %}
