{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize foundation_tags %}

{% block title %}
{% trans 'Partners List | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
    function ajax_get_partners() {
        var criteria = [];

        tenant_get_partners(
            criteria,
            function(json_results) {
                console.log(json_results)
            },
            function(error) {
                console.debug(error);
                // alert(error);
            }
        );
    }
</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    		<li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans 'Partners' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_created == 'True' %}
        <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
		    Partner <strong>Successfully</strong> created.
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		        <span aria-hidden="true">×</span>
		    </button>
		</div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <h1>{% trans 'Partners' %}</h1>
    <section class="row text-center placeholders">
        <div class="col-sm-4 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-pink">
                <a href="{% url 'o55_tenant_partner_create' %}" class="d-block link-ndecor" title="Add Partner">
                    <h1 class="r-circle"><i class="fas fa-plus fa-3x"></i></h1>
                </a>
            </div>
            <h4>Add</h4>
            <div class="text-muted">Add Partner</div>
        </div>
        <div class="col-sm-4 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-dgreen">
                <a href="{% url 'o55_tenant_partner_search' %}" class="d-block link-ndecor" title="Search Partners">
                    <h1 class="r-circle"><i class="fas fa-search fa-3x"></i></h1>
                </a>
            </div>
            <h4>Search</h4>
            <span class="text-muted">Search Partners</span>
        </div>
        <div class="col-sm-4 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-orange">
                <a href="{% url 'o55_tenant_partner_list' %}" class="d-block link-ndecor" title="View Partners">
                    <h1 class="r-circle"><i class="fas fa-list-alt fa-3x"></i></h1>
                </a>
            </div>
            <h4>List</h4>
            <span class="text-muted">View All Partners</span>
        </div>
    </section>

    <h2>Active Partner List</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans '#' %}</th>
                    <th>{% trans 'First Name' %}</th>
                    <th>{% trans 'Last Name' %}</th>
                    <th>{% trans 'Phone' %}</th>
                    <th>{% trans 'E-Mail' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for partner in partner_list.all %}
                <tr>
                    <td>{{ partner.id|intcomma }}</td>
                    <td>{% if partner.given_name %}{{ partner.given_name }}{% else %}-{% endif %}</td>
                    <td>{% if partner.last_name %}{{ partner.last_name }}{% else %}-{% endif %}</td>
                    <td>
                        {% if partner.telephone %}<a href="tel:{{ partner.telephone }}">{{ partner.telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}
                    </td>
                    <td>{% if partner.owner.email %}<a href="mailto:{{ partner.owner.email }}">{{ partner.owner.email }}</a>{% else %}-{% endif %}</td>
                    <td>
                        <a href="{% url 'o55_tenant_partner_retrieve' 'summary' partner.id %}?page={{ page_obj.number }}">{% trans 'View' %}</a>
                    </td>
                </tr>
                {% empty %}
                No partners yet.
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{{ filter_parameters }}">previous</a>
        {% endif %}
        <span class="current">
        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{{ filter_parameters }}">next</a>
        {% endif %}
        </span>
    </div>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
