{% load staticfiles i18n humanize tz shared_foundation_tags %}
<div class="col-md-10 mx-auto py-2" id="id_detail_form">
        <h3 class="py-2 text-center mb-4">Client Details</h3>
        <!-- ############ PERSON ############ -->
        <table class="table table-bordered custom-cell-w">
            <tbody>
                <tr class="bg-dark text-white">
                    <th scope="row" colspan="2">Personal Information</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">First Name</th>
                    <td id="given_name">
                        {% if customer.given_name %}{{ customer.given_name }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Last Name</th>
                    <td id="last_name">
                        {% if customer.last_name %}{{ customer.last_name }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Date of Birth</th>
                    <td id="dob">
                        {% if customer.birthdate %}{{ customer.birthdate }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Gender</th>
                    <td id="gender">
                        {% if customer.gender %}{{ customer.gender }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Description</th>
                    <td id="description">
                        {% if customer.description %}{{ customer.description }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Tags</th>
                    <td id="tags">
                        {% for tag in customer.tags.all %}
                            <span class="badge badge-info badge-lg" id="tag_id_{{ tag.id }}">{{ tag }}</span>
                        {% empty %}
                            -
                        {% endfor %}
                    </td>
                </tr>
                <!-- ############ end PERSON ############ -->
                <!-- ############ CONTACT POINT ############ -->
                <tr class="bg-dark text-white">
                    <th scope="row" colspan="2">Contact Point</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Phone #1 - {% if customer.telephone_type_of == 1 %}Landline{% elif customer.telephone_type_of == 2 %}Mobile{% elif customer.telephone_type_of == 3 %}Work{% endif %}</th>
                    <td id="phonenumber">
                        {% if customer.telephone %}<a href="tel:{{ customer.telephone }}">{{ customer.telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Phone #2 - {% if customer.other_telephone_type_of == 1 %}Landline{% elif customer.other_telephone_type_of == 2 %}Mobile{% elif customer.other_telephone_type_of == 3 %}Work{% endif %}</th>
                    <td id="mobile">
                        {% if customer.other_telephone %}<a href="tel:{{ customer.other_telephone }}">{{ customer.other_telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">E-Mail</th>
                    <td id="email">
                        {% if customer.owner.email %}<a href="mailto:{{ customer.owner.email }}">{{ customer.owner.email }}</a>{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Ok to E-Mail?</th>
                    <td id="ok_to_email">
                        {% if customer.is_ok_to_email == True %}Yes{% else %}No{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Ok to Text?</th>
                    <td id="ok_to_text">
                        {% if customer.is_ok_to_text == True %}Yes{% else %}No{% endif %}
                    </td>
                </tr>
                <!-- ############ end CONTACT POINT ############ -->
                <!-- ############ LOCATION ############ -->
                <tr class="bg-dark text-white">
                    <th scope="row" colspan="2">Postal Address</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Location</th>
                    <td id="street_address">
                        <a href="{{ customer.get_google_maps_url }}" target="_blank">{{ customer.get_postal_address }}&nbsp;<i class="fas fa-map-marker-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Post Office Box #</th>
                    <td id="post_office_box_number">
                        {% if customer.post_office_box_number %}{{ customer.post_office_box_number }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Neigbhourhood</th>
                    <td id="post_office_box_number">
                        {% if customer.area_served %}{{ customer.area_served }}{% else %}-{% endif %}
                    </td>
                </tr>
                <!-- ############ end LOCATION ############ -->
                <!-- ############ INTERNAL METRICS ############ -->
                <tr class="bg-dark text-white">
                    <th scope="row" colspan="2">Internal Metrics</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">How did they discover us?</th>
                    <td id="street_address">
                        {{ customer.get_pretty_how_hear }}
                    </td>
                </tr>
                <!-- ############ end INTERNAL METRICS ############ -->
                <!-- ############ BUSINESS ############ -->
                <tr class="bg-dark text-white">
                    <th scope="row" colspan="2">Company Information</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Company Name</th>
                    <td id="street_address">
                        {% if customer.organization %}{{ customer.organization }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Company Type</th>
                    <td id="street_address">
                        {% if customer.organization %}
                            {% if customer.organization.type_of == tenant_constants.PRIVATE_ORGANIZATION_TYPE_OF_ID %}
                                Private
                            {% elif customer.organization.type_of == tenant_constants.NON_PROFIT_ORGANIZATION_TYPE_OF_ID %}
                                Non-Profit
                            {% elif customer.organization.type_of == tenant_constants.GOVERNMENT_ORGANIZATION_TYPE_OF_ID %}
                                Government
                            {% else %}
                                {{ customer.organization.type_of }}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                <!-- ############ end BUSINESS ############ -->
                <!-- ############ SYSTEM ############ -->
                <tr class="bg-dark text-white">
                    <th scope="row" colspan="2">System</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">User ID #</th>
                    <td>
                        {% if customer.owner %}{{ customer.owner.id|intcomma }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Created at</th>
                    <td>
                        {% if customer.created %}{{ customer.created|timezone:request.tenant.timezone_name }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Created by</th>
                    <td>
                        {% if customer.created_by %}{{ customer.created_by }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Created from</th>
                    <td>
                        {% if customer.created_from %}
                            <a href="https://whatismyipaddress.com/ip/{{ customer.created_from }}" target="_blank">{{ customer.created_from }}&nbsp;<i class="fas fa-external-link-alt"></i></a>
                        {% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Modified at</th>
                    <td>
                        {% if customer.last_modified %}{{ customer.last_modified|timezone:request.tenant.timezone_name }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Modified by</th>
                    <td>
                        {% if customer.last_modified_by %}{{ customer.last_modified_by }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Modified from</th>
                    <td>
                        {% if customer.last_modified_from %}
                            <a href="https://whatismyipaddress.com/ip/{{ customer.last_modified_from }}" target="_blank">{{ customer.last_modified_from }}&nbsp;<i class="fas fa-external-link-alt"></i></a>
                        {% else %}-{% endif %}
                    </td>
                </tr>
                <!-- ############ end SYSTEM ############ -->
             </tbody>
        </table>
</div>
