{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize shared_foundation_tags %}

{% block title %}
{% trans 'Client List | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<!-- CUSTOM JAVASCRIPT -->
<script>
    /**
     *  Function will asynchronously upload the cover image.
     */
    function ajax_upload_image() {
        if ($('#id_image').val() == "") {
            alert(_("Please select an image to upload"));
            // $.notify("Please select an image to upload", "danger");
            return false;
        }

        // Attach a "loading" gif.
        var loading_url = "{% static 'img/ajax-loading.gif' %}";
        $('#profile_image').attr('src', loading_url);

        // Extract the information.
        var image = document.getElementById('id_image').files[0];
        var meta = {
           'upload_id': {{ customer.id }},
           'upload_type_of': 'customer_avatar_image'
        };
        console.log(meta);

        // Insert or Update.
        create_public_image_upload(meta, image, function(json_result) {
            location.reload();
            // console.log(json_result);
            // $('#id_hidden_url').attr('src', json_result['imagefile']);
            // $('#id_hidden_upload_id').val(json_result['id']);
            // $('#id_image_placeholder').attr('src', json_result['imagefile']);
        });
    }
</script>
<!-- end CUSTOM JAVASCRIPT -->

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if template == 'search' %}

            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_customer_summary' %}">{% trans 'Clients' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_customer_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Search Results' %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Client #' %}{{ customer.id }}</li>

            {% elif template == 'list' %}

            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_customer_summary' %}">{% trans 'Clients' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_customer_list' %}">{% trans 'List' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Client #' %}{{ customer.id|intcomma }}</li>

            {% else %}

	    	<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_customer_summary' %}">{% trans 'Clients' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Client #' %}{{ customer.id|intcomma }}</li>

            {% endif %}
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_modified == 'True' %}
    <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
        Client <strong>Successfully</strong> updated.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% if template == 'search' %}{% url 'workery_tenant_customer_search' %}{% elif template == 'list' %}{% url 'workery_tenant_customer_list' %}{% else %}{% url 'workery_tenant_customer_summary' %}{% endif %}" role="button">
                	<i class="fas fa-arrow-left"></i> &nbsp;{% if template == 'search' %}{% trans 'Back to Search' %}{% elif template == 'list' %}{% trans 'Back to Client List' %}{% else %}{% trans 'Back to Client\'s Home' %}{% endif %}</a>
		</div>
	</div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1>{% trans 'View Client' %}</h1>

    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    <div class="row">
        <div class="step-navigation">
            <div class="st-grey active">
                <i class="fa fa-id-badge"></i>&nbsp;<span class="">Summary</span>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_customer_full_retrieve' template customer.id %}">
                    <i class="fa fa-id-card"></i>&nbsp;<span class="">Details</span>
                </a>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_customer_retrieve_for_jobs_list' template customer.id %}">
                    <i class="fa fa-wrench"></i>&nbsp;<span class="">Jobs</span>
                </a>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_customer_retrieve_for_comment_list_and_create' template customer.id %}">
                    <i class="fa fa-comments"></i>&nbsp;<span class="">Comments</span>
                </a>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->

    <div class="row py-2">

        <!-- MASTER FORM -->
        <!--------------------------------------------------------------------->
        <div class="col-md-10 mx-auto rounded bg-light border p-2" id="id_master_form">
            <div class="row">
                <div class="col-sm-4">
                    {% if customer.avatar_image %}
                        <img id="profile_image" src="{{ customer.avatar_image.image_file.url }}" class="img-fluid rounded" alt="Profile Picture">
                    {% else %}
                        <img id="profile_image" src="{% static 'img/placeholder.png' %}" class="img-fluid rounded" alt="Profile Picture">
                    {% endif %}
                    <input id="id_image" type="file" name="files[]"  multiple  onchange="ajax_upload_image();">
                </div>
                <div class="col-sm-8 p-2">
                    <h3>{{ customer.given_name }}&nbsp;{{ customer.last_name }}</h3>
                    <p class="text-muted mb-2">{{ customer.address_locality }},&nbsp;{{ customer.address_region }},&nbsp;{{ customer.address_country }}&nbsp;<i class="fas fa-map-marker-alt"></i></p>
                    <p class="mb-2"><i class="fas fa-envelope"></i>&nbsp;{% if customer.owner.email %}<a href="mailto:{{ customer.owner.email }}">{{ customer.owner.email }}</a>{% else %}-{% endif %}</p>
                    <p class="mb-2"><i class="fas fa-phone-square"></i>&nbsp;{% if customer.telephone %}<a href="tel:{{ customer.telephone }}">{{ customer.telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}</p>
                    <p class="m-0"><strong>Tag(s):</strong></p>
                    <p class="mb-2">
                        {% for tag in customer.tags.all %}
                            <span class="badge badge-info badge-lg">{{ tag.sub_category }}</span>
                        {% empty %}
                            -
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <!--------------------------------------------------------------------->
        <!-- end MASTER FORM -->

    </div>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->

</main>

{% endblock content %}
