{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize sorl_thumbnail shared_foundation_tags %}

{% block title %}
{% trans 'Client Summary | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<!-- CUSTOM JAVASCRIPT -->
<script>
    $(document).ready(function () {
    	$("#id_image_placeholder").click(function () {
    		$("#id_image").trigger('click');
    	});
        $("#upload-btn").click(function () {
    		$("#id_image").trigger('click');
    	});
	$("#upload-btn").css("cursor", "pointer");
	$("#id_image_placeholder").css("cursor", "pointer");
    });
    /**
     *  Function will asynchronously upload the cover image.
     */
    function ajax_upload_image() {
        if ($('#id_image').val() == "") {
            alert(_("Please select an image to upload"));
            // $.notify("Please select an image to upload", "danger");
            return false;
        }

        // Attach a "loading" gif.
        var loading_url = "{% static 'img/ajax-loading.gif' %}";
        $('#id_image_placeholder').attr('src', loading_url);

        // Extract the information.
        var image = document.getElementById('id_image').files[0];
        var meta = {
           'upload_id': {{ customer.id }},
           'upload_type_of': 'customer_avatar_image'
        };
        console.log(meta);

        // Insert or Update.
        create_public_image_upload(meta, image, function(json_result) {
            location.reload();
            // console.log(json_result);
            // $('#id_hidden_url').attr('src', json_result['imagefile']);
            // $('#id_hidden_upload_id').val(json_result['id']);
            // $('#id_image_placeholder').attr('src', json_result['imagefile']);
        });
    }
</script>
<!-- end CUSTOM JAVASCRIPT -->

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if template == 'search' %}

            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_dashboard_master' %}"><i class="fas fa-tachometer-alt"></i>&nbsp;{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_customer_summary' %}"><i class="fas fa-id-card"></i>&nbsp;{% trans 'Clients' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_customer_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Search Results' %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Client #' %}{{ customer.id }}</li>

            {% elif template == 'list' %}

            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}"><i class="fas fa-tachometer-alt"></i>&nbsp;{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_customer_summary' %}"><i class="fas fa-id-card"></i>&nbsp;{% trans 'Clients' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_customer_list' %}">{% trans 'List' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Client #' %}{{ customer.id|intcomma }}</li>

            {% else %}

	    <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}"><i class="fas fa-tachometer-alt"></i>&nbsp;{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_customer_summary' %}"><i class="fas fa-id-card"></i>&nbsp;{% trans 'Clients' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Client #' %}{{ customer.id|intcomma }}</li>

            {% endif %}
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_modified == 'True' %}
    <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
        Client <strong>Successfully</strong> updated.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% elif parameters.was_created == 'True' %}
        <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
		    Client <strong>Successfully</strong> created.
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		        <span aria-hidden="true">×</span>
		    </button>
		</div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <h1>{% trans 'View Client' %}</h1>

    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    <div class="row">
        <div class="step-navigation">
            <div class="st-grey active">
                <i class="fa fa-id-badge"></i>&nbsp;<span class="">Summary</span>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_customer_full_retrieve' template customer.id %}">
                    <i class="fa fa-id-card"></i>&nbsp;<span class="">Details</span>
                </a>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_customer_retrieve_for_jobs_list' template customer.id %}">
                    <i class="fa fa-wrench"></i>&nbsp;<span class="">Jobs</span>
                </a>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_customer_retrieve_for_comment_list_and_create' template customer.id %}">
                    <i class="fa fa-comments"></i>&nbsp;<span class="">Comments</span>
                </a>
            </div>
	        <div class="st-grey">
                <a href="{% url 'workery_tenant_customer_retrieve_for_files_list' template customer.id %}">
                    <i class="fas fa-folder-open"></i>&nbsp;<span class="">Files</span>
                </a>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->

    <!-- Deactivation notification -->
    {% if customer.state == CUSTOMER_STATE.INACTIVE %}
    <div class="jumbotron">
        <h1 class="display-4">Deactivated!</h1>
        <p class="lead">It appears this client has been deactivated.</p>
        <hr class="my-4">
        <p>Deactivated clients can be activated again by clicking below.</p>
        <p class="lead">
           <a class="btn btn-primary btn-lg" href="{% if customer.type_of == tenant_constants.RESIDENTIAL_CUSTOMER_TYPE_OF_ID %}{% url 'workery_tenant_residential_deactivate_customer_update' template customer.id %}{% elif customer.type_of == tenant_constants.COMMERCIAL_CUSTOMER_TYPE_OF_ID %}{% url 'workery_tenant_commercial_deactivate_customer_update' template customer.id %}{% endif %}" role="button">Remove deactivation</a>
        </p>
    </div>
    {% endif %}
    <!-- end Blacklist notification -->

    <div class="row py-2">

        <!-- MASTER FORM -->
        <!--------------------------------------------------------------------->
        <div class="col-md-10 mx-auto rounded bg-light border p-2" id="id_master_form">
            <div class="row">

		        <!-- IMAGE SECTION -->
                <div class="col-sm-4 text-center">
		        <!-- Image Upload -->
                    <input id="id_image" type="file" name="files[]" accept="image/*" class="d-none" multiple onchange="ajax_upload_image();">
                    <!-- end Image Upload -->
                    <!-- Image Placeholder -->
                    {% if customer.avatar_image %}
                        {% thumbnail customer.avatar_image.image_file "350x350" format='JPEG' background="#ffffff" as im %}
                            <img src="{{ im.url }}"
                                  id="id_image_placeholder"
                                 alt="{{ customer }} {% trans 'Picture' %}"
                               width="{{ im.width }}"
                              height="{{ im.height }}"
                               class="img-thumbnail center-block mb0 add-cover-image img-fluid rounded" />
                        {% endthumbnail %}
                    {% else %}
                        <img src="{% static 'img/placeholder.png' %}"
                              id="id_image_placeholder"
                             alt="{{ customer }} {% trans 'Picture' %}"
                           width="350"
                          height="350"
                           class="img-thumbnail center-block mb0 add-cover-image img-fluid rounded" />
                    {% endif %}
                    <!-- /.Image Placeholder -->
		            <h5 id="upload-btn" class="text-muted p-1">Click to upload</h5>

                </div>

                <div class="col-sm-8 p-2">
                    {% if customer.type_of == tenant_constants.COMMERCIAL_CUSTOMER_TYPE_OF_ID %}
                        <h2>
                            <i class="fa fa-briefcase fa-lg"></i>&nbsp;{{ customer.organization.name }}
                        </h2>
                    {% endif %}
                    <h3>
                        {{ customer.given_name }}&nbsp;{{ customer.last_name }}{% if customer.state == CUSTOMER_STATE.INACTIVE %}&nbsp;(<i class="fas fa-frown"></i>&nbsp;Deactivated){% endif %}</h3>
                    <p class="text-muted mb-2">
                        <a href="{{ customer.get_google_maps_url }}" target="_blank">
                            {{ customer.get_postal_address_without_postal_code }}&nbsp;<i class="fas fa-map-marker-alt"></i>
                        </a>
                    </p>
                    <p class="mb-2"><i class="fas fa-envelope"></i>&nbsp;{% if customer.owner.email %}<a href="mailto:{{ customer.owner.email }}">{{ customer.owner.email }}</a>{% else %}-{% endif %}</p>
                    <p class="mb-2"><i class="fas fa-phone-square"></i>&nbsp;{% if customer.telephone %}<a href="tel:{{ customer.telephone }}">{{ customer.telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}</p>
                    <p class="m-0"><strong>Tag(s):</strong></p>
                    <p class="mb-2">
                        {% for tag in customer.tags.all %}
                            <span class="badge badge-info badge-lg">{{ tag.sub_category }}</span>
                        {% empty %}
                            -
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <!--------------------------------------------------------------------->
        <!-- end MASTER FORM -->

        <!-- ADD JOB BUTTON -->
        <!--------------------------------------------------------------------->
        <div class="form-group col-md-12 mb-3 mx-auto text-center">
            <a href="{% url 'workery_tenant_job_step_2_create' %}?client_id={{ customer.id }}&customer_name={{ customer }}&customer_type_of={{ customer.type_of }}">
                <button id="id_submit_btn" class="btn btn-success btn-lg btn-fxw mt-4" type="button">
                    <i class="fas fa-plus"></i>&nbsp;{% trans 'Add Job' %}
                </button>
            </a>
        </div>
        <!--------------------------------------------------------------------->
        <!-- end ADD JOB BUTTON -->

    </div>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->

</main>

{% endblock content %}
