{% load staticfiles i18n humanize foundation_tags %}
<div class="col-md-10 mx-auto py-2" id="id_detail_form">
    <!-- Residential form -->
        <h3 class="py-2 text-center mb-4">Client Details</h3>
        <!-- ############ PERSON ############ -->
        <table class="table table-bordered custom-cell-w">
            <tbody>
                <tr class="table-info">
                    <th scope="row" colspan="2">Personal Information</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">First Name</th>
                    <td id="given_name">
                        {% if customer.given_name %}{{ customer.given_name }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Last Name</th>
                    <td id="last_name">
                        {% if customer.last_name %}{{ customer.last_name }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Date of Birth</th>
                    <td id="dob">
                        {% if customer.birthdate %}{{ customer.birthdate }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Gender</th>
                    <td id="gender">
                        {% if customer.gender %}{{ customer.gender }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Description</th>
                    <td id="description">
                        {% if customer.description %}{{ customer.description }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Tags</th>
                    <td id="tags">
                        {% for tag in customer.tags.all %}
                        <span class="badge badge-info badge-lg">{{ tag.text }}</span>
                        {% empty %}
                        -
                        {% endfor %}
                    </td>
                </tr>
                <!-- ############ end PERSON ############ -->
                <!-- ############ CONTACT POINT ############ -->
                <tr class="table-info">
                    <th scope="row" colspan="2">Contact Point</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Phone</th>
                    <td id="phonenumber">
                        {% if customer.telephone %}<a href="tel:{{ customer.telephone }}">{{ customer.telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Mobile</th>
                    <td id="mobile">
                        {% if customer.other_telephone %}<a href="tel:{{ customer.other_telephone }}">{{ customer.other_telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">E-Mail</th>
                    <td id="email">
                        {% if customer.owner.email %}<a href="mailto:{{ customer.owner.email }}">{{ customer.owner.email }}</a>{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Ok to E-Mail?</th>
                    <td id="ok_to_email">
                        {% if customer.is_ok_to_email == True %}Yes{% else %}No{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Ok to Text?</th>
                    <td id="ok_to_text">
                        {% if customer.is_ok_to_text == True %}Yes{% else %}No{% endif %}
                    </td>
                </tr>
                <!-- ############ end CONTACT POINT ############ -->
                <!-- ############ LOCATION ############ -->
                <tr class="table-info">
                    <th scope="row" colspan="2">Postal Address</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Street Address</th>
                    <td id="street_address">
                        {% if customer.street_address %}{{ customer.street_address }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Street Address (Extra)</th>
                    <td id="street_address_extra">
                        {% if customer.street_address_extra %}{{ customer.street_address_extra }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">City</th>
                    <td id="city">
                        {% if customer.address_locality %}{{ customer.address_locality }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Province</th>
                    <td id="region">
                        {% if customer.address_region %}{{ customer.address_region }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Country</th>
                    <td id="country">
                        {% if customer.address_country %}{{ customer.address_country }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Postal Code</th>
                    <td id="postal_code">
                        {% if customer.postal_code %}{{ customer.postal_code }}{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Post Office Box #</th>
                    <td id="post_office_box_number">
                        {% if customer.post_office_box_number %}{{ customer.post_office_box_number }}{% else %}-{% endif %}
                    </td>
                </tr>
             </tbody>
        </table>
        <!-- ############ end LOCATION ############ -->
        <!-- ############ BUSINESS ############ -->
        {% comment %}
        <p class="border-bottom mb-3 pb-1 text-secondary">Business Information</p>
        <div class="form-row">
        </div>
        {% endcomment %}
        <!-- ############ end BUSINESS ############ -->
</div>
