{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n %}

{% block title %}
{% trans 'Add New Client | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<!-- API JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<!----------------------------------------------------------------------------->
<!-- end API JAVASCRIPT -->


<!-- CUSTOM JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<!----------------------------------------------------------------------------->
<!-- end CUSTOM JAVASCRIPT -->

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_customer_summary' %}">{% trans 'Clients' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Add' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% url 'workery_tenant_customer_summary' %}" role="button">
                <svg class="svg-inline--fa fa-arrow-left fa-w-14" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
            </svg><!-- <i class="fas fa-arrow-left"></i> -->&nbsp;{% trans 'Back to Clients Home' %}</a>
		</div>
	</div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1>{% trans 'Add Client' %}</h1>


    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    <div class="row">
        <div class="step-navigation">
            <div id="step-1" class="st-grey active">
                <span class="num">1.</span><span class="">Pick Type</span>
            </div>
            <div id="step-2" class="st-grey">
                <span class="num">2.</span><span class="">Details</span>
            </div>
            <div id="step-3" class="st-grey">
                <span class="num">3.</span><span class="">Review</span>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->


    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <div class="row py-5 justify-content-md-center">
        <div class="col-md-4 my-4 mx-3">
            <div class="card box-shadow text-center mx-auto">
              <div class="card-custom-top-2">
                <a href="{% url 'workery_tenant_residential_customer_create' %}"><i class="fas fa-home fa-3x"></i></a>
              </div>
              <div class="card-body">
                <h3 class="card-title">Residential</h3>
                <p class="card-text">Add a Residential Client</p>
                <a href="{% url 'workery_tenant_residential_customer_create' %}" class="btn btn-success btn-lg">Go <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
        </div>
        <div class="col-md-4 my-4 mx-3">
            <div class="card box-shadow text-center mx-auto">
              <div class="card-custom-top-2">
                <a href="{% url 'workery_tenant_commercial_customer_create' %}"><i class="fas fa-building fa-3x"></i></a>
              </div>
              <div class="card-body">
                <h3 class="card-title">Commercial</h3>
                <p class="card-text">Add a Commercial Client</p>
                <a href="{% url 'workery_tenant_commercial_customer_create' %}" class="btn btn-success btn-lg">Go <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM -->


    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>

{% endblock content %}
