{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n %}

{% block title %}
{% trans 'Add New Client | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<!-- API JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<!----------------------------------------------------------------------------->
<!-- end API JAVASCRIPT -->


<!-- CUSTOM JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<!----------------------------------------------------------------------------->
<!-- end CUSTOM JAVASCRIPT -->

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if parameters.back_id != 'create_job' %}
	    	<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_customer_summary' %}">{% trans 'Clients' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Add' %}</li>
            {% endif %}
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% url 'workery_tenant_customer_summary' %}" role="button">
               <i class="fas fa-arrow-left"></i> &nbsp;{% trans 'Back to Clients Home' %}
            </a>
		</div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1>{% trans 'Add Client' %}</h1>


    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    <div class="row">
        <div class="step-navigation">
            <div id="step-1" class="st-grey active">
                <span class="num">1.</span><span class="">Pick Type</span>
            </div>
            <div id="step-2" class="st-grey">
                <span class="num">2.</span><span class="">Details</span>
            </div>
            <div id="step-3" class="st-grey">
                <span class="num">3.</span><span class="">Review</span>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->


    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <div class="row py-5 justify-content-md-center">
        <div class="col-md-4 my-4 mx-3">
            <div class="card box-shadow text-center mx-auto">
              <div class="card-custom-top-2">
                <a href="{% url 'workery_tenant_residential_customer_create' %}" class="text-white"><i class="fas fa-home fa-3x"></i></a>
              </div>
              <div class="card-body">
                <h3 class="card-title">Residential</h3>
                <p class="card-text">Add a Residential Client</p>
                <a href="{% url 'workery_tenant_residential_customer_create' %}" class="btn btn-success btn-lg">Go <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
        </div>
        <div class="col-md-4 my-4 mx-3">
            <div class="card box-shadow text-center mx-auto">
              <div class="card-custom-top-2">
                <a href="{% url 'workery_tenant_commercial_customer_create' %}" class="text-white"><i class="fas fa-building fa-3x"></i></a>
              </div>
              <div class="card-body">
                <h3 class="card-title">Commercial</h3>
                <p class="card-text">Add a Commercial Client</p>
                <a href="{% url 'workery_tenant_commercial_customer_create' %}" class="btn btn-success btn-lg">Go <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM -->


    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>

{% endblock content %}
