{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n %}

{% block title %}
{% trans 'Dashboard | Over 55' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<p>
    Dashboard
</p>
<p>
    <a href="{% url 'o55_tenant_associate_master' %}">Associates</a>
</p>
<p>
    <a href="{% url 'o55_tenant_customer_list' %}">Customers</a>
</p>
<p>
    <a href="{% url 'o55_tenant_order_master' %}">Orders</a>
</p>
<p>
    <a onclick="perform_sign_off();">Logout</a>
</p>

{% endblock content %}
