{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize foundation_tags %}

{% block title %}
{% trans 'Member List | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}


<!-- API JAVASCRIPT -->
<!----------------------------------------------------------------------------->
{% include 'tenant_api/members_api_js.html' %}
<!----------------------------------------------------------------------------->
<!-- end API JAVASCRIPT -->


<!-- CUSTOM JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<script>
    /**
     *  When page loads, the following code will be run first.
     */
    $(document).ready(function () {
        // Initialize our datepicker jQuery code with our HTML view.
        $( "#dob" ).datepicker({
            dateFormat: 'yy-mm-dd'  // https://stackoverflow.com/a/7500097
        });

        // Set the gender.
        $('#gender').val('{% if associate.gender %}{{ associate.gender }}{% endif %}');

        // // Populate our 'select2' chosen values.
        var tag_ids = [];
        {% for tag in associate.tags.all %}
        tag_ids.push({{ tag.id }});
        {% endfor %}
        $('#person_tags').val(tag_ids);

        var skill_set_ids = [];
        {% for skill_set in associate.skill_sets.all %}
        skill_set_ids.push({{ skill_set.id }});
        {% endfor %}
        $('#skill_sets').val(skill_set_ids);

        // Initialize our 'select2' element.
        $('#person_tags').select2();
        $('#skill_sets').select2();

        {% if associate.is_ok_to_email == True %}
            $("#ok_to_email").prop("checked", true);
        {% else %}
            $("#ok_to_email2").prop("checked", true);
        {% endif %}

        {% if associate.is_ok_to_text == True %}
            $("#ok_to_text").prop("checked", true);
        {% else %}
            $("#ok_to_text2").prop("checked", true);
        {% endif %}

        {% if associate.owner.is_active == True %}
            $("#is_active").prop("checked", true);
        {% else %}
            $("#is_active2").prop("checked", true);
        {% endif %}
    }); // end Ready

    /**
     *  Function will unlock the submit button.
     */
    function disable_btn() {
        $('#id_submit_btn').val("{% trans 'Please Wait...' %}");
        $('#id_submit_btn').prop("disabled", true);
    }

    /**
     *  Function will lock the submit button.
     */
    function enable_btn() {
        $('#id_submit_btn').prop("disabled", false);
        $('#id_submit_btn').val("{% trans 'Update' %}");
    }

    function get_selected_radio_value(radiofields_name) {
        var radios = document.getElementsByName(radiofields_name);
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                // only one radio can be logically checked, don't check the rest
                return radios[i].value;
            }
        }
        return null;
    }

    function valid_textfield_value(textfield_id, is_required, min_length) {
        var textfield = document.getElementById(textfield_id);
        var textfield_error = document.getElementById(textfield_id+'-error');
        var value = textfield.value;

        // CASE 1: BLANK FIELD.
        if (is_required) {
            if (value == '' || value == null || value == undefined || value.length == 0) {
                $('#'+textfield_id).addClass('border-primary').removeClass('border-success');
                textfield_error.innerHTML = "Field should not be blank.";
                console.log(textfield_id, "IS BLANK FIELD.");
                return true; // This means that an error occured in validation.
            }
        }

        // CASE 2: MINIMUM LENGTH NOT MET.
        if (value.length > 0) {              // If user entered something...
            if (value.length < min_length) { // Validate that the minium was entered...
                $('#'+textfield_id).addClass('border-primary').removeClass('border-success');
                textfield_error.innerHTML = "Field requires a minimum of "+min_length+" characters.";
                console.log(textfield_id, "IS MINIMUM LENGTH NOT MET.");
                return true;
            }
        }

        // Update the GUI to indicate this field has been updated.
        $('#'+textfield_id).addClass('border-success').removeClass('border-primary');

        // Return "false" which means no errors occured.
        return false;
    }

    function valid_radiofields_seleciton(radiofields_name, is_required) {
        var value = get_selected_radio_value(radiofields_name);
	    var radiofield_error = document.getElementById(radiofields_name+'-error');

        if (is_required) {
            if (value == undefined || value === null || value.length == 0) {
                radiofield_error.innerHTML = "Please select option.";
                console.log(radiofields_name, "IS BLANK FIELD.");
                return true;
            }
        }

        // Return "false" which means no errors occured.
        return false;
    }

    /**
     *  Function will attempt to submit the form to the API server. This
     *  funciton will:
     *  (1) Lock / Unlock the submit button.
     *  (2)
     */
    function ajax_post_form_submission() {
        // GET OUR FORM.
        var form = document.getElementById('update-associate-form');

        // VALIDATE ALL OUR FORM FIELDS.
        var has_error = false;
        has_error |= valid_textfield_value('email', true, 2);
        has_error |= valid_textfield_value('firstname', true, 2);
        has_error |= valid_textfield_value('lastname', true, 2);
        has_error |= valid_textfield_value('phonenumber', true, 10);
        has_error |= valid_textfield_value('other_phonenumber', false, 10);
        has_error |= valid_radiofields_seleciton('ok_to_email', true);
        has_error |= valid_radiofields_seleciton('ok_to_text', true);
        has_error |= valid_textfield_value('describe', false, 2);
        has_error |= valid_textfield_value('street_address', true, 3);
        has_error |= valid_textfield_value('street_address_extra', false, 3)
        has_error |= valid_textfield_value('address_locality', true, 3);
        has_error |= valid_textfield_value('address_region', true, 2);
        has_error |= valid_textfield_value('address_country', true, 3);
        has_error |= valid_textfield_value('postal_code', true, 3);
        has_error |= valid_textfield_value('post_office_box_number', false, 3);
        has_error |= valid_textfield_value('password', false, 2);
        has_error |= valid_textfield_value('password_repeat', false, 2);
        has_error |= valid_radiofields_seleciton('is_active', true);

        // INTERRUPT THE FORM SUBMISSION IF ANY ERRORS EXISTED AND UPDATE THE
        // GUI TO INDICATE THAT WE HAVE VALIDATED SOME FIELDS.
        form.classList.add('was-validated');
        if (has_error) {
            return; // STOP THIS FUNCTION FROM GOING FORWARD UNTIL ERRORS FIXED.
        }

        // EXTRACT OUR FIELD VALUES.
        var given_name = $('#firstname').val();
        var middle_name = $('#middlename').val();
        var last_name = $('#lastname').val();
        var date_of_birth = $('#dob').val();
        if (date_of_birth !== undefined && date_of_birth != null && date_of_birth.length > 0) {
            var mydate = new Date(date_of_birth); // Convert "MM DD, YYYY" to JS DATE
            date_of_birth = mydate.toISOString().substring(0, 10); // Convert JS DATE to "YYYY-MM-DD"
        } else {
            date_of_birth = '';
        }

        var gender = $('#gender').val();
        if (gender == undefined || gender == null || gender.length == 0) {
            gender = '';
        }
        var ok_to_email = get_selected_radio_value('ok_to_email');
        var ok_to_text = get_selected_radio_value('ok_to_text');
        if (ok_to_email == 'yes') {
            ok_to_email = true;
        } else {
            ok_to_email = false;
        }
        if (ok_to_text == 'yes') {
            ok_to_text = true;
        } else {
            ok_to_text = false;
        }

        var street_address = $('#street_address').val();
        var street_address_extra = $('#street_address_extra').val();
        var address_region = $('#address_region').val();
        var address_locality = $('#address_locality').val();
        var address_country = $('#address_country').val();
        var postal_code = $('#postal_code').val();
        var post_office_box_number = $('#post_office_box_number').val();
        var email = $('#email').val();
        // var area_served = $('#id_area_served').val();
        var telephone = $('#phonenumber').val();
        // var telephone_extension = $('#id_telephone_extension').val();
        var other_telephone = $('#other_phonenumber').val();
        // var fax_number = $('#id_fax_number').val();
        var password = $('#password').val();
        var password_repeat = $('#password_repeat').val();
        var person_tags = $('#person_tags').val();
        var skill_sets = $('#skill_sets').val();
        var description = $('#describe').val();

        var is_active = get_selected_radio_value('is_active');
        if (is_active == 'yes') {
            is_active = true;
        } else {
            is_active = false;
        }

        // LOCK OUT THE "SUBMIT" BUTTON SO THE USER DOES NOT MAKE MULTI-CALLS.
        disable_btn();

        // MAKE OUR API CALL TO THE BACKEND TO "CREATE" THE MEMBER USER.
        update_member_api(
            {{ associate.id }}, // Staff PK
            {
                'id': {{ associate.id }},
                'given_name': given_name,
                'middle_name': middle_name,
                'last_name': last_name,
                'birthdate': date_of_birth,
                'gender': gender,
                'description': description,
                'tags': person_tags,
                'skill_sets': skill_sets,
                'nationality': null,
                'is_ok_to_email': ok_to_email,
                'is_ok_to_text': ok_to_text,
                'address_country': address_country,
                'address_locality': address_locality,
                'address_region': address_region,
                'extra_comment': null,
                'street_address': street_address,
                'street_address_extra': street_address_extra,
                'postal_code': postal_code,
                'post_office_box_number': post_office_box_number,
                'email': email,
                'area_served': null,
                'fax_number': null,
                'telephone': telephone,
                'telephone_type_of': {{ shared_constants.TELEPHONE_CONTACT_POINT_TYPE_OF_ID }},
                'telephone_extension': null,
                'other_telephone': other_telephone,
                'other_telephone_extension': {{ shared_constants.MOBILE_CONTACT_POINT_TYPE_OF_ID }},
                'fax_number': null,
                'password': password,
                'password_repeat': password_repeat,
                'is_active': is_active,
            },
            function(result_dict) { // Success
                console.log(result_dict);
                window.location = "{% url 'o55_tenant_member_retrieve' template associate.pk %}?was_modified=True";
            },
            function(xhr,status,error) { // Error

                // STEP 1: Convert to JSON.
                var err = JSON.parse(xhr.responseText);

                // For debugging purposes only.
                console.log(err);

                // STEP 2: CLEAR EXISTING TEXT.
                $('#all_error_result').html();

                // STEP 3: PRINT OUR ERROR.
                for(var prop in err) {
                    if(err.hasOwnProperty(prop)) {
                        var val = err[prop];
                        console.log(val);
                        $('#all_error_result').append("<p><b>"+prop+"</b>"+val+"</p><br />");
                    }
                }

                // STEP 4: FOCUS TO WHERE THE ERROR IS OCCURING.
                $('html, body').animate({ scrollTop: $('#id_page_title').offset().top }, 'slow');

            },
            function() { // Finally
                // UNLOCK THE "SUBMIT" BUTTON TO BE AVAILABLE FOR USAGE.
                enable_btn();
            }
        );
    }

    // THIS IS WHERE YOU CAN ADD YOUR COUNTRY/PROVINCE DROPDOWN JS CODE....
    const state = "{% static 'js/provinces.json' %}";
    const country = "{% static 'js/countries.json' %}";
    console.log(state);
    console.log(country); // KANWAR - PLEASE IMPLEMENT.
    
</script>
<!----------------------------------------------------------------------------->
<!-- end CUSTOM JAVASCRIPT -->


<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if template == 'search' %}

            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_team_summary' %}">{% trans 'Members' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'o55_tenant_team_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active">{% trans 'Search Results' %}</li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_member_retrieve' template associate.id %}">{% trans 'Member #' %}{{ associate.id|intcomma }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit' %}</li>

            {% elif template == 'list' %}

            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_team_summary' %}">{% trans 'Member' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_team_list' %}">{% trans 'List' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_member_retrieve' template associate.id %}">{% trans 'Member #' %}{{ associate.id|intcomma }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit' %}</li>

            {% else %}

	    	<li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_team_summary' %}">{% trans 'Member' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_member_retrieve' template associate.id %}">{% trans 'Member #' %}{{ associate.id|intcomma }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit' %}</li>

            {% endif %}
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->


    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% url 'o55_tenant_member_retrieve' template associate.id %}" role="button">
                <svg class="svg-inline--fa fa-arrow-left fa-w-14" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
            </svg><!-- <i class="fas fa-arrow-left"></i> -->&nbsp;{% trans 'Back to Member\'s Detail' %}</a>
		</div>
	</div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1 id="id_page_title">{% trans 'Edit Associate Member' %}</h1>

    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <div class="col-sm-5 mx-auto mt-2">
        <!-- Residential form -->
        <div class="col-sm-12 fade show active" id="client-form" aria-labelledby="residential">
            <h3 class="pt-4 pb-2 text-center">Edit Associate Member Form</h3>
            <p>Use this form to fill out the client information.</p>
            <p><span class="text-secondary font-italic"><sup>*</sup>&nbsp;-&nbsp;Indicates required field to fill out.</span></p>
            <!-- Error Output -->
            <div id="all_error_result" name="all_error_result"></div>
            <!-- end Error Output -->
            <p>&nbsp;</p>
            <form id="update-associate-form" method="post" class="needs-validation" action="" novalidate>
            <!-- ############ PERSON ############ -->
            <p class="border-bottom mb-3 pb-1 text-secondary">Personal Information</p>
            <div class="form-row">
                <div class="form-group col-md-12 mb-4">
                    <label for="firstname">First name <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="firstname" name="firstname" placeholder="First name" minlength="2" maxlength="30" required value="{% if associate.given_name %}{{ associate.given_name }}{% endif %}" autofocus>
                    <div id="firstname-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="middlename">Middle name</label>
                    <input type="text" class="form-control form-control-lg border border-success" id="middlename" name="middlename" placeholder="Middle name" minlength="2" maxlength="30" required value="{% if associate.middle_name %}{{ associate.middle_name }}{% endif %}">
                    <div id="middlename-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="lastname">Last name <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="lastname" name="lastname" placeholder="Last name" minlength="2" maxlength="150" required value="{% if associate.last_name %}{{ associate.last_name }}{% endif %}">
                    <div id="lastname-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group p-0 col-md-7 mb-4">
                    <label for="dob">Date of Birth</label>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control form-control-lg border border-success" id="dob" name="dob" placeholder="yyyy-mm-dd" required value="{% if associate.birthdate %}{{ associate.birthdate|date:"Y-m-d" }}{% endif %}">
                        <div class="input-group-append">
                            <span class="input-group-text dob-icon bg-success border-success"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <div id="dob-error" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group col-md-7 mb-4 p-0">
                    <label for="gender">Gender</label>
                    <select class="custom-select form-control-lg border-success" id="gender" name="gender" required>
                        <option value="" {% if associate.gender == None %}selected{% endif %}>Gender...</option>
                        <option value="male" {% if associate.gender == 'male' %}selected{% endif %}>Male</option>
                        <option value="female" {% if associate.gender == 'female' %}selected{% endif %}>Female</option>
                        <option value="prefer not to say" {% if associate.gender == 'prefer not to say' %}selected{% endif %}>Prefer not to say</option>
                    </select>
                    <div id="gender-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4 p-0">
      		        <label for="describe" class="font-b6">Describe the associate:</label>
      		        <textarea class="form-control form-control-lg border border-success" id="describe" name="describe" placeholder="Describe here..." rows="4" minlength="10" required>{% if associate.description %}{{ associate.description }}{% endif %}</textarea>
      		        <div id="describe-error" class="invalid-feedback"></div>
                    <small class="form-text text-muted">Maximum 1,000 characters.</small>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="tag">Tags</label>
                    <select id="person_tags" name="person_tags" class="form-control form-control-lg border border-success" name="states[]" multiple="multiple">
                    {% for tag in tags %}
                        <option value="{{ tag.id }}" id="person_tag_option_id_{{ tag.id }}">{{ tag }}</option>
                    {% endfor %}
                    </select>
                    <div id="person_tags-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="skill_sets">Skill sets</label>
                    <select id="skill_sets" name="skill_sets" class="form-control form-control-lg border border-success" name="states[]" multiple="multiple">
                    {% for skill_set in skill_sets %}
                        <option value="{{ skill_set.id }}" id="skill_set_option_id_{{ skill_set.id }}">{{ skill_set.sub_category }}</option>
                    {% endfor %}
                    </select>
                    <div id="skill_sets-error" class="invalid-feedback"></div>
                </div>
            </div>
            <!-- ############ end PERSON ############ -->
            <!-- ############ CONTACT POINT ############ -->
            <p class="border-bottom mb-3 pb-1 text-secondary">Contact Point</p>
            <div class="form-row">
                <div class="form-group col-md-7 mb-4">
                    <label for="phonenumber">Phone <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="phonenumber" name="phonenumber" placeholder="(xxx) xxx-xxxx" minlength="10" maxlength="31" required value="{% if associate.telephone %}{{ associate.telephone }}{% endif %}">
                    <div id="phonenumber-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-7 mb-4">
                    <label for="other_phonenumber">Mobile</label>
                    <input type="text" class="form-control form-control-lg border border-success" id="other_phonenumber" name="other_phonenumber" placeholder="(xxx) xxx-xxxx" minlength="10" maxlength="31" value="{% if associate.other_telephone %}{{ associate.other_telephone }}{% endif %}">
                    <div id="other_phonenumber-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="email">E-Mail <sup>*</sup></label>
                    <input type="email" class="form-control form-control-lg border border-primary" id="email" name="email" placeholder="Email Address" maxlength="254" value="{% if associate.email %}{{ associate.email }}{% endif %}" required>
                    <div id="email-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <p class="mb-1">Ok to E-Mail? <sup>*</sup></p>
                    <div class="form-radio custom-control custom-radio custom-control-inline">
                        <input type="radio" id="ok_to_email" name="ok_to_email" value="yes" class="custom-control-input form-check-input">
                        <label class="custom-control-label form-check-label" for="ok_to_email">Yes</label>
                    </div>
                    <div class="form-radio custom-control custom-radio custom-control-inline">
                        <input type="radio" id="ok_to_email2" name="ok_to_email" value="no" class="custom-control-input form-check-input">
                        <label class="custom-control-label form-check-label" for="ok_to_email2">No</label>
			<div id="ok_to_email-error" class="invalid-feedback ml-2"></div>
                    </div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <p class="mb-1">Ok to Text? <sup>*</sup></p>
                    <div class="form-radio custom-control custom-radio custom-control-inline">
                        <input type="radio" id="ok_to_text" name="ok_to_text" value="yes" class="custom-control-input form-check-input">
                        <label class="custom-control-label form-check-label" for="ok_to_text">Yes</label>
                    </div>
                    <div class="form-radio custom-control custom-radio custom-control-inline">
                        <input type="radio" id="ok_to_text2" name="ok_to_text" value="no" class="custom-control-input form-check-input">
                        <label class="custom-control-label form-check-label" for="ok_to_text2">No</label>
			<div id="ok_to_text-error" class="invalid-feedback ml-2"></div>
                    </div>
                </div>
            </div>
            <!-- ############ end CONTACT POINT ############ -->
            <!-- ############ LOCATION ############ -->
            <p class="border-bottom mb-3 pb-1 text-secondary">Postal Address</p>
            <div class="form-row">
                <div class="form-group col-md-12 mb-4">
                    <label for="street_address">Street Address <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="street_address" name="street_address" placeholder="Street Address" minlength="3" maxlength="255" required value="{% if associate.street_address %}{{ associate.street_address }}{% endif %}">
                    <div id="street_address-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="street_address_extra">Street Address (Extra)</label>
                    <input type="text" class="form-control form-control-lg border border-success" id="street_address_extra" name="street_address_extra" placeholder="Street Address (Extra)" minlength="3" maxlength="255" value="{% if associate.street_address_extra %}{{ associate.street_address_extra }}{% endif %}">
                    <div id="street_address_extra-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="address_locality">City <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="address_locality" name="address_locality" placeholder="City" minlength="3" maxlength="127" required value="{% if associate.address_locality %}{{ associate.address_locality }}{% endif %}">
                    <div id="address_locality-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="address_region">Province <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="address_region" name="address_region" placeholder="Province" minlength="2" maxlength="127" required value="{% if associate.address_region %}{{ associate.address_region }}{% endif %}">
                    <div id="address_region-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="address_country">Country <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="address_country" name="address_country" placeholder="Country" minlength="3" maxlength="127" required value="{% if associate.address_country %}{{ associate.address_country }}{% endif %}">
                    <div id="address_country-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="postal_code">Postal Code <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg border border-primary" id="postal_code" name="postal_code" placeholder="Postal Address" minlength="6" maxlength="6" required value="{% if associate.postal_code %}{{ associate.postal_code }}{% endif %}">
                    <div id="postal_code-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="post_office_box_number">Post Office Box # </label>
                    <input type="text" class="form-control form-control-lg border border-success" id="post_office_box_number" name="post_office_box_number" placeholder="Post Office Box #" minlength="3" maxlength="255" required value="{% if associate.post_office_box_number %}{{ associate.post_office_box_number }}{% endif %}">
                    <div id="post_office_box_number-error" class="invalid-feedback"></div>
                </div>
            </div>
            <!-- ############ end LOCATION ############ -->
            <!-- ############ SECURITY ############ -->
            <p class="border-bottom mb-3 pb-1 text-secondary">Account Settings</p>
            <div class="form-row">
                <div class="form-group col-md-12 mb-4">
                    <label for="password">Password</label>
                    <input id="password"
                         name="password"
                  placeholder="{% trans 'Password' %}"
                        class="form-control form-control-lg border border-success"
                         type="password"
               autocapitalize="off"
                    minlength="2"
                    maxlength="30" required />
                    <div id="password-error" class="invalid-feedback"></div>
                    <small id="passwordHelp" class="form-text text-muted ft-indent">
                        <svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg>
                        <!-- <i class="fas fa-angle-right"></i> -->  Please enter a single upper case character.
                    </small>
                    <small id="passwordHelp" class="form-text text-muted ft-indent">
                        <svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg>
                        <!-- <i class="fas fa-angle-right"></i> -->  Please enter a single special character like !, @, #, %, ^, etc.
                    </small>
                    <small id="passwordHelp" class="form-text text-muted ft-indent">
                        <svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg>
                        <!-- <i class="fas fa-angle-right"></i> -->  Password must contain atleast 5 characters.
                    </small>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <label for="password_repeat">Repeat Password</label>
                    <input id="password_repeat"
                         name="password_repeat"
                  placeholder="{% trans 'Repeat Password' %}"
                        class="form-control form-control-lg border border-success"
                         type="password"
               autocapitalize="off"
                    minlength="2"
                    maxlength="30" required />
                    <div id="password_repeat-error" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-12 mb-4">
                    <p class="mb-1">Is active? <sup>*</sup></p>
                    <div class="form-radio custom-control custom-radio custom-control-inline">
                        <input type="radio" id="is_active" name="is_active" value="yes" class="custom-control-input form-check-input">
                        <label class="custom-control-label form-check-label" for="is_active">Yes</label>
                    </div>
                    <div class="form-radio custom-control custom-radio custom-control-inline">
                        <input type="radio" id="is_active2" name="is_active" value="no" class="custom-control-input form-check-input">
                        <label class="custom-control-label form-check-label" for="is_active2">No</label>
                        <div id="is_active-error" class="invalid-feedback ml-2"></div>
                    </div>
                </div>
            </div>
            <!-- ############ end SECURITY ############ -->
            <!-- end SUBMIT BUTTON -->
            <div class="form-group col-md-12 mb-3 mx-auto text-center">
                <button  id="id_submit_btn"
                      class="btn btn-primary btn-lg btn-fxw mt-4"
                    onclick="ajax_post_form_submission();"
                      type="button">
                <i class="fas fa-check"></i>&nbsp;{% trans 'Update Member' %}
                </button>
            </div>
            <!-- end SUBMIT BUTTON -->
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM -->

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>

{% endblock content %}
