{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize foundation_tags %}

{% block title %}
{% trans 'Client List | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
    /**
     *  When page loads, the following code will be run first.
     */
    $(document).ready(function () {
        // PLUG IN EVENT LISTENER ON REASON DROPDOWN CHANGE.
        $('#reason').on('change',function(){
            if( $(this).val()==="other" || $(this).val()===1){
                $("#reason_other_div").show();
            }
            else{
                $("#reason_other_div").hide();
            }
        });
    });

    function click_cancel_button() {
        {% if template == 'search' %}
        window.location = "";
        {% elif template == 'task' %}
        window.location = "{% url 'o55_tenant_pending_task_retrieve' parameters.task_id %}";
        {% elif template == 'list' %}
        window.location = "";
        {% else %}
        window.location = "";
        {% endif %}
    }

    //
    function click_submit_button() {
        //
    }
</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if template == 'search' %}

            TODO

            {% elif template == 'task' %}

            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_task_list' %}">{% trans 'Pending Tasks' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_pending_task_retrieve' parameters.task_id %}">{% trans 'Task #' %}{{ parameters.task_id|intcomma }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Close Job' %}</li>


            {% elif template == 'list' %}

            TODO

            {% else %}

	    	TODO

            {% endif %}
	  	</ol>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_modified == 'True' %}
    <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
        Client <strong>Successfully</strong> updated.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <h1>{% trans 'Close Job' %}</h1>

    <div class="container">
        <div class="row align-items-start">

            <!-- FORM -->
            <!------------------------------------------------------------------------->
            <div class="col-sm-6 mx-auto mt-2">
                <!-- Residential form -->
                <div class="col-sm-12 fade show active" id="client-form" aria-labelledby="commercial">

                    <!-- Error Output -->
                    <div id="all_error_result" name="all_error_result"></div>
                    <!-- end Error Output -->

                    <p><span class="text-secondary font-italic"><sup>*</sup>&nbsp;-&nbsp;Indicates required field to fill out.</span></p>
                    <form id="add-client-form" method="post" class="needs-validation" action="" novalidate>
                        <div class="form-row">
                            <div class="form-row">

                                <!-- REASON -->
                                <div class="form-group col-md-12 mb-4">
                                    <label for="reason">Reason <sup>*</sup></label>
                                    <select class="form-control form-control-lg border border-primary" id="reason" name="reason" required="">
                                        <option value="0" selected="selected">Please select reason</option>
                                        <option value="2">Quote was too high</option>
                                        <option value="3">Job completed by someone else</option>
                                        <option value="3">Job completed by Associate</option>
                                        <option value="3">Work no longer needed</option>
                                        <option value="3">Client not satisfied with Associate</option>
                                        <option value="3">Client did work themselves</option>
                                        <option value="other">Other</option>
                                    </select>
                                    <div id="reason-error" class="invalid-feedback"></div>
                                </div>
                                <!-- end REASON -->

                                <!-- REASON (OTHER) -->
                                <div class="form-group col-md-12 mb-4" id="reason_other_div" style="display: none;">
                                    <label for="reason_other">Reason (Other) <sup>*</sup></label>
                                    <input type="text" class="form-control form-control-lg border border-primary" id="reason_other" name="reason_other" placeholder="Text" minlength="3" value="">
                                    <div id="reason_other-error" class="invalid-feedback"></div>
                                </div>
                                <!-- end REASON (OTHER) -->

                                <div class="form-group col-md-12 mb-4">
                                    <label for="comment">Comments</label>
                                    <textarea class="form-control form-control-lg border border-primary" id="comment" name="comment" placeholder="Write a note here..." rows="4" required></textarea>
                                    <div id="comment-error" class="invalid-feedback"></div>
                                </div>

                            </div>
                        </div>
                    </form>

                    <!-- BUTTONS -->
                    <div class="form-group col-md-12 mb-3 p-0 mx-auto text-center">

                        <!-- ADD -->
                        <button id="id_submit_btn"
                             class="btn btn-primary btn-lg mt-4 float-right pl-4 pr-4"
                              type="button"
                           onclick="click_submit_button();">
                            <i class="fas fa-check"></i> Submit</button>
                        <!-- end ADD -->

                        <!-- CANCEL -->
                        <button id="id_cancel_btn"
                             class="btn btn-orange btn-lg mt-4 float-left pl-4 pr-4"
                              type="button"
                           onclick="click_cancel_button();">
                            <i class="fas fa-times"></i>&nbsp;Cancel
                        </button>
                        <!-- end CANCEL -->

                    </div>
                    <!-- end BUTTONS -->

                </div>
            </div>
            <!------------------------------------------------------------------------->
            <!-- end FORM -->

        </div>
    </div>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->

</main>

{% endblock content %}
