{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize shared_foundation_tags %}

{% block title %}
{% trans 'Members List | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
    function ajax_get_members() {
        var criteria = [];

        tenant_get_members(
            criteria,
            function(json_results) {
                console.log(json_results)
            },
            function(error) {
                console.debug(error);
                // alert(error);
            }
        );
    }
</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    		<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}"><i class="fas fa-tachometer-alt"></i>&nbsp;{% trans 'Dashboard' %}</a></li>
                <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-id-card"></i>&nbsp;{% trans 'Members' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_created == 'True' %}
        <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
		    Associate Member <strong>Successfully</strong> created.
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		        <span aria-hidden="true">×</span>
		    </button>
		</div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <h1>{% trans 'Members' %}</h1>
    <section class="row text-center placeholders">
        <div class="col-sm-4 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-pink">
                <a href="{% url 'workery_tenant_member_create' %}" class="d-block link-ndecor" title="Add Member">
                    <h1 class="r-circle"><i class="fas fa-plus fa-3x"></i></h1>
                </a>
            </div>
            <h4>Add</h4>
            <div class="text-muted">Add Member</div>
        </div>
        <div class="col-sm-4 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-dgreen">
                <a href="{% url 'workery_tenant_member_search' %}" class="d-block link-ndecor" title="Search Members">
                    <h1 class="r-circle"><i class="fas fa-search fa-3x"></i></h1>
                </a>
            </div>
            <h4>Search</h4>
            <span class="text-muted">Search Members</span>
        </div>
        <div class="col-sm-4 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-primary">
                <a href="{% url 'workery_tenant_member_list' %}" class="d-block link-ndecor" title="View Members">
                    <h1 class="r-circle"><i class="fas fa-list-alt fa-3x"></i></h1>
                </a>
            </div>
            <h4>List</h4>
            <span class="text-muted">View All Members</span>
        </div>
    </section>

    <h2>Active Member List</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans 'First Name' %}</th>
                    <th>{% trans 'Last Name' %}</th>
                    <th>{% trans 'Phone' %}</th>
                    <th>{% trans 'E-Mail' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for member in associate_list %}
                <tr>
                    <td>{% if member.given_name %}{{ member.given_name }}{% else %}-{% endif %}</td>
                    <td>{% if member.last_name %}{{ member.last_name }}{% else %}-{% endif %}</td>
                    <td>
                        {% if member.telephone %}<a href="tel:{{ member.telephone }}">{{ member.telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}
                    </td>
                    <td>{% if member.owner.email %}<a href="mailto:{{ member.owner.email }}">{{ member.owner.email }}</a>{% else %}-{% endif %}</td>
                    <td>
                        <a href="{% url 'workery_tenant_member_lite_retrieve' 'summary' member.id %}?page={{ page_obj.number }}">{% trans 'View' %}&nbsp;<i class="fas fa-chevron-right"></i></a>
                    </td>
                </tr>
                {% empty %}
                No members yet.
                {% endfor %}
            </tbody>
        </table>
    </div>

<nav aria-label="Page navigation">
  <ul class="pagination pagination-lg">
    <li class="page-item">
	{% if paginator.num_pages == 1 %}
	    Page {{ page_obj.number }} of {{ paginator.num_pages }}
	{% else %}
    	<button type="button" class="btn btn-link btn-lg" data-container="body" data-toggle="popover" title="Jump to page" data-placement="bottom" data-html="true" data-content="<form action method='get'><div class='input-group mb-3'><input type='text' name='page' class='form-control form-control-lg' placeholder='page' aria-label='page' aria-describedby='button-addon2'>
	  <div class='input-group-append'>
	    <button class='btn btn-info btn-lg' type='submit' id='button-addon2'>Go</button>
	  </div></div></form>" >
		  Page {{ page_obj.number }} of {{ paginator.num_pages }} <i class="fas fa-sort-down"></i>
	</button>
	{% endif %}
    </li>
    <li class="page-item">
	 {% if page_obj.has_previous %}
            <a class="page-link rounded-left" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
	    	<span aria-hidden="true">&laquo;</span>
        	<span class="sr-only">Previous</span>
	    </a>
        {% endif %}
    </li>
    <li class="page-item">
	{% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
	    	<span aria-hidden="true">&raquo;</span>
        	<span class="sr-only">Next</span>
	    </a>
        {% endif %}
    </li>
  </ul>
</nav>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
