{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize tz shared_foundation_tags %}

{% block title %}
{% trans 'Job Details | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<!-- API JAVASCRIPT -->
<!----------------------------------------------------------------------------->
{% include 'tenant_api/skillset_api_js.html' %}
<!----------------------------------------------------------------------------->
<!-- end API JAVASCRIPT -->

<!-- CUSTOM JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<!----------------------------------------------------------------------------->
<!-- end CUSTOM JAVASCRIPT -->

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if template == 'search' %}

            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_job_summary' %}">{% trans 'Jobs' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_job_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Search Results' %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Job #' %}{{ object.id|intcomma }}</li>

            {% elif template == 'list' %}

            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_job_summary' %}">{% trans 'Jobs' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_job_list' %}">{% trans 'List' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Job #' %}{{ object.id|intcomma }}</li>

            {% else %}

	    <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_job_summary' %}">{% trans 'Jobs' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Job #' %}{{ object.id|intcomma }}</li>

            {% endif %}
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_modified == 'True' %}
    <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
        Job <strong>Successfully</strong> updated.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <h1>{% trans 'View Job' %}</h1>

    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    <div class="row">
        <div class="step-navigation">
            <div class="st-grey">
                <a href="{% url 'workery_tenant_job_retrieve' template job.id %}">
                    <i class="far fa-id-badge"></i>&nbsp;<span class="">Summary</span>
                </a>
            </div>
            <div class="st-grey active">
                <i class="far fa-id-card"></i>&nbsp;<span class="">Details</span>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_job_retrieve_for_activity_sheet_list' template job.id %}">
                    <i class="far fa-address-book"></i>&nbsp;<span class="">Activity Sheet</span>
                </a>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_job_retrieve_for_tasks_list' template job.id %}">
                    <i class="far fa-clock"></i>&nbsp;<span class="">Tasks</span>
                </a>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_job_comments_retrieve' template job.id %}">
                    <i class="far fa-comments"></i>&nbsp;<span class="">Comments</span>
                </a>
            </div>
	    <div class="st-grey">
                <a href="{% url 'workery_tenant_job_files_retrieve' template job.id %}">
                    <i class="far fa-folder-open"></i>&nbsp;<span class="">Files</span>
                </a>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->

    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <div class="row py-2">
	<div class="col-md-10 mx-auto" id="id_detail_form">
		<h3 class="pt-4 pb-2 text-center">Job Details</h3>
                <!-- ######################## JOB DETAILS ######################## -->
                <table class="table table-bordered custom-cell-w">
		    <tbody>
			<tr class="bg-dark text-white">
			    <th scope="row" colspan="2">Job Details</th>
			</tr>
            <tr>
                <th scope="row" class="bg-light">Job #</th>
                <td id="selected_order_id">
                    {{ job.id|intcomma }}
                </td>
            </tr>
			<tr>
			    <th scope="row" class="bg-light">Client</th>
			    <td id="customer">
				    {% if job.customer %}
                       <a href="{% url 'workery_tenant_customer_lite_retrieve' template job.customer.id %}" target="_blank">
                           {{ job.customer }}
                           {% if job.customer.state == CUSTOMER_STATE.INACTIVE %}
                               &nbsp;<strong>(<i class="fa fa-frown fa-lg"></i>&nbsp;Deactivated)</strong>
                           {% endif %}
                           &nbsp;<i class="fas fa-external-link-alt"></i>
                       </a>
                          {% else %}-{% endif %}
			    </td>
			</tr>
			<tr>
			    <th scope="row" class="bg-light">Phone Number {% if job.customer.telephone %}({% if job.customer.telephone_type_of == 1 %}Landline{% elif job.customer.telephone_type_of == 2 %}Mobile{% elif job.customer.telephone_type_of == 3 %}Work{% endif %}){% endif %}</th>
			    <td id="phone">
                    {% if job.customer.telephone %}<a href="tel:{{ customer.telephone }}">{{ job.customer.telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}
			    </td>
			</tr>
			<tr>
			    <th scope="row" class="bg-light">Description</th>
			    <td id="description">
				    {% if job.description %}{{ job.description }}{% else %}-{% endif %}
			    </td>
			</tr>
			<tr>
			    <th scope="row" class="bg-light">Skill Sets</th>
			    <td id="skill_sets">
				    {% for skill_set in job.skill_sets.all %}
                        <span class="badge badge-info badge-lg">{{ skill_set.sub_category }}</span>
                    {% empty %}
                        -
                    {% endfor %}
			    </td>
			</tr>
			<tr>
			    <th scope="row" class="bg-light">Assigned Associate</th>
			    <td id="associate">
				{% if job.associate %}<a href="{% url 'workery_tenant_member_lite_retrieve' template job.associate.id %}" target="_blank">{{ job.associate }}&nbsp;<i class="fas fa-external-link-alt"></i></a>{% else %}-{% endif %}
			    </td>
			</tr>
            <tr>
                <th scope="row" class="bg-light">Associate Phone Number {% if job.associate.telephone %}({% if job.associate.telephone_type_of == 1 %}Landline{% elif job.associate.telephone_type_of == 2 %}Mobile{% elif job.associate.telephone_type_of == 3 %}Work{% endif %}){% endif %}</th>
                <td id="phone">
                    {% if job.associate.telephone %}<a href="tel:{{ associate.telephone }}">{{ job.associate.telephone|pretty_formatted_phonenumber }}</a>{% else %}-{% endif %}
                </td>
            </tr>
			<tr>
			    <th scope="row" class="bg-light">Assignment Date</th>
			    <td id="assignment_date">
				   {% if job.assignment_date %}{{ job.assignment_date }}{% else %}-{% endif %}
			    </td>
			</tr>
			<tr>
			    <th scope="row" class="bg-light">Is Home Support Service</th>
			    <td id="is_home_support_service">
				   {{ job.is_home_support_service }}
			    </td>
			</tr>
			<tr>
			    <th scope="row" class="bg-light">Is ongoing?</th>
			    <td id="is_ongoing">
				    {{ job.is_ongoing }}
			    </td>
			</tr>
            <tr>
                <th scope="row" class="bg-light">Status</th>
                <td id="selected_status">
                    {{ job.get_pretty_status }}
                </td>
            </tr>
            <tr>
			    <th scope="row" class="bg-light">Start date</th>
			    <td id="completion_date">
				    {% if job.start_date %}{{ job.start_date }}{% else %}<i>{% trans 'No specified' %}</i>{% endif %}
			    </td>
			</tr>
			<tr>
			    <th scope="row" class="bg-light">Completion date</th>
			    <td id="completion_date">
				{% if job.completion_date %}{{ job.completion_date }}{% else %}-{% endif %}
			    </td>
			</tr>
			<tr>
			    <th scope="row" class="bg-light">Hours</th>
			    <td id="hours">
				{{ job.hours }}
			    </td>
			</tr>
            {% if job.state == WORK_ORDER_STATE.COMPLETED_AND_PAID or job.state == WORK_ORDER_STATE.COMPLETED_BUT_UNPAID %}
            {% if job.was_survey_conducted %}
            <tr>
			    <th scope="row" class="bg-light">Score</th>
			    <td id="rating">
                    {{ job.score }} / 5
			    </td>
			</tr>
            {% endif %}
            {% endif %}
            {% if job.latest_pending_task %}
			    <tr>
			        <th scope="row" class="bg-light">Required Task</th>
			        <td id="latest_pending_task">
			        <a href="{% url 'workery_tenant_pending_task_retrieve' job.latest_pending_task.id %}" target="_blank">
                        {{ job.latest_pending_task.title }}&nbsp;<i class="fas fa-external-link-alt"></i>
                    </a>
			        </td>
			    </tr>
            {% endif %}
            <!-- ######################## end JOB DETAILS ######################### -->
        	<!-- ####################### FINANCIAL DETAILS ######################## -->
		    <tr class="bg-dark text-white">
		    <th scope="row" colspan="2">Financial Details</th>
			</tr>
			<tr>
			    <th scope="row" class="bg-light">Invoice Date</th>
			    <td id="invoice_date">
				{% if job.invoice_date %}
                    {{ job.invoice_date }}
                {% else %}
                    -
                {% endif %}
			    </td>
			</tr>
			<tr>
			    <th scope="row" class="bg-light">Invoice ID(s) #</th>
			    <td id="invoice_ids">
				{% if job.invoice_ids %}
                    {{ job.invoice_ids }}
                {% else %}
                    -
                {% endif %}
			    </td>
			</tr>
			<tr>
			    <th scope="row" class="bg-light">Invoice Quote</th>
			    <td id="invoice_quote_amount">
				    {% if job.invoice_quote_amount %}
                        {{ job.invoice_quote_amount }}
                    {% else %}
                        -
                    {% endif %}
			    </td>
			</tr>
			<tr>
			    <th scope="row" class="bg-light">Invoice Labour</th>
			    <td id="invoice_labour_amount">
					{% if job.invoice_labour_amount %}
            	        {{ job.invoice_labour_amount }}
            	    {% else %}
            	        -
            	    {% endif %}
			    </td>
			</tr>
			<tr>
			    <th scope="row" class="bg-light">Invoice Material</th>
			    <td id="invoice_material_amount">
					{% if job.invoice_material_amount %}
                        {{ job.invoice_material_amount }}
                    {% else %}
                        -
                    {% endif %}
			    </td>
			</tr>
			<tr>
			    <th scope="row" class="bg-light">Invoice Total</th>
			    <td id="invoice_total_amount">
				{% if job.invoice_total_amount %}
                                    {{ job.invoice_total_amount }}
                                {% else %}
                                    -
                                {% endif %}
			    </td>
			</tr>
			<tr>
			    <th scope="row" class="bg-light">Invoice Service Fee</th>
			    <td id="order_service_fee">
				{% if job.invoice_service_fee_amount %}
                                    {{ job.invoice_service_fee_amount }}
                                {% else %}
                                    -
                                {% endif %}
			    </td>
			</tr>
			<tr>
			    <th scope="row" class="bg-light">Invoice Service Fee Payment Date</th>
			    <td id="order_invoice_service_fee_payment_date">
				{% if job.invoice_service_fee_payment_date %}
                    {{ job.invoice_service_fee_payment_date }}
                {% else %}
                    -
                {% endif %}
			    </td>
			</tr>
                    	<!-- ####################### FINANCIAL DETAILS ######################## -->
                        {% if job.ongoing_work_order %}
                        <!-- ####################### ONGOING WORK ORDER DETAILS ######################## -->
            		    <tr class="bg-dark text-white">
            		    <th scope="row" colspan="2">Ongoing Job Details</th>
            			</tr>
            			<tr>
            			    <th scope="row" class="bg-light">ID #</th>
            			    <td id="invoice_date">
            				{% if job.ongoing_work_order %}
                                <a href="{% url 'workery_tenant_ongoing_job_lite_retrieve' 'summary' job.ongoing_work_order.id %}" target="_blank">
                                    {{ job.ongoing_work_order.id }}&nbsp;<i class="fas fa-external-link-alt"></i>
                                </a>
                            {% else %}
                                -
                            {% endif %}
            			    </td>
            			</tr>
                        <!-- ####################### end ONGOING WORK ORDER DETAILS ######################## -->
                        {% endif %}
                    	<!-- ################################################################## -->
                        <!-- ############ SYSTEM ############ -->
                        <tr class="bg-dark text-white">
                            <th scope="row" colspan="2">System</th>
                        </tr>
                        <tr>
                            <th scope="row" class="bg-light">Created at</th>
                            <td>
                                {% if job.created %}{{ job.created|timezone:request.tenant.timezone_name }}{% else %}-{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="bg-light">Created by</th>
                            <td>
                                {% if job.created_by %}{{ job.created_by }}{% else %}-{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="bg-light">Created from</th>
                            <td>
                                {% if job.created_from %}
                                    <a href="https://whatismyipaddress.com/ip/{{ job.created_from }}" target="_blank">{{ job.created_from }}&nbsp;<i class="fas fa-external-link-alt"></i></a>
                                {% else %}-{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="bg-light">Modified at</th>
                            <td>
                                {% if job.last_modified %}{{ job.last_modified|timezone:request.tenant.timezone_name }}{% else %}-{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="bg-light">Modified by</th>
                            <td>
                                {% if job.last_modified_by %}{{ job.last_modified_by }}{% else %}-{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="bg-light">Modified from</th>
                            <td>
                                {% if job.last_modified_from %}
                                    <a href="https://whatismyipaddress.com/ip/{{ job.last_modified_from }}" target="_blank">{{ job.last_modified_from }}&nbsp;<i class="fas fa-external-link-alt"></i></a>
                                {% else %}-{% endif %}
                            </td>
                        </tr>
                        <!-- ############ end SYSTEM ############ -->
		    </tbody>
		</table>
	    </div>
        <!-- UPDATE BUTTON -->
        <!--------------------------------------------------------------------->
        {% if job.state == WORK_ORDER_STATE.COMPLETED_AND_PAID or job.state == WORK_ORDER_STATE.COMPLETED_BUT_UNPAID %}
            <!-- Do nothing. -->
        {% else %}
        <div class="form-group col-md-12 mb-3 mx-auto text-center">
            <a href="{% url 'workery_tenant_job_update' template object.id %}">
                <button  id="id_submit_btn"	class="btn btn-warning btn-lg btn-fxw mt-4" type="button">
                    <i class="fas fa-edit"></i>&nbsp;{% trans 'Edit Job' %}
                </button>
            </a>
        </div>
        {% endif %}
        <!--------------------------------------------------------------------->
        <!-- end UPDATE BUTTON -->
    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM -->
    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->

</main>
{% endblock content %}
