{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize shared_foundation_tags %}
{% block title %}
{% trans 'Job Details | Workery' %}
{% endblock title %}
{% block header_content %}
{% endblock header_content %}
{% block content %}
<!-- API JAVASCRIPT -->
<!----------------------------------------------------------------------------->
{% include 'tenant_api/skillset_api_js.html' %}
<!----------------------------------------------------------------------------->
<!-- end API JAVASCRIPT -->
<!-- CUSTOM JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<script>
    function ajax_previous() {
        {% if template == 'search' %}
        window.location = "{% url 'workery_tenant_job_search' %}";
        {% elif template == 'task' %}
        alert("TODO");
        //window.location = "{% url 'workery_tenant_pending_task_retrieve' parameters.task_id %}";
        {% elif template == 'list' %}
        window.location = "{% url 'workery_tenant_job_list' %}";
        {% else %}
        window.location = "{% url 'workery_tenant_job_summary' %}";
        {% endif %}
    }
</script>
<!----------------------------------------------------------------------------->
<!-- end CUSTOM JAVASCRIPT -->
<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% if template == 'search' %}
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_job_summary' %}">{% trans 'Jobs' %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_job_search' %}">{% trans 'Search' %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Search Results' %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Job #' %}{{ object.id|intcomma }}</li>
            {% elif template == 'list' %}
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_job_summary' %}">{% trans 'Jobs' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_job_list' %}">{% trans 'List' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Job #' %}{{ object.id|intcomma }}</li>
            {% else %}
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_job_summary' %}">{% trans 'Jobs' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Job #' %}{{ object.id|intcomma }}</li>
            {% endif %}
        </ol>
    </nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_modified == 'True' %}
    <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
        Job <strong>Successfully</strong> updated.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% if template == 'search' %}{% url 'workery_tenant_job_search' %}{% elif template == 'list' %}{% url 'workery_tenant_job_list' %}{% else %}{% url 'workery_tenant_job_summary' %}{% endif %}" role="button">
               <i class="fas fa-arrow-left"></i> &nbsp;{% trans 'Back to Jobs Home' %}
            </a>
		</div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1>{% trans 'View Job' %}</h1>

    <!-- STEP NAVIGATION -->
    <!------------------------------------------------------------------------->
    <div class="row">
        <div class="step-navigation">
            <div class="st-grey active">
                <i class="far fa-id-badge"></i>&nbsp;<span class="">Summary</span>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_job_full_retrieve' template job.id %}">
                    <i class="far fa-id-card"></i>&nbsp;<span class="">Details</span>
                </a>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_job_retrieve_for_activity_sheet_list' template job.id %}">
                    <i class="far fa-address-book"></i>&nbsp;<span class="">Activity Sheet</span>
                </a>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_job_retrieve_for_tasks_list' template job.id %}">
                    <i class="far fa-clock"></i>&nbsp;<span class="">Tasks</span>
                </a>
            </div>
            <div class="st-grey">
                <a href="{% url 'workery_tenant_job_comments_retrieve' template job.id %}">
                    <i class="far fa-comments"></i>&nbsp;<span class="">Comments</span>
                </a>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end STEP NAVIGATION -->

    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <div class="col-md-10 mx-auto mb-4 py-2">
        <h3 class="py-2 text-center mb-4" id="id_page_title">Job Summary</h3>
        <!-- Error Output -->
        <div id="all_error_result" name="all_error_result"></div>
        <!-- end Error Output -->
        <table class="table table-bordered custom-cell-w">
            <tbody>
                <tr class="bg-dark">
                    <th scope="row" colspan="2" class="text-light">Summary Details</th>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Order #</th>
                    <td id="selected_order_id">
                        {{ job.id|intcomma }}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Client Name</th>
                    <td id="selected_customer_name">
                        {% if job.customer %}
                            <a href="{% url 'workery_tenant_customer_lite_retrieve' template job.customer.id %}" target="_blank">
                                {{ job.customer }}&nbsp;<i class="fas fa-external-link-alt"></i>
                            </a>
                        {% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Associate Name</th>
                    <td id="selected_associate_name">
                        {% if job.associate %}<a href="{% url 'workery_tenant_member_lite_retrieve' template job.associate.id %}" target="_blank">{{ job.associate }}&nbsp;<i class="fas fa-external-link-alt"></i></a>{% else %}-{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Status</th>
                    <td id="selected_status">
                        {% if job.state == WORK_ORDER_STATE.PENDING %}
                            {% trans 'Pending' %}
                        {% elif job.state == WORK_ORDER_STATE.CANCELLED %}
                            {% trans 'Cancelled' %}
                        {% elif job.state == WORK_ORDER_STATE.ONGOING %}
                            {% trans 'Ongoing' %}
                        {% elif job.state == WORK_ORDER_STATE.IN_PROGRESS %}
                            {% trans 'In Progress' %}
                        {% elif job.state == WORK_ORDER_STATE.COMPLETED_BUT_UNPAID %}
                            {% trans 'Completed but unpaid' %}
                        {% elif job.state == WORK_ORDER_STATE.COMPLETED_AND_PAID %}
                            {% trans 'Completed and paid' %}
                        {% elif job.state == WORK_ORDER_STATE.ARCHIVED %}
                            {% trans 'Archived' %}
                        {% elif job.state == WORK_ORDER_STATE.DECLINED %}
                            {% trans 'Declined' %}
                        {% elif job.state == WORK_ORDER_STATE.NEW %}
                            {% trans 'New' %}
                        {% else %}
                            {{ job.state }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Job Type</th>
                    <td id="selected_job_type_id">
                        <!-- Type Of -->
                        {% if job.type_of == tenant_constants.RESIDENTIAL_JOB_TYPE_OF_ID %}
                            {% trans 'Residential' %}
                        {% elif job.type_of == tenant_constants.COMMERCIAL_JOB_TYPE_OF_ID %}
                            {% trans 'Commercial' %}
                        {% else %}
                            {% trans 'Unassigned' %}
                        {% endif %}
                        <!-- end Type Of -->

                        <!-- Ongoing status -->
                        {% if job.is_ongoing %}
                            &nbsp;{% trans '(Ongoing))' %}
                        {% else %}
                            &nbsp;{% trans '(One-time)' %}
                        {% endif %}
                        <!-- end Ongoing status -->
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Description</th>
                    <td id="selected_description_id">
                        {% if job.description %}
                            {{ job.description }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light">Skill(s) Required</th>
                    <td id="selected_skillsets_id">
                        {% for skill_set in job.skill_sets.all %}
                            <span class="badge badge-info badge-lg">{{ skill_set.sub_category }}</span>
                        {% empty %}
                            -
                        {% endfor %}
                    </td>
                </tr>
                {% if job.latest_pending_task %}
                <tr>
                    <th scope="row" class="bg-light">Required Task</th>
                    <td id="selected_latest_pending_task">
                        <a href="{% url 'workery_tenant_pending_task_retrieve' job.latest_pending_task.id %}" target="_blank">
                            {{ job.latest_pending_task.title }}&nbsp;<i class="fas fa-external-link-alt"></i>
                        </a>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM -->


    <!-- FORM -->
    <!------------------------------------------------------------------------->
    {% if job.latest_pending_task %}
    <div class="form-group col-md-10 mb-3 mx-auto text-center">
        <div class="row">
            <!-- UNASSIGN BUTTON -->
            <div class="col-sm-4">
                {% if job.associate %}
                <a href="{% url 'workery_tenant_job_retrieve_for_unassign_create' template job.id %}">
                <button  id="id_submit_btn"
                    class="btn btn-warning btn-lg btn-fxw mt-4"
                    type="button">
                <i class="fas fa-window-close"></i>&nbsp;{% trans 'Unassign Associate' %}
                </button>
                </a>
                {% endif %}
            </div>
            <!-- end UNASSIGN BUTTON -->
            <!-- CLOSE JOB BUTTON -->
            <div class="col-sm-4">
                <a href="{% url 'workery_tenant_job_retrieve_for_close_create' template job.id %}">
                <button  id="id_submit_btn"
                    class="btn btn-orange btn-lg btn-fxw mt-4"
                    type="button">
                <i class="far fa-minus-square"></i>&nbsp;{% trans 'Close Job' %}
                </button>
                </a>
            </div>
            <!-- end CLOSE JOB BUTTON -->
            <!-- end POSTPONE BUTTON -->
            <div class="col-sm-4">
                <a href="{% url 'workery_tenant_job_retrieve_for_postpone_create' template job.id %}">
                <button  id="id_submit_btn"
                    class="btn btn-primary btn-lg btn-fxw mt-4"
                    type="button">
                <i class="fas fa-clock"></i>&nbsp;{% trans 'Postpone Job' %}
                </button>
                </a>
            </div>
            <!-- end POSTPONE BUTTON -->
        </div>
    </div>
    {% endif %}
    {% if job.state == WORK_ORDER_STATE.CANCELLED or job.state == WORK_ORDER_STATE.DECLINED %}
    <div class="form-group col-md-10 mb-3 mx-auto text-center">
        <div class="row">
            <!-- end POSTPONE BUTTON -->
            <div class="col-sm-4">
                <a href="{% url 'workery_tenant_job_retrieve_for_reopen_create' template job.id %}">
                <button  id="id_submit_btn"
                    class="btn btn-primary btn-lg btn-fxw mt-4"
                    type="button">
                <i class="fas fa-minus-circle"></i>&nbsp;{% trans 'Re-open Job' %}
                </button>
                </a>
            </div>
            <!-- end POSTPONE BUTTON -->
        </div>
    </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end FORM -->
    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
