{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize %}

{% block title %}
{% trans 'Dashboard | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<main id="main" role="main">
    <h1>Dashboard</h1>
    <section class="row text-center placeholders">


        <div class="col-sm-3 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-pink">
                <a href="{% url 'o55_tenant_customer_summary' %}" class="d-block link-ndecor" title="Clients">
                    <h1 class="circle-title">{{ customers_count|intcomma }}</h1>
                </a>
            </div>
            <h4>Clients</h4>
            <div class="text-muted">View your client list</div>
        </div>


        <div class="col-sm-3 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-dgreen">
                <a href="{% url 'o55_tenant_job_summary' %}" class="d-block link-ndecor" title="Jobs">
                    <h1 class="circle-title">{{ jobs_count|intcomma }}</h1>
                </a>
            </div>
            <h4>Jobs</h4>
            <span class="text-muted">View your job history</span>
        </div>


        <div class="col-sm-3 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-dblue">
                <a href="{% url 'o55_tenant_member_summary' %}" class="d-block link-ndecor" title="Members">
                    <h1 class="circle-title">{{ associates_count|intcomma }}</h1>
                </a>
            </div>
            <h4>Active Members</h4>
            <span class="text-muted">View Member Data</span>
        </div>

        <div class="col-sm-3 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-orange">
                <a href="{% url 'o55_tenant_task_list' %}" class="d-block link-ndecor" title="Tasks">
                    <h1 class="circle-title">{{ tasks_count|intcomma }}</h1>
                </a>
            </div>
            <h4>Tasks</h4>
            <span class="text-muted">View your tasks</span>
        </div>

    </section>

    <!-- AWAY LOGS -->
    <div class="jumbotron">
        <h1 class="display-4">Announcements</h1>
        <div class="table-responsive-sm my-3">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Associate</th>
                  <th scope="col">Reason</th>
                  <th scope="col">Away until</th>
                </tr>
              </thead>
              <tbody>
                {% for awaylog in awaylogs.all %}
                <tr>
                  <td>{{ awaylog.associate }}</td>
                  <td>
                      {% if awaylog.reason == 1 %}
                        {{ awaylog.reason_other }}
                      {% elif awaylog.reason == 2 %}
                        Going on vocation
                      {% elif awaylog.reason == 3 %}
                        Personal reasons
                      {% endif %}
                  </td>
                  <td>
                    {% if awaylog.until_further_notice == False %}
                     {{ awaylog.until_date }}
                    {% else %}
                     further notice.
                    {% endif %}
                  </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">
                        <p>No announcements made, feel free to create them</p>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">
                        <p class="lead">
                            <a class="btn btn-primary btn-lg px-4" href="{% url 'o55_tenant_settings_away_log_list' %}" role="button"><i class="fas fa-plus"></i> Add</a>
                        </p>
                    </td>
                </tr>
              </tbody>
          </table>
        </div>

        <!-- <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p> -->
    </div>
    <!-- end AWAY LOGS -->

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>

{% endblock content %}
