{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize %}

{% block title %}
{% trans 'Dashboard | Over 55' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<main id="main" role="main">
    <h1>Dashboard</h1>
    <section class="row text-center placeholders">


        <div class="col-sm-3 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-pink">
                <a href="{% url 'o55_tenant_customer_summary' %}" class="d-block link-ndecor" title="Clients">
                    <h1 class="circle-title">{{ customers_count|intcomma }}</h1>
                </a>
            </div>
            <h4>Clients</h4>
            <div class="text-muted">View your client list</div>
        </div>


        <div class="col-sm-3 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-dgreen">
                <a href="{% url 'o55_tenant_job_summary' %}" class="d-block link-ndecor" title="Jobs">
                    <h1 class="circle-title">{{ jobs_count|intcomma }}</h1>
                </a>
            </div>
            <h4>Jobs</h4>
            <span class="text-muted">View your job history</span>
        </div>


        <div class="col-sm-3 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-dblue">
                <a href="{% url 'o55_tenant_member_summary' %}" class="d-block link-ndecor" title="Members">
                    <h1 class="circle-title">{{ associates_count|intcomma }}</h1>
                </a>
            </div>
            <h4>Associate Members</h4>
            <span class="text-muted">View Member Data</span>
        </div>

        {% comment %}
        <div class="col-sm-3 placeholder">
            <div class="rounded-circle mx-auto mt-4 mb-4 circle-200 bg-orange">
                <a href="{% url '' %}" class="d-block link-ndecor" title="Tasks">
                    <h1 class="circle-title">12</h1>
                </a>
            </div>
            <h4>Tasks</h4>
            <span class="text-muted">View your tasks</span>
        </div>
        {% endcomment %}

    </section>

    {% comment %}
    <div class="jumbotron">
        <h1 class="display-4">Announcements</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
    {% endcomment %}

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>

{% endblock content %}
