{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize shared_foundation_tags %}

{% block title %}
{% trans 'Client Details | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
    /**
     *  When page loads, the following code will be run first.
     */
    $(document).ready(function () {
        // Do nothing.
    });

    function click_cancel_button() {
        {% if return_id == 'financials-pending' %}
            window.location = "{% url 'workery_tenant_financlial_job_retrieve' 'paid-jobs' job.id %}?was_operation_done=True";
        {% else %}
        {% endif %}
    }

    //
    function click_submit_button() {
        // Submit to our API web-service.
        create_completed_order_unassign_operation_api(
            {
                'job': {{ job.id }},
                'reason': $('#reason').val(),
            },
            function(result_dict) { // Success
                // FOR DEBUGGING PURPOSES ONLY.
                console.log(result_dict);

                /////////////////////////////////////
                // Get our pending task unique ID. //
                /////////////////////////////////////
                console.log(result_dict);
                var latest_pending_task_id = parseInt(result_dict['latest_pending_task']);

                ////////////////////////////////////////////
                // Redirect to the next page in the form. //
                ////////////////////////////////////////////
                var temp_url = "{% url 'workery_tenant_pending_task_retrieve' 0 %}?was_modified=True";
                var temp_url = temp_url.replace(0, latest_pending_task_id);
                window.location = temp_url;
            },
            function(xhr,status,error) { // Error
                // STEP 1: Convert to JSON.
                var err = JSON.parse(xhr.responseText);

                // For debugging purposes only.
                console.log(err);

                // STEP 2: CLEAR EXISTING TEXT.
                $('#all_error_result').html("");

                // STEP 3: PRINT OUR ERROR.
                for(var prop in err) {
                    if(err.hasOwnProperty(prop)) {
                        var val = err[prop];
                        console.log(val);
                        $('#all_error_result').append("<p><b>"+prop+"</b> "+val+"</p><br />");
                    }
                }

                // STEP 4: FOCUS TO WHERE THE ERROR IS OCCURING.
                $('html, body').animate({ scrollTop: $('#id_page_title').offset().top }, 'slow');
            },
            function() { // Finally
                // UNLOCK THE "SUBMIT" BUTTON TO BE AVAILABLE FOR USAGE.
                // enable_btn();
            }
        );
    }
</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
            {% if return_id == 'financials-pending' %}
                <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'workery_tenant_paid_jobs_list' %}">{% trans 'Financials' %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'workery_tenant_paid_jobs_list' %}">{% trans 'Paid Jobs' %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'workery_tenant_financlial_job_retrieve' 'paid-jobs' job.id %}">{% trans 'Job #' %}{{ job.id|intcomma }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans 'Unassign' %}</li>
            {% else %}
                ---TODO---
            {% endif %}
	  	</ol>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <h1 id="id_page_title">{% trans 'Unassign' %}</h1>

    <div class="container">
        <div class="row align-items-start">

            <!-- FORM -->
            <!------------------------------------------------------------------------->
            <div class="col-sm-6 mx-auto mt-2">
                <!-- Residential form -->
                <div class="col-sm-12 fade show active" id="client-form" aria-labelledby="commercial">

                    <!-- Error Output -->
                    <div id="all_error_result" name="all_error_result"></div>
                    <!-- end Error Output -->

                    <p>
                        <span class="text-secondary font-italic"><sup>*</sup>&nbsp;-&nbsp;Indicates required field to fill out.</span>
                    </p>
                    <form id="add-client-form" method="post" class="needs-validation" action="" novalidate>
                        <div class="form-row">
                            <div class="form-row">

                                <!-- COMMENTS -->
                                <div class="form-group col-md-12 mb-4">
                                    <label for="reason">Please write the reason why you are unassigning this <strong>completed job</strong>:&nbsp;<sup>*</sup></label>
                                    <textarea class="form-control form-control-lg border border-primary" id="reason" name="reason" placeholder="Write your reason here..." rows="4" required></textarea>
                                    <div id="reason-error" class="invalid-feedback"></div>
                                </div>
                                <!-- end COMMENTS -->

                            </div>
                        </div>
                    </form>

                    <!-- BUTTONS -->
                    <div class="form-group col-md-12 mb-3 p-0 mx-auto text-center">

                        <!-- ADD -->
                        <button id="id_submit_btn"
                             class="btn btn-success btn-lg mt-4 float-right pl-4 pr-4"
                              type="button"
                           onclick="click_submit_button();">
                            <i class="fas fa-check-circle"></i> &nbsp;Save</button>
                        <!-- end ADD -->

                        <!-- CANCEL -->
                        <button id="id_cancel_btn"
                             class="btn btn-orange btn-lg mt-4 float-left pl-4 pr-4"
                              type="button"
                           onclick="click_cancel_button();">
                            <i class="fas fa-times"></i>&nbsp;Cancel
                        </button>
                        <!-- end CANCEL -->

                    </div>
                    <!-- end BUTTONS -->

                </div>
            </div>
            <!------------------------------------------------------------------------->
            <!-- end FORM -->

        </div>
    </div>

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->

</main>

{% endblock content %}
