{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n foundation_tags humanize %}

{% block title %}
{% trans 'Order Service Fee | Workery' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<script>
    function click_cancel_button() {
        window.location = "{% url 'workery_tenant_settings_order_service_fees_list' %}";
    }

    function click_submit_button() {
        update_order_service_fee_api(
            {{ order_service_fee.pk }},
            {
                'title': $('#order_service_fee_title').val(),
                'description': $('#order_service_fee_desc').val()
            },
            function(order_service_fee) {
                console.log(order_service_fee);
                window.location = "{% url 'workery_tenant_settings_order_service_fees_list' %}?was_modified=True";
            },
            function(json_result) {

            },
            function(x, y) {

            }
        );
    }

</script>

<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_settings_launchpad' %}">{% trans 'Settings' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_settings_order_service_fees_list' %}">{% trans 'Order Service Fees' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Order Service Fee' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <h1>Order Service Fee</h1>

    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <div class="col-sm-5 mx-auto mt-2">
        <!-- Residential form -->
        <div class="col-sm-12 fade show active" id="client-form" aria-labelledby="commercial">
            <h3 class="pt-4 pb-2 text-center">Edit Order Service Fee</h3>
            <p>Please change the text of the order_service_fee.</p>

            <form id="add-client-form" method="post" class="needs-validation" action="" novalidate>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-4">
                        <label for="order_service_fee_title">Text</label>
                        <input type="text" class="form-control form-control-lg border border-primary" id="order_service_fee_title" name="order_service_fee_title" placeholder="Title" minlength="3" required="" autofocus value="{{ order_service_fee.title }}">
                        <div id="order_service_fee_title-error" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group col-md-12 mb-4">
                        <label for="order_service_fee_percentage">Percentage (%)</label>
                        <input type="number" class="form-control form-control-lg border border-primary" id="order_service_fee_percentage" name="order_service_fee_percentage" placeholder="Percentage (%)" required="" value="{{ order_service_fee.percentage }}">
                        <div id="order_service_fee_percentage-error" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group col-md-12 mb-4">
                        <label for="order_service_fee_title">Description</label>
                        <input type="text" class="form-control form-control-lg border border-primary" id="order_service_fee_desc" name="order_service_fee_desc" placeholder="Description" minlength="3" required="" value="{{ order_service_fee.description }}">
                        <div id="order_service_fee_title-error" class="invalid-feedback"></div>
                    </div>
                </div>
            </form>

            <!-- end SUBMIT BUTTON -->
            <div class="form-group col-md-12 mb-3 p-0 mx-auto text-center">
                <button id="id_submit_btn"
                     class="btn btn-primary btn-lg mt-4 float-right pl-4 pr-4"
                      type="button"
                   onclick="click_submit_button();">
                    <i class="fas fa-check"></i> Update</button>
                <button id="id_cancel_btn"
                     class="btn btn-orange btn-lg mt-4 float-left pl-4 pr-4"
                      type="button"
                   onclick="click_cancel_button();">
                    <i class="fas fa-times"></i>&nbsp;Cancel
                </button>
            </div>
            <!-- end SUBMIT BUTTON -->

        </div>
    </div>


    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
{% endblock content %}
