{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n %}

{% block title %}
{% trans 'Add New Member | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<!-- CUSTOM JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<script>
    /**
     *  DEVELOPERS NOTE:
     *  THE FOLLOWING JAVASCRIPT FUNCTIONS MUST BE DECLARED IF YOU WANT TO CALL
     *  THE "associate_create_confirm_form.html" FORM TEMPLATE.
     */
    function click_previous_button() {
        window.location = "{% url 'o55_tenant_member_create' %}";
    }

    function click_submit_button() {
        ajax_post_form_submission("{% url 'o55_tenant_member_summary' %}?was_created=True");
    }

    function to_yes_or_no_string(value) {
        if (value == 'true') {
            return 'Yes';
        } else {
            return 'No';
        }
    }

    /**
     *  When page loads, the following code will be run first.
     */
    $(document).ready(function () {
        var firstname = localStorage.getItem("tmp_associate_member_given_name");
        $('#selected_firstname').append(firstname);
        $('#selected_lastname').append(localStorage.getItem("tmp_associate_member_last_name"));
        $('#selected_phonenumber').append(localStorage.getItem("tmp_associate_member_telephone"));
        $('#selected_other_phonenumber').append(localStorage.getItem("tmp_associate_member_other_telephone"));
        $('#selected_dob').append(localStorage.getItem("tmp_associate_member_date_of_birth"));
        $('#selected_gender').append(localStorage.getItem("tmp_associate_member_gender"));
        var selected_ok_to_email = localStorage.getItem("tmp_associate_member_ok_to_email");
        $("#selected_ok_to_email").append(to_yes_or_no_string(selected_ok_to_email));
        var selected_ok_to_email = localStorage.getItem("tmp_associate_member_ok_to_text")
        $("#selected_ok_to_text").append(to_yes_or_no_string(selected_ok_to_email));
        $('#selected_street_address').append(localStorage.getItem("tmp_associate_member_street_address"));
        $('#selected_street_address_extra').append(localStorage.getItem("tmp_associate_member_street_address_extra"));
        $('#selected_address_locality').append(localStorage.getItem("tmp_associate_member_address_locality"));
        $('#selected_address_region').append(localStorage.getItem("tmp_associate_member_address_region"));
        $('#selected_address_country').append(localStorage.getItem("tmp_associate_member_address_country"));
        $('#selected_postal_code').append(localStorage.getItem("tmp_associate_member_postal_code"));
        $('#selected_post_office_box_number').append(localStorage.getItem("tmp_associate_member_post_office_box_number"));
        $('#selected_email').append(localStorage.getItem("tmp_associate_member_email"));
        $('#selected_telephone').append(localStorage.getItem("tmp_associate_member_telephone"));
        $('#selected_description').append(localStorage.getItem("tmp_associate_member_description"));
        $('#selected_comment').append(localStorage.getItem("tmp_associate_member_comment"));

        // Set our `tags` field.
        var tmp_person_tag_values = localStorage.getObj("tmp_associate_member_person_tag_values");
        for (var i = 0; i < tmp_person_tag_values.length; i++) {
            // Extract our value.
            var tag_value = tmp_person_tag_values[i];

            // Generate our HTML element.
            var htmlElement = '<span class="badge badge-info badge-lg">'+tag_value+'</span>';

            // Append our HTML element to the GUI.
            $('#selected_tag_values').append(htmlElement)
        } // end FOR

        // Set our `skill_sets` field.
        var tmp_skill_set_values = localStorage.getObj("tmp_associate_member_skill_set_values");
        for (var i = 0; i < tmp_skill_set_values.length; i++) {
            // Extract our value.
            var tag_value = tmp_skill_set_values[i];

            // Generate our HTML element.
            var htmlElement = '<span class="badge badge-info badge-lg">'+tag_value+'</span>';

            // Append our HTML element to the GUI.
            $('#selected_skill_set_values').append(htmlElement)
        } // end FOR

        // --- Account ---
        var is_active = localStorage.getItem("tmp_associate_member_is_active");
        $('#selected_is_active').append(to_yes_or_no_string(is_active));

        // --- Associate Details ---
        $('#selected_hourly_salary_desired').append(localStorage.getItem("tmp_associate_member_hourly_salary_desired"));
        $('#selected_limit_special').append(localStorage.getItem("tmp_associate_member_limit_special"));
        $('#selected_dues_pd').append(localStorage.getItem("tmp_associate_member_dues_pd"));
        $('#selected_ins_pd').append(localStorage.getItem("tmp_associate_member_ins_due"));
        $('#selected_police_check').append(localStorage.getItem("tmp_associate_member_police_check"));
        $('#selected_drivers_license_class').append(localStorage.getItem("tmp_associate_member_drivers_license_class"));

        var has_car = localStorage.getItem("tmp_associate_member_has_car");
        $('#selected_has_car').append( to_yes_or_no_string(has_car) );

        var has_van = localStorage.getItem("tmp_associate_member_has_van");
        $('#selected_has_van').append( to_yes_or_no_string(has_van) );

        var has_truck = localStorage.getItem("tmp_associate_member_has_truck");
        $('#selected_has_truck').append( to_yes_or_no_string(has_truck) );
        $('#selected_is_small_job').append(localStorage.getItem("tmp_associate_member_is_small_job"));
        $('#selected_how_hear').append(localStorage.getItem("tmp_associate_member_how_hear"));

        // The following code continously checks to see if the current user
        // is assigned to the email.
        $('#email').keypress(debounce(function (event) {
            // do the Ajax request
            var email = $('#email').val();
            console.log(email);
        }, 250));

    }); // end Ready

    /**
     *  Function will unlock the submit button.
     */
    function disable_btn() {
        $('#id_submit_btn').val("{% trans 'Please Wait...' %}");
        $('#id_submit_btn').prop("disabled", true);
    }

    /**
     *  Function will lock the submit button.
     */
    function enable_btn() {
        $('#id_submit_btn').prop("disabled", false);
        $('#id_submit_btn').val("{% trans 'Update' %}");
    }

    function ajax_previous(redirect_url) {
        window.location = redirect_url;
    }

    /**
     *  Function will attempt to submit the form to the API server. This
     *  funciton will:
     *  (1) Lock / Unlock the submit button.
     *  (2)
     */
    function ajax_post_form_submission(redirect_url) {
        // LOCK OUT THE "SUBMIT" BUTTON SO THE USER DOES NOT MAKE MULTI-CALLS.
        disable_btn();

        // Generate random password and apply it automatically to the
        // password fields if no password was selected.
        password = localStorage.getItem("tmp_associate_member_password")
        password_repeat = localStorage.getItem("tmp_associate_member_password_repeat")
        if (password === undefined || password === null || password === '' || password.length == 0) {
            var randomString = Math.random().toString(34).slice(-10);
            randomString += "A";
            randomString += "!";
            password = randomString;
            password_repeat = randomString;
            localStorage.setItem("tmp_associate_member_password", password)
            localStorage.setItem("tmp_associate_member_password_repeat", password_repeat)
        }

        // MAKE OUR API CALL TO THE BACKEND TO "CREATE" THE CUSTOMER USER.
        create_member_api(
            {
                'given_name': localStorage.getItem("tmp_associate_member_given_name"),
                'middle_name': null,
                'last_name': localStorage.getItem("tmp_associate_member_last_name"),
                'birthdate': localStorage.getItem("tmp_associate_member_date_of_birth"),
                'gender': localStorage.getItem("tmp_associate_member_gender"),
                'nationality': null,
                'is_ok_to_email': localStorage.getItem("tmp_associate_member_ok_to_email"),
                'is_ok_to_text': localStorage.getItem("tmp_associate_member_ok_to_text"),
                'address_country': localStorage.getItem("tmp_associate_member_address_country"),
                'address_locality': localStorage.getItem("tmp_associate_member_address_locality"),
                'address_region': localStorage.getItem("tmp_associate_member_address_region"),
                'extra_comment': null,
                'street_address': localStorage.getItem("tmp_associate_member_street_address"),
                'street_address_extra': localStorage.getItem("tmp_associate_member_street_address_extra"),
                'postal_code': localStorage.getItem("tmp_associate_member_postal_code"),
                'post_office_box_number': localStorage.getItem("tmp_associate_member_post_office_box_number"),
                'email': localStorage.getItem("tmp_associate_member_email"),
                // 'area_served': area_served,
                'fax_number': null,
                'telephone': localStorage.getItem("tmp_associate_member_telephone"),
                'telephone_type_of': {{ shared_constants.TELEPHONE_CONTACT_POINT_TYPE_OF_ID }},
                // 'telephone_extension': telephone_extension,
                'other_telephone': localStorage.getItem("tmp_associate_member_other_telephone"),
                'other_telephone_type_of': {{ shared_constants.MOBILE_CONTACT_POINT_TYPE_OF_ID }},
                // 'fax_number': fax_number
                'tags': localStorage.getObj("tmp_associate_member_person_tag_ids"),
                'skill_sets': localStorage.getObj("tmp_associate_member_skill_set_ids"),
                'description': localStorage.getItem("tmp_associate_member_description"),
                'extra_comment': localStorage.getItem("tmp_associate_member_comment"),

                // --- Account ---
                'password': password,
                'password_repeat': password_repeat,
                'is_active': localStorage.getItem("tmp_associate_member_is_active"),

                // --- Associate Details ---
                'hourly_salary_desired': localStorage.getItem("tmp_associate_member_hourly_salary_desired"),
                'limit_special': localStorage.getItem("tmp_associate_member_limit_special"),
                'dues_pd': localStorage.getItem("tmp_associate_member_dues_pd"),
                'ins_due': localStorage.getItem("tmp_associate_member_ins_due"),
                'police_check': localStorage.getItem("tmp_associate_member_police_check"),
                'drivers_license_class': localStorage.getItem("tmp_associate_member_drivers_license_class"),
                'has_car': localStorage.getItem("tmp_associate_member_has_car"),
                'has_van': localStorage.getItem("tmp_associate_member_has_van"),
                'has_truck': localStorage.getItem("tmp_associate_member_has_truck"),
                'is_small_job': localStorage.getItem("tmp_associate_member_is_small_job"),
                'how_hear': localStorage.getItem("tmp_associate_member_how_hear"),
            },
            function(result_dict) { // Success
                // FOR DEBUGGING PURPOSES ONLY.
                console.log(result_dict);

                // RESET OUR STORED VALUES.
                localStorage.removeItem("tmp_associate_member_given_name");
                localStorage.removeItem("tmp_associate_member_last_name");
                localStorage.removeItem("tmp_associate_member_date_of_birth");
                localStorage.removeItem("tmp_associate_member_gender");
                localStorage.removeItem("tmp_associate_member_ok_to_email");
                localStorage.removeItem("tmp_associate_member_ok_to_text");
                localStorage.removeItem("tmp_associate_member_street_address");
                localStorage.removeItem("tmp_associate_member_street_address_extra");
                localStorage.removeItem("tmp_associate_member_address_region");
                localStorage.removeItem("tmp_associate_member_address_locality");
                localStorage.removeItem("tmp_associate_member_address_country");
                localStorage.removeItem("tmp_associate_member_postal_code");
                localStorage.removeItem("tmp_associate_member_post_office_box_number");
                localStorage.removeItem("tmp_associate_member_email");
                localStorage.removeItem("tmp_associate_member_telephone");
                localStorage.removeItem("tmp_associate_member_other_telephone");
                localStorage.removeItem("tmp_associate_member_password");
                localStorage.removeItem("tmp_associate_member_password_repeat");
                localStorage.removeItem("tmp_associate_member_person_tag_ids")
                localStorage.removeItem("tmp_associate_member_person_tag_values")
                localStorage.removeItem("tmp_associate_member_skill_set_ids")
                localStorage.removeItem("tmp_associate_member_skill_set_values")
                localStorage.removeItem("tmp_associate_member_description")
                localStorage.removeItem("tmp_associate_member_comment")
                localStorage.removeItem("tmp_associate_member_is_active")

                // --- Associate Details ---
                localStorage.removeItem("tmp_associate_member_hourly_salary_desired")
                localStorage.removeItem("tmp_associate_member_limit_special")
                localStorage.removeItem("tmp_associate_member_dues_pd")
                localStorage.removeItem("tmp_associate_member_ins_due")
                localStorage.removeItem("tmp_associate_member_police_check")
                localStorage.removeItem("tmp_associate_member_drivers_license_class")
                localStorage.removeItem("tmp_associate_member_has_car")
                localStorage.removeItem("tmp_associate_member_has_van")
                localStorage.removeItem("tmp_associate_member_has_truck")
                localStorage.removeItem("tmp_associate_member_is_small_job")
                localStorage.removeItem("tmp_associate_member_how_hear")

                // REDIRECT TO SUCCESS PAGE.
                window.location = redirect_url;
            },
            function(xhr,status,error) { // Error

                // STEP 1: Convert to JSON.
                var err = JSON.parse(xhr.responseText);

                // For debugging purposes only.
                console.log(err);

                // STEP 2: CLEAR EXISTING TEXT.
                $('#all_error_result').html();

                // STEP 3: PRINT OUR ERROR.
                for(var prop in err) {
                    if(err.hasOwnProperty(prop)) {
                        var val = err[prop];
                        console.log(val);
                        $('#all_error_result').append("<p><b>"+prop+"</b>"+val+"</p><br />");
                    }
                }

                // STEP 4: FOCUS TO WHERE THE ERROR IS OCCURING.
                $('html, body').animate({ scrollTop: $('#id_page_title').offset().top }, 'slow');
            },
            function() { // Finally
                // UNLOCK THE "SUBMIT" BUTTON TO BE AVAILABLE FOR USAGE.
                enable_btn();
            }
        );
    }
</script>
<!----------------------------------------------------------------------------->
<!-- end CUSTOM JAVASCRIPT -->



<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item"><a href="{% url 'o55_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_member_summary' %}">{% trans 'Members' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'o55_tenant_member_create' %}">{% trans 'Add' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Associate Members' %}</li>
	  	</ol>
	</nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% url 'o55_tenant_member_summary' %}" role="button">
                <svg class="svg-inline--fa fa-arrow-left fa-w-14" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
            </svg><!-- <i class="fas fa-arrow-left"></i> -->&nbsp;{% trans 'Back to Members Home' %}</a>
		</div>
	</div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1 id="id_page_title">{% trans 'Add Associate Member' %}</h1>

    <!-- FORM HTML -->
    <!------------------------------------------------------------------------->
    <div class="col-md-10 mx-auto mb-4 py-2">
     <h3 class="py-2 text-center mb-4">Associate Summary Details</h3>

     <!-- Error Output -->
     <div id="all_error_result" name="all_error_result"></div>
     <!-- end Error Output -->

     <table class="table table-bordered custom-cell-w">
       <tbody>
         <tr class="bg-dark">
           <th scope="row" colspan="2" class="text-light">Person Details</th>
         </tr>
         <tr>
           <th scope="row" class="bg-light">First name</th>
           <td id="selected_firstname" name="selected_firstname">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Last name</th>
           <td id="selected_lastname">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Email</th>
           <td id="selected_email">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Phone Number #1</th>
           <td id="selected_phonenumber">
             <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Phone Number #2</th>
           <td id="selected_other_phonenumber">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Date of Birth</th>
           <td id="selected_dob">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Gender</th>
           <td id="selected_gender">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Description</th>
           <td id="selected_description">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Okay to Email?</th>
           <td id="selected_ok_to_email">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Okay to Text?</th>
           <td id="selected_ok_to_text">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Stree Address</th>
           <td id="selected_street_address">
               <!-- POPULATE street_address JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Street Address (Extra)</th>
           <td id="selected_street_address_extra">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">City</th>
           <td id="selected_address_locality">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Region</th>
           <td id="selected_address_region">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Country</th>
           <td id="selected_address_country">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Postal Code</th>
           <td id="selected_postal_code">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Post Office Box Number</th>
           <td id="selected_post_office_box_number">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Tag(s)</th>
           <td id="selected_tag_values">
               <!-- THIS IS WHERE THE TAGS GET LOADED -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Skill set(s)</th>
           <td id="selected_skill_set_values">
               <!-- THIS IS WHERE THE TAGS GET LOADED -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Additional comment(s)</th>
           <td id="selected_comment">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
       </tbody>
     </table>

     <table class="table table-bordered custom-cell-w">
       <tbody>
         <tr class="bg-dark">
           <th scope="row" colspan="2" class="text-light">Associate Details</th>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Hourly Salary Desired</th>
           <td id="selected_hourly_salary_desired" name="hourly_salary_desired">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Limit Special</th>
           <td id="selected_limit_special" name="limit_special">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">dues_pd</th>
           <td id="selected_dues_pd" name="dues_pd">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">ins_pd</th>
           <td id="selected_ins_pd" name="ins_pd">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">police check</th>
           <td id="selected_police_check" name="police_check">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">drivers_license_class</th>
           <td id="selected_drivers_license_class" name="drivers_license_class">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">has_car</th>
           <td id="selected_has_car" name="has_car">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">has_van</th>
           <td id="selected_has_van" name="has_van">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">has_truck</th>
           <td id="selected_has_truck" name="has_truck">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">is_small_job</th>
           <td id="selected_is_small_job" name="is_small_job">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
         <tr>
           <th scope="row" class="bg-light">how hear</th>
           <td id="selected_how_hear" name="how_hear">
               <!-- POPULATE THROUGH JS. -->
           </td>
         </tr>
        </tbody>
     </table>

     <table class="table table-bordered custom-cell-w">
       <tbody>
         <tr class="bg-dark">
           <th scope="row" colspan="2" class="text-light">Account Details</th>
         </tr>
         <tr>
           <th scope="row" class="bg-light">Is active?</th>
           <td id="selected_is_active">
               <!-- THIS IS WHERE THE TAGS GET LOADED -->
           </td>
         </tr>
     </body>
    </table>

     <div class="form-group col-md-12 mb-3 p-0 mx-auto text-center">
         <button id="id_create_btn"
              class="btn btn-success btn-lg mt-4 float-right pl-4 pr-4"
               type="button"
            onclick="click_submit_button();"><i class="fas fa-plus"></i> Add Member</button>
         <button class="btn btn-orange btn-lg mt-4 float-left pl-4 pr-4" type="button" onclick="click_previous_button();"><i class="fas fa-arrow-left"></i> Back</button>
     </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM HTML -->


    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>

{% endblock content %}
