{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n humanize shared_foundation_tags djmoney %}
{% block title %}
{% trans 'Financials | Workery' %}
{% endblock title %}
{% block header_content %}
{% endblock header_content %}
{% block content %}
<!-- CUSTOM JAVASCRIPT -->
<!----------------------------------------------------------------------------->
<script>
    /**
     *  When page loads, the following code will be run first.
     */
    $(document).ready(function () {
        //---------------------------//
        // DATEPICKER INITIALIZATION //
        //---------------------------//

        // Initialize our datepicker jQuery code with our HTML view.
        $( "#invoice_date" ).datepicker({
            dateFormat: 'yy-mm-dd',
            maxDate: 'today'
        });
        $( "#invoice_service_fee_payment_date" ).datepicker({
            dateFormat: 'yy-mm-dd'
        });

        //------------------------------//
        // EVENT HANDLER INITIALIZATION //
        //------------------------------//

        $('#invoice_labour_amount').on('change',function(){
            calculate_total_and_service_fee();
        });

        $('#invoice_material_amount').on('change',function(){
            calculate_total_and_service_fee();
        });

        $('#invoice_tax_amount').on('change',function(){
            calculate_total_and_service_fee();
        });

    }); // end DOCUMENT START

    function calculate_total_and_service_fee() {
        // Get our input fields.
        var invoice_labour_amount = $('#invoice_labour_amount').val();
        //var invoice_material_amount = $('#invoice_material_amount').val();
        var invoice_tax_amount = $('#invoice_tax_amount').val();

        // Convert to float
        invoice_labour_amount = parseFloat(invoice_labour_amount);
        //invoice_material_amount = parseFloat(invoice_material_amount);
        invoice_tax_amount = parseFloat(invoice_tax_amount);

        // Replace NaN with zero.
        invoice_labour_amount = ( isNaN(invoice_labour_amount) ? 0 : invoice_labour_amount );
        //invoice_material_amount = ( isNaN(invoice_material_amount) ? 0 : invoice_material_amount );
        invoice_tax_amount = ( isNaN(invoice_tax_amount) ? 0 : invoice_tax_amount );

        // For debugging purposes only.
        console.log("invoice_labour_amount", invoice_labour_amount);
        //console.log("invoice_material_amount", invoice_material_amount);
        console.log("invoice_tax_amount", invoice_tax_amount);

        // Fetch the selected "service fee" which `Workery` will be charging.
        var service_fee_str = $('#service_fees').val();
        var service_fee_arr = service_fee_str.split("|");
        var service_fee_id = service_fee_arr[0];
        var service_fee_percentage = service_fee_arr[1];
        var service_fee = service_fee = parseFloat(service_fee_percentage);

        // Calculate
        var total_amount = 0;
        total_amount = invoice_labour_amount + invoice_tax_amount;
        service_fee = service_fee / 100.0;
        service_fee = service_fee * total_amount;

        // For debugging purposes only.
        console.log("total_amount", total_amount);
        console.log("service_fee", service_fee);

        // Update the GUI.
        $('#invoice_total_amount').val(String(total_amount));
        $('#invoice_service_fee_amount').val(service_fee.toFixed(2));
    }

    /**
     *  Function to make text readable removing underscore and capitalizing
     */
    function humanize(str) {
    	var frags = str.split('_');
    	for (i=0; i<frags.length; i++) {
    			frags[i] = frags[i].charAt(0).toUpperCase() + frags[i].slice(1);
    	}
    	return frags.join(' ');
    }

    //
    function click_submit_button() {
        // Get our "financial" information.
        var invoice_date = $('#invoice_date').val();
        var invoice_id = parseInt($('#invoice_id').val());
        var invoice_quote_amount = $('#invoice_quote_amount').val();
        var invoice_labour_amount = $('#invoice_labour_amount').val();
        var invoice_material_amount = $('#invoice_material_amount').val();
        var invoice_tax_amount = $('#invoice_tax_amount').val();
        var invoice_total_amount = $('#invoice_total_amount').val();
        var invoice_service_fee_amount = $('#invoice_service_fee_amount').val();
        var invoice_service_fee_payment_date = $('#invoice_service_fee_payment_date').val();

        // Get our service fee id.
        var invoice_service_fee_str = $('#service_fees').val();
        var invoice_service_fee_arr = invoice_service_fee_str.split("|");
        var invoice_service_fee_id = invoice_service_fee_arr[0];

        // Convert to our django format.
        if (invoice_date !== undefined && invoice_date != null && invoice_date.length > 0) {
            var mydate = new Date(invoice_date); // Convert "MM DD, YYYY" to JS DATE
            invoice_date = mydate.toISOString().substring(0, 10); // Convert JS DATE to "YYYY-MM-DD"
        } else {
            invoice_date = '';
        }
        if (invoice_service_fee_payment_date !== undefined && invoice_service_fee_payment_date != null && invoice_service_fee_payment_date.length > 0) {
            var mydate = new Date(invoice_service_fee_payment_date); // Convert "MM DD, YYYY" to JS DATE
            invoice_service_fee_payment_date = mydate.toISOString().substring(0, 10); // Convert JS DATE to "YYYY-MM-DD"
        } else {
            invoice_service_fee_payment_date = '';
        }

        // For debugging purposes only.
        console.log("invoice_date", invoice_date);
        console.log("invoice_id", invoice_id);
        console.log("invoice_quote_amount", invoice_quote_amount);
        console.log("invoice_labour_amount", invoice_labour_amount);
        console.log("invoice_material_amount", invoice_material_amount);
        console.log("invoice_tax_amount", invoice_tax_amount);
        console.log("invoice_total_amount", invoice_total_amount);
        console.log("invoice_service_fee_amount", invoice_service_fee_amount);
        console.log("invoice_service_fee_payment_date", invoice_service_fee_payment_date);

        // Attach customer
        {% if job_item.customer %}
        var customer_id = {{ job_item.customer.id }};
        {% else %}
        var customer_id = null;
        {% endif %}

        // Attach associate.
        {% if job_item.associate %}
        var associate_id = {{ job_item.associate.id }};
        {% else %}
        var associate_id = null;
        {% endif %}

        // Submit to our API web-service.
        update_job_api(
            {{ job_item.id }},
            {
                'customer': customer_id,
                'associate': associate_id,
                'extra_comment': null,
                'invoice_date': invoice_date,
                'invoice_id': invoice_id,
                'invoice_quote_amount': invoice_quote_amount,
                'invoice_labour_amount': invoice_labour_amount,
                'invoice_material_amount': invoice_material_amount,
                'invoice_tax_amount': invoice_tax_amount,
                'invoice_total_amount': invoice_total_amount,
                'invoice_service_fee_amount': invoice_service_fee_amount,
                'invoice_service_fee': invoice_service_fee_id,
                'invoice_service_fee_payment_date': invoice_service_fee_payment_date
            },
            function(result_dict) { // Success
                // FOR DEBUGGING PURPOSES ONLY.
                console.log(result_dict);

                // REDIRECT TO SUCCESS PAGE.
                window.location = "{% url 'workery_tenant_financlial_job_retrieve' template job_item.id %}?was_modified=True";
            },
            function(xhr,status,error) { // Error
                // STEP 1: Convert to JSON.
                var err = JSON.parse(xhr.responseText);

                // For debugging purposes only.
                console.log(err);

                // STEP 2: CLEAR EXISTING TEXT.
                $('#all_error_result').html("");
		        $('#all_error_result').removeClass('error-block');
                // STEP 3: PRINT OUR ERROR.
                for(var prop in err) {
                    if(err.hasOwnProperty(prop)) {
                        var val = err[prop];
                        console.log(val);
			var fdname = humanize(prop);
			// Errors box code
                        $('#all_error_result').append("<div class='form-error'><b>"+fdname+":</b> "+val+" </div>");
			$('#all_error_result').addClass('error-block');
			// Inline fields errors code
			$('#'+prop+'-error').html("<ul><li>"+val+"</li></ul>");
			$('#update-job-form').addClass('was-validated');
                    }
                }

                // STEP 4: FOCUS TO WHERE THE ERROR IS OCCURING.
                $('html, body').animate({ scrollTop: $('#id_page_title').offset().top }, 'slow');
            },
            function() { // Finally
                // UNLOCK THE "SUBMIT" BUTTON TO BE AVAILABLE FOR USAGE.
                // enable_btn();
            }
        );
    }
</script>
<!----------------------------------------------------------------------------->
<!-- end CUSTOM JAVASCRIPT -->
<main id="main" role="main">

    <!-- BREADCRUMB -->
    <!------------------------------------------------------------------------->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'workery_tenant_dashboard_master' %}">{% trans 'Dashboard' %}</a></li>
            {% if template == "unpaid-jobs" %}
               <li class="breadcrumb-item"><a href="{% url 'workery_tenant_unpaid_jobs_list' %}">{% trans 'Financials' %}</a></li>
               <li class="breadcrumb-item"><a href="{% url 'workery_tenant_unpaid_jobs_list' %}">{% trans 'Unpaid Jobs' %}</a></li>
            {% elif template == "paid-jobs" %}
                <li class="breadcrumb-item"><a href="{% url 'workery_tenant_paid_jobs_list' %}">{% trans 'Financials' %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'workery_tenant_paid_jobs_list' %}">{% trans 'Paid Jobs' %}</a></li>
             {% elif template == "all-jobs" %}
                <li class="breadcrumb-item"><a href="{% url 'workery_tenant_all_jobs_list' %}">{% trans 'Financials' %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'workery_tenant_all_jobs_list' %}">{% trans 'All Jobs' %}</a></li>
            {% endif %}
            <li class="breadcrumb-item">
                <a href="{% url 'workery_tenant_financlial_job_retrieve' template job_item.id %}">
                    {% trans 'Job #' %}{{ job_item.id|intcomma }}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit' %}</li>
        </ol>
    </nav>
    <!------------------------------------------------------------------------->
    <!-- end BREADCRUMB -->

    <!-- NOTIFICATION -->
    <!------------------------------------------------------------------------->
    {% if parameters.was_modified == 'True' %}
    <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
        Job <strong>Successfully</strong> updated.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endif %}
    <!------------------------------------------------------------------------->
    <!-- end NOTIFICATION -->

    <!-- BACK BUTTON -->
    <!------------------------------------------------------------------------->
    <div class="row">
		<div class="col-sm-3 p-3 mb-2">
			<a class="btn btn-primary btn-lg" href="{% if template == "unpaid-jobs" %}{% url 'workery_tenant_unpaid_jobs_list' %}{% elif template == "paid-jobs" %}{% url 'workery_tenant_paid_jobs_list' %}{% elif template == "all-jobs" %}{% url 'workery_tenant_all_jobs_list' %}{% endif %}" role="button">
               <i class="fas fa-arrow-left"></i> &nbsp;{% trans 'Back to Job Home' %}
            </a>
		</div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end BACK BUTTON -->

    <h1 id="id_page_title">{% trans 'View Job Financials' %}</h1>

    <!-- FORM -->
    <!------------------------------------------------------------------------->
    <div class="col-sm-5 mx-auto mt-2">
                <!-- Residential form -->
                <div class="col-sm-12 fade show active" id="client-form" aria-labelledby="commercial">
                    <!-- Error Output -->
                    <div id="all_error_result" name="all_error_result" class="alert alert-error fade show" role="alert">
	    	    </div>
		    <!-- end Error Output -->
                    <p><span class="text-secondary font-italic"><sup>*</sup>&nbsp;-&nbsp;Indicates required field to fill out.</span></p>
                    <form id="update-job-form" method="post" class="needs-validation" action="" novalidate>
                        <div class="form-row">
                                <!-- Invoice Date -->
                                <div class="form-group col-md-7 mb-4">
                                    <label for="invoice_date">Invoice Date&nbsp;<sup>*</sup></label>
                                    <div class="input-group input-group-lg">
                                        <input type="text" class="form-control form-control-lg border border-primary" id="invoice_date" name="invoice_date" placeholder="yyyy-mm-dd" required value="{% if job_item.invoice_date %}{{ job_item.invoice_date|date:"Y-m-d" }}{% endif %}">
                                        <div class="input-group-append">
                                            <span class="input-group-text c-icon-white bg-success border-success"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <div id="invoice_date-error" class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <!-- end Invoice Date -->
                                <!-- Invoice ID -->
                                <div class="form-group col-md-12 mb-4">
                                    <label for="invoice_id">Invoice ID #</label>
                                    <input type="number" class="form-control form-control-lg border border-success" id="invoice_id" name="invoice_id" placeholder="Invoice ID #" value="{{ job_item.invoice_id }}">
                                    <div id="invoice_id-error" class="invalid-feedback"></div>
                                </div>
                                <!-- end Invoice ID -->
                                <!-- Invoice Quote -->
                                <div class="form-group col-md-7 mb-4">
                                    <label for="invoice_quote_amount">Original Quote</label>
                                    <input type="number" class="form-control form-control-lg border border-success" id="invoice_quote_amount" name="invoice_quote_amount" placeholder="Invoice Quote" value="{{ job_item.invoice_quote_amount.amount }}">
                                    <div id="invoice_quote_amount-error" class="invalid-feedback"></div>
                                </div>
                                <!-- end Invoice Quote -->
                                <!-- Invoice Labour -->
                                <div class="form-group col-md-7 mb-4">
                                    <label for="invoice_labour_amount">Total Labour</label>
                                    <input type="number" class="form-control form-control-lg border border-success" id="invoice_labour_amount" name="invoice_labour_amount" placeholder="Total Labour" value="{{ job_item.invoice_labour_amount.amount }}">
                                    <div id="invoice_labour_amount-error" class="invalid-feedback"></div>
                                </div>
                                <!-- end Invoice Labour -->
                                <!-- Invoice Material -->
                                <div class="form-group col-md-7 mb-4">
                                    <label for="invoice_material_amount">Total Materials</label>
                                    <input type="number" class="form-control form-control-lg border border-success" id="invoice_material_amount" name="invoice_material_amount" placeholder="Total Material" value="{{ job_item.invoice_material_amount.amount }}">
                                    <div id="invoice_material_amount-error" class="invalid-feedback"></div>
                                </div>
                                <!-- end Invoice Material -->
                                <!-- Invoice Tax -->
                                <div class="form-group col-md-7 mb-4">
                                    <label for="invoice_tax_amount">Total Tax</label>
                                    <input type="number" class="form-control form-control-lg border border-success" id="invoice_tax_amount" name="invoice_tax_amount" placeholder="Total Tax" value="{{ job_item.invoice_tax_amount.amount }}">
                                    <div id="invoice_tax_amount-error" class="invalid-feedback"></div>
                                </div>
                                <!-- end Invoice Material -->
                                <!-- Service Fee -->
                                <div class="form-group col-md-7 mb-4">
                                    <label for="service_fees">Service Fee Rate&nbsp;<sup>*</sup></label>
                                    <select class="custom-select form-control-lg border-primary" id="service_fees" name="service_fees" required onchange="calculate_total_and_service_fee();">
                                        {% for service_fee in service_fees.all %}
                                            <option value="{{ service_fee.id }}|{{ service_fee.percentage }}" {% if job_item.invoice_service_fee == service_fee %}selected="true"{% endif %}>{{ service_fee.title }} %</option>
                                        {% endfor %}
                    		        </select>
                                    <div id="service_fees-error" class="invalid-feedback"></div>
                                </div>
                                <!-- end Service Fee -->
                                <!-- Invoice Total -->
                                <div class="form-group col-md-7 mb-4">
                                    <label for="invoice_total_amount">Total</label>
                                    <input type="number" class="form-control form-control-lg border border-success" id="invoice_total_amount" name="invoice_total_amount" placeholder="Total" readonly value="{{ job_item.invoice_total_amount.amount }}">
                                    <div id="invoice_total_amount-error" class="invalid-feedback"></div>
                                </div>
                                <!-- end Invoice Total -->
                                <!-- Invoice Service Fee -->
                                <div class="form-group col-md-12 mb-4">
                                    <label for="invoice_service_fee_amount">Service Fee</label>
                                    <input type="number" class="form-control form-control-lg border border-success" id="invoice_service_fee_amount" name="invoice_service_fee_amount" placeholder="Service Fee" readonly value="{{ job_item.invoice_service_fee_amount.amount }}">
                                    <div id="invoice_service_fee_amount-error" class="invalid-feedback"></div>
                                </div>
                                <!-- end Invoice Total -->
                                <!-- Service Fee Payment Date -->
                                <div class="form-group col-md-7 mb-4">
                                    <label for="invoice_service_fee_payment_date">Service Fee Payment Date&nbsp;<sup>*</sup></label>
                                    <div class="input-group input-group-lg">
                                        <input type="text" class="form-control form-control-lg border border-primary" id="invoice_service_fee_payment_date" name="invoice_service_fee_payment_date" placeholder="yyyy-mm-dd" required value="{% if job_item.invoice_service_fee_payment_date %}{{ job_item.invoice_service_fee_payment_date|date:"Y-m-d" }}{% endif %}">
                                        <div class="input-group-append">
                                            <span class="input-group-text dob-icon bg-success border-success"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <div id="invoice_service_fee_payment_date-error" class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <!-- end Service Fee Payment Date -->
                                <!-- UPDATE BUTTON -->
                                <!--------------------------------------------------------------------->
                                <div class="form-group col-md-12 mb-3 mx-auto text-center">
                                    <button  id="id_submit_btn"	class="btn btn-primary btn-lg btn-fxw mt-4" type="button" onclick="click_submit_button();">
                                        <i class="fas fa-check"></i>&nbsp;{% trans 'Update Job' %}
                                    </button>
                                </div>
                                <!--------------------------------------------------------------------->
                                <!-- end UPDATE BUTTON -->
                        </div>
                    </form>
        </div>
    </div>
    <!------------------------------------------------------------------------->
    <!-- end FORM -->

    <!-- RETURN-TO-TOP -->
    <a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
    <!-- end RETURN-TO-TOP -->
</main>
<!-- API JAVASCRIPT -->
<!----------------------------------------------------------------------------->
{% include 'tenant_api/skillset_api_js.html' %}
<!----------------------------------------------------------------------------->
<!-- end API JAVASCRIPT -->

{% endblock content %}
