{% extends 'tenant_foundation/tenant_base.html' %}
{% load staticfiles i18n %}

{% block title %}
{% trans 'Order Detail | Over 55 Inc.' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<p>
    Order Detail
</p>


<p>
    <a href="{% url 'o55_tenant_dashboard_master' %}">Dashboard</a>
</p>

<!-- RETURN-TO-TOP -->
<a id="return-to-top" href="#" class="btn-info btn-lg back-to-top" role="button" title="Back to top"><i class="fas fa-angle-up fa-2x"></i></a>
<!-- end RETURN-TO-TOP -->
{% endblock content %}
